Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

ci: Fix double env in test workflows action (#17782)
  .github/workflows/test-workflows-callable.yml
Due: tests

👌 Updating template references
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
Due: tests, Frontend

alphabetical order...
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
Due: tests, Frontend

feat(editor): Add AI prompt box with workflow suggestions for canvas (no-changelog) (#17741)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeAIPrompt.test.ts.snap
  packages/frontend/editor-ui/src/composables/__snapshots__/useCanvasOperations.test.ts.snap
  packages/frontend/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
  packages/frontend/editor-ui/src/constants/workflowSuggestions.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

remove empty file
  packages/frontend/editor-ui/src/utils/parameterUtils.ts
Due: tests, Frontend

remove unhandled event
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
Due: tests, Frontend

refactor: extract large chunks from NodeSettings
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsInvalidNodeWarning.vue
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Due: tests, Frontend

👌 Addressing PR feedback
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/composables/useProjectPages.ts
  packages/frontend/editor-ui/src/features/module.types.ts
Due: tests, Frontend

revert a suspicious change
  packages/frontend/editor-ui/src/components/NodeSettings.vue
Due: tests, Frontend

wip: Thinking pill overlay
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/canvas/elements/CanvasThinkingPill.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

wip: update test snapshot
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/__snapshots__/CanvasThinkingPill.test.ts.snap
Due: none

test: update ai builder prompt ui tests
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.test.ts
Due: none

wip: address PR comments
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.test.ts
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.vue
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/__snapshots__/CanvasThinkingPill.test.ts.snap
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

wip: thinking -> working
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/canvas/elements/CanvasThinkingPill.vue
Due: tests, Frontend

type string change
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: tests, Nodes

refactor caching
  packages/frontend/@n8n/design-system/src/components/N8nSuggestedActions/SuggestedActions.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/WorkflowSuggestedActions.vue
  packages/frontend/editor-ui/src/composables/useWorkflowsCache.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/TestRunDetailView.vue
Due: tests, Frontend

perf(core): Introduce decorator to report slow method calls (#17729)
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/@n8n/db/src/utils/timed-query.ts
  packages/@n8n/decorators/src/index.ts
  packages/@n8n/decorators/src/timed.ts
  packages/cli/src/services/__tests__/community-node-types.service.test.ts
Due: tests

🔥 Removing unnecessary tests
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.test.ts
Due: none

refactor(editor): Refine INodeUpdatePropertiesInformation type and remove unnecessary type assertions (#17783)
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/SettingsLogStreaming/EventDestinationSettingsModal.ee.vue
  packages/frontend/editor-ui/src/components/SetupWorkflowCredentialsModal/useSetupWorkflowCredentialsModalState.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
  packages/frontend/editor-ui/src/utils/nodeTypesUtils.ts
Due: tests, Frontend

fix flaky unit test in editor UI
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
Due: none

fix header moving
  packages/frontend/editor-ui/src/components/WorkflowSuggestedActions.vue
Due: tests, Frontend

fix lint?
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: tests, Nodes

add a little animation for ignore
  packages/frontend/@n8n/design-system/src/components/N8nSuggestedActions/SuggestedActions.vue
Due: tests, Frontend

fix snapshot
  packages/frontend/editor-ui/src/composables/__snapshots__/useBugReporting.test.ts.snap
Due: none

fix(Structured Output Parser Node): Handle passed objects that do not match schema (#17774)
  packages/@n8n/nodes-langchain/nodes/output_parser/OutputParserStructured/test/OutputParserStructured.node.test.ts
  packages/@n8n/nodes-langchain/utils/output_parsers/N8nStructuredOutputParser.ts
Due: tests, Nodes

fix(editor): Fix flaky unit test in editor UI (no-changelog) (#17787)
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
Due: none

feat(editor): Add "Working" overlay in the middle of the canvas (no-changelog) (#17744)
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.test.ts
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/CanvasThinkingPill.vue
  packages/frontend/@n8n/design-system/src/components/CanvasThinkingPill/__snapshots__/CanvasThinkingPill.test.ts.snap
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

test: Adding workflow tests
  cypress/e2e/1-workflows.cy.ts
  packages/testing/playwright/CONTRIBUTING.md
  packages/testing/playwright/README.md
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/ProjectWorkflowsPage.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/pages/WorkflowSharingModal.ts
  packages/testing/playwright/pages/WorkflowsPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/1-workflows.spec.ts
  packages/testing/playwright/tests/28-debug.spec.ts
  packages/testing/playwright/tests/39-projects.spec.ts
  packages/testing/playwright/tests/pdf.spec.ts
  packages/testing/playwright/workflows/Test_workflow_2.json
Due: tests

fix: Updating based on PR feedback
  packages/testing/playwright/CONTRIBUTING.md
  packages/testing/playwright/README.md
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/package.json
Due: tests

fix: Don't pass 'durationSeconds' default value
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/generate.operation.ts
Due: tests, Nodes

👌 Converting `ResourceRegistry` to ts module
  packages/frontend/editor-ui/src/features/resourceRegistry.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Frontend

chore: Add Claude GitHub Action
  .github/workflows/claude.yml
Due: tests

refactor(editor): Address issues with new icons (#17643)
  cypress/e2e/19-execution.cy.ts
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-dirty.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-ellipsis.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-error.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-pin.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-play.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-power.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-success.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/node-trash.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/vite.config.mts
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/RunDataSearch.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
  packages/frontend/editor-ui/vite.config.mts
Due: tests, Frontend
