Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

fix: fix duplicating new workflows
  packages/frontend/editor-ui/src/app/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
Due: tests, Frontend

Fix tests
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential-storage.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential.service.test.ts
Due: none

reverting accidental change
  packages/frontend/editor-ui/src/app/components/MainSidebar.vue
Due: tests, Frontend

👌 Add empty state to the clients table
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/McpConnectPopover.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/OAuthClientsTable.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/mcp.store.ts
Due: tests, Frontend

💄 Improve header styles
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/MCPHeaderActions.vue
Due: tests, Frontend

fix: fitView when initializing new workflow
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: tests, Frontend

refactor(ai-builder): Simplify evaluation code and remove notion_id injection
  packages/@n8n/ai-workflow-builder.ee/evaluations/MENTAL_MODEL.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-ls-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/load-nodes.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/pairwise.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/judge-panel.ts
Due: tests, Backend

fix(ai-builder): Address high priority code review issues
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-ls-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/pairwise.ts
Due: tests, Backend

Fix test
  packages/cli/src/__tests__/credentials-helper.test.ts
Due: none

fix(editor): Cannot close focus tab in version tab (#23071)
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: tests, Frontend

DRY
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.vue
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/resolvers/ResolversView.test.ts
  packages/frontend/editor-ui/src/features/resolvers/ResolversView.vue
  packages/frontend/editor-ui/src/features/resolvers/composables/useCredentialResolvers.test.ts
  packages/frontend/editor-ui/src/features/resolvers/composables/useCredentialResolvers.ts
Due: tests, Frontend

fix(task-runner-python): allow standard library imports by default (fix #23072)
  packages/@n8n/task-runner-python/src/config/task_runner_config.py
  packages/@n8n/task-runner-python/tests/unit/test_config.py
Due: tests, Backend

test: Keycloak-oidc
  .github/workflows/playwright-test-ci.yml
  .github/workflows/playwright-test-reusable.yml
  packages/testing/containers/index.ts
  packages/testing/containers/n8n-start-stack.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-dependencies.ts
  packages/testing/containers/n8n-test-container-keycloak.ts
  packages/testing/containers/test-containers.ts
  packages/testing/playwright/composables/OidcComposer.ts
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/pages/SettingsSsoPage.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/pages/SignInPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright-projects.ts
  packages/testing/playwright/tests/e2e/auth/oidc.spec.ts
Due: tests

refactor(ai-builder): Address medium priority code review issues
  packages/@n8n/ai-workflow-builder.ee/evaluations/MENTAL_MODEL.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/pairwise-judge-chain.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/pairwise-judge-chain.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/index.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-metrics-builder.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/load-nodes.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/judge-panel.ts
Due: tests, Backend

mock idea
  packages/frontend/@n8n/design-system/src/components/N8nPublishIndicator/PublishIndicator.vue
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryListItem.vue
Due: tests, Frontend

Switch to new group
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/createStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/uploadToStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/node.type.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/router.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/versionDescription.ts
Due: tests, Nodes

refactor(ai-builder): Consolidate pairwise evaluation code into dedicated folder
  packages/@n8n/ai-workflow-builder.ee/evaluations/MENTAL_MODEL.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/index.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/judge-chain.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/judge-chain.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/judge-panel.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/metrics-builder.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/types.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/artifact-saver.ts
Due: tests, Backend

Tests
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/router.test.ts
Due: none

fix(ai-builder): Address code review issues in pairwise evaluation
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/judge-chain.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/judge-panel.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/pairwise/runner.ts
Due: tests, Backend

fix sidebar state sync
  packages/frontend/editor-ui/src/app/stores/ui.store.ts
Due: tests, Frontend

docs(ai-builder): Merge MENTAL_MODEL.md into README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/MENTAL_MODEL.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
Due: tests, Backend

fix : AI Agent Node- Max Iterations limit triggers Success output instead of Error output
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/helpers/runAgent.ts
Due: tests, Nodes

feature gate route
  packages/frontend/editor-ui/src/app/router.ts
Due: tests, Frontend

test(task-runner-python): implement explicit empty list test case
  packages/@n8n/task-runner-python/tests/unit/test_config.py
Due: none

Include other options: list and delete
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/deleteStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/fileSearch/listStores.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/node.type.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/router.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
Due: tests, Nodes

Fix public API response
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
Due: tests, Backend

add tests
  packages/@n8n/backend-test-utils/src/test-db.ts
  packages/cli/src/modules/chat-hub/__tests__/chat-hub-models.service.integration.test.ts
  packages/cli/src/modules/chat-hub/__tests__/chat-hub.service.integration.test.ts
  packages/cli/src/modules/chat-hub/chat-hub.models.service.ts
Due: tests, Backend

fix(editor): Enhance popover component with customizable side and alignment options
  packages/frontend/@n8n/design-system/src/components/N8nPopover/Popover.vue
  packages/frontend/editor-ui/src/features/execution/executions/components/ExecutionsFilter.vue
  packages/frontend/editor-ui/src/features/execution/executions/components/workflow/WorkflowExecutionsSidebar.vue
Due: tests, Frontend

fix(tests): Remove unused variables from renderComponent calls for cleaner test code
  packages/frontend/editor-ui/src/app/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/app/components/WorkflowActivator.test.ts
  packages/frontend/editor-ui/src/features/core/auth/views/SettingsPersonalView.test.ts
  packages/frontend/editor-ui/src/features/execution/executions/components/global/GlobalExecutionsListItemQueuedTooltip.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/AssignmentCollection/Assignment.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ParameterInputList.test.ts
  packages/frontend/editor-ui/src/features/ndv/runData/components/RunDataPinButton.test.ts
  packages/frontend/editor-ui/src/features/ndv/runData/components/RunInfo.test.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/nodes/render-types/parts/CanvasNodeTooltip.test.ts
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryListItem.test.ts
Due: none

✔️ Fix tests
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/McpConnectPopover.test.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/OAuthClientsTable.test.ts
Due: none

Some prompt adjustments to the builder to help with connection handling.
  packages/@n8n/ai-workflow-builder.ee/src/prompts/agents/builder.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/best-practices/data-extraction.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/get-workflow-examples.tool.ts
Due: tests, Backend

fix types, add resolver id to csrf state
  packages/cli/src/modules/dynamic-credentials.ee/dynamic-credentials.controller.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential-storage.service.ts
Due: tests, Backend

Create dockerfile
  dockerfile
Due: tests

RND-112 Add code node to node creator development section
  packages/@intento/translation/tsconfig.build.cjs.json
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/shared/nodeCreator/views/viewsData.ts
Due: tests, Frontend

👕 Fix async function
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.test.ts
Due: none

feat(editor): show tools in categories
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nIconPicker/constants.ts
  packages/frontend/@n8n/design-system/src/components/N8nNodeCreatorNode/NodeCreatorNode.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/app/constants/nodeCreator.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/ItemTypes/SubcategoryItem.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/Renderers/CategorizedItemsRenderer.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/Renderers/ItemsRenderer.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/composables/useActionsGeneration.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/nodeCreator.utils.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/views/viewsData.ts
Due: tests, Frontend, Nodes

fix(Input): enhance attribute handling for input element and container separation
  packages/frontend/@n8n/design-system/src/components/N8nInput/Input.vue
Due: tests, Frontend

chore(core): Allow marking fields in credentials as resolvable (#23074)
  packages/cli/src/__tests__/credentials-helper.test.ts
  packages/cli/src/credentials-helper.ts
  packages/cli/src/credentials/__tests__/dynamic-credentials-proxy.test.ts
  packages/cli/src/credentials/credential-resolution-provider.interface.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential-storage.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/shared-fields.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential-storage.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/shared-fields.ts
  packages/nodes-base/credentials/HttpBasicAuth.credentials.ts
  packages/nodes-base/credentials/HttpBearerAuth.credentials.ts
  packages/nodes-base/credentials/HttpDigestAuth.credentials.ts
  packages/nodes-base/credentials/ZulipApi.credentials.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Nodes

fix(editor-ui): Remove fallback model connection when disabled in root node
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/app/constants/nodeTypes.ts
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Backend: any of: packages/@n8n/ai-workflow-builder.ee/**, packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/decorators/**, packages/@n8n/constants/**, packages/@n8n/backend-common/**, packages/@n8n/backend-test-utils/**, packages/@n8n/errors/**, packages/@n8n/db/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/@n8n/task-runner-python/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
