Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

test: Specify timezone in test data (no-changelog) (#22134)
  packages/cli/src/modules/data-table/__tests__/data-table.controller.integration.test.ts
Due: none

feat: Block UI updates for instance / project roles if provisioning enabed (#22095)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersTable.test.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersTable.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/views/ProjectSettings.vue
  packages/frontend/editor-ui/src/features/settings/users/components/SettingsUsersTable.test.ts
  packages/frontend/editor-ui/src/features/settings/users/components/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/features/settings/users/views/SettingsUsersView.vue
Due: tests, Frontend

refactor(core): Update binary data config (#22141)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/db/src/connection/__tests__/db-connection.test.ts
  packages/@n8n/db/src/connection/db-connection.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/binary-data/utils.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/invalid-mode.error.ts
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/src/app/composables/useDebugInfo.ts
Due: tests, Backend, Frontend

chore: Add telemetry event for updating provisioning setting
  packages/frontend/editor-ui/src/features/settings/sso/components/OidcSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
Due: tests, Frontend

refactor(core): Set up binary data table (#22137)
  packages/@n8n/db/src/migrations/common/1763716655000-CreateBinaryDataTable.ts
  packages/@n8n/db/src/migrations/dsl/column.ts
  packages/@n8n/db/src/migrations/dsl/table.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
Due: tests

feat(core): Add Vercel AI Gateway provider support for chat hub (no-changelog) (#22090)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/@n8n/nodes-langchain/credentials/VercelAiGatewayApi.credentials.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.constants.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/context-limits.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: tests, Backend, Frontend, Nodes

fix(core): Safely handle paths at Data Table CSV imports (no-changelog) (#22139)
  packages/cli/src/modules/data-table/__tests__/csv-parser.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table-file-cleanup.service.test.ts
  packages/cli/src/modules/data-table/csv-parser.service.ts
  packages/cli/src/modules/data-table/data-table-file-cleanup.service.ts
Due: tests, Backend

feat(editor): CSV download support for data tables (#22048)
  packages/cli/src/modules/data-table/__tests__/data-table-csv.controller.integration.test.ts
  packages/cli/src/modules/data-table/data-table.controller.ts
  packages/cli/src/modules/data-table/data-table.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/core/dataTable/components/DataTableActions.vue
  packages/frontend/editor-ui/src/features/core/dataTable/constants.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.api.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.ts
Due: tests, Backend, Frontend

feat(core): Add xAI Grok provider support for chat hub (no-changelog) (#22084)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.constants.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/context-limits.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: tests, Backend, Frontend

docs(editor): Create Tree component API spec (#21580)
  packages/frontend/@n8n/design-system/src/v2/components/Tree/component-tree.md
Due: tests, Frontend

remove console log
  packages/cli/src/events/relays/telemetry.event-relay.ts
Due: tests, Backend

better test name
  packages/cli/test/integration/database/repositories/execution.repository.test.ts
Due: none

Improve light mode colors
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/edges/CanvasEdgeToolbar.vue
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/handles/render-types/parts/CanvasHandleDot.vue
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/nodes/render-types/CanvasNodeDefault.vue
Due: tests, Frontend

ci: Fix flaky tests and some docker run shenanigans (#22148)
  .github/workflows/playwright-test-reusable.yml
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-dependencies.ts
  packages/testing/containers/n8n-test-container-mailpit.ts
  packages/testing/containers/pull-test-images.ts
  packages/testing/containers/test-containers.ts
  packages/testing/playwright/global-setup.ts
  packages/testing/playwright/helpers/NavigationHelper.ts
  packages/testing/playwright/pages/components/ProjectTabsComponent.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/chaos/postgres.spec.ts
  packages/testing/playwright/tests/ui/30-langchain.spec.ts
  packages/testing/playwright/tests/ui/55-workflow-builder.spec.ts
  packages/testing/playwright/tests/ui/data-table-details.spec.ts
  packages/testing/playwright/tests/ui/data-tables.spec.ts
  packages/testing/playwright/tests/ui/evaluations.spec.ts
Due: tests

fix(editor): Add responsiveness to the templates panel (#22132)
  packages/frontend/editor-ui/src/app/components/layouts/EmptyStateLayout.vue
  packages/frontend/editor-ui/src/experiments/templatesDataQuality/components/TemplatesDataQualityInlineSection.vue
Due: tests, Frontend

test: Address flakiness, add test for tag count persistence when reopening dropdown after save
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/tests/ui/17-workflow-tags.spec.ts
Due: tests

fix(n8n Form Node): Allow undefined formatDate (#21811)
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
Due: tests, Nodes

fix(Google Cloud Firestore Node): Make the description for the Update Key for Upsert operation more clear (no-changelog) (#21814)
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/DocumentDescription.ts
Due: tests, Nodes

test: Address flakes in tags tests, add test for tag count persistence when reopening dropdown after save (#22160)
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/tests/ui/17-workflow-tags.spec.ts
Due: tests

test: Remove some isolated tests
  packages/testing/playwright/composables/NodeDetailsViewComposer.ts
  packages/testing/playwright/tests/ui/44-routing.spec.ts
  packages/testing/playwright/tests/ui/45-workflow-selector-parameter.spec.ts
Due: tests

feat(core): Introduce `database` mode for binary data storage
  packages/@n8n/db/src/entities/abstract-entity.ts
  packages/@n8n/db/src/entities/binary-data-file.ts
  packages/@n8n/db/src/entities/index.ts
  packages/@n8n/db/src/repositories/binary-data.repository.ts
  packages/@n8n/db/src/repositories/index.ts
  packages/cli/src/modules/chat-hub/chat-hub.attachment.service.ts
  packages/core/package.json
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/database.manager.ts
  packages/core/src/binary-data/file-system.manager.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/binary-data/utils.ts
  packages/core/src/errors/file-too-large.error.ts
  packages/core/src/errors/index.ts
  pnpm-lock.yaml
Due: tests, Backend

project button removal
  packages/frontend/editor-ui/src/app/components/BecomeTemplateCreatorCta/BecomeTemplateCreatorCta.vue
  packages/frontend/editor-ui/src/app/components/MainSidebarSourceControl.vue
  packages/frontend/editor-ui/src/app/components/VersionUpdateCTA.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectNavigation.vue
Due: tests, Frontend

fix(OpenAI Node): Use new model for text classification (#22130)
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/OpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/text/classify.operation.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/v2/OpenAiV2.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/v2/actions/text/classify.operation.ts
Due: tests, Nodes

notification dot
  packages/frontend/@n8n/design-system/src/components/N8nMenuItem/MenuItem.vue
Due: tests, Frontend

chore(editor): Add Reka UI based Pagination component
  packages/frontend/@n8n/design-system/src/index.ts
  packages/frontend/@n8n/design-system/src/v2/components/Pagination/Pagination.stories.ts
  packages/frontend/@n8n/design-system/src/v2/components/Pagination/Pagination.test.ts
  packages/frontend/@n8n/design-system/src/v2/components/Pagination/Pagination.types.ts
  packages/frontend/@n8n/design-system/src/v2/components/Pagination/Pagination.vue
Due: tests, Frontend

Fix test cases
  packages/cli/src/services/__tests__/banner.service.test.ts
  packages/frontend/editor-ui/src/app/components/MainSidebar.vue
  packages/testing/playwright/fixtures/plan-data-non-trial.json
  packages/testing/playwright/tests/ui/27-cloud.spec.ts
Due: tests, Frontend

source control condition
  packages/frontend/editor-ui/src/app/components/MainSidebarSourceControl.vue
Due: tests, Frontend

Fix import order
  packages/testing/playwright/tests/ui/27-cloud.spec.ts
Due: none

Add telemetry events on the backend
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
  packages/cli/src/modules/provisioning.ee/provisioning.service.ee.ts
Due: tests, Backend

Fix enterprise banner duplication in sso forms
  packages/frontend/editor-ui/src/features/settings/sso/components/OidcSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.vue
Due: tests, Frontend

Remove feature flag check for user provisioning dropdown
  packages/frontend/editor-ui/src/app/constants/experiments.ts
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/UserRoleProvisioningDropdown.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/composables/useUserRoleProvisioningForm.ts
Due: tests, Frontend

remove ldap from user role provisioning condition
  packages/@n8n/backend-common/src/license-state.ts
Due: tests

Disable user provsioning select if scope is missing
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/UserRoleProvisioningDropdown.vue
Due: tests, Frontend

fix(editor): Update class binding for Pagination component
  packages/frontend/@n8n/design-system/src/v2/components/Pagination/Pagination.vue
Due: tests, Frontend

⚡ Use local modes
  packages/frontend/@n8n/design-system/.storybook/modes.ts
  packages/frontend/@n8n/design-system/.storybook/preview.ts
Due: tests, Frontend

small cleanup
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/workflow/src/index.ts
  packages/workflow/src/run-execution-data/run-execution-data.ts
Due: tests, Backend

fix(Salesforce Trigger Node): Fix Opportunity updated description
  packages/nodes-base/nodes/Salesforce/SalesforceTrigger.node.ts
Due: tests, Nodes

test fixes
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/package.json
  packages/cli/test/integration/shared/db/executions.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: tests, Backend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
