Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

Updating Schema for - ServiceNow > 1.0.0 > getAll > tableRecord
  packages/nodes-base/nodes/ServiceNow/__schema__/v1.0.0/tableRecord/getAll.json
Due: tests, Nodes

Adding Schema for - Shopify > 1.0.0 > order > get
  packages/nodes-base/nodes/Shopify/__schema__/v1.0.0/order/get.json
Due: tests, Nodes

Updating Schema for - Shopify > 1.0.0 > getAll > order
  packages/nodes-base/nodes/Shopify/__schema__/v1.0.0/order/getAll.json
Due: tests, Nodes

Updating Schema for - Slack > 2.3.0 > create > channel
  packages/nodes-base/nodes/Slack/__schema__/v2.3.0/channel/create.json
Due: tests, Nodes

Updating Schema for - Slack > 2.3.0 > history > channel
  packages/nodes-base/nodes/Slack/__schema__/v2.3.0/channel/history.json
Due: tests, Nodes

Updating Schema for - Slack > 2.3.0 > member > channel
  packages/nodes-base/nodes/Slack/__schema__/v2.3.0/channel/member.json
Due: tests, Nodes

Updating Schema for - seven > 1.0.0 > send > sms
  packages/nodes-base/nodes/Sms77/__schema__/v1.0.0/sms/send.json
Due: tests, Nodes

Updating Schema for - SSH > 1.0.0 > execute > command
  packages/nodes-base/nodes/Ssh/__schema__/v1.0.0/command/execute.json
Due: tests, Nodes

Updating Schema for - Strapi > 1.0.0 > getAll > entry
  packages/nodes-base/nodes/Strapi/__schema__/v1.0.0/entry/getAll.json
Due: tests, Nodes

Updating Schema for - Telegram Trigger > 1.2.0 > get > chat
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/chat/get.json
Due: tests, Nodes

Updating Schema for - Telegram Trigger > 1.2.0 > editMessageText > message
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/message/editMessageText.json
Due: tests, Nodes

Updating Schema for - Telegram Trigger > 1.2.0 > sendMessage > message
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/message/sendMessage.json
Due: tests, Nodes

Updating Schema for - Telegram Trigger > 1.2.0 > sendPhoto > message
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/message/sendPhoto.json
Due: tests, Nodes

Updating Schema for - Trello > 1.0.0 > getCards > list
  packages/nodes-base/nodes/Trello/__schema__/v1.0.0/list/getCards.json
Due: tests, Nodes

Updating Schema for - Twilio > 1.0.0 > send > sms
  packages/nodes-base/nodes/Twilio/__schema__/v1.0.0/sms/send.json
Due: tests, Nodes

Updating Schema for - X (Formerly Twitter) > 2.0.0 > search > tweet
  packages/nodes-base/nodes/Twitter/__schema__/v2.0.0/tweet/search.json
Due: tests, Nodes

Updating Schema for - Wordpress > 1.0.0 > getAll > post
  packages/nodes-base/nodes/Wordpress/__schema__/v1.0.0/post/getAll.json
Due: tests, Nodes

Updating Schema for - Zoho CRM > 1.0.0 > getAll > contact
  packages/nodes-base/nodes/Zoho/__schema__/v1.0.0/contact/getAll.json
Due: tests, Nodes

Updating Schema for - Zoho CRM > 1.0.0 > getAll > deal
  packages/nodes-base/nodes/Zoho/__schema__/v1.0.0/deal/getAll.json
Due: tests, Nodes

Updating Schema for - Zoho CRM > 1.0.0 > getAll > lead
  packages/nodes-base/nodes/Zoho/__schema__/v1.0.0/lead/getAll.json
Due: tests, Nodes

Primitives optimization.
  packages/frontend/@n8n/design-system/src/css/_primitives.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Due: tests, Frontend

Simplified token structure for AI tokens.
  packages/frontend/@n8n/design-system/src/css/_primitives.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Due: tests, Frontend

Primitives hue and lightness review.
  packages/frontend/@n8n/design-system/src/css/_primitives.scss
Due: tests, Frontend

feat: More operations
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/transcribe.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/document/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/baseAnalyze.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/interfaces.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/listSearch.ts
Due: tests, Nodes

fix
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Due: tests, Backend, Frontend, Nodes

feat(Mistral AI Node): New node (#16631)
  packages/nodes-base/nodes/MistralAI/GenericFunctions.ts
  packages/nodes-base/nodes/MistralAI/MistralAi.node.json
  packages/nodes-base/nodes/MistralAI/MistralAi.node.ts
  packages/nodes-base/nodes/MistralAI/descriptions/document/Document.resource.ts
  packages/nodes-base/nodes/MistralAI/descriptions/document/extractText.operation.ts
  packages/nodes-base/nodes/MistralAI/descriptions/index.ts
  packages/nodes-base/nodes/MistralAI/mistralAi.svg
  packages/nodes-base/nodes/MistralAI/test/GenericFunctions.test.ts
  packages/nodes-base/nodes/MistralAI/test/MistralAi.node.test.ts
  packages/nodes-base/nodes/MistralAI/test/fixtures/batch.json
  packages/nodes-base/nodes/MistralAI/test/fixtures/document.json
  packages/nodes-base/nodes/MistralAI/test/fixtures/image.json
  packages/nodes-base/nodes/MistralAI/test/workflow.json
  packages/nodes-base/nodes/MistralAI/types.ts
  packages/nodes-base/package.json
Due: tests, Nodes

refactoring unit test
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Due: tests, Frontend

feat(editor): Log view improvements (#16489)
  cypress/e2e/50-logs.cy.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataParsedAiContent.vue
  packages/frontend/editor-ui/src/composables/useKeybindings.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/logs/__test__/data.ts
  packages/frontend/editor-ui/src/features/logs/__test__/mocks.ts
  packages/frontend/editor-ui/src/features/logs/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewKeyboardEventListener.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsTreeExpand.ts
  packages/frontend/editor-ui/src/features/logs/logs.types.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.test.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
  packages/frontend/editor-ui/src/stores/logs.store.ts
  packages/frontend/editor-ui/src/utils/htmlUtils.ts
Due: tests, Frontend

Update packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.ts
  packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.ts
Due: tests

Add comments to explain why defaultVersion is lower than latest
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
Due: tests, Nodes

remove usersStore.usersById usage
  packages/frontend/editor-ui/src/components/DeleteUserModal.vue
Due: tests, Frontend

remove usersStore.usersById usage
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Due: tests, Frontend

fix(editor): Fix refactoring error
  packages/frontend/editor-ui/src/components/NodeSettings.vue
Due: tests, Frontend

feat(Email Trigger (IMAP) Node): Allow to limit number of fetched emails
  packages/@n8n/imap/src/imap-simple.ts
  packages/nodes-base/nodes/EmailReadImap/EmailReadImap.node.ts
  packages/nodes-base/nodes/EmailReadImap/v2/EmailReadImapV2.node.ts
  packages/nodes-base/nodes/EmailReadImap/v2/utils.ts
Due: tests, Backend, Nodes

feat(nodes): expand Dropbox OAuth scopes for extended API capabilities
  packages/nodes-base/credentials/DropboxOAuth2Api.credentials.ts
Due: tests, Nodes

Update package.json
  package.json
Due: tests

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
