Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

use responseNode mode to redirect forms, wip
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/templates/form-trigger-completion.handlebars
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/formNodeUtils.ts
Due: tests, Backend, Nodes

feat(OpenAI Chat Model Node): Add reasoning effort option to control the amount of reasoning tokens to use
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

refactor(Call n8n Sub-Workflow Tool Node): Remove duplicate FromAIParser service
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/FromAIParser.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
Due: tests, Nodes

wip: Change evaluation workflow input data format
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation.ee/test-runner/utils.ee.ts
Due: tests, Backend

Fix Same version of merge node behaves differently after n8n update
  packages/core/src/execution-engine/workflow-execute.ts
Due: tests, Backend

Only show reasoning effort option for o* family of models
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

Don't allow reasoning_effort on o1-mini or o1-preview
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

Add comment
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

Allow o1-versioned.
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

refactor(Call n8n Sub-Workflow Tool Node): Remove duplicate FromAIParser service (no-changelog) (#13105)
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/FromAIParser.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
Due: tests, Nodes

feat(OpenAI Chat Model Node): Add reasoning effort option to control the amount of reasoning tokens to use (#13103)
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

refactor(Google Gemini Chat Model Node): Provide custom message mapper to N8nLlmTracing (no-changelog) (#13076)
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleGemini/LmChatGoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/N8nLlmTracing.ts
Due: tests, Nodes

Move tests to FromAIParseUtils.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/create-node-as-tool.test.ts
  packages/workflow/test/FromAIParseUtils.test.ts
Due: none

fix(Call n8n Sub-Workflow Tool Node): Fix json type when using $fromAI (#13102)
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/create-node-as-tool.test.ts
  packages/workflow/src/FromAIParseUtils.ts
  packages/workflow/test/FromAIParseUtils.test.ts
Due: tests, Backend

Fix Google Sheets trigger returns header row in rowAdded mode
  packages/nodes-base/nodes/Google/Sheet/GoogleSheetsTrigger.node.ts
  packages/nodes-base/nodes/Google/Sheet/test/GoogleSheetsTrigger.test.ts
Due: tests, Nodes

fix: allow in credentials
  packages/cli/src/controllers/oauth/abstract-oauth.controller.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
Due: tests, Backend

fix(editor): Use btoa instead of Buffer in browser
  packages/editor-ui/src/composables/useImportCurlCommand.ts
Due: tests, Frontend

added composio-core to install
  docker/images/n8n-custom/Dockerfile
Due: tests

fix, tests
  packages/nodes-base/nodes/Google/Sheet/test/v2/methods/resourceMapping.test.ts
  packages/nodes-base/nodes/Google/Sheet/test/v2/utils/utils.test.ts
  packages/nodes-base/nodes/Google/Sheet/v2/helpers/GoogleSheets.utils.ts
  packages/nodes-base/nodes/Google/Sheet/v2/methods/resourceMapping.ts
Due: tests, Nodes

spelling fix
  packages/nodes-base/nodes/Google/Sheet/v2/helpers/GoogleSheets.utils.ts
Due: tests, Nodes

createUtmCampaignLink util, fixes
  packages/nodes-base/nodes/Discord/test/v2/node/message/sendAndWait.test.ts
  packages/nodes-base/nodes/Discord/v2/helpers/utils.ts
  packages/nodes-base/nodes/EmailSend/v2/send.operation.ts
  packages/nodes-base/nodes/Google/Chat/GenericFunctions.ts
  packages/nodes-base/nodes/Google/Chat/test/node/sendAndWait.operation.test.ts
  packages/nodes-base/nodes/Google/Gmail/GenericFunctions.ts
  packages/nodes-base/nodes/Microsoft/Teams/v2/actions/chatMessage/sendAndWait.operation.ts
  packages/nodes-base/nodes/Telegram/GenericFunctions.ts
  packages/nodes-base/utils/utilities.ts
Due: tests, Nodes

refactor
  cypress/composables/ndv.ts
  cypress/composables/workflow.ts
  cypress/e2e/19-execution.cy.ts
  packages/editor-ui/src/composables/useCanvasNodeHover.ts
Due: tests, Frontend

Extract and test dataURI construction
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/utils.ts
Due: tests, Nodes

fix(core): Allow dual-stack lookup for redis host to support IPv6 as well
  packages/@n8n/config/src/configs/scaling-mode.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/services/redis-client.service.ts
Due: tests, Backend

Add empty line to appease linter
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
Due: tests, Nodes

✨ Implemented back-end sorting for workflows list
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

fix(Basic LLM Chain Node): Use correct mimetype for binary data (#12978)
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/utils.ts
Due: tests, Nodes

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/chat/**, packages/@n8n/codemirror-lang/**, packages/design-system/**, packages/editor-ui/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
