Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

test: Orchestration
  .github/workflows/playwright-test-docker-pull.yml
  .github/workflows/playwright-test-reusable.yml
Due: tests

fix: restore telemetry on opening creds modal
  packages/frontend/editor-ui/src/features/ai/chatHub/components/CredentialSelectorModal.vue
  packages/frontend/editor-ui/src/features/credentials/components/CredentialPicker/CredentialPicker.vue
Due: tests, Frontend

cleanup dead code
  packages/frontend/editor-ui/src/features/ai/chatHub/components/CredentialSelectorModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/module.descriptor.ts
Due: tests, Frontend

clean up tests and also return false if no execution was found
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/test/integration/execution.repository.test.ts
Due: tests, Backend

add telemetry for opening cred modal for tools
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ToolsSelectorModal.vue
Due: tests, Frontend

fix: update readme
  packages/testing/playwright/README.md
  packages/testing/playwright/fixtures/base.ts
Due: tests

make migration more efficient
  packages/@n8n/db/src/migrations/common/1763048000000-ActivateExecuteWorkflowTriggerWorkflows.ts
Due: tests, Backend

small fix
  packages/@n8n/db/src/migrations/common/1763048000000-ActivateExecuteWorkflowTriggerWorkflows.ts
Due: tests, Backend

fix: update auth cookie to be shared between FE and BE
  packages/testing/playwright/fixtures/base.ts
Due: tests

fix: fix comment
  packages/testing/playwright/fixtures/base.ts
Due: tests

add tests
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
Due: tests, Frontend

add tests
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: none

Sync with existing show/hide schema
  packages/nodes-base/nodes/Form/v1/FormTriggerV1.node.ts
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
  packages/workflow/src/interfaces.ts
  packages/workflow/src/node-helpers.ts
Due: tests, Backend, Nodes

fix(core): Address chat feedback items (no-changelog) (#22725)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.types.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatConversationHeader.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Backend, Frontend, Nodes

chore: Add detailed logging for source control pull endpoint
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control-status.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
Due: tests, Backend

:rocket: Release 1.122.5
  CHANGELOG.md
  package.json
  packages/@n8n/db/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node-dev/package.json
Due: tests, Backend, Nodes

Cleanup
  packages/workflow/src/interfaces.ts
Due: tests, Backend

feat: add root command
  package.json
Due: tests

Refactor
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Nodes

Update copy
  packages/nodes-base/nodes/N8n/WorkflowDescription.ts
Due: tests, Nodes

:rocket: Release 1.122.4-exp.0
  CHANGELOG.md
  package.json
  packages/cli/package.json
Due: tests, Backend

account for edge case
  packages/@n8n/db/src/migrations/common/1763048000000-ActivateExecuteWorkflowTriggerWorkflows.ts
Due: tests, Backend

👌 Change `active` -> `published` in copies
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.test.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Backend, Frontend

add telemetry events
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/ExecuteMessage.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/ExecuteMessage.vue
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/NodeIssueItem.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/NodeIssueItem.vue
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ParameterInput.vue
Due: tests, Frontend

fix type issues
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-helpers.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
Due: tests, Backend

Flag cleanup
  packages/nodes-base/nodes/Form/v1/FormTriggerV1.node.ts
Due: tests, Nodes

test: Orchestration with multi-main
  .github/workflows/playwright-test-reusable.yml
Due: tests

revert unnecessary activation in tests
  packages/testing/playwright/workflows/Test_Subworkflow_Get_Weather.json
  packages/testing/playwright/workflows/Test_Subworkflow_Search_DB.json
Due: tests

fix: Security patches
  docker/images/n8n/Dockerfile
  docker/images/runners/Dockerfile
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Backend

Flag cleanup
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
Due: tests, Nodes

add telemetry for edit/regenerate
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: tests, Frontend

fix(core): Filter out workflows from custom agents that use too old agents (no-changelog)
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
Due: tests, Backend

fix linting issues
  packages/@n8n/db/src/migrations/common/1763048000000-ActivateExecuteWorkflowTriggerWorkflows.ts
Due: tests, Backend

fix(core): Address review feedback for sub-workflow wait fix (#22745)
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/cli/src/workflow-helpers.ts
  packages/cli/test/integration/execution.repository.test.ts
Due: tests, Backend

✔️ Add unit tests for `SettingsMCPView` component
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.test.ts
Due: none

test: Fixes
  .github/workflows/playwright-test-ci.yml
  .github/workflows/playwright-test-docker-pull.yml
  .github/workflows/playwright-test-reusable.yml
Due: tests

refactor(core): Mark native Python as stable (#22739)
  packages/nodes-base/nodes/Code/Code.node.ts
  packages/workflow/test/node-helpers.test.ts
Due: tests, Nodes

reset execs in between messages
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.test.ts
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
Due: tests, Frontend

exclude global instance rule not relevant to cloud because managed directly by the cloud deployment
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/task-runner-docker-image.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/task-runner-docker-image.rule.ts
Due: tests, Backend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Backend: any of: packages/@n8n/ai-workflow-builder.ee/**, packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/decorators/**, packages/@n8n/constants/**, packages/@n8n/backend-common/**, packages/@n8n/backend-test-utils/**, packages/@n8n/errors/**, packages/@n8n/db/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/@n8n/task-runner-python/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
