Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

:rocket: Release 1.91.1
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
Due: tests, Backend, Nodes

Build next image from master
  docker/images/n8n-custom/Dockerfile
Due: tests

fix(editor): Add missing uiStore import (no-changelog)
  packages/frontend/editor-ui/src/components/NodeExecuteButton.vue
Due: tests, Frontend

fix(editor): Add missing uiStore import (no-changelog) (#15038)
  packages/frontend/editor-ui/src/components/NodeExecuteButton.vue
Due: tests, Frontend

fix(ci): Secure input handling in release workflow
  .github/workflows/release-push-to-channel.yml
  .github/workflows/units-tests-dispatch.yml
Due: tests

fix(editor): Fix workflow-builder feedback tracking (no-changelog)
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
Due: tests, Frontend

Remove unused ref
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
Due: tests, Frontend

fix(editor): Fix workflow-builder feedback tracking (no-changelog) (#15040)
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
Due: tests, Frontend

Add support for Bearer Auth in HttpRequest node
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequestV2.test.ts
Due: tests, Nodes

Save running changes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .vscode/launch.json
  packages/@n8n/extension-sdk/schema.json
Due: tests

Save working deploy
  k8s/deploy/n8n-deployment.yaml
Due: tests

fix: correct typo in Contributing Guide link (/docker/image → /docker/images)
  CONTRIBUTING.md
Due: tests

apiKey deprecation notice
  packages/nodes-base/nodes/Calendly/CalendlyTrigger.node.ts
Due: tests, Nodes

fix: Reset showArchived filter checkbox visual state after switching between projects, retain showArchived filter when navigating within a project
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

feat: Add the initial jina ai node
  packages/nodes-base/credentials/JinaAiApi.credentials.ts
  packages/nodes-base/nodes/JinaAI/JinaAi.node.json
  packages/nodes-base/nodes/JinaAI/JinaAi.node.ts
  packages/nodes-base/package.json
Due: tests, Nodes

Add root-node filtering for getTreeNodeDataRecV2 and tests
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
Due: tests, Frontend

POC more logs
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/push/abstract.push.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook.service.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/src/logging/logger.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useExecutionData.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
  packages/frontend/editor-ui/src/composables/usePushConnection.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: tests, Backend, Frontend

Fix typecheck
  packages/@n8n/db/src/utils/validators/__tests__/no-xss.validator.test.ts
Due: none

Remove console logs
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
Due: tests, Backend

Add `xss` package to `@n8n/db`
  packages/@n8n/db/package.json
  pnpm-lock.yaml
Due: tests

feat: Add icons
  packages/nodes-base/nodes/JinaAI/JinaAi.node.ts
  packages/nodes-base/nodes/JinaAI/jinaAi.dark.svg
  packages/nodes-base/nodes/JinaAI/jinaAi.svg
Due: tests, Nodes

refactor(core): Set up `@n8n/ccc` package
  codecov.yml
  packages/@n8n/ccc/.eslintrc.js
  packages/@n8n/ccc/index.ts
  packages/@n8n/ccc/jest.config.js
  packages/@n8n/ccc/package.json
  packages/@n8n/ccc/tsconfig.build.json
  packages/@n8n/ccc/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: tests, Backend

Add `@n8n/db#test` to turbo
  turbo.json
Due: tests

Fix lint
  packages/@n8n/ccc/src/index.ts
Due: tests

update linter rules to exclude test files from node naming rules
  packages/@n8n/nodes-langchain/.eslintrc.js
  packages/nodes-base/.eslintrc.js
  packages/nodes-base/nodes/EmailReadImap/test/v2/EmailReadImapV2.node.test.ts
  packages/nodes-base/nodes/GraphQL/test/GraphQL.node.test.ts
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequestV2.test.ts
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequestV3.test.ts
  packages/nodes-base/nodes/N8nTrigger/test/trigger.test.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/v2/test/RemoveDuplicates.test.ts
Due: tests, Nodes

import fix
  packages/cli/src/controllers/__tests__/community-packages.controller.test.ts
Due: none

Add source metadata to e2e mock
  cypress/e2e/233-AI-switch-to-logs-on-error.cy.ts
  cypress/e2e/30-langchain.cy.ts
Due: tests

Rename package to `@n8n/backend-common`
  codecov.yml
  packages/@n8n/backend-common/.eslintrc.js
  packages/@n8n/backend-common/jest.config.js
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-common/src/index.ts
  packages/@n8n/backend-common/tsconfig.build.json
  packages/@n8n/backend-common/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: tests, Backend

fix: don't include logs for disabled nodes
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
Due: tests, Frontend

fix: render inputs from disabled nodes in log details view
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/RunDataView.vue
Due: tests, Frontend

add test case
  packages/core/src/execution-engine/partial-execution-utils/__tests__/find-trigger-for-partial-execution.test.ts
Due: none

fix(HTTP Request Node): Add support for Bearer Auth in HttpRequest node (#15043)
  packages/@n8n/nodes-langchain/.eslintrc.js
  packages/nodes-base/.eslintrc.js
  packages/nodes-base/nodes/EmailReadImap/test/v2/EmailReadImapV2.node.test.ts
  packages/nodes-base/nodes/GraphQL/test/GraphQL.node.test.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequestV2.test.ts
  packages/nodes-base/nodes/N8nTrigger/test/trigger.test.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/v2/test/RemoveDuplicates.test.ts
Due: tests, Nodes

refactor(core): Set up `@n8n/backend-common` package (#15051)
  codecov.yml
  packages/@n8n/backend-common/.eslintrc.js
  packages/@n8n/backend-common/jest.config.js
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-common/src/index.ts
  packages/@n8n/backend-common/tsconfig.build.json
  packages/@n8n/backend-common/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: tests, Backend
