Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

update UI to handle canceled status
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/RunInfo.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
Due: tests, Frontend

refactor: update project settings to use new role translations and improve role handling
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Frontend

ci: Add backend coverage
  .github/workflows/playwright-test-coverage.yml
  packages/testing/playwright/nyc.config.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/scripts/generate-coverage-report.js
  pnpm-lock.yaml
Due: tests

flush onUpdateTextInput
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: tests, Frontend

init tool
  packages/@n8n/data-transport/README.md
  packages/@n8n/data-transport/eslint.config.mjs
  packages/@n8n/data-transport/jest.config.js
  packages/@n8n/data-transport/package.json
  packages/@n8n/data-transport/src/cli/export.command.ts
  packages/@n8n/data-transport/src/cli/import.command.ts
  packages/@n8n/data-transport/src/cli/index.ts
  packages/@n8n/data-transport/src/index.ts
  packages/@n8n/data-transport/tsconfig.build.json
  packages/@n8n/data-transport/tsconfig.json
Due: tests

docs: Deduplicate runners documentation
  docker/images/runners/README.md
Due: tests

🔥 Remove keyboard shortcut tooltips
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
Due: tests, Frontend

🔥 Remove unused import
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
Due: tests, Frontend

Typo
  docker/images/runners/README.md
Due: tests

Resolve n8n-node binary in a cross-platform friendly way
  packages/@n8n/create-node/bin/create-node.cjs
  packages/@n8n/create-node/bin/create.js
  packages/@n8n/create-node/package.json
  pnpm-lock.yaml
Due: tests

assert string for branch
  packages/nodes-base/nodes/Git/Git.node.ts
Due: tests, Nodes

temporarily revert changes
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: tests, Frontend

refactor(ToolsAgent): address reviewer feedback and add comprehensive tests
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V1/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/options.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV1.test.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
Due: tests, Nodes

fix(ToolsAgent): make test mock function async to satisfy linting rules
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
Due: none

remove console.log
  packages/nodes-base/credentials/Aws.credentials.ts
Due: tests, Nodes

fix lint
  packages/cli/src/services/redis-client.service.ts
Due: tests, Backend

don't count canceled
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
Due: tests, Frontend

non-frontend changes
  packages/@n8n/config/src/index.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/services/frontend.service.ts
  packages/workflow/src/data-store.types.ts
Due: tests, Backend

frontend changes
  packages/frontend/editor-ui/src/components/banners/DataStoreStorageLimitWarningBanner.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/components/NodeStorageLimitCallout.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/init.ts
Due: tests, Frontend

Fix review comments
  packages/@n8n/create-node/package.json
  packages/@n8n/node-cli/src/commands/dev/index.ts
Due: tests

enforce type assertion
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
Due: tests, Backend

Added ollama vendor test code
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/Ollama.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/actions/router.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/methods/listSearch.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/transport/index.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/transport/index.ts
Due: tests, Nodes

add missing config change
  packages/@n8n/config/test/config.test.ts
Due: none

button progress
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/Sidebar.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/useSidebarLayout.ts
  packages/frontend/editor-ui/src/App.vue
Due: tests, Frontend

Another typo
  docker/images/runners/README.md
Due: tests

potentially fix e2e tests
  cypress/composables/webhooks.ts
  cypress/e2e/16-form-trigger-node.cy.ts
  cypress/pages/modals/credentials-modal.ts
  package.json
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: tests, Frontend

Fixed the linter error
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/actions/versionDescription.ts
Due: tests, Nodes

feat(Redis Node): Add option to disable TLS verification in Redis node (#19143)
  packages/nodes-base/credentials/Redis.credentials.ts
  packages/nodes-base/nodes/Redis/Redis.node.ts
  packages/nodes-base/nodes/Redis/__tests__/Redis.node.test.ts
  packages/nodes-base/nodes/Redis/types.ts
  packages/nodes-base/nodes/Redis/utils.ts
Due: tests, Nodes

Use filters for data table delete rows
  packages/@n8n/api-types/src/dto/data-store/delete-data-store-rows-query.dto.ts
  packages/@n8n/api-types/src/dto/data-store/delete-data-table-rows.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/nodes-base/nodes/DataTable/actions/row/delete.operation.ts
  packages/workflow/src/data-store.types.ts
Due: tests, Backend, Frontend, Nodes

✅ Fixing e2e tests
  cypress/composables/folders.ts
Due: tests

cleanup
  cypress/composables/webhooks.ts
  cypress/e2e/16-form-trigger-node.cy.ts
  cypress/pages/modals/credentials-modal.ts
  package.json
Due: tests

add tests for supply context
  packages/core/src/execution-engine/node-execution-context/__tests__/supply-data-context.test.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
Due: tests, Backend

Fix error with limit because of using executeSelectMany
  packages/nodes-base/nodes/DataTable/actions/row/delete.operation.ts
Due: tests, Nodes

feat(editor): Improve Data Table UX based on feedback (no-changelog) (#19312)
  cypress/composables/folders.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ElDatePickerCellEditor.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreGridBase.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.test.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/utils/columnUtils.ts
Due: tests, Frontend

fix: input loses focus after typing
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.test.ts
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
Due: tests, Frontend

docs: Deduplicate runners documentation (#19367)
  docker/images/runners/README.md
Due: tests
