Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

feat(core): Add OIDC support for SSO (#15988)
  jest.config.js
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/oidc/config.dto.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/backend-common/src/license-state.ts
  packages/@n8n/constants/src/index.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/cli/package.json
  packages/cli/src/config/schema.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/controllers/me.controller.ts
  packages/cli/src/controllers/password-reset.controller.ts
  packages/cli/src/ldap.ee/ldap.service.ee.ts
  packages/cli/src/server.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/src/sso.ee/oidc/constants.ts
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/src/sso.ee/oidc/routes/oidc.controller.ee.ts
  packages/cli/src/sso.ee/saml/saml-helpers.ts
  packages/cli/src/sso.ee/sso-helpers.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nUsersList/UsersList.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/sso.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/SSOLogin.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/permissions.test.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
  pnpm-lock.yaml
Due: tests, Backend, Frontend

refactor(editor): Refactor Users API
  packages/frontend/editor-ui/src/api/users.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
Due: tests, Frontend

Move utils to separate folder
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/test/formCompletionUtils.test.ts
  packages/nodes-base/nodes/Form/test/formNodeUtils.test.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils/formCompletionUtils.ts
  packages/nodes-base/nodes/Form/utils/formNodeUtils.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/nodes-base/nodes/Form/v1/FormTriggerV1.node.ts
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
Due: tests, Nodes

feat(editor): Add RAG starter template callouts experiment (#16282)
  cypress/composables/nodeCreator.ts
  cypress/e2e/52-rag-callout-experiment.cy.ts
  packages/@n8n/api-types/src/dto/user/settings-update-request.dto.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V1/AgentV1.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/__snapshots__/createVectorStoreNode.test.ts.snap
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/frontend/@n8n/design-system/src/components/N8nCallout/Callout.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/OpenTemplateItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodesListPanel.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Renderers/ItemsRenderer.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.test.constants.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.test.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/users.store.test.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/utils/easyAiWorkflowUtils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/workflow/src/interfaces.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/from_ai_multiple_items_workflow.json
Due: tests, Backend, Frontend, Nodes

feat: Add vector store telemetry events to `Manual workflow exec finished` event (no-changelog) (#16280)
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/workflow/src/telemetry-helpers.ts
  packages/workflow/test/telemetry-helpers.test.ts
Due: tests, Backend

update more icons
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
Due: tests, Frontend

make video and source tags more secure
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
Due: tests, Nodes

refactor(core): Continue porting legacy schema (#16318)
  packages/@n8n/config/src/configs/deployment.config.ts
  packages/@n8n/config/src/configs/hiring-banner.config.ts
  packages/@n8n/config/src/configs/mfa.config.ts
  packages/@n8n/config/src/configs/personalization.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/concurrency/__tests__/concurrency-control.service.test.ts
  packages/cli/src/concurrency/concurrency-control.service.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/controllers/__tests__/translation.controller.test.ts
  packages/cli/src/controllers/node-types.controller.ts
  packages/cli/src/controllers/translation.controller.ts
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/mfa/constants.ts
  packages/cli/src/mfa/helpers.ts
  packages/cli/src/security-audit/risk-reporters/instance-risk-reporter.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/task-runners/default-task-runner-disconnect-analyzer.ts
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
  packages/cli/src/task-runners/task-broker/task-broker.service.ts
Due: tests, Backend

Specify `baseDir`
  .bundlemonrc.json
Due: tests

Remove getNpmVersion
  packages/cli/src/controllers/community-packages.controller.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.vue
Due: tests, Backend, Frontend

Add test for using npmVersion of vetted node
  packages/cli/src/controllers/__tests__/community-packages.controller.test.ts
Due: none

amend fe tests
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.test.ts
Due: none

Change get npm version to get latest version
  packages/@n8n/api-types/src/community-node-types.ts
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/utils/community-node-types-utils.ts
Due: tests, Backend

test
  packages/nodes-base/nodes/Form/utils.ts
Due: tests, Nodes

cache -> artifacts
  .github/workflows/ci-pull-requests.yml
Due: tests

lint
  packages/nodes-base/nodes/Form/Form.node.ts
Due: tests, Nodes

update test
  packages/nodes-base/nodes/Form/test/utils.test.ts
Due: none

Update packages/nodes-base/nodes/Google/Gmail/v2/DraftDescription.ts
  packages/nodes-base/nodes/Google/Gmail/v2/DraftDescription.ts
Due: tests, Nodes

format
  packages/nodes-base/nodes/Google/Gmail/v2/DraftDescription.ts
Due: tests, Nodes

refactor(editor): Optimize the name processing function of the download workflow
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/utils/fileUtils.test.ts
  packages/frontend/editor-ui/src/utils/fileUtils.ts
Due: tests, Frontend

Update package.json
  packages/@n8n/config/package.json
Due: tests, Backend

fix(client-oauth2): 👻 ensure client_credentials flow follows RFC 6749
  packages/@n8n/client-oauth2/src/client-oauth2-token.ts
  packages/@n8n/client-oauth2/src/code-flow.ts
  packages/@n8n/client-oauth2/src/credentials-flow.ts
  packages/@n8n/client-oauth2/test/credentials-flow.test.ts
Due: tests, Backend

fix(editor): Add search to users list
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SettingsUsersTable.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
  packages/frontend/editor-ui/src/views/SettingsView.vue
Due: tests, Frontend

feat(Airtable Node): Add field ID support for more resilient workflows
  packages/nodes-base/nodes/Airtable/FIELD_IDS_DOCUMENTATION.md
  packages/nodes-base/nodes/Airtable/test/ui-verification.test.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/record/fieldIds.test.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/record/get.test.ts
  packages/nodes-base/nodes/Airtable/test/v2/utils.test.ts
  packages/nodes-base/nodes/Airtable/v2/actions/common.descriptions.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/create.operation.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/get.operation.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/search.operation.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/update.operation.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/upsert.operation.ts
  packages/nodes-base/nodes/Airtable/v2/helpers/utils.ts
  packages/nodes-base/nodes/Airtable/v2/methods/resourceMapping.ts
  packages/nodes-base/nodes/Airtable/v2/transport/index.ts
Due: tests, Nodes

fix: Address TypeScript errors and remove unused imports
  packages/nodes-base/nodes/Airtable/test/ui-verification.test.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/record/fieldIds.test.ts
  packages/nodes-base/nodes/Airtable/v2/methods/resourceMapping.ts
  packages/nodes-base/nodes/Airtable/v2/transport/index.ts
Due: tests, Nodes

feat: OIDC paywall
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
Due: tests, Frontend

fixed devcontainer base dir
  .devcontainer/devcontainer.json
Due: tests

fix(devcontainer): Update workspace folder path to match project structure fix(editor): Add newline for better readability in Vite configuration
  .devcontainer/devcontainer.json
Due: tests

fix(devcontainer): Update workspace folder path to match project structure
  .devcontainer/devcontainer.json
Due: tests

fix: Fix examples for `Array#includes` method.
  packages/workflow/src/native-methods/array.methods.ts
Due: tests, Backend
