Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

feat(n8n Evaluation Trigger Node): Add Evaluation Trigger and Evaluation Node (#15194)
  cypress/e2e/20-workflow-executions.cy.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodesListPanel.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/__snapshots__/viewsData.spec.ts.snap
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useActionsGeneration.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/useActionsGeneration.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.spec.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/nodes-base/nodes/Evaluation/Evaluation/Description.node.ts
  packages/nodes-base/nodes/Evaluation/Evaluation/Evaluation.node.ee.json
  packages/nodes-base/nodes/Evaluation/Evaluation/Evaluation.node.ee.ts
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.json
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
  packages/nodes-base/nodes/Evaluation/methods/index.ts
  packages/nodes-base/nodes/Evaluation/methods/loadOptions.ts
  packages/nodes-base/nodes/Evaluation/test/Evaluation.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/EvaluationTrigger.node.test.ts
  packages/nodes-base/nodes/Evaluation/test/evaluationTriggerUtils.test.ts
  packages/nodes-base/nodes/Evaluation/test/loadOptions.test.ts
  packages/nodes-base/nodes/Evaluation/utils/evaluationTriggerUtils.ts
  packages/nodes-base/nodes/Evaluation/utils/evaluationUtils.ts
  packages/nodes-base/package.json
  packages/workflow/src/Constants.ts
  packages/workflow/src/errors/base/base.error.ts
Due: tests, Backend, Frontend, Nodes

dropme: use notice for example dataset
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
Due: tests, Nodes

fix: init workflow on opening evaluations panel
  packages/frontend/editor-ui/src/views/Evaluations/EvaluationsRootVIew.vue
Due: tests, Frontend

use hint, remove notice
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.ts
Due: tests, Nodes

Prioritize https over http
  packages/@n8n/nodes-langchain/utils/httpProxyAgent.ts
  packages/@n8n/nodes-langchain/utils/tests/httpProxyAgent.test.ts
Due: tests, Nodes

add a test
  packages/frontend/editor-ui/src/components/canvas/Canvas.test.ts
Due: none

Fix breadcrumbs on registered community
  packages/cli/src/workflows/workflows.controller.ts
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
Due: tests, Backend, Frontend

Take currentProject ref private
  packages/@n8n/db/src/repositories/shared-workflow.repository.ts
  packages/cli/src/workflows/workflow-finder.service.ts
  packages/frontend/editor-ui/src/stores/projects.store.ts
Due: tests, Backend, Frontend

Ensure redirect binding for saml exists
  packages/cli/src/sso.ee/saml/errors/invalid-saml-metadata.error.ts
  packages/cli/src/sso.ee/saml/saml.service.ee.ts
Due: tests, Backend

add back check icon
  packages/frontend/@n8n/design-system/src/components/N8nActionDropdown/ActionDropdown.vue
  packages/frontend/@n8n/design-system/src/types/action-dropdown.ts
Due: tests, Frontend

remove auto deploy from cloud run
  cloudbuild.yaml
Due: tests

fix(Execute Workflow Trigger): Show correct error message when passing array to Execute Workflow Trigger node
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
Due: tests, Nodes

update
  packages/nodes-base/nodes/Google/YouTube/GenericFunctions.ts
  packages/nodes-base/nodes/Google/YouTube/YouTube.node.ts
  packages/nodes-base/nodes/Google/YouTube/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Google/YouTube/__test__/node/video.upload.test.ts
Due: tests, Nodes

feat: Add HTTP proxy for supported LLM nodes (#15449)
  packages/@n8n/nodes-langchain/nodes/llms/LMChatAnthropic/LmChatAnthropic.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/loadModels.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOpenAi/LmOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAwsBedrock/LmChatAwsBedrock.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAzureOpenAi/LmChatAzureOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatDeepSeek/LmChatDeepSeek.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGroq/LmChatGroq.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatOpenRouter/LmChatOpenRouter.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatXAiGrok/LmChatXAiGrok.node.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/httpProxyAgent.ts
  packages/@n8n/nodes-langchain/utils/tests/httpProxyAgent.test.ts
  pnpm-lock.yaml
Due: tests, Nodes

test(editor): Add tests for the fromAI remove bug
  packages/frontend/@n8n/design-system/src/components/N8nSelectableList/SelectableList.test.ts
  packages/frontend/editor-ui/src/components/ParameterInputOverrides/ParameterOverrideSelectableList.test.ts
Due: none

Add additional meta to telemetry "Test run finished" event
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
Due: tests, Backend

test(editor): Add node renaming unit test
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: tests, Frontend

self review
  packages/@n8n/db/src/repositories/shared-workflow.repository.ts
  packages/cli/src/workflows/workflow-finder.service.ts
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
Due: tests, Backend, Frontend

Revert "fix: Update mqplib to support RabbitMQ v4.1.0"
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: tests, Nodes

feat: Update amqplib
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: tests, Nodes

more local change
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/stores/projects.store.ts
Due: tests, Frontend

add test
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.test.ts
Due: none

added color input text background to be changable
  packages/cli/templates/form-trigger.handlebars
Due: tests, Backend

rename files
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelHeader.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewConsumedTokenCountText.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewExecutionSummary.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewNodeName.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsPanelLayout.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsTreeExpand.ts
  packages/frontend/editor-ui/src/composables/useResizablePanel.test.ts
  packages/frontend/editor-ui/src/composables/useResizablePanel.ts
Due: tests, Frontend

fix(editor): Fix type error in test
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
Due: none

feat(editor): Keyboard shortcuts for the log view (#15378)
  packages/frontend/editor-ui/src/components/AskAssistant/Chat/AskAssistantFloatingButton.vue
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelHeader.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewConsumedTokenCountText.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewExecutionSummary.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewNodeName.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsPanelLayout.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLogsTreeExpand.ts
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/KeyboardShortcutTooltip.vue
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useResizablePanel.test.ts
  packages/frontend/editor-ui/src/composables/useResizablePanel.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useToast.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/canvas.store.ts
  packages/frontend/editor-ui/src/stores/logs.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

refactor(editor): Migrate agentRequest store to stores package (no-changelog)
  packages/frontend/@n8n/stores/package.json
  packages/frontend/@n8n/stores/src/useAgentRequestStore.test.ts
  packages/frontend/@n8n/stores/src/useAgentRequestStore.ts
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/components/FromAiParametersModal.test.ts
  packages/frontend/editor-ui/src/components/FromAiParametersModal.vue
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Frontend

Fix prototype pollution vulnerability in HTTP request node
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/GenericFunctions.ts
  packages/nodes-base/nodes/HttpRequest/GenericFunctions.ts
  packages/workflow/src/ExpressionSandboxing.ts
  packages/workflow/src/index.ts
  packages/workflow/src/utils.ts
  packages/workflow/test/utils.test.ts
Due: tests, Backend, Nodes

Ensure that SAML metadata contains a redirect binding for the SSO service
  packages/cli/src/sso.ee/saml/__tests__/saml.service.ee.test.ts
  packages/cli/src/sso.ee/saml/saml-validator.ts
Due: tests, Backend

fix(editor): Fix paired items after renaming a node (#15440)
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: tests, Frontend

fix: changed evaluation quota logic
  packages/@n8n/db/src/entities/test-run.ee.ts
  packages/@n8n/db/src/entities/workflow-entity.ts
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/cli/src/databases/migrations/common/1747062417125-AddEvaluationUsageColumnToWorkflows.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/license/license.service.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/frontend/editor-ui/src/components/Evaluations/SetupWizard/SetupWizard.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/Evaluations/EvaluationsView.vue
Due: tests, Backend, Frontend
