Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

feat: move more errors
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/src/WorkflowDataProxyHelpers.ts
Due: tests, Backend

fix typecheck
  packages/@n8n/config/test/config.test.ts
Due: none

fix(ADO-3458) adapt e2e test to use the modal components
  cypress/e2e/10-undo-redo.cy.ts
  cypress/pages/workflow.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.test.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.vue
Due: tests, Frontend

docs: Update doc links in azure cosmos db (no-changelog) (#15190)
  packages/nodes-base/credentials/MicrosoftAzureCosmosDbSharedKeyApi.credentials.ts
  packages/nodes-base/nodes/Microsoft/AzureCosmosDb/AzureCosmosDb.node.json
Due: tests, Nodes

Lowercase xAI credentials documentation link
  packages/@n8n/nodes-langchain/credentials/XAiApi.credentials.ts
Due: tests, Nodes

fix(ADO-3458) remove unused commit
  cypress/e2e/10-undo-redo.cy.ts
Due: tests

fix(editor): Show data table pagination only if item count bigger than the minimum page size setting
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
Due: tests, Frontend

docs: Fix links and update headers in breaking changes file (no-changelog) (#15023)
  packages/cli/BREAKING-CHANGES.md
Due: tests, Backend

fix tests
  packages/@n8n/config/src/configs/__tests__/database.config.test.ts
  packages/@n8n/config/test/config.test.ts
Due: none

refactor(core): Remove unused deprecated license methods
  packages/cli/src/license.ts
Due: tests, Backend

extract the remaining parameter
  packages/@n8n/db/src/repositories/workflow-statistics.repository.ts
  packages/cli/src/services/__tests__/workflow-statistics.service.test.ts
Due: tests

move to it'own factory
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/src/WorkflowDataProxyPairedItem.ts
Due: tests, Backend

clean up test
  packages/@n8n/config/src/configs/__tests__/database.config.test.ts
Due: none

fix(ADO-3458) adapt test to import workflow for the new modal
  cypress/e2e/39-import-workflow.cy.ts
  cypress/pages/workflow.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.test.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.vue
Due: tests, Frontend

fix(ADO-3458) remove unused commit
  cypress/e2e/39-import-workflow.cy.ts
Due: tests

Move errors and error utils to a shared component.
  packages/frontend/editor-ui/src/components/Evaluations/shared/errorCodes.ts
  packages/frontend/editor-ui/src/views/Evaluations/TestRunDetailView.vue
Due: tests, Frontend

fix(editor): Close Workflow URL Import Modal after import (#15177)
  cypress/e2e/10-undo-redo.cy.ts
  cypress/e2e/39-import-workflow.cy.ts
  cypress/pages/workflow.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.test.ts
  packages/frontend/editor-ui/src/components/ImportWorkflowUrlModal.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Due: tests, Frontend

Show error message in TestRunsTable
  packages/frontend/editor-ui/src/components/Evaluations/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/Evaluations/shared/errorCodes.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/Evaluations/EvaluationsView.vue
  packages/frontend/editor-ui/src/views/Evaluations/TestRunDetailView.vue
Due: tests, Frontend

use mocks for shutdown / background process testing for performance
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
Due: none

Improve tests
  packages/cli/src/modules/insights/database/entities/__tests__/insights-by-period.test.ts
  packages/cli/src/modules/insights/database/entities/__tests__/insights-raw.test.ts
Due: none

rebase from master and refactor mocking
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.module.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

test logging on background process start/stop. catch errors on pruning for logging
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
Due: tests, Backend

scope insights pruning logger
  packages/cli/src/modules/insights/insights-pruning.service.ts
Due: tests, Backend

add insights by period pruning with config
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights.config.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

Fix test names
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
Due: none

rebase from master. split pruning service. add tests
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

rename background to timers as it reflects more what's going on under the hood
  packages/cli/src/modules/insights/__tests__/insights.module.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.module.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

use repository for insights by period deletion. add retry mechanism on pruning. use timeout instead of interval to prevent overlapping pruning
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
  packages/cli/src/modules/insights/insights.config.ts
Due: tests, Backend

Cleanup tests
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/database/entities/__tests__/insights-raw.test.ts
Due: none

improve mock typings. check pruning enabled on global insights service level
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

retry pruning after small delay on error. refactor tests
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
Due: tests, Backend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
