Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - "**"
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/chat/**
        - packages/@n8n/codemirror-lang/**
        - packages/design-system/**
        - packages/editor-ui/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

change the warning icon used in OutputPanel
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
  packages/editor-ui/src/components/RunInfo.vue
  packages/editor-ui/src/plugins/icons/custom.ts
Due: tests, Frontend

fix(editor): Fix workflow moving e2e test
  cypress/e2e/39-projects.cy.ts
Due: tests

fix(editor): Fix format
  cypress/e2e/39-projects.cy.ts
Due: tests

fix: fix path to tsconfig
  packages/frontend/@n8n/chat/tsconfig.json
Due: tests

show run count next to the warning icon
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
Due: tests, Frontend

don't turn dirty node's outgoing edge yellow
  packages/editor-ui/src/components/canvas/elements/edges/CanvasEdge.vue
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.vue
  packages/editor-ui/src/components/canvas/elements/handles/render-types/parts/CanvasHandlePlus.vue
  packages/editor-ui/src/composables/useCanvasMapping.ts
  packages/editor-ui/src/types/canvas.ts
Due: tests, Frontend

⚡Add folder id to new workflow endpoint, fix modal styling
  packages/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

fix: Retain item paring in pinned data
  packages/editor-ui/src/stores/workflows.store.ts
Due: tests, Frontend

fix: Tell user what to do if item pairing fails with pinned data
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/src/errors/abstract/execution-base.error.ts
Due: tests, Backend

fixing
  packages/cli/src/controllers/folder.controller.ts
Due: tests, Backend

Adding Schema for - APITemplate.io > 1.0.0 > image > create
  packages/nodes-base/nodes/ApiTemplateIo/__schema__/v1.0.0/image/create.json
Due: tests, Nodes

⚡Prevent breadcrumbs disappearing for empty folders
  packages/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

deprecate `column(...).timestamp` in favor of more distinct methods
  packages/cli/src/databases/dsl/column.ts
  packages/cli/src/databases/migrations/common/1739549398681-CreateAnalyticsTables.ts
Due: tests, Backend

fix: removing connection should not make downstream node dirty
  packages/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/editor-ui/src/composables/useNodeDirtiness.ts
Due: tests, Frontend

feat(editor): Rename 'Text' fields on AI nodes to 'Prompt' (#13416)
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainRetrievalQA/ChainRetrievalQa.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/utils/descriptions.ts
Due: tests, Nodes

link to folder during workflow creation
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/src/workflows/workflows.controller.ts
Due: tests, Backend

fix(core): Fix resuming executions on test webhooks from Wait forms (#13410)
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/waiting-forms.ts
Due: tests, Backend

fix(editor): Fix workflow moving e2e test (no-changelog) (#13427)
  cypress/e2e/39-projects.cy.ts
Due: tests

add missing space
  packages/cli/src/databases/entities/folder.ts
Due: tests, Backend

Manually revereted PR 11716
  packages/nodes-base/nodes/Airtable/test/v2/node/base/getMany.test.ts
  packages/nodes-base/nodes/Airtable/test/v2/node/record/search.test.ts
  packages/nodes-base/nodes/Airtable/v1/AirtableV1.node.ts
  packages/nodes-base/nodes/Airtable/v2/actions/base/getMany.operation.ts
  packages/nodes-base/nodes/Airtable/v2/actions/record/search.operation.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/Files/ConvertToFile/actions/spreadsheet.operation.ts
  packages/nodes-base/nodes/Files/ConvertToFile/actions/toJson.operation.ts
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
  packages/nodes-base/nodes/Google/BigQuery/v1/GoogleBigQueryV1.node.ts
  packages/nodes-base/nodes/Google/BigQuery/v2/actions/database/insert.operation.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/GoogleFirebaseCloudFirestore.node.ts
  packages/nodes-base/nodes/Google/Sheet/v1/GoogleSheetsV1.node.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/delete.operation.ts
  packages/nodes-base/nodes/Hubspot/V2/HubspotV2.node.ts
  packages/nodes-base/nodes/Kafka/Kafka.node.ts
  packages/nodes-base/nodes/Microsoft/Excel/v1/MicrosoftExcelV1.node.ts
  packages/nodes-base/nodes/Microsoft/Excel/v2/actions/table/append.operation.ts
  packages/nodes-base/nodes/Microsoft/Excel/v2/actions/worksheet/update.operation.ts
  packages/nodes-base/nodes/Microsoft/Excel/v2/actions/worksheet/upsert.operation.ts
  packages/nodes-base/nodes/Microsoft/Excel/v2/helpers/utils.ts
  packages/nodes-base/nodes/Microsoft/Sql/MicrosoftSql.node.ts
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
  packages/nodes-base/nodes/Postgres/test/v2/runQueries.test.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/utils.ts
  packages/nodes-base/nodes/QuickBase/QuickBase.node.ts
  packages/nodes-base/nodes/ReadBinaryFiles/ReadBinaryFiles.node.ts
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RssFeedRead/RssFeedRead.node.ts
  packages/nodes-base/nodes/SpreadsheetFile/v1/SpreadsheetFileV1.node.ts
  packages/nodes-base/nodes/SpreadsheetFile/v2/toFile.operation.ts
  packages/nodes-base/nodes/Stackby/Stackby.node.ts
Due: tests, Nodes

fix linter and typecheck
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
Due: tests, Nodes

Fix layout for AI nodes
  packages/design-system/src/components/N8nKeyboardShortcut/N8nKeyboardShortcut.vue
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
  packages/editor-ui/src/composables/useCanvasLayout.test.ts
  packages/editor-ui/src/composables/useCanvasLayout.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: tests, Frontend

fixed google sheet tests
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/delete.test.ts
Due: none

feat(core): Introduce new query string parameter `includeFolders` to GET `/workflows` endpoint (no-changelog) (#13352)
  packages/cli/src/databases/entities/folder.ts
  packages/cli/src/databases/repositories/__tests__/folder.repository.test.ts
  packages/cli/src/databases/repositories/folder.repository.ts
  packages/cli/src/databases/repositories/workflow.repository.ts
  packages/cli/src/middlewares/list-query/dtos/workflow.filter.dto.ts
  packages/cli/src/middlewares/list-query/dtos/workflow.select.dto.ts
  packages/cli/src/requests.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/shared/db/folders.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: tests, Backend

Added Paired items to executeWorkflow Node
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
Due: tests, Nodes
