Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - "**"
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/chat/**
        - packages/@n8n/codemirror-lang/**
        - packages/design-system/**
        - packages/editor-ui/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

refactor(Basic LLM Chain Node): Refactor Basic LLM Chain & add tests
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/chainExecutor.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/config.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/imageUtils.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/index.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/promptUtils.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/responseFormatter.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/types.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/ChainLlm.node.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/chainExecutor.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/config.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/imageUtils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/promptUtils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/responseFormatter.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/utils.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAzureOpenAi/LmChatAzureOpenAi.node.ts
Due: tests, Nodes

Remove Open Sans fontsource package
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/main.ts
  pnpm-lock.yaml
Due: tests

feat(editor): Show personal project for community edition (no-changelog) (#13828)
  packages/frontend/editor-ui/src/components/Projects/ProjectNavigation.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectNavigation.vue
Due: tests

env var for content security headers
  packages/@n8n/config/src/configs/security.config.ts
  packages/cli/src/server.ts
Due: tests, Backend

add env var for auth cookie samesite attribute
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/config/schema.ts
Due: tests, Backend

chore: Upgrade babel to address CVE-2025-27789 (no-changelog)
  pnpm-lock.yaml
Due: tests

fix(editor): Disable deactivated node execution (#13643)
  packages/frontend/editor-ui/src/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/components/NodeExecuteButton.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: tests

fix(core): Clean run data for dirty nodes properly, including their children (#13821)
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/partial-execution-utils/clean-run-data.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/Workflow.test.ts
Due: tests, Backend

fix(core): Find correct start nodes when the first node after that has no run data has pinned data (#13784)
  packages/core/src/execution-engine/partial-execution-utils/__tests__/find-start-nodes.test.ts
  packages/core/src/execution-engine/partial-execution-utils/find-start-nodes.ts
Due: tests, Backend

:rocket: Release 1.82.2
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: tests, Backend, Nodes

add some tests
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.test.ts
Due: none

hint update
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Due: tests

Remove accidentally committed d.ts file
  packages/editor-ui/src/components.d.ts
Due: tests, Frontend

fix(Wait Node): seconds timeout is unavailable when resume wait node by webhook
  packages/nodes-base/nodes/Wait/Wait.node.ts
Due: tests, Nodes

chore: Upgrade babel to address CVE-2025-27789 (no-changelog) (#13852)
  pnpm-lock.yaml
Due: tests

fix(editor): Feature/table reskin (no-changelog) (#13817)
  packages/frontend/@n8n/design-system/src/components/N8nDatatable/Datatable.vue
  packages/frontend/@n8n/design-system/src/components/N8nDatatable/__snapshots__/Datatable.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/TableBase/TableBase.vue
  packages/frontend/@n8n/design-system/src/components/TableBase/index.ts
  packages/frontend/@n8n/design-system/src/components/index.ts
  packages/frontend/editor-ui/src/components/AnimatedSpinner.vue
  packages/frontend/editor-ui/src/components/VariablesForm.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsListItem.test.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsListItem.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/plugins/icons/custom.ts
  packages/frontend/editor-ui/src/plugins/icons/index.ts
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/views/VariablesView.vue
Due: tests

feat(editor): Add functionality to delete and rename folders (no-changelog) (#13785)
  .github/workflows/e2e-reusable.yml
  cypress/composables/folders.ts
  cypress/e2e/49-folders.cy.ts
  cypress/scripts/run-e2e.js
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/BreadCrumbs.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/__snapshots__/BreadCrumbs.test.ts.snap
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/workflows.ts
  packages/frontend/editor-ui/src/components/Folders/DeleteFolderModal.vue
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/Folders/FolderCard.test.ts
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

Update packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
Due: tests, Nodes

fix(editor): Address folders feature feedback (no-changelog)
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

fix(editor): Decrease notification max-height
  packages/frontend/editor-ui/src/n8n-theme.scss
Due: tests

fix(Odoo): 🐛 update deprecated request options type and correct URI property
  packages/nodes-base/nodes/Odoo/GenericFunctions.ts
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
Due: tests, Nodes

fix(editor): Remove unneeded onClickOutside handler from context menu (no-changelog) (#13848)
  packages/frontend/editor-ui/src/components/ContextMenu/ContextMenu.vue
Due: tests
