Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

✨ Add `Available in MCP` workflow setting
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
Due: tests, Frontend

add uuid and selected category
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Due: tests, Frontend

feat(core): Add workflow name label to workflow metrics (#16837)
  packages/@n8n/config/src/configs/endpoints.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.test.ts
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.unmocked.test.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
  packages/cli/src/metrics/types.ts
  packages/cli/test/integration/prometheus-metrics.test.ts
Due: tests, Backend

show update hint for owner only
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
Due: tests, Frontend

Put text response and binary file in iframe
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

Add test for sanitizeResponseData
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
Due: none

Use single quotes
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

Fix tests and typecheck
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
Due: none

Parse out single quotes
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

add fixup for iframe
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

Add test for getBinaryResponse
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
Due: none

Fix typecheck
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
Due: tests, Nodes

Add more test cases and parse string for binary html
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

sanitization -> sandbox and add back option for single quote
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: tests, Nodes

move utils to files with clearer names
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/outputs.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sanitization.ts
Due: tests, Nodes

make changes from pr review
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

setContentLength properly
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
Due: tests, Nodes

use match snapshot
  packages/nodes-base/nodes/RespondToWebhook/test/__snapshots__/utils.test.ts.snap
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
Due: none

refactor shouldSandbox logic
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
Due: tests, Nodes

make srcdoc => src
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: tests, Nodes

fix test
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
Due: none

remove option in sandboxResponseData
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: tests, Nodes

fix(editor): Remove unnecessary prop from NodeErrorView
  packages/frontend/editor-ui/src/components/Error/NodeErrorView.vue
  packages/frontend/editor-ui/src/components/RunData.test.ts
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataAi/AiRunContentBlock.vue
Due: tests, Frontend

Update packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

fix(editor): Fix execution loading with nodeId in case of missing node
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

Revert "make srcdoc => src"
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: tests, Nodes

⚡️ Fetching only workflows available to MCP, adding more props
  packages/cli/src/services/mcp.service.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend

add sandbox to iframe
  packages/nodes-base/nodes/RespondToWebhook/test/__snapshots__/utils.test.ts.snap
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: tests, Nodes

fix(n8n Form Node): Make customizing form custom styles possible on mobile screens and on form end redirect (#17060)
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/Form.node.ts
Due: tests, Backend, Nodes

feat: Prompt resource
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/node.type.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/improve.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/prompt/templatize.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/router.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/versionDescription.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/baseAnalyze.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/transport/index.ts
Due: tests, Nodes

fix(core): Fix warning on empty OIDC discovery endpoint
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
Due: tests, Backend

test(editor): Add test to useCanvasOperations
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

⚡️ Serving workflow settings from the list endpoint
  packages/@n8n/db/src/repositories/workflow.repository.ts
Due: tests

Update background colors
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: tests, Frontend

Move shouldDisplayNodeParameter to a composable
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Due: tests, Frontend

fix(editor): Fix type errors
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
Due: none
