Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/ai-workflow-builder.ee/**
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/decorators/**
        - packages/@n8n/constants/**
        - packages/@n8n/backend-common/**
        - packages/@n8n/backend-test-utils/**
        - packages/@n8n/errors/**
        - packages/@n8n/db/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/@n8n/task-runner-python/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**
      statuses:
        - type: project
          target: auto
          threshold: 0% # Enforce: Coverage must not decrease

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  - (?s:.*/test_[^\/]*\.py.*)\Z

feat(ado-4262): adding more unit tests
  packages/cli/src/modules/data-table/__tests__/data-table-column.repository.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table-ddl.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table.service.test.ts
Due: none

feat(ado-4262): remove unwanted checks and minor refactors
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/ColumnHeader.vue
Due: tests, Frontend

feat(ado-4262): using inline edits
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
Due: tests, Frontend

feat(ado-4262): fix broken e2e
  packages/testing/playwright/pages/DataTableDetails.ts
Due: tests

feat(ado-4262): remove return value from store method
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.ts
Due: tests, Frontend

feat(ado-4262): fix linting issues
  packages/cli/src/modules/data-table/__tests__/data-table-column.repository.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table-ddl.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table.service.test.ts
Due: none

feat(ado-4262): ensure safe fallback when rename fails
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
Due: tests, Frontend

feat(ado-4262): update the rows only after the db operation is complete
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
Due: tests, Frontend

feat(ado-4262): initial commit for rename
  packages/@n8n/api-types/src/dto/data-table/rename-data-table-column.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/cli/src/modules/data-table/data-table-column.repository.ts
  packages/cli/src/modules/data-table/data-table-ddl.service.ts
  packages/cli/src/modules/data-table/data-table.controller.ts
  packages/cli/src/modules/data-table/data-table.service.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/DataTableTable.vue
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableColumns.test.ts
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableColumns.ts
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.api.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.ts
Due: tests, Backend, Frontend

feat(ado-4262): add integration test for col rename
  packages/cli/src/modules/data-table/__tests__/data-table-column-rename.controller.integration.test.ts
Due: none

feat(ado-4262): add fe tests
  packages/frontend/editor-ui/src/features/core/dataTable/components/dataGrid/ColumnHeader.test.ts
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
Due: tests, Frontend

feat(ado-4262): extract a common error handling method
  packages/cli/src/modules/data-table/data-table.controller.ts
Due: tests, Backend

feat(ado-4262): remove unwanted messages
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Frontend

feat(ado-4262): minor refactors
  packages/cli/src/modules/data-table/data-table.controller.ts
  packages/cli/src/modules/data-table/errors/data-table-column-not-found.error.ts
  packages/cli/src/modules/data-table/errors/data-table-not-found.error.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/frontend/editor-ui/src/features/core/dataTable/composables/useDataTableOperations.ts
Due: tests, Backend, Frontend

update comment
  packages/core/src/execution-engine/partial-execution-utils/__tests__/find-start-nodes.test.ts
Due: none

sec: Minor changes
  docker/images/runners/Dockerfile
Due: tests

Adding new tokens for assistant
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Due: tests, Frontend

Getting colors right.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ThinkingMessage.vue
Due: tests, Frontend

✔️ Add unit tests for `MCPAccessTokenPopoverTab` component
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/MCPAccessTokenPopoverTab.test.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/MCPAccessTokenPopoverTab.vue
Due: tests, Frontend

ci: Test with 2 workers on multimain
  .github/workflows/playwright-test-ci.yml
Due: tests

👌 Address AI reviewer feedback
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPEmptyState.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/MCPAccessTokenPopoverTab.vue
Due: tests, Frontend

fix(editor): Improve loading states for publish workflow (no-changelog) (#22755)
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowPublishModal.vue
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryPublishModal.vue
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryVersionUnpublishModal.vue
Due: tests, Frontend

update builder tests
  packages/frontend/editor-ui/src/features/ai/assistant/composables/useBuilderMessages.test.ts
Due: none

🔥 Remove unused i18n entries
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Frontend

fix test
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.test.ts
Due: none

fix: allow running a workflow that has unconnected node issues for the current trigger
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/testing/playwright/tests/ui/16-webhook-node.spec.ts
Due: tests, Frontend

move new tests into already existing describe block
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: none

document new function
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: tests, Frontend

remove duplicate tests
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: none

Revert "move new tests into already existing describe block"
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: none

Adding show more/show less and updating snapshots.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
Due: tests, Frontend

🔥 Remove old `ActionBox` prop
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPEmptyState.vue
Due: tests, Frontend

add event
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/frontend/@n8n/rest-api-client/src/api/workflows.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
  packages/workflow/src/workflow-diff.ts
Due: tests, Backend, Frontend

remove console log
  packages/cli/src/workflows/workflow-execution.service.ts
Due: tests, Backend

also test behavior without a singe webhook trigger
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
Due: none

Text size in N8nPromptInput
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: tests, Frontend

move `ActiveWorkflowManager.isActive` to `WorkflowRepository.isActive`
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/test/integration/database/repositories/workflow.repository.test.ts
Due: tests, Backend

use repo function
  packages/cli/src/workflows/workflow-execution.service.ts
Due: tests, Backend

feat(ado-4262): make sure response error is thrown
  packages/cli/src/modules/data-table/data-table.controller.ts
Due: tests, Backend

fix: don't show unavailable models in model selector
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub.constants.ts
  packages/cli/src/modules/chat-hub/chat-hub.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.models.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Backend, Frontend
