Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

fix(Respond to Webhook Node)!: Surround HTML in iframe (#16978)
  packages/core/src/execution-engine/node-execution-context/__tests__/__snapshots__/html-sandbox.test.ts.snap
  packages/core/src/execution-engine/node-execution-context/__tests__/html-sandbox.test.ts
  packages/core/src/html-sandbox.ts
  packages/core/src/index.ts
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/binary.test.ts
  packages/nodes-base/nodes/RespondToWebhook/test/outputs.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/outputs.ts
Due: tests, Backend, Nodes

Ignore github loader
  packages/@n8n/ai-workflow-builder/src/ai-workflow-builder-agent.service.ts
Due: tests

fix typecheck
  packages/nodes-base/nodes/RabbitMQ/test/close.test.ts
Due: none

fix(Gmail Node): Set References and In-Reply-To only when user provides threadId (#16838)
  packages/nodes-base/nodes/Google/Gmail/test/v2/GmailV2.node.test.ts
  packages/nodes-base/nodes/Google/Gmail/test/v2/utils.test.ts
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Google/Gmail/v2/utils/draft.ts
  packages/nodes-base/utils/sendAndWait/interfaces.ts
Due: tests, Nodes

fix: revert watchDebounced to resolve expression synchronously on mount
  packages/frontend/editor-ui/src/composables/useResolvedExpression.ts
Due: tests, Frontend

fix(Sentiment Analysis Node): Fix problems with positive sentiment output
  packages/@n8n/nodes-langchain/nodes/chains/SentimentAnalysis/SentimentAnalysis.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/SentimentAnalysis/test/SentimentAnalysis.node.test.ts
Due: tests, Nodes

Add streaming to respond to webhook node
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/Webhook/utils.ts
Due: tests, Nodes

Implement clearer chunking
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
Due: tests, Nodes

updated chat bundle url
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/templates.ts
Due: tests, Nodes

fix: ignores context on mount
  packages/frontend/editor-ui/src/composables/useResolvedExpression.ts
Due: tests, Frontend

fix: make resolution work before running the node itself
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: tests, Frontend

ci: Docker workflow backport
  .github/workflows/docker-build-push.yml
Due: tests

fix: potential increase of slow getCurrentWorkflow calls in expression resolution
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
Due: tests, Frontend

fix: debug missing currents file
  .github/workflows/e2e-reusable.yml
  .github/workflows/e2e-tests.yml
Due: tests

only run experiment for users on trial
  packages/frontend/editor-ui/src/utils/experiments.test.ts
  packages/frontend/editor-ui/src/utils/experiments.ts
Due: tests, Frontend

feat(editor): Add optional support for empty values on resource mapper
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Frontend

fix(Google Sheets Node): Make it possible to clear cell values back to empty on updates
  packages/nodes-base/nodes/Google/Sheet/GoogleSheets.node.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/appendOrUpdate.operation.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/update.operation.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/versionDescription.ts
Due: tests, Nodes

Make test-runner backward compatible w.r.t. custom metrics
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
Due: tests, Backend

disable hostedChat mode if streaming
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/Chat.node.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Nodes

feat(core): Track response mode and public chat configuration (no-changelog)
  packages/workflow/src/interfaces.ts
  packages/workflow/src/telemetry-helpers.ts
Due: tests, Backend

test: Add tests
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/Anthropic.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/helpers/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/methods/listSearch.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/transport/index.test.ts
Due: tests, Nodes

Add tests
  packages/workflow/src/interfaces.ts
  packages/workflow/test/telemetry-helpers.test.ts
Due: tests, Backend

fix: Lint
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/Anthropic.node.test.ts
Due: none

fix: Deps cycle
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/transport/index.ts
Due: tests, Nodes

feat: show input panel for mapping
  packages/frontend/editor-ui/src/components/Draggable.vue
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: tests, Frontend

fix(Token Splitter Node): Cache tokenizer JSONs in memory (#17201)
  packages/@n8n/nodes-langchain/nodes/text_splitters/TextSplitterTokenSplitter/TokenTextSplitter.ts
  packages/@n8n/nodes-langchain/nodes/text_splitters/TextSplitterTokenSplitter/tests/TokenTextSplitter.test.ts
  packages/@n8n/nodes-langchain/utils/tests/tiktoken.test.ts
  packages/@n8n/nodes-langchain/utils/tokenizer/tiktoken.ts
  packages/@n8n/nodes-langchain/utils/tokenizer/token-estimator.ts
Due: tests, Nodes

feat: Docker build and push workflow changes (no-changelog) (#17116)
  .github/workflows/docker-build-push.yml
Due: tests

:rocket: Release 1.101.2
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
Due: tests, Backend, Nodes

fix: cannot use features in input panel
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: tests, Frontend

More state refactors
  packages/@n8n/ai-workflow-builder/.madgerc
  packages/@n8n/ai-workflow-builder/package.json
  packages/@n8n/ai-workflow-builder/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder/src/tools/helpers/response.ts
  packages/@n8n/ai-workflow-builder/src/tools/helpers/state.ts
  packages/@n8n/ai-workflow-builder/src/types.ts
  packages/@n8n/ai-workflow-builder/src/utils/tool-executor.ts
  packages/@n8n/ai-workflow-builder/src/workflow-state.ts
  pnpm-lock.yaml
Due: tests

fix: align file with master
  .github/workflows/docker-build-push.yml
Due: tests

feat: show collapse icon when hovering anywhere on the column
  packages/frontend/editor-ui/src/components/RunDataTable.vue
Due: tests, Frontend

Call add node in parallel
  packages/@n8n/ai-workflow-builder/src/tools/add-node.tool.ts
  packages/@n8n/ai-workflow-builder/src/tools/helpers/state.ts
  packages/@n8n/ai-workflow-builder/src/tools/prompts/main-agent.prompt.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
Due: tests, Frontend

Implement tid-up filter
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/types/canvas.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

Track agents that are enabled for streaming
  packages/workflow/src/interfaces.ts
  packages/workflow/src/telemetry-helpers.ts
  packages/workflow/test/telemetry-helpers.test.ts
Due: tests, Backend

feat(editor): Show collapse icon when hovering anywhere on the column (no-changelog) (#17230)
  packages/frontend/editor-ui/src/components/RunDataTable.vue
Due: tests, Frontend
