Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - "**"
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/chat/**
        - packages/@n8n/codemirror-lang/**
        - packages/design-system/**
        - packages/editor-ui/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

ci: Add more tests for expression extensions
  packages/workflow/test/ExpressionExtensions/ArrayExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/BooleanExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/DateExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/ExpressionExtension.test.ts
  packages/workflow/test/ExpressionExtensions/ObjectExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/StringExtensions.test.ts
  packages/workflow/test/NodeErrors.test.ts
  packages/workflow/test/WorkflowDataProxyEnvProvider.test.ts
Due: none

chore(core): Log failed webhook requests with debug
  packages/cli/src/webhooks/webhook-request-handler.ts
Due: tests, Backend

Make items count assumption explicit
  packages/editor-ui/src/composables/usePushConnection.ts
Due: tests, Frontend

Fromatting fix
  packages/editor-ui/src/components/TestDefinition/EditDefinition/sections/ConfigSection.vue
Due: tests, Frontend

Move helpers to `executionUtils`
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/utils/executionUtils.ts
Due: tests, Frontend

Account for failure to fetch or parse
  packages/editor-ui/src/composables/usePushConnection.ts
Due: tests, Frontend

feat(core): Separate concurrency limits for production and evaluation executions (no-changelog) (#12387)
  packages/cli/src/concurrency/__tests__/concurrency-control.service.test.ts
  packages/cli/src/concurrency/concurrency-control.service.ts
  packages/cli/src/concurrency/concurrency-queue.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/events/__tests__/log-streaming-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/log-streaming.event-relay.ts
  packages/editor-ui/src/components/executions/ConcurrentExecutionsHeader.vue
  packages/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/editor-ui/src/components/executions/workflow/WorkflowExecutionsSidebar.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: tests, Backend, Frontend

Add stacktrace to log
  packages/cli/src/webhooks/webhook-request-handler.ts
Due: tests, Backend

refactor(core): Make placeholders in manual executions in workers temporary (#12463)
  packages/@n8n/api-types/src/push/execution.ts
  packages/cli/src/push/index.ts
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/utils/executionUtils.ts
Due: tests, Backend, Frontend

chore(core): Log failed webhook requests with debug (no-changelog) (#12599)
  packages/cli/src/webhooks/webhook-request-handler.ts
Due: tests, Backend

test: Use task runner in benchmarks
  packages/@n8n/benchmark/scripts/n8n-setups/postgres/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-single-main/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/sqlite/docker-compose.yml
Due: tests

fix(core): Improve cyclic dependency check in the DI container
  packages/@n8n/di/jest.config.js
  packages/@n8n/di/src/__tests__/circular-depedency.test.ts
  packages/@n8n/di/src/__tests__/fixtures/ServiceA.ts
  packages/@n8n/di/src/__tests__/fixtures/ServiceB.ts
  packages/@n8n/di/src/di.ts
Due: tests, Backend

feat(Form Node): Enable HTML in form description
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/utils.ts
Due: tests, Backend, Nodes

Add Sanitize HTML
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: tests, Nodes

wip
  packages/nodes-base/nodes/Form/utils.ts
Due: tests, Nodes

Test sanitize-html
  packages/nodes-base/nodes/Form/test/utils.test.ts
Due: none

PR requests and move sanitize HTML to separate function
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/Form/utils.ts
Due: tests, Nodes

wip
  packages/cli/templates/form-trigger.handlebars
Due: tests, Backend

wip
  packages/nodes-base/nodes/Form/interfaces.ts
  packages/nodes-base/nodes/Form/test/FormTriggerV2.node.test.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils.ts
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
Due: tests, Nodes

Generalize executeFunctions for Form util tests
  packages/nodes-base/nodes/Form/test/utils.test.ts
Due: none

Add and integrate components
  packages/design-system/src/components/N8nTagList/TagList.stories.ts
  packages/design-system/src/components/N8nTagList/TagList.vue
  packages/design-system/src/components/N8nTagList/index.ts
  packages/design-system/src/components/N8nTagsSelector/TagsSelector.stories.ts
  packages/design-system/src/components/N8nTagsSelector/TagsSelector.vue
  packages/design-system/src/components/N8nTagsSelector/index.ts
  packages/design-system/src/components/index.ts
  packages/editor-ui/src/components/ParameterInputFull.vue
Due: tests, Frontend

test: Add more tests for expression extensions (no-changelog) (#12598)
  packages/workflow/test/ExpressionExtensions/ArrayExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/BooleanExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/DateExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/ExpressionExtension.test.ts
  packages/workflow/test/ExpressionExtensions/ObjectExtensions.test.ts
  packages/workflow/test/ExpressionExtensions/StringExtensions.test.ts
  packages/workflow/test/NodeErrors.test.ts
  packages/workflow/test/WorkflowDataProxyEnvProvider.test.ts
Due: none

Disable test run button with a tooltip
  packages/editor-ui/src/components/TestDefinition/EditDefinition/EvaluationHeader.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/EvaluationStep.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/TestNameInput.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/sections/ConfigSection.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/sections/HeaderSection.vue
  packages/editor-ui/src/components/TestDefinition/ListDefinition/TestItem.vue
  packages/editor-ui/src/components/TestDefinition/ListRuns/TestRunsTable.vue
  packages/editor-ui/src/components/TestDefinition/composables/useTestDefinitionForm.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/TestDefinition/TestDefinitionEditView.vue
  packages/editor-ui/src/views/TestDefinition/TestDefinitionRunsListView.vue
Due: tests, Frontend

fix(core): Prefix package name in `supportedNodes` on generated types as well
  packages/cli/src/load-nodes-and-credentials.ts
Due: tests, Backend

remove supportedNodes from CredentialLoadingDetails
  packages/cli/src/__tests__/credential-types.test.ts
  packages/cli/src/credential-types.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/src/DirectoryLoader.ts
  packages/core/test/DirectoryLoader.test.ts
  packages/nodes-base/test/nodes/Helpers.ts
  packages/workflow/src/Interfaces.ts
Due: tests, Backend, Nodes

Move `preventPrototypePollution` to constructor
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: tests, Backend

Add `Object.getPrototypeOf` and `Reflect.getPrototypeOf`
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: tests, Backend
