Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

Add tests
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
Due: none

refactor(workflow): Simplify version retrieval by reading from package.json
  .github/workflows/create-custom-runner-image.yml
Due: tests

fix(workflow): Replace env.VERSION with VERSION variable in tagging and Docker image build steps
  .github/workflows/create-custom-runner-image.yml
Due: tests

fix(SendGrid Node): use /scopes for credential testing
  packages/nodes-base/credentials/SendGridApi.credentials.ts
Due: tests, Nodes

tweak unicode characters
  packages/@n8n/codemirror-lang/src/expressions/expressions.grammar
  packages/@n8n/codemirror-lang/src/expressions/grammar.ts
  packages/@n8n/codemirror-lang/test/expressions/cases.txt
Due: tests, Frontend

Fix typecheck
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
Due: none

Update condition for rendering provisioning sidebar item
  packages/frontend/editor-ui/src/app/components/SettingsSidebar.vue
Due: tests, Frontend

Remove duplicate feature flag check in component
  packages/frontend/editor-ui/src/features/settings/provisioning/views/SettingsProvisioningView.vue
Due: tests, Frontend

Ensure behavior matches setting description
  packages/cli/src/task-runners/task-broker/task-broker.service.ts
Due: tests, Backend

feat(workflow): Add swarm-compose.yml for n8n deployment and update task runner configuration
  .github/swarm-compose.yml
  docker/images/runners/n8n-task-runners.json
Due: tests

refactor(workflow): Remove version bump input from workflow dispatch
  .github/workflows/create-custom-runner-image.yml
Due: tests

test: Add tests for nodes (no-changelog) (#20732)
  packages/nodes-base/nodes/Aws/ELB/test/AwsElb.node.test.ts
  packages/nodes-base/nodes/Aws/ELB/test/GenericFunctions.test.ts
  packages/nodes-base/nodes/Aws/ELB/test/README.md
  packages/nodes-base/nodes/Aws/ELB/test/add-listener-certificate.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/create-load-balancer.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/delete-load-balancer.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/get-load-balancer.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/get-many-listener-certificates-all.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/get-many-listener-certificates.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/get-many-load-balancers-with-names.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/get-many-load-balancers.workflow.json
  packages/nodes-base/nodes/Aws/ELB/test/remove-listener-certificate.workflow.json
  packages/nodes-base/nodes/Aws/S3/test/V1/GenericFunctions.test.ts
  packages/nodes-base/nodes/Aws/__tests__/AwsLambda.node.test.ts
  packages/nodes-base/nodes/Aws/__tests__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Google/Drive/test/GoogleDriveTrigger.node.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/collection-getAll.workflow.json
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/collection.getAll.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document-delete.workflow.json
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document-get.workflow.json
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document-query.workflow.json
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document-update.workflow.json
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document.delete.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document.get.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document.query.test.ts
  packages/nodes-base/nodes/Google/Firebase/CloudFirestore/__test__/document.update.test.ts
  packages/nodes-base/nodes/Google/Firebase/RealtimeDatabase/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/appendOrUpdate.test.ts
  packages/nodes-base/nodes/Microsoft/GraphSecurity/test/GenericFunctions.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/Salesforce.node.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/SalesforceTrigger.node.test.ts
  packages/nodes-base/nodes/Slack/test/v2/GenericFunctions.test.ts
  packages/nodes-base/nodes/Slack/test/v2/Slack.node.test.ts
Due: tests, Nodes

remove console.log
  packages/cli/src/controller.registry.ts
Due: tests, Backend

Add unit tests for experiment flag for provisioning route
  packages/frontend/editor-ui/src/router.test.ts
Due: none

fix: Change unicode range to support more characters in expression parser (#21394)
  packages/@n8n/codemirror-lang/src/expressions/expressions.grammar
  packages/@n8n/codemirror-lang/src/expressions/grammar.ts
  packages/@n8n/codemirror-lang/test/expressions/cases.txt
Due: tests, Frontend

make list workflow plural
  packages/cli/src/modules/mcp/mcp-oauth-service.ts
Due: tests, Backend

use user error
  packages/cli/src/modules/mcp/mcp-oauth-consent.service.ts
Due: tests, Backend

feat(workflow): Update task runner image version and adjust environment variables
  .github/swarm-compose.yml
  docker/images/runners/extras.txt
Due: tests

refactor(workflow): Remove tagging step from custom runner image workflow fix(extras): Update google-genai version in Python task runner dependencies
  .github/workflows/create-custom-runner-image.yml
  docker/images/runners/extras.txt
Due: tests

fix(Slack Node): Prevent invalid array arg on team join (#20382)
  packages/nodes-base/nodes/Slack/SlackTrigger.node.ts
  packages/nodes-base/nodes/Slack/test/SlackTrigger.test.ts
Due: tests, Nodes

add feedback to the db
  packages/@n8n/db/src/entities/oauth-user-consent.ts
  packages/@n8n/db/src/migrations/common/1760116750277-CreateOAuthEntities.ts
Due: tests

Upgrading gaxios to later than 7.1.1 to avoid issue with Vertex throwing errors we can't handle.
  package.json
  pnpm-lock.yaml
Due: tests

use Time constant when needed
  packages/cli/src/modules/mcp/mcp-oauth-authorization-code.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
  packages/cli/src/modules/mcp/oauth-session.service.ts
Due: tests, Backend

add an integration test to verify basic workflow version counter functionality
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: none

more feedback
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-server-middleware.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-service.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
  packages/cli/src/modules/mcp/mcp-server-middleware.service.ts
Due: tests, Backend

delete and check affected rows instead of searching and deleting
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: tests, Backend

validate authsession token
  packages/cli/src/modules/mcp/mcp.auth.consent.controller.ts
Due: tests, Backend

fix(workflow): Update google-genai dependency to latest version without pinning
  docker/images/runners/extras.txt
Due: tests

mode feedback
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: tests, Backend

update test to test for the correct behavior
  packages/testing/playwright/package.json
  packages/testing/playwright/services/api-helper.ts
  packages/testing/playwright/tests/chaos/postgres.spec.ts
  pnpm-lock.yaml
Due: tests

make functions without await sync
  packages/cli/src/abstract-server.ts
Due: tests, Backend

fix readiness check
  packages/@n8n/db/src/connection/db-connection.ts
Due: tests

add foreign keys in user id
  packages/@n8n/db/src/entities/oauth-access-token.ts
  packages/@n8n/db/src/entities/oauth-authorization-code.ts
  packages/@n8n/db/src/entities/oauth-refresh-token.ts
  packages/@n8n/db/src/entities/oauth-user-consent.ts
  packages/@n8n/db/src/entities/user.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/oauth-user-consent.repository.ts
Due: tests, Backend

use insert in favor of save
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-authorization-code.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-authorization-code.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-consent.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: tests, Backend

feat(workflow): Add swarm-compose.yml for n8n deployment configuration
  swarm-compose.yml
Due: tests

fix tests
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-consent.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-service.test.ts
Due: none

fix(workflow): Update swarm-compose.yml to replace sensitive information with placeholders
  swarm-compose.yml
Due: tests

fix foreign key issue
  packages/@n8n/db/src/migrations/common/1760116750277-CreateOAuthEntities.ts
Due: tests

add comment to expiresAt column
  packages/@n8n/db/src/migrations/common/1760116750277-CreateOAuthEntities.ts
Due: tests

feat(workflow): Add Pillow to extra requirements for Python task runner image
  docker/images/runners/extras.txt
Due: tests

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
