Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

feat(Respond to Webhook Node): Setting to configure outputs (#15619)
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/utils.test.ts
  packages/nodes-base/nodes/RespondToWebhook/utils.ts
Due: tests, Nodes

fix: Check if form trigger URL is live before oppening pop-up (#15800)
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/utils/executionUtils.test.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
Due: tests, Frontend

remove the change from cli package
  packages/cli/src/utils.ts
Due: tests, Backend

feat(Perplexity Node): New node (#13604)
  packages/nodes-base/credentials/PerplexityApi.credentials.ts
  packages/nodes-base/nodes/Perplexity/GenericFunctions.ts
  packages/nodes-base/nodes/Perplexity/Perplexity.node.json
  packages/nodes-base/nodes/Perplexity/Perplexity.node.ts
  packages/nodes-base/nodes/Perplexity/descriptions/chat/Chat.resource.ts
  packages/nodes-base/nodes/Perplexity/descriptions/chat/complete.operation.ts
  packages/nodes-base/nodes/Perplexity/descriptions/index.ts
  packages/nodes-base/nodes/Perplexity/perplexity.svg
  packages/nodes-base/nodes/Perplexity/test/GenericFunction.test.ts
  packages/nodes-base/nodes/Perplexity/test/Perplexity.node.test.ts
  packages/nodes-base/nodes/Perplexity/test/chat/complete.test.ts
  packages/nodes-base/nodes/Perplexity/test/chat/complete.workflow.json
  packages/nodes-base/nodes/Perplexity/test/credentials/PerplexityApi.test.ts
  packages/nodes-base/package.json
Due: tests, Nodes

Added the ability to add the featured image.
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
  packages/nodes-base/nodes/Wordpress/PostInterface.ts
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
Due: tests, Nodes

Choosing status future, now provides a date-time-picker to set the date/time for the future post.
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
  packages/nodes-base/nodes/Wordpress/PostInterface.ts
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
Due: tests, Nodes

Introduce "Link" resource with "Add"/"Delete"/"Get many" operations for NocoDB node
  packages/nodes-base/nodes/NocoDB/NocoDB.node.ts
  packages/nodes-base/nodes/NocoDB/OperationDescription.ts
Due: tests, Nodes

fix: Flaky e2e test in 30-langchain (no-changelog) (#15793)
  cypress/composables/ndv.ts
  cypress/e2e/30-langchain.cy.ts
Due: tests

Lint fixes.
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
Due: tests, Nodes

fix: fix typing issues
  packages/core/src/binary-data/binary-data.service.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/TestRunDetailView.vue
Due: tests, Backend, Frontend

fix: replace imports
  packages/frontend/editor-ui/src/components/Evaluations.ee/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/Paywall/EvaluationsPaywall.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/SetupWizard/SetupWizard.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/shared/StepHeader.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsView.vue
Due: tests, Frontend

fix: Check name can't be changed as it's required for merge
  .github/workflows/e2e-tests-pr.yml
Due: tests

perf(core): Speed up bootup for all instance types
  .gitignore
  packages/cli/src/commands/audit.ts
Due: tests, Backend

fix(editor): Simplifying empty project deletion (#15834)
  packages/frontend/editor-ui/src/components/Projects/ProjectDeleteDialog.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectDeleteDialog.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.test.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Due: tests, Frontend

fix: fix expiresIn type properly
  packages/cli/src/auth/auth.service.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/execution-engine/node-execution-context/utils/binary-helper-functions.ts
Due: tests, Backend

test(core): Relax assertions for testing the maxTeamProjects quota (#15798)
  packages/cli/test/integration/project.api.test.ts
Due: none

Fix lint
  packages/@n8n/config/test/config.test.ts
Due: none

Add config to override default database ping interval and default idle connection timeout of postgres database (to release a connection from the pool)
  packages/@n8n/config/src/configs/database.config.ts
  packages/cli/src/databases/__tests__/db-connection-options.test.ts
  packages/cli/src/databases/__tests__/db-connection.test.ts
  packages/cli/src/databases/db-connection-options.ts
  packages/cli/src/databases/db-connection.ts
Due: tests, Backend

perf(core): Shorten bootup for all instance types (#15856)
  .gitignore
  packages/cli/src/commands/audit.ts
Due: tests, Backend

Allow `false` as a dependant value for public api json schema validation
  packages/cli/src/public-api/v1/handlers/credentials/__tests__/credentials.service.test.ts
  packages/cli/src/public-api/v1/handlers/credentials/credentials.service.ts
Due: tests, Backend

fix: refactor schema to make test server work
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.id.yml
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.yml
Due: tests, Backend

feat(API): Allow deletion of users from projects
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.id.yml
  packages/cli/src/public-api/v1/openapi.yml
  packages/cli/src/requests.ts
Due: tests, Backend

test: add tests for deleting users from project
  packages/cli/test/integration/public-api/projects.test.ts
  packages/cli/test/integration/shared/db/projects.ts
Due: tests, Backend

fix: tidy up schema references
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.id.yml
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.yml
Due: tests, Backend

revert the revert on projectRoleSchema
  packages/@n8n/api-types/src/schemas/project.schema.ts
Due: tests, Backend

test public api validation
  packages/cli/test/integration/public-api/projects.test.ts
Due: none

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
