Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

add test for null
  packages/nodes-base/nodes/DataTable/test/actions/rows/get.operation.test.ts
Due: none

fix: Change siderbar to use innerWidth instead of outerWidth
  packages/frontend/editor-ui/src/components/MainSidebar.vue
Due: tests, Frontend

Simplify tests
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
Due: none

feat(editor): data table rows deletion UI
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.test.ts
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.test.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.test.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.test.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: tests, Frontend

fix: Use cross-platform script path for copy-templates in @n8n/node-cli (no-changelog) (#18547)
  packages/@n8n/create-node/package.json
  packages/@n8n/node-cli/package.json
Due: tests

support filter by null
  packages/@n8n/api-types/src/dto/data-store/list-data-store-content-query.dto.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
Due: tests, Backend

feat(editor): Address data tables UI feedback (no-changelog) (#18566)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Frontend

Fix ts issue in unit test
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.test.ts
Due: none

Ignore the order in tests
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
Due: none

fix tests
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
Due: none

PR Feedback
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/common/types.ts
Due: tests, Nodes

Fix ts issues
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: tests, Frontend

feat(core): Enable modules to append to workflow context (#18551)
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/decorators/src/module/index.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/cli/src/workflow-execute-additional-data.ts
Due: tests, Backend

move null into columnJsType
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/workflow/src/data-store.types.ts
Due: tests, Backend

use v2 and v3 bases
  packages/nodes-base/nodes/NocoDB/v2/methods/listSearch.ts
Due: tests, Nodes

Remove unneeded col header border
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: tests, Frontend

Disable for FE packages
  packages/@n8n/eslint-config/src/configs/frontend.ts
Due: tests

Fix eslint error
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.test.ts
Due: none

fix: PR comments
  packages/testing/playwright/pages/BasePage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/nodes/EditFieldsNode.ts
Due: tests

fix tests and copy
  packages/cli/src/modules/data-store/__tests__/data-store-proxy.service.test.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
Due: tests, Nodes

lt not lte on where poll
  packages/nodes-base/nodes/NocoDB/triggerV1/poll/trigger.poll.ts
Due: tests, Nodes

using i following feedback
  packages/nodes-base/nodes/NocoDB/v2/actions/rows/getAll.ts
Due: tests, Nodes

ci: ci: Increase timeout for MariaDB and MySQL tests again
  .github/workflows/ci-postgres-mysql.yml
Due: tests

chore: run watch mode concurrently
  package.json
Due: tests

add display title
  packages/@n8n/ai-workflow-builder.ee/src/tools/add-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/connect-nodes.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/helpers/progress.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/node-details.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/node-search.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/remove-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/update-node-parameters.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
Due: tests

Longer timeout as still failing
  .github/workflows/ci-postgres-mysql.yml
Due: tests

Fix failing unit tests
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.test.ts
Due: none

show message in ui
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ToolMessage.vue
  packages/frontend/@n8n/design-system/src/types/assistant.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
Due: tests, Frontend

fix: Change siderbar to use innerWidth instead of outerWidth (#18727)
  packages/frontend/editor-ui/src/components/MainSidebar.vue
Due: tests, Frontend

change from v 240 to 260
  packages/nodes-base/nodes/NocoDB/v2/methods/loadOptions.ts
Due: tests, Nodes

remove console.log
  packages/nodes-base/nodes/NocoDB/v2/methods/listSearch.ts
Due: tests, Nodes

Update colors
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
Due: tests, Frontend

Revert color changes. Will be fixed separately
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/editor-ui/src/components/common/SelectedItemsInfo.vue
Due: tests, Frontend

ci: Increase timeout for MariaDB and MySQL tests again (#18732)
  .github/workflows/ci-postgres-mysql.yml
Due: tests
