Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - "**"
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/chat/**
        - packages/@n8n/codemirror-lang/**
        - packages/design-system/**
        - packages/editor-ui/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

fix(Code node): Fix `$items` in Code node when using task runner
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/__tests__/built-ins-parser.test.ts
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/built-ins-parser.ts
Due: tests, Backend

load bearing comment
  packages/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

fix(editor): Reduce icon offset to align with square nodes (no-changelog) (#13342)
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
Due: tests, Frontend

⚡Improving resource list typing
  packages/editor-ui/src/components/CredentialCard.vue
  packages/editor-ui/src/components/Folders/FolderCard.vue
  packages/editor-ui/src/components/Folders/constants.ts
  packages/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/editor-ui/src/components/WorkflowCard.vue
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/types/folders.types.ts
  packages/editor-ui/src/views/CredentialsView.vue
  packages/editor-ui/src/views/VariablesView.vue
  packages/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

Updating Schema for - ActiveCampaign > 1.0.0 > create > contact
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/contact/create.json
Due: tests, Nodes

Updating Schema for - ActiveCampaign > 1.0.0 > getAll > contact
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/contact/getAll.json
Due: tests, Nodes

Updating Schema for - ActiveCampaign > 1.0.0 > get > deal
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/get.json
Due: tests, Nodes

Updating Schema for - ActiveCampaign > 1.0.0 > getAll > deal
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/getAll.json
Due: tests, Nodes

Updating Schema for - ActiveCampaign > 1.0.0 > update > deal
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/update.json
Due: tests, Nodes

Adding Schema for - APITemplate.io > 1.0.0 > image > create
  packages/nodes-base/nodes/ApiTemplateIo/__schema__/v1.0.0/image/create.json
Due: tests, Nodes

Updating Schema for - APITemplate.io > 1.0.0 > create > pdf
  packages/nodes-base/nodes/ApiTemplateIo/__schema__/v1.0.0/pdf/create.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > create > project
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/project/create.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > get > project
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/project/get.json
Due: tests, Nodes

chore: More tests for Workflow.ts (#13349)
  packages/core/src/execution-engine/workflow-execute.ts
  packages/workflow/src/Workflow.ts
  packages/workflow/test/Workflow.test.ts
  packages/workflow/test/WorkflowDataProxy.test.ts
Due: tests, Backend

Updating Schema for - Asana > 1.0.0 > create > subtask
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/subtask/create.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > create > task
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/task/create.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > get > task
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/task/get.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > get > user
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/user/get.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > getAll > task
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/task/getAll.json
Due: tests, Nodes

Updating Schema for - Asana > 1.0.0 > update > task
  packages/nodes-base/nodes/Asana/__schema__/v1.0.0/task/update.json
Due: tests, Nodes
