Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

⚡️ Adding more details to column definitions
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
Due: tests, Frontend

test(core): Add tests for data-store controller create endpoint
  packages/cli/src/modules/data-store/__tests__/data-store.controller.test.ts
Due: none

Also in worker and FE service
  packages/cli/src/commands/worker.ts
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

⚡️ Focus name input when opening popover
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnPopover.vue
Due: tests, Frontend

refactor(MongoDB Vector Store Node): Refactor mongodb vector store node (#16239)
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
Due: tests, Nodes

fix(Local File Trigger Node): Add chokidar dependency back (#18260)
  package.json
  packages/nodes-base/nodes/LocalFileTrigger/LocalFileTrigger.node.ts
  packages/nodes-base/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Nodes

:rocket: Release 1.107.1
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
  packages/frontend/editor-ui/package.json
  packages/nodes-base/package.json
Due: tests, Backend, Frontend, Nodes

Restore background color of NDV backdrop
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
Due: tests, Frontend

feat(editor): Improve feedback buttons behavior (#18247)
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/__snapshots__/MessageRating.test.ts.snap
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.test.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
Due: tests, Frontend

fix: pnpm-lock
  pnpm-lock.yaml
Due: tests

chore: Add a CLAUDE.md file with instructions for Claude Code (#17868)
  CLAUDE.md
  packages/frontend/CLAUDE.md
Due: tests, Frontend

refactor(core): Include native Python option in Code node
  packages/nodes-base/nodes/Code/Code.node.ts
  packages/nodes-base/nodes/Code/TaskRunnerSandbox.ts
  packages/nodes-base/nodes/Code/descriptions/PythonCodeDescription.ts
  packages/nodes-base/nodes/Code/test/TaskRunnerSandbox.test.ts
Due: tests, Nodes

chore: Deprecate Zep nodes (#18061)
  packages/@n8n/nodes-langchain/credentials/ZepApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryZep/MemoryZep.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZep/VectorStoreZep.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZepInsert/VectorStoreZepInsert.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreZepLoad/VectorStoreZepLoad.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/types.ts
Due: tests, Nodes

feat(queue): add workflow execution priority (high/medium/low) and map to Bull job priority; add UI + i18n; tests
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/workflow-runner.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Frontend

fix(editor): Fix Workflow Card spacing (no-changelog) (#18323)
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Due: tests, Frontend

feat(datastore): delete column UI
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: tests, Frontend

Honor env when building options
  packages/nodes-base/nodes/Code/Code.node.ts
Due: tests, Nodes

refactor(queue): replace type assertion with type guard for queuePriority
  packages/cli/src/workflow-runner.ts
Due: tests, Backend

fix(queue): harden priority fallback and remove type assertion via type guard
  packages/cli/src/workflow-runner.ts
Due: tests, Backend

Fix code parameter name
  packages/nodes-base/nodes/Code/Code.node.ts
Due: tests, Nodes

test(queue): DRY priority mapping tests with it.each and add fallback test for unknown priority
  packages/cli/src/__tests__/workflow-runner.test.ts
Due: none

refactor(core): Allow modules to define paths to load nodes from (#18193)
  packages/@n8n/backend-common/src/modules/__tests__/module-registry.test.ts
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
Due: tests, Backend

setup tests
  packages/testing/playwright/tests/ui/security-notifications.spec.ts
Due: none

add check for badge
  packages/testing/playwright/tests/ui/security-notifications.spec.ts
Due: none

refactor tests
  packages/testing/playwright/tests/ui/security-notifications.spec.ts
Due: none

feat(core): Fix types for Data Store endpoints
  packages/cli/src/modules/data-store/__tests__/data-store-aggregate.service.test.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/cli/src/modules/data-store/data-store.service.ts
Due: tests, Backend

ci: Update config to match PR convention
  renovate.json
Due: tests

switch to using findOneOrFail
  packages/cli/src/modules/data-store/data-store.repository.ts
Due: tests, Backend

refactor: make expression resolve context reusable
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/composables/useExpressionResolveCtx.ts
Due: tests, Frontend

Use mode
  packages/nodes-base/nodes/Slack/V2/ChannelDescription.ts
  packages/nodes-base/nodes/Slack/V2/FileDescription.ts
  packages/nodes-base/nodes/Slack/V2/MessageDescription.ts
  packages/nodes-base/nodes/Slack/V2/ReactionDescription.ts
  packages/nodes-base/nodes/Slack/V2/StarDescription.ts
Due: tests, Nodes

change to use env vars
  packages/testing/playwright/tests/ui/security-notifications.spec.ts
Due: none

fix: merge conflicts resolution
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
Due: tests, Frontend

feat: merge merge params pane into focus pane
  packages/frontend/editor-ui/src/components/ExpressionParameterInput.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
  packages/frontend/editor-ui/src/components/canvas/WorkflowCanvas.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalNodeDetailsDrawer.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
