Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

fix(nodes): WordPress Get Many adds before filter for posts and pages
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
Due: tests, Nodes

fix: fix chromatic and storybook workflows
  .github/workflows/chromatic.yml
Due: tests

build: Fix minimumreleaseage
  pnpm-workspace.yaml
Due: tests

build: Fix minimumreleaseage (#19787)
  pnpm-workspace.yaml
Due: tests

Adding placeholders and updating canvas AI prompt.
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
Due: tests, Frontend

Updating font size.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: tests, Frontend

Updating the stop button icon to be correctly centered.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nSendStopButton.vue
Due: tests, Frontend

feat(editor): Add create new button in resource locator for data table node
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.constants.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Frontend, Nodes

Align the resource locator name container
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.vue
Due: tests, Frontend

Close resource locator dropdown on add new selected
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
Due: tests, Frontend

Test: add comprehensive test coverage for parametersToKeyValueQuery function
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequestV3.test.ts
Due: none

fix: Fix checks in chromatic workflow (no-changelog) (#19786)
  .github/workflows/chromatic.yml
Due: tests

address pr comments
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.vue
Due: tests, Frontend

Address pr comment
  packages/workflow/src/interfaces.ts
Due: tests, Backend

Fix type issue
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.constants.ts
Due: tests, Frontend

chore: update the condition for showing focus button
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
Due: tests, Frontend

fix: don't open multiple mapper popover at a time
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/stores/canvas.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

add tests
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.test.ts
Due: none

fix typing
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.test.ts
Due: none

feat: make values in virtual schema shorter
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
Due: tests, Frontend

feat: show mapper when drop area is hovered
  packages/frontend/editor-ui/src/components/AssignmentCollection/AssignmentCollection.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
Due: tests, Frontend

fix compile error
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.test.ts
Due: none

fix: reflect clickable to styles
  packages/frontend/editor-ui/src/features/logs/components/LogsPanelHeader.vue
Due: tests, Frontend

refactor
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
Due: tests, Frontend

fix format error
  packages/frontend/editor-ui/src/features/logs/components/LogsPanelActions.vue
Due: tests, Frontend

address AI review comments
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.test.ts
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Due: tests, Frontend

feat: clicking on log panel header to collapse the panel
  packages/frontend/editor-ui/src/features/logs/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanelHeader.vue
Due: tests, Frontend

feat: make it possible to edit node name in focus panel
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalFocusPanelHeader.vue
Due: tests, Frontend

update tests
  packages/frontend/editor-ui/src/components/FocusPanel.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/composables/useDataSchema.test.ts
Due: none

fix compile errors
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
Due: tests, Frontend

style: make "no data" text styles more consistent
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/NDVEmptyState.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Due: tests, Frontend

address AI review comments
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Due: tests, Frontend

fix: handle query params with [] correctly for http request (fixes #19727)
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: tests, Nodes

fix: handle query params with [] correctly and preserve falsy values
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: tests, Nodes

👌 Fixing typos
  packages/cli/src/modules/mcp/__tests__/get-workflow-details.tool.test.ts
  packages/cli/src/modules/mcp/__tests__/utils.test.ts
  packages/cli/src/modules/mcp/tools/utils.ts
Due: tests, Backend

👌 Improve typing in settings controller
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/src/modules/mcp/mcp.typeguards.ts
  packages/cli/src/modules/mcp/mcp.types.ts
Due: tests, Backend

👌 Checking token expiry date in auth middleware
  packages/cli/src/auth/auth.service.ts
Due: tests, Backend

feat: Astra DB Vector Store Node for LangChain
  packages/@n8n/nodes-langchain/credentials/AstraDBApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreAstraDB/AstraDB.utils.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreAstraDB/VectorStoreAstraDB.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreAstraDB/astra-db.svg
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/methods/listSearch.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/descriptions.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Due: tests, Nodes
