Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

remove cypress test
  cypress/e2e/11-inline-expression-editor.cy.ts
Due: tests

fix build again?
  packages/frontend/editor-ui/src/components/banners/DataStoreStorageLimitErrorBanner.vue
  packages/frontend/editor-ui/src/components/banners/DataStoreStorageLimitWarningBanner.vue
  packages/frontend/editor-ui/src/features/dataStore/components/NodeStorageLimitCallout.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Frontend

lint
  packages/cli/src/modules/data-table/data-store.service.ts
Due: tests, Backend

feat(API): Add running status query on the executions public api endpoint (#19205)
  packages/@n8n/db/src/repositories/__tests__/execution.repository.test.ts
  packages/@n8n/db/src/repositories/execution.repository.ts
  packages/@n8n/db/src/utils/test-utils/mock-entity-manager.ts
  packages/@n8n/db/src/utils/test-utils/mock-instance.ts
  packages/cli/src/public-api/v1/handlers/executions/executions.handler.ts
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.yml
  packages/cli/src/public-api/v1/handlers/executions/spec/schemas/execution.yml
  packages/cli/test/integration/public-api/executions.test.ts
Due: tests, Backend

fix(editor): Make inputs dragged to Python Code editor produce working code
  packages/frontend/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
  packages/frontend/editor-ui/src/components/CodeNodeEditor/utils.test.ts
  packages/frontend/editor-ui/src/components/CodeNodeEditor/utils.ts
Due: tests, Frontend

Fix e2e tests
  cypress/e2e/17-sharing.cy.ts
  cypress/e2e/19-execution.cy.ts
  cypress/e2e/20-workflow-executions.cy.ts
  cypress/e2e/30-editor-after-route-changes.cy.ts
  cypress/e2e/32-node-io-filter.cy.ts
  cypress/e2e/44-routing.cy.ts
  cypress/e2e/45-workflow-selector-parameter.cy.ts
  cypress/support/commands.ts
  cypress/support/index.ts
Due: tests

self review
  packages/frontend/editor-ui/src/components/banners/BannerStack.vue
Due: tests, Frontend

fix(Notion Node): Fix regex for getMany operation
  packages/nodes-base/nodes/Notion/shared/descriptions/BlockDescription.ts
Due: tests, Nodes

fix(editor): Set workflow name when importing (no-changelog) (#19410)
  cypress/e2e/17-sharing.cy.ts
  cypress/e2e/19-execution.cy.ts
  cypress/e2e/20-workflow-executions.cy.ts
  cypress/e2e/30-editor-after-route-changes.cy.ts
  cypress/e2e/32-node-io-filter.cy.ts
  cypress/e2e/44-routing.cy.ts
  cypress/e2e/45-workflow-selector-parameter.cy.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

wip
  packages/frontend/@n8n/design-system/src/components/N8nPopoverReka/N8nPopoverReka.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
Due: tests, Frontend

Forked processes take longer to terminate
  packages/@n8n/task-runner-python/tests/integration/test_execution.py
Due: tests

Create sync.yml
  .github/workflows/sync.yml
Due: tests

clean up
  packages/frontend/editor-ui/src/features/dataStore/components/NodeStorageLimitCallout.vue
Due: tests, Frontend

fix
  packages/frontend/editor-ui/src/utils/executionUtils.test.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
Due: tests, Frontend

Update sync.yml
  .github/workflows/sync.yml
Due: tests

💄 Hide date input from the date picker popper
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ElDatePickerCellEditor.vue
Due: tests, Frontend

PR feedback
  packages/frontend/editor-ui/src/components/banners/DataStoreStorageLimitErrorBanner.vue
  packages/frontend/editor-ui/src/components/banners/DataStoreStorageLimitWarningBanner.vue
  packages/frontend/editor-ui/src/features/dataStore/components/NodeStorageLimitCallout.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: tests, Frontend

refactor: Switch multiprocessing context to `fork` in native Python runner (#19402)
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/tests/integration/test_execution.py
Due: tests

feat(Redis Vector Store Node): Redis vector store node implementation
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreRedis/VectorStoreRedis.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreRedis/VectorStoreRedis.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreRedis/redis.dark.svg
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreRedis/redis.svg
  packages/@n8n/nodes-langchain/package.json
Due: tests, Nodes

add missing change
  packages/frontend/editor-ui/src/components/banners/BannerStack.vue
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Frontend

init
  .devcontainer/Dockerfile.backup
  .devcontainer/docker-compose.yml.backup
  .devcontainer/setup-defaults.sh
  .devcontainer/updates/update-all.sh
  .devcontainer/updates/update-n8n.sh
  .devcontainer/updates/update-packages.sh
  .devcontainer/updates/update-postgres.sh
  .github/workflows/sync.yml
  README.md
  initial-credentials/postgres-default.json
  workflows/1️⃣📁Create Files and Test Data Access.json
  workflows/2️⃣🔍📦Check & Install Python Packages.json
Due: tests

init2
  .gitattributes
Due: tests

test: Refactoring
  packages/testing/playwright/composables/MfaComposer.ts
  packages/testing/playwright/pages/MfaSetupModal.ts
  packages/testing/playwright/pages/SettingsPage.ts
  packages/testing/playwright/pages/SignInPage.ts
  packages/testing/playwright/tests/ui/27-two-factor-authentication.spec.ts
Due: tests

fix(Code Tool Node): Fix console.log not showing up on browser on Code Tool
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
Due: tests, Backend

sync init
  .github/workflows/sync.yml
Due: tests

test: Credential test migration part 1
  packages/testing/playwright/composables/CredentialsComposer.ts
  packages/testing/playwright/composables/ProjectComposer.ts
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/CredentialsEditModal.ts
  packages/testing/playwright/pages/CredentialsPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/components/CredentialModal.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/services/credential-api-helper.ts
  packages/testing/playwright/tests/ui/2-credentials.spec.ts
  packages/testing/playwright/tests/ui/30-langchain.spec.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
  packages/testing/playwright/tests/ui/43-oauth-flow.spec.ts
  packages/testing/playwright/tests/ui/5-ndv.spec.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  packages/testing/playwright/tests/ui/716-AI-bug-correctly-set-up-agent-model-shows-error.spec.ts
  packages/testing/playwright/tests/ui/building-blocks/04-credentials.spec.ts
Due: tests

iiisss
  .github/workflows/sync.yml
Due: tests

test: Add test for logging on supply data context
  packages/core/src/execution-engine/node-execution-context/__tests__/supply-data-context.test.ts
Due: none

fix(editor): Center first node inserted if builder is showing (no-changelog)
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

ci: Update trivy and disable cache so we always get fresh db
  .github/workflows/security-trivy-scan-callable.yml
Due: tests

ssa
  .github/workflows/sync.yml
Due: tests

chain
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: tests, Frontend

- Incorporated review comments
  packages/nodes-base/credentials/OracleDBApi.credentials.ts
  packages/nodes-base/nodes/Oracle/Sql/transport/index.ts
Due: tests, Nodes

sync comment
  .github/workflows/sync.yml
Due: tests
