Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

Update dockerfile
  dockerfile
Due: tests

AI review
  packages/cli/src/modules/chat-hub/chat-hub.models.service.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/AgentEditorModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Backend, Frontend

feat(core): Hide options from command bar that chat user can't use
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/projects.store.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useChatHubCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useDataTableNavigationCommands.test.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useDataTableNavigationCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useExecutionNavigationCommands.test.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useExecutionNavigationCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useGenericCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useProjectNavigationCommands.test.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useProjectNavigationCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useWorkflowNavigationCommands.test.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useWorkflowNavigationCommands.ts
Due: tests, Frontend

Rename dockerfile to Dockerfile
  Dockerfile
Due: tests

Delete Dockerfile
  Dockerfile
Due: tests

Create Docker
  docker/Docker
Due: tests

Update Docker
  docker/Docker
Due: tests

Delete docker/Docker
  docker/Docker
Due: tests

⚡ Wait for workflow select to be ready before focusing
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/modals/MCPConnectWorkflowsModal.vue
Due: tests, Frontend

👕 Fix async method
  packages/frontend/editor-ui/src/features/ai/mcpAccess/modals/MCPConnectWorkflowsModal.test.ts
Due: none

revert useCanvasOperations.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.ts
Due: tests, Frontend

Fix HITL with tools with supplyData
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: tests, Backend

Fix typo
  packages/frontend/editor-ui/src/Interface.ts
Due: tests, Frontend

feat: Set `autosave` for history versions (no-changelog) (#23076)
  packages/@n8n/backend-test-utils/src/db/workflows.ts
  packages/@n8n/db/src/entities/workflow-history.ts
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/workflows/workflow-history/__tests__/workflow-history.service.test.ts
  packages/cli/src/workflows/workflow-history/workflow-history.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/shared/db/workflow-history.ts
  packages/cli/test/integration/workflow-history.api.test.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
  packages/frontend/@n8n/rest-api-client/src/api/workflows.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.test.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
Due: tests, Backend, Frontend

⚡ Count `null` as `false` in mcp access filter
  packages/@n8n/db/src/repositories/workflow.repository.ts
Due: tests, Backend

Fix HITL tool logging
  packages/@n8n/nodes-langchain/utils/agent-execution/createEngineRequests.ts
  packages/@n8n/nodes-langchain/utils/agent-execution/handleHitlResponse.ts
  packages/@n8n/nodes-langchain/utils/agent-execution/types.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/core/src/execution-engine/requests-response.ts
  packages/core/src/execution-engine/workflow-execute.ts
Due: tests, Backend, Nodes

fix test
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
Due: none

Set autosave to true
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
Due: tests, Frontend

improve code and implement changes in the frontend
  packages/cli/src/webhooks/webhook.service.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/frontend/@n8n/rest-api-client/src/utils.ts
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowPublishModal.vue
  packages/frontend/editor-ui/src/app/components/WorkflowActivationConflictingWebhookModal.vue
  packages/frontend/editor-ui/src/app/composables/useWorkflowActivate.ts
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryPublishModal.vue
Due: tests, Backend, Frontend

test: Address comments
  .github/workflows/playwright-test-reusable.yml
  packages/testing/playwright/playwright-projects.ts
  packages/testing/playwright/playwright.config.ts
Due: tests

test: Polish
  packages/testing/playwright/currents.config.ts
Due: tests

fix(editor): Update credential sharing tooltip to reference projects or users
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Frontend

test: Polish
  .github/workflows/playwright-test-reusable.yml
  packages/testing/playwright/playwright-projects.ts
Due: tests

test: Polish
  packages/testing/playwright/currents.config.ts
  packages/testing/playwright/playwright-projects.ts
Due: tests

test: If else block
  .github/workflows/playwright-test-reusable.yml
Due: tests

test: Check if pwc-p ignores --shard flag
  .github/workflows/playwright-test-reusable.yml
Due: tests

👌 Use `prefix` slot for search icon
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.vue
Due: tests, Frontend

👌 Remove workflows table empty state description
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.vue
Due: tests, Frontend

✔️ Update workflows table tests
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.test.ts
Due: none

💄 Update responsiveness of MCP page header
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
Due: tests, Frontend

Add breaking change rule for start node deprecation
  packages/cli/src/modules/breaking-changes/rules/v2/index.ts
  packages/cli/src/modules/breaking-changes/rules/v2/start-node-deprecated.rule.ts
Due: tests, Backend

add tests
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/start-node-deprecated.rule.test.ts
Due: none

Updated @langchain/ollama to 1.0.3 to for separation of thinking and output with new ollama engine
  packages/@n8n/nodes-langchain/package.json
Due: tests, Nodes

also account for disable workflows
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/start-node-deprecated.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/start-node-deprecated.rule.ts
Due: tests, Backend

RND-112: Primitives subcategory was structured
  packages/frontend/editor-ui/src/features/shared/nodeCreator/views/viewsData.ts
Due: tests, Frontend

add option create if not exists
  packages/nodes-base/nodes/DataTable/actions/table/create.operation.ts
Due: tests, Nodes

test: Test without /etc/hosts
  .github/workflows/playwright-test-reusable.yml
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-keycloak.ts
  packages/testing/playwright/composables/OidcComposer.ts
  packages/testing/playwright/pages/SettingsSsoPage.ts
Due: tests, Backend

test: Mount certs
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-keycloak.ts
  packages/testing/playwright/pages/SettingsSsoPage.ts
Due: tests, Backend

test: Tune
  packages/testing/containers/n8n-test-container-keycloak.ts
Due: tests

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Backend: any of: packages/@n8n/ai-workflow-builder.ee/**, packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/decorators/**, packages/@n8n/constants/**, packages/@n8n/backend-common/**, packages/@n8n/backend-test-utils/**, packages/@n8n/errors/**, packages/@n8n/db/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/@n8n/task-runner-python/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z, (?s:.*/test_[^\/]*\.py.*)\Z
