Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

log number of deleted insights by period only if sql driver returns it
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
Due: tests, Backend

Apply suggestions from code review
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
Due: tests, Backend

Rename Pruning service into ExecutionsPruning
  packages/cli/src/commands/start.ts
  packages/cli/src/services/pruning/__tests__/executions-pruning.service.test.ts
  packages/cli/src/services/pruning/executions-pruning.service.ts
  packages/cli/test/integration/pruning.service.test.ts
Due: tests, Backend

add data cleaning on pruning tests
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
Due: none

skip test
  cypress/e2e/24-ndv-paired-item.cy.ts
Due: tests

refactor(core): Simplify worker execution path
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/waiting-webhooks.test.ts
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/workflow/src/Interfaces.ts
Due: tests, Backend

lint
  cypress/e2e/24-ndv-paired-item.cy.ts
Due: tests

fix(editor): Sort start start nodes for manual execution by Y position
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
Due: tests, Frontend

ignore test files
  packages/@n8n/config/tsconfig.build.json
Due: tests, Backend

make test more resilient
  packages/cli/test/integration/project.api.test.ts
Due: none

feat(core): Implement Insights pruning system (#14468)
  packages/cli/src/commands/start.ts
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.module.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/entities/__tests__/insights-by-period.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights-pruning.service.ts
  packages/cli/src/modules/insights/insights.config.ts
  packages/cli/src/modules/insights/insights.module.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/src/services/pruning/__tests__/executions-pruning.service.test.ts
  packages/cli/src/services/pruning/executions-pruning.service.ts
  packages/cli/test/integration/pruning.service.test.ts
Due: tests, Backend

refactor(core): Improve workflow activation logs (#15180)
  packages/@n8n/config/src/configs/logging.config.ts
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
Due: tests, Backend

chore(Azure OpenAI Chat Model Node): Bump the default apiVersion to 2025-03-01-preview (#15204)
  packages/@n8n/nodes-langchain/credentials/AzureEntraCognitiveServicesOAuth2Api.credentials.ts
  packages/@n8n/nodes-langchain/credentials/AzureOpenAiApi.credentials.ts
Due: tests, Nodes

Fix typo error
  packages/nodes-base/nodes/Wordpress/UserDescription.ts
Due: tests, Nodes

test(editor): Test showing pagination
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.test.ts
Due: none

do not use transaction for insights buffer flushing
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-collection.service.ts
Due: tests, Backend

re-enable insights for sqlite without pooling
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/modules/insights/insights-collection.service.ts
  packages/cli/src/modules/insights/insights.pre-init.ts
Due: tests, Backend

Pass runExecutionData to makeHandleToolInvocation() in order to get the latest run index
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: tests, Backend, Nodes

Handle node as a tool case
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: tests, Backend

Cleanup getRunDataLength, fix tests.
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
Due: tests, Backend, Nodes

WIP on getting the proper runindex
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
  packages/workflow/src/Interfaces.ts
Due: tests, Backend, Nodes

Fix tests for makeHandleToolInvocation
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
Due: none

Use getLatestRunIndex() instead of getRunDataLength
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/utils/WorkflowToolService.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/workflow/src/Interfaces.ts
Due: tests, Backend, Nodes

correct test name to match assertions
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
Due: none

fix(core): Fix Insights concurrency issues for legacy sqlite (#15028)
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-collection.service.ts
  packages/cli/src/modules/insights/insights.pre-init.ts
Due: tests, Backend

Readd binary data
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
Due: tests, Nodes

remove unrelated change
  cypress/e2e/24-ndv-paired-item.cy.ts
Due: tests
