Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

fix(editor): Reduce telemetry events for builder workflow changes (no-changelog) (#19310)
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/types/canvas.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

Simplify env var management
  packages/cli/src/task-runners/task-runner-process-base.ts
  packages/cli/src/task-runners/task-runner-process-js.ts
  packages/cli/src/task-runners/task-runner-process-py.ts
Due: tests, Backend

✅ Fix `AddColumnButton` tests
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
Due: tests, Frontend

Add hint for no input columns
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Due: tests, Nodes

warn instead
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Due: tests, Nodes

✅ Updating composable tests
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.test.ts
Due: none

feat: don't de-select node when clicking outside of mapper (and it's on canvas)
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/stores/canvas.store.ts
Due: tests, Frontend

fix auto-completion tooltip style when horizontally flipped
  packages/frontend/editor-ui/src/styles/plugins/_codemirror.scss
Due: tests, Frontend

add tests
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
Due: none

update snapshots
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
Due: none

update tests
  packages/nodes-base/nodes/Code/test/JsTaskRunnerSandbox.test.ts
Due: none

update naming
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/cli/src/modules/data-table/errors/data-store-not-found.error.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
Due: tests, Backend, Frontend, Nodes

Add log scope
  packages/@n8n/config/src/configs/logging.config.ts
  packages/cli/src/task-runners/task-runner-module.ts
Due: tests, Backend

👌 Addressing design feedback
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
Due: tests, Frontend

🐞 Fixing pagination parameters
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: tests, Frontend

feat(core): Extend public API spec with retry exection endpoint
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
  packages/cli/src/public-api/v1/handlers/executions/spec/schemas/parameters/loadWorkflow.yml
  packages/cli/src/public-api/v1/openapi.yml
Due: tests, Backend

feat(core): Add retry execution scope to permissions
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/public-api-permissions.ee.ts
Due: tests, Backend

feat(core): Implement retry execution handler on public API
  packages/@n8n/permissions/src/constants.ee.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/public-api/types.ts
  packages/cli/src/public-api/v1/handlers/executions/executions.handler.ts
Due: tests, Backend

feat(core): Add unit tests for public retry execution endpoint
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

chore(core): Fix missing parameter definition in put endpoint
  packages/cli/src/public-api/v1/handlers/variables/spec/paths/variables.id.yml
Due: tests, Backend

feat(core): Fix wrong return type in api spec
  packages/cli/src/public-api/v1/handlers/executions/executions.handler.ts
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
  packages/cli/src/public-api/v1/handlers/executions/spec/schemas/executionStatus.yml
Due: tests, Backend

feat(core): update test assertion
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

feat(core): Fix path to endpoint spec in openapi
  packages/cli/src/public-api/v1/openapi.yml
Due: tests, Backend

feat(core): Fix loadWorkflow described as parameter instead of requestBody
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
  packages/cli/src/public-api/v1/handlers/executions/spec/schemas/parameters/loadWorkflow.yml
Due: tests, Backend

fix: Add VariableId parameter reference to API specification
  packages/cli/src/public-api/v1/shared/spec/parameters/_index.yml
Due: tests, Backend

fix: Update execution retry test to use user1 and adjust response assertion
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

feat(core): update snapshot for permission scopes
  packages/@n8n/permissions/src/__tests__/__snapshots__/scope-information.test.ts.snap
Due: none

feat(core): mock ExecutionService retry return value, since whole instance is mocked otherwise
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

feat(chore): Properly type loadWorkflow param as optional
  packages/cli/src/executions/execution.types.ts
Due: tests, Backend

Update packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
Due: tests, Backend

feat(core): Make loadWorkflow docs easier to understand
  packages/cli/src/public-api/v1/handlers/executions/spec/paths/executions.id.retry.yml
Due: tests, Backend

Add optional typing
  packages/cli/src/public-api/types.ts
Due: tests, Backend

feat(core): Add retry permission for execution by default for all roles
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/public-api-permissions.ee.ts
Due: tests, Backend

refactor(core): Make retry endpoint return full execution object over just the status string (#19293)
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/executions/execution.types.ts
  packages/cli/src/public-api/v1/handlers/executions/executions.handler.ts
  packages/cli/test/integration/public-api/executions.test.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/views/WorkflowExecutionsView.vue
Due: tests, Backend, Frontend

Add unit tests for all known error cases on retry execution
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

Don't include misleading data from original execution in retried execution
  packages/cli/src/executions/execution.service.ts
Due: tests, Backend

Fix formatting
  packages/cli/test/integration/public-api/executions.test.ts
Due: none

fix tests
  packages/frontend/editor-ui/src/components/AssignmentCollection/Assignment.test.ts
  packages/frontend/editor-ui/src/components/ParameterInputOverrides/ParameterOverrideSelectableList.test.ts
Due: none

💄 Increase table density
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ElDatePickerCellEditor.vue
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
Due: tests, Frontend

fix mapper pane position
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
