Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

update api with filters
  packages/frontend/editor-ui/src/features/insights/insights.api.ts
Due: tests, Frontend

implement time range
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: tests, Frontend

🐛 Make sure to render name input when projects are not enabled
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
Due: tests, Frontend

wip: clean up
  packages/frontend/editor-ui/src/components/TestDefinition/EditDefinition/sections/ConfigSection.vue
  packages/frontend/editor-ui/src/views/TestDefinition/TestDefinitionEditView.vue
Due: tests, Frontend

remove redundant test
  packages/cli/src/workflows/workflow-sharing.service.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: tests, Backend

fix incorrect run index mapping in the logs view
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/__test__/data.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/RunDataView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/stores/ndv.store.ts
Due: tests, Frontend

Allow EU customer.io domains in credential
  packages/nodes-base/credentials/CustomerIoApi.credentials.ts
Due: tests, Nodes

removing the methods property
  packages/nodes-base/nodes/Perplexity/Perplexity.node.ts
Due: tests, Nodes

Add also test for member
  packages/cli/test/integration/credentials/credentials.api.test.ts
Due: none

Update package.json
  packages/nodes-base/package.json
Due: tests, Nodes

fix: Filter out 'undefined' when finding paired items
  packages/workflow/src/WorkflowDataProxy.ts
Due: tests, Backend

Add onlySharedWithMe filter to GET /credentials endpoint
  packages/@n8n/api-types/src/dto/credentials/credentials-get-many-request.dto.ts
  packages/cli/src/credentials/credentials.controller.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/test/integration/credentials/credentials.api.test.ts
Due: tests, Backend

mrge-io review updates
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/utils/__tests__/strapi-utils.test.ts
  packages/cli/src/utils/npm-utils.ts
  packages/cli/src/utils/strapi-utils.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/api/nodeTypes.ts
  packages/frontend/editor-ui/src/components/CommunityPackageCard.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/CommunityNodeItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDocsLink.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/NodesListPanel.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Renderers/CategorizedItemsRenderer.vue
  packages/frontend/editor-ui/src/composables/usePushConnection.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/utils/nodeIcon.ts
  packages/frontend/editor-ui/src/views/SettingsCommunityNodesView.vue
Due: tests, Backend, Frontend

review updates
  packages/cli/src/controllers/community-packages.controller.ts
  packages/cli/src/services/community-packages.service.ts
  packages/frontend/editor-ui/src/api/nodeTypes.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: tests, Backend, Frontend

onInstall refactoring
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.vue
Due: tests, Frontend

fix missing import
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDocsLink.vue
Due: tests, Frontend

fix(core): Fix task runner's task timeout and heartbeat interval
  docker/images/n8n/n8n-task-runners.json
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/task-runner-process.ts
Due: tests, Backend

chore: Add multi-main mode to debug info (#14835)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/composables/useDebugInfo.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: tests, Backend, Frontend

fix: wrong condition to show 'Multiple inputs'
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/RunDataView.vue
Due: tests, Frontend

feat. Add new node Novita AI which provides chat models.
  packages/@n8n/nodes-langchain/credentials/NovitaAiApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatNovitaAi/LmChatNovitaAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatNovitaAi/novita.dark.svg
  packages/@n8n/nodes-langchain/nodes/llms/LmChatNovitaAi/novita.svg
  packages/@n8n/nodes-langchain/package.json
Due: tests, Nodes

test fix
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
Due: none

perf: reduce allocation when accumulating flattened logs
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
Due: tests, Frontend

refactor(core): Upgrade `axios` to address AIKIDO-2025-10185
  package.json
  pnpm-lock.yaml
Due: tests

Update catalog
  pnpm-workspace.yaml
Due: tests

Redo lockfile
  pnpm-lock.yaml
Due: tests

fix e2e test
  cypress/e2e/39-projects.cy.ts
Due: tests

👌 Breadcrumbs alignment improvements
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/components/InlineTextEdit.vue
Due: tests, Frontend

remove only
  cypress/e2e/39-projects.cy.ts
Due: tests

fix(core): Fix task runner's task timeout and heartbeat interval (#14889)
  docker/images/n8n/n8n-task-runners.json
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/task-runner-process.ts
Due: tests, Backend

perf(editor): Improve performance of the new logs view (#14861)
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
