Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

fix(editor): Fix JsonEditor with expressions (#12739)
  packages/editor-ui/src/components/JsonEditor.test.ts
  packages/editor-ui/src/components/JsonEditor/JsonEditor.vue
Due: tests, Frontend

wip: saving test run executions statuses
  packages/cli/src/databases/entities/test-run-executions.ee.ts
  packages/cli/src/databases/migrations/common/1736947513045-CreateTestRunExecutionsTable.ts
  packages/cli/src/databases/repositories/test-run-executions-mapping.repository.ee.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
Due: tests, Backend

👌 Extracting payload logic to helpers, adding second trim pass
  packages/editor-ui/src/api/ai.ts
  packages/editor-ui/src/composables/useAIAssistantHelpers.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/stores/assistant.store.ts
Due: tests, Frontend

test: Fix failing core tests
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
Due: none

setup
  packages/nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
Due: tests, Nodes

refactor(core): Extract hooks out of workflow-execute-additional-data (no-changelog) (#12749)
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/__tests__/restore-binary-data-id.test.ts
  packages/cli/src/execution-lifecycle/__tests__/save-execution-progress.test.ts
  packages/cli/src/execution-lifecycle/__tests__/to-save-settings.test.ts
  packages/cli/src/execution-lifecycle/execute-error-workflow.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/execution-lifecycle/restore-binary-data-id.ts
  packages/cli/src/execution-lifecycle/save-execution-progress.ts
  packages/cli/src/execution-lifecycle/shared/__tests__/shared-hook-functions.test.ts
  packages/cli/src/execution-lifecycle/shared/shared-hook-functions.ts
  packages/cli/src/execution-lifecycle/to-save-settings.ts
  packages/cli/src/executions/execution-recovery.service.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/utils/__tests__/object-to-error.test.ts
  packages/cli/src/utils/object-to-error.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflow-runner.ts
Due: tests, Backend

test: Fix failing core tests (#12752)
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
Due: none

refactor(core): Move WorkflowHooks to core, improve type-safety, and add tests (no-changelog)
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/executions/execution-recovery.service.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/workflow-runner.ts
  packages/core/src/__tests__/node-execute-functions.test.ts
  packages/core/src/execution-engine/__tests__/execution-lifecycle-hooks.test.ts
  packages/core/src/execution-engine/__tests__/triggers-and-pollers.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/index.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
  packages/core/src/execution-engine/triggers-and-pollers.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/core/src/interfaces.ts
  packages/core/src/node-execute-functions.ts
  packages/core/test/helpers/index.ts
  packages/nodes-base/nodes/Google/Calendar/GoogleCalendar.node.ts
  packages/nodes-base/test/nodes/Helpers.ts
  packages/nodes-base/test/nodes/TriggerHelpers.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/WorkflowHooks.ts
  packages/workflow/src/index.ts
Due: tests, Backend, Nodes

👌 Handling errors when detecting payload size
  packages/editor-ui/src/api/ai.ts
  packages/editor-ui/src/composables/useAIAssistantHelpers.ts
  packages/editor-ui/src/utils/objectUtils.ts
Due: tests, Frontend

🐛 Restoring accidentally deleted line
  packages/editor-ui/src/stores/assistant.store.ts
Due: tests, Frontend

🔥 Removing unused imports
  packages/editor-ui/src/stores/assistant.store.ts
Due: tests, Frontend

chore(API): Add styling to credential callback and autoclose window (#12648)
  packages/cli/src/abstract-server.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
  packages/cli/templates/oauth-callback.handlebars
  packages/cli/test/integration/controllers/oauth/oauth2.api.test.ts
Due: tests, Backend

feat: Add SSM endpoint to AWS credentials (#12212)
  packages/nodes-base/credentials/Aws.credentials.ts
Due: tests, Nodes

Bugfix: Show date notice only for date fields
  packages/nodes-base/nodes/Form/common.descriptions.ts
Due: tests, Nodes

moved wait time into options
  packages/nodes-base/utils/sendAndWait/utils.ts
Due: tests, Nodes

👌 Updating error message and tests
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/utils/objectUtils.test.ts
Due: tests, Frontend

✔️ Adding tests for `apiUtils`
  packages/editor-ui/src/utils/apiUtils.test.ts
Due: none

fix(core): Update execution entity and execution data in transaction
  packages/@n8n/config/src/configs/database.config.ts
  packages/cli/src/databases/repositories/__tests__/execution.repository.test.ts
  packages/cli/src/databases/repositories/execution.repository.ts
Due: tests, Backend

✔️ Added initial set of tests for assistant helpers
  packages/editor-ui/src/composables/useAIAssistantHelpers.test.ts
  packages/editor-ui/src/composables/useAIAssistantHelpers.ts
Due: tests, Frontend

ci: Disable task runner for node and nodes tests
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/nodes-base/test/setup.ts
Due: tests, Nodes

fix(core): Fix license CLI commands showing incorrect renewal setting
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/commands/license/clear.ts
  packages/cli/src/commands/license/info.ts
  packages/cli/src/license.ts
Due: tests, Backend

Rename Field to Element
  packages/nodes-base/nodes/Form/common.descriptions.ts
Due: tests, Nodes

Add ability to have read-only HTML elements
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/Form/utils.ts
  packages/workflow/src/Interfaces.ts
Due: tests, Backend, Nodes

Add tests to Form node
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils.ts
Due: tests, Nodes

ci: Disable task runner for core and nodes tests (#12757)
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/nodes-base/test/setup.ts
Due: tests, Nodes

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/chat/**, packages/@n8n/codemirror-lang/**, packages/design-system/**, packages/editor-ui/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
