Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

fix(editor): Simplify component data
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
Due: tests, Frontend

start insights timers also in non-scaling mode
  packages/cli/src/modules/insights/insights.init.ts
Due: tests, Backend

initialize modules after license state has been initialized
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/webhook.ts
  packages/cli/src/commands/worker.ts
Due: tests, Backend

feat(OpenAI Chat Model Node): update default model to gpt-4.1-mini
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: tests, Nodes

Revert "start insights timers also in non-scaling mode"
  packages/cli/src/modules/insights/insights.init.ts
Due: tests, Backend

fix(editor): Add user role tooltip to personal settings page (#15941)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/stores/cloudPlan.store.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.test.ts
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
Due: tests, Frontend

Create Feed 360
  Feed 360
Due: tests

feat(ADO-3519): copy change in options
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/DocumentDefaultDataLoader.node.ts
Due: tests, Nodes

fix(editor): Handle empty state after last resources are transferred from a project
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

implement auto selection and add tests
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasRunWorkflowButton.test.ts.snap
  packages/frontend/editor-ui/src/utils/executionUtils.test.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

fix(core)!: Change last activity to use unix time (#15951)
  packages/cli/BREAKING-CHANGES.md
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.test.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
  packages/cli/test/integration/prometheus-metrics.test.ts
Due: tests, Backend

style tweaks
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

Small refactor to move log output for insights flushing
  packages/cli/src/modules/insights/insights-collection.service.ts
Due: tests, Backend

refactor(editor): Add some null checks on selected project
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.vue
Due: tests, Frontend

Basic implementation of cohere reranker
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/RerankerCohere.node.ts
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/cohere.dark.svg
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/cohere.svg
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/logWrapper.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Nodes

fix position of input
  packages/workflow/src/interfaces.ts
Due: tests, Backend

Move reranking to handleLoadOperation()
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/loadOperation.ts
Due: tests, Nodes

Add option to use reranker in Vector Stores, and use reranker in execute()
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
Due: tests, Nodes

WIP retrieveAsTool operation for reranker nodes
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/retrieveAsToolOperation.ts
Due: tests, Nodes

fix the data returned
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/retrieveAsToolOperation.ts
  packages/@n8n/nodes-langchain/utils/logWrapper.ts
Due: tests, Nodes

chore(core): Refactor logging for insights flushing (#15978)
  packages/cli/src/modules/insights/insights-collection.service.ts
Due: tests, Backend

feat(editor): Use node name as tool name at Vector Store retriever tool nodes (#15917)
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/__snapshots__/createVectorStoreNode.test.ts.snap
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/__tests__/operationHandlers.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/__tests__/retrieveAsToolOperation.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/operations/retrieveAsToolOperation.ts
Due: tests, Nodes

feat(editor): Show the simple vector store first in the nodes panel (no-changelog) (#15931)
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreInMemory/VectorStoreInMemory.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/__snapshots__/createVectorStoreNode.test.ts.snap
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/createVectorStoreNode.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/types.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useViewStacks.ts
Due: tests, Frontend, Nodes

feat(Default Data Loader Node): Add default text splitter (#15786)
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/DocumentDefaultDataLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/test/DocumentDefaultDataLoader.node.test.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/DocumentGithubLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/test/DocumentGithubLoader.node.test.ts
Due: tests, Nodes

refactor(core): Lazy-load sentry sdk again
  packages/core/src/errors/error-reporter.ts
Due: tests, Backend

restore attributes
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasRunWorkflowButton.test.ts.snap
Due: tests, Frontend

pubsub registry should pass the event arguments to the handlers
  packages/cli/src/scaling/pubsub/__tests__/pubsub.registry.test.ts
  packages/cli/src/scaling/pubsub/pubsub.registry.ts
Due: tests, Backend

fix(Code Node): Block selected module imports in python code (#15970)
  packages/nodes-base/nodes/Code/Pyodide.ts
Due: tests, Nodes
