Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

fix(editor): update project settings to persist only name and description
  packages/frontend/editor-ui/src/stores/projects.store.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.test.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Due: tests, Frontend

fix: WooCommerce query authentication causing HPE_HEADER_OVERFLOW
  packages/nodes-base/credentials/WooCommerceApi.credentials.ts
Due: tests, Nodes

merge read-list and workflow update-execute
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.test.ts
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.vue
Due: tests, Frontend

fix: update project role handling and improve type safety
  packages/cli/src/services/project.service.ee.ts
  packages/frontend/editor-ui/src/api/projects.api.ts
  packages/frontend/editor-ui/src/stores/projects.store.ts
Due: tests, Backend, Frontend

fix type issue
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.test.ts
Due: none

fix: duplicate entries in the log view when wait node is waiting for webhook call
  packages/@n8n/api-types/src/push/execution.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/nodeExecuteAfter.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
Due: tests, Backend, Frontend

fix: log view keeps showing running state after manual execution is stopped
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
Due: tests, Frontend

test: Skip failing workflow tests (#19880)
  .github/workflows/test-workflows-callable.yml
  .github/workflows/test-workflows-pr-approved.yml
  packages/testing/playwright/tests/cli-workflows/workflowConfig.json
  packages/testing/playwright/tests/cli-workflows/workflows/195.json
Due: tests

✔️ Initial tests for MCP settings page
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.test.ts
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.vue
Due: tests, Frontend

Updating scrollbar to auto.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: tests, Frontend

remove placeholder test
  packages/frontend/editor-ui/src/features/project-roles/ProjectRolesView.test.ts
Due: none

fix form dirty comparison
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.vue
Due: tests, Frontend

Some more minor updates - setting canvas to 4 lines due to its width and setting 1000 character limit.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
Due: tests, Frontend

fix(Gmail Trigger Node): Show warning about multiple items returned
  packages/nodes-base/nodes/Google/Gmail/GmailTrigger.node.ts
Due: tests, Nodes

inline style cleanup and i18n
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.vue
  packages/frontend/editor-ui/src/features/project-roles/ProjectRolesView.vue
Due: tests, Frontend

translations
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.vue
Due: tests, Frontend

cleanup e2e test workflow
  packages/testing/playwright/workflows/webhook-misconfiguration-test.json
Due: tests

update dep
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests

Revert scss file deletion
  packages/frontend/@n8n/design-system/src/css/display.scss
Due: tests, Frontend

feat(editor): Change default sidebar state to collapsed (#19692)
  cypress/composables/sidebar.ts
  cypress/e2e/18-user-management.cy.ts
  cypress/e2e/27-cloud.cy.ts
  cypress/e2e/49-folders.cy.ts
  cypress/pages/settings-users.ts
  cypress/pages/sidebar/main-sidebar.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/tests/ui/36-versions.spec.ts
  packages/testing/playwright/tests/ui/37-become-creator-cta.spec.ts
  packages/testing/playwright/tests/ui/39-projects.spec.ts
Due: tests, Frontend

feat(editor): Hide trial banner on first visit (no-changelog) (#19756)
  cypress/e2e/27-cloud.cy.ts
  packages/frontend/editor-ui/src/init.test.ts
  packages/frontend/editor-ui/src/init.ts
Due: tests, Frontend

fix(editor): Ready to run v2 save instead of import (no-changelog) (#19821)
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/utils/workflowSamples.ts
  packages/frontend/editor-ui/src/utils/templates/workflowSamples.ts
Due: tests, Frontend

:rocket: Release 1.112.4
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/frontend/editor-ui/package.json
Due: tests, Backend, Frontend

chore(core): Add authentication for credential overwrite endpoint (#19836)
  packages/@n8n/config/src/configs/credentials.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/__tests__/credentials-overwrites.test.ts
  packages/cli/src/credentials-overwrites.ts
  packages/cli/src/scaling/__tests__/worker-server.test.ts
  packages/cli/src/scaling/worker-server.ts
  packages/cli/src/server.ts
Due: tests, Backend

check if custom role is assigned to a user globally or for a project and throw bad request on delete if that's the case
  packages/cli/src/services/role.service.ts
  packages/cli/test/integration/services/role.service.test.ts
Due: tests, Backend

add stopExecutionButton method
  packages/testing/playwright/pages/CanvasPage.ts
Due: tests

Do not construct folder breadcrumbs for shared context
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.test.ts
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
Due: tests, Frontend

✔️ Add more tests for settings page
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.test.constants.ts
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.test.ts
  packages/frontend/editor-ui/src/features/mcpAccess/SettingsMCPView.vue
Due: tests, Frontend

fix(core): Surface workflow config errors to the webhook caller (#19858)
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/testing/playwright/tests/ui/webhook-external-trigger.spec.ts
  packages/testing/playwright/workflows/webhook-misconfiguration-test.json
Due: tests, Backend

Adding undefined default properties.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
Due: tests, Frontend

Updating canvas node test cases.
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeAIPrompt.test.ts.snap
Due: none

feat(core): Throw customized error on assigned custom role deletion (#19900)
  packages/cli/src/services/role.service.ts
  packages/cli/test/integration/services/role.service.test.ts
Due: tests, Backend

Keep same connection type as before on disconnect
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
Due: tests, Backend

Improve readability of initRepository method
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
Due: tests, Backend

Reorder private methods
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
Due: tests, Backend

Make condition more specific for git command
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
Due: tests, Backend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
