Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

ci: Add pnpm to dev container
  .devcontainer/Dockerfile
Due: tests

tmp
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: tests, Frontend

refactor(core): Extract functions from executeWebhook
  packages/cli/src/webhooks/webhook-helpers.ts
Due: tests, Backend

fix condition to show focus button
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
Due: tests, Frontend

Remove isForCredential
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: tests, Frontend

wip: add empty instance card
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests, Frontend

fix(editor): Mitigate performance issue in FE manual executions (#17119)
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
Due: tests, Frontend

fix: Stack pull/stop in setup
  packages/testing/playwright/global-setup.ts
Due: tests

feat:Add Playwright CI workflow with Docker pull (no-changelog)
  .github/workflows/playwright-test-docker-pull.yml
  .github/workflows/playwright-test.yml
Due: tests

Feat: Add playwright workflow (no-changelog)
  .github/workflows/playwright-test.yml
  turbo.json
Due: tests

feat: Update icon
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/versionDescription.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/gemini.svg
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/google.svg
Due: tests, Nodes

feat(AI Agent Tool Node): Add Agent Tool (#17108)
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/AgentTool.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentToolV2.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/utils.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/description.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/utils.test.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/utils/descriptions.ts
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/@n8n/nodes-langchain/utils/output_parsers/N8nOutputParser.ts
Due: tests, Nodes

Use activeNode to hide Assistant floating button
  packages/frontend/editor-ui/src/stores/assistant.store.ts
Due: tests, Frontend

feat(editor): Zoom into a node to open experimental embedded NDV (no-changelog) (#16912)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasControlButtons.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
Due: tests, Frontend

Update tests
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
Due: none

Autofocus Fixed/Expression in FocusPanel
  packages/frontend/editor-ui/src/components/ExpressionEditorModal/ExpressionEditorModalInput.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: tests, Frontend

Refactor tests and fix users password typing
  packages/@n8n/db/src/entities/user.ts
  packages/cli/src/external-hooks.ts
  packages/cli/test/integration/shared/db/users.ts
  packages/cli/test/integration/users.api.test.ts
Due: tests, Backend

ci: Add pnpm to dev container (#17151)
  .devcontainer/Dockerfile
Due: tests

wip: add in empty workflow
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAddNodes.vue
Due: tests, Frontend

feat(Google Gemini Node): New node (#16863)
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/GoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/transcribe.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/descriptions.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/document/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/document/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/upload.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/node.type.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/router.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/router.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/text/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/versionDescription.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/download.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/video/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/gemini.svg
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/baseAnalyze.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/interfaces.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/listSearch.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/listSearch.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/transport/index.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/transport/index.ts
  packages/@n8n/nodes-langchain/package.json
Due: tests, Nodes

fix(core): On OAuth access token update only update partial credential (#17135)
  packages/cli/src/__tests__/credentials-helper.test.ts
  packages/cli/src/credentials-helper.ts
  packages/core/nodes-testing/credentials-helper.ts
  packages/core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend

sandbox when content-type is html
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/test/RespondToWebhook.test.ts
Due: tests, Nodes

Fix typings
  packages/@n8n/db/src/entities/user.ts
  packages/cli/src/services/password.utility.ts
  packages/cli/test/integration/controllers/invitation/invitation.controller.integration.test.ts
  packages/cli/test/integration/password-reset.api.test.ts
Due: tests, Backend

fix(editor): Fix RAG Callout keyboard navigation in nodes search (#17099)
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Due: tests, Frontend

use variable in core
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
Due: tests, Nodes

fix(AI Agent Node): Prevent fallback input to be added in version <2.1 (#17094)
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
Due: tests, Nodes

:rocket: Release 1.102.1
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder/package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/db/package.json
  packages/@n8n/decorators/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: tests, Backend, Frontend, Nodes

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
