Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/ai-workflow-builder.ee/**
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/decorators/**
        - packages/@n8n/constants/**
        - packages/@n8n/backend-common/**
        - packages/@n8n/backend-test-utils/**
        - packages/@n8n/errors/**
        - packages/@n8n/db/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/@n8n/task-runner-python/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**
      statuses:
        - type: project
          target: auto
          threshold: 0% # Enforce: Coverage must not decrease

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  - (?s:.*/test_[^\/]*\.py.*)\Z

fix: Only support specified git config keys in Git node (#23264)
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/nodes-base/nodes/Git/Git.node.ts
  packages/nodes-base/nodes/Git/descriptions/AddConfigDescription.ts
  packages/nodes-base/nodes/Git/test/Git.node.test.ts
Due: tests, Backend, Nodes

feat(editor): Iterate on ready to run v2 (no-changelog) (#23122)
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.test.ts
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/app/constants/experiments.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v5.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v6.ts
Due: tests, Frontend

:rocket: Release 2.1.1
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/config/package.json
  packages/@n8n/db/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/frontend/editor-ui/package.json
  packages/nodes-base/package.json
Due: tests, Backend, Frontend, Nodes

👌 Remove search icon support
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.stories.ts
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.types.ts
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuItem.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuSearch.test.ts
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuSearch.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/__snapshots__/DropdownMenuSearch.test.ts.snap
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/component-dropdown-menu.md
Due: tests, Frontend

Add patch for /credentials/id enpoint
  packages/cli/src/public-api/v1/handlers/credentials/credentials.handler.ts
  packages/cli/src/public-api/v1/handlers/credentials/spec/paths/credentials.id.yml
  packages/cli/src/public-api/v1/handlers/credentials/spec/schemas/update-credential.yml
  packages/cli/test/integration/public-api/credentials.test.ts
Due: tests, Backend

chore: Improve debug log message
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
Due: tests, Backend

👌 Move search out of content area
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
Due: tests, Frontend

:rocket: Release 1.123.7 (#23352)
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/config/package.json
  packages/@n8n/db/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/nodes-base/package.json
Due: tests, Backend, Nodes

Add debug configuration for remote n8n process.
  .vscode/launch.json
Due: tests

don't encrypt state for hooks calls
  packages/cli/src/oauth/oauth.service.ts
Due: tests, Backend

update test state
  packages/cli/src/oauth/__tests__/oauth.service.test.ts
Due: none

⚡ Handle highlighted state when navigating with mouse
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuItem.vue
Due: tests, Frontend

⚡ Update focus timeout
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuItem.vue
Due: tests, Frontend

Add array expansion support for fixedCollection parameters
  packages/workflow/src/expression-array-expander.ts
  packages/workflow/src/expression.ts
  packages/workflow/src/extensions/expression-extension.ts
  packages/workflow/src/extensions/index.ts
  packages/workflow/test/ExpressionExtensions/expression-extension.test.ts
  packages/workflow/test/ExpressionExtensions/helpers.ts
  packages/workflow/test/expression-array-expander.test.ts
Due: tests, Backend

adding @n8n/utils/files/path.ts util isWindowsFilePath with tests
  packages/@n8n/utils/src/files/path.test.ts
  packages/@n8n/utils/src/files/path.ts
  packages/@n8n/utils/src/files/sanitize.ts
  packages/@n8n/utils/src/index.ts
Due: tests

⚡ Handle highlight when leaving the menu
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuItem.vue
Due: tests, Frontend

feat: Add buttons to chat messages
  packages/frontend/@n8n/chat/src/components/MessageApproval.vue
  packages/frontend/@n8n/chat/src/components/index.ts
  packages/frontend/@n8n/chat/src/constants/defaults.ts
  packages/frontend/@n8n/chat/src/utils/utils.ts
  packages/frontend/editor-ui/src/features/execution/logs/composables/useChatState.ts
Due: tests, Frontend

Update packages/cli/src/public-api/v1/handlers/credentials/credentials.handler.ts
  packages/cli/src/public-api/v1/handlers/credentials/credentials.handler.ts
Due: tests, Backend

ci: Revert jest memory change (#23243)
  jest.config.js
Due: tests

⚡ Add event when individual submenus are toggled
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.stories.ts
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.types.ts
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/component-dropdown-menu.md
Due: tests, Frontend

fix: Don't encrypt state for hooks calls (#23357)
  packages/cli/src/oauth/__tests__/oauth.service.test.ts
  packages/cli/src/oauth/oauth.service.ts
Due: tests, Backend

chore(core): Debug configuration for remote n8n process (#23356)
  .vscode/launch.json
Due: tests

fix slot based content
  packages/frontend/@n8n/design-system/src/v2/components/Checkbox/Checkbox.vue
Due: tests, Frontend

fix slot based content
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMoveResourceModal.vue
  packages/frontend/editor-ui/src/features/core/folders/components/MoveToFolderModal.vue
  packages/frontend/editor-ui/src/features/execution/executions/components/global/GlobalExecutionsList.test.ts
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPushModal.vue
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/views/SettingsSourceControl.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/ConfirmProvisioningDialog.vue
  packages/frontend/editor-ui/src/features/settings/usage/components/EulaAcceptanceModal.vue
  packages/frontend/editor-ui/src/features/settings/usage/components/__tests__/EulaAcceptanceModal.test.ts
Due: tests, Frontend

remove unused prop
  packages/frontend/@n8n/design-system/src/components/N8nFormInput/FormInput.vue
Due: tests, Frontend

fix: Open links in new tab, styling
  packages/frontend/@n8n/chat/src/components/MessageApproval.vue
Due: tests, Frontend

💄 Sync skeleton styles with regular items
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenu.vue
  packages/frontend/@n8n/design-system/src/v2/components/DropdownMenu/DropdownMenuItem.vue
Due: tests, Frontend

remove unused
  packages/frontend/@n8n/design-system/src/components/N8nFormInput/FormInput.vue
Due: tests, Frontend

Show tooltip on disabled publish button due to missing permission
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.test.ts
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: tests, Frontend

restore styles
  packages/frontend/editor-ui/src/features/workflows/templates/components/TemplateFilters.vue
Due: tests, Frontend

Match wording of other project scopes
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: tests, Frontend

Remove test stub after merging master which removed the indicator
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.test.ts
Due: none

Fix skipping auth for OAuth callback
  packages/cli/src/oauth/oauth.service.ts
Due: tests, Backend

Improving evaluators based on a set of runs.
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/evaluators/best-practices-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/evaluators/functionality-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/evaluators/node-configuration-evaluator.ts
Due: tests, Backend

Fix format after merge
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: tests, Frontend

fix fall through attrs
  packages/frontend/@n8n/design-system/src/v2/components/Checkbox/Checkbox.vue
Due: tests, Frontend

Fix workflow activator test setup
  packages/frontend/editor-ui/src/app/components/WorkflowActivator.test.ts
Due: none
