Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

don't show projects on community
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/Sidebar.vue
  packages/frontend/editor-ui/src/components/MainSidebar.vue
Due: tests, Frontend

test: Add the setup
  packages/@n8n/backend-test-utils/src/db/executions.ts
  packages/@n8n/backend-test-utils/src/index.ts
  packages/@n8n/db/src/migrations/migration-helpers.ts
Due: tests

add explaination for pinning previous exec data
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/RunData.vue
Due: tests, Frontend

feat(editor): Add more commands to the root command bar
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: tests, Frontend

Add margin to top of schema
  packages/frontend/editor-ui/src/components/LastSuccessfulExecutionSchema.vue
Due: tests, Frontend

feat: Don't show variables and context for ghost schema
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
Due: tests, Frontend

fix(editor): Disable 'hold space to rename' function for hackathon purposes
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: tests, Frontend

feat(editor): Match node opening also by node type
  packages/frontend/editor-ui/src/composables/useCommandBar.ts
Due: tests, Frontend

fix: fix race condition
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/workers/expressions/worker.ts
Due: tests, Frontend

format date, update header
  packages/frontend/@n8n/design-system/src/components/AccordionHeader/AccordionHeader.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/LastSuccessfulExecutionSchema.vue
Due: tests, Frontend

Make connection status clearer
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/composables/useVSCodeIntegration.ts
  packages/frontend/editor-ui/src/stores/vscodeSync.store.ts
Due: tests, Frontend

fix: Use foreground-dark for dashed border
  packages/frontend/editor-ui/src/components/VirtualSchemaHeader.vue
  packages/frontend/editor-ui/src/components/VirtualSchemaItem.vue
Due: tests, Frontend

update header
  packages/frontend/@n8n/design-system/src/components/AccordionHeader/AccordionHeader.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/LastSuccessfulExecutionSchema.vue
Due: tests, Frontend

clean up css
  packages/frontend/@n8n/design-system/src/components/AccordionHeader/AccordionHeader.vue
Due: tests, Frontend

fix and sort import
  packages/@n8n/backend-test-utils/src/db/executions.ts
  packages/cli/src/databases/1720101653148-AddConstraintToExecutionMetadata.test.ts
Due: tests

fix bug when switching to new workflow
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

feat(editor): Workflow activation/deactivation via command bar
  packages/frontend/editor-ui/src/composables/useCommandBar.ts
Due: tests, Frontend

remove duplicate instanceid property
  packages/cli/src/telemetry/index.ts
Due: tests, Backend

Implement vscode:run-node
  packages/frontend/editor-ui/src/stores/vscodeSync.store.ts
Due: tests, Frontend

feat: Add code suggestions in the code editor
  packages/frontend/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/composables/useCodeEditor.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/client/useTypescript.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/types.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/constants.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/npmTypesLoader.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/typescript.worker.ts
Due: tests, Frontend

refresh last successful execution on clearing execution data
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

fix: test linting
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
Due: none

test: Add debugging
  packages/cli/src/databases/1720101653148-AddConstraintToExecutionMetadata.test.ts
Due: none

disable for readonly env
  packages/frontend/editor-ui/src/components/RunData.vue
Due: tests, Frontend

Implement sending run results to vscode
  packages/frontend/editor-ui/src/stores/vscodeSync.store.ts
Due: tests, Frontend

feat(editor): Include workflow search results on the command bar seen on node view
  packages/frontend/editor-ui/src/composables/useCommandBar.ts
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

feat(editor): Update formatting of root command bar items
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend

feat(editor): Show matched node icon in the workflows command bar
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend

feat: Update types on dependencies changed
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/client/useTypescript.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/types.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/typescript.worker.ts
Due: tests, Frontend

fix(editor): Ensure matched node is only found when lastQuery is defined
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend

feat(editor): Fix opening workflows from command bar
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend

feat: Small improvements
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/nodes-base/nodes/Code/descriptions/JavascriptCodeDescription.ts
Due: tests, Backend, Nodes

Implement undo/redo
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
  packages/frontend/editor-ui/src/stores/collaboration.store.ts
Due: tests, Frontend

WIP: sticky footer
  packages/frontend/@n8n/design-system/src/components/AccordionHeader/AccordionHeader.vue
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/LastSuccessfulExecutionSchema.vue
  packages/frontend/editor-ui/src/components/RunData.vue
Due: tests, Frontend

WIP: Pass parameters for operation selection correctly in toolkit calls
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/core/src/execution-engine/node-execution-context/utils/create-node-as-tool.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: tests, Backend

collapse execute run data
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
Due: tests, Frontend

Add server routed vscode integration
  packages/cli/src/controllers/vscode.controller.ts
  packages/cli/src/server.ts
  packages/frontend/editor-ui/src/stores/vscodeSync.store.ts
Due: tests, Backend, Frontend

have it work
  packages/@n8n/backend-test-utils/src/db/workflows.ts
  packages/@n8n/db/src/migrations/common/1723627610222-CreateInvalidAuthTokenTable.ts
  packages/@n8n/db/src/migrations/migration-helpers.ts
  packages/cli/src/databases/1720101653148-AddConstraintToExecutionMetadata.test.ts
Due: tests

feat(editor): Change texts on the root command bar
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend

chore(editor): add some todo comments on the command bar
  packages/frontend/editor-ui/src/composables/useRootCommandBar.ts
Due: tests, Frontend
