Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/ai-workflow-builder.ee/**
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/decorators/**
        - packages/@n8n/constants/**
        - packages/@n8n/backend-common/**
        - packages/@n8n/backend-test-utils/**
        - packages/@n8n/errors/**
        - packages/@n8n/db/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/@n8n/task-runner-python/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**
      statuses:
        - type: project
          target: auto
          threshold: 0% # Enforce: Coverage must not decrease

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  - (?s:.*/test_[^\/]*\.py.*)\Z

fix: remove irrelevant tests
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: none

⚡ Fix back-end query
  build.log
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/@n8n/db/src/utils/build-workflows-by-nodes-query.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
Due: tests, Backend

ci: Always upload UI coverage
  .github/workflows/playwright-test-coverage.yml
Due: tests

fix: Upgrade urllib3 in runners image (#22975)
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/uv.lock
Due: tests, Backend

⚡ Toggle workflow MCP access when saved
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/modals/MCPConnectWorkflowsModal.vue
Due: tests, Frontend

fix(chat): update import for emptyChatModelsResponse in chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: tests, Frontend

✨ Implement search
  packages/cli/src/middlewares/list-query/filter.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.vue
Due: tests, Backend, Frontend

feat: Allow running Playwright e2e tests using Vite dev server (no-changelog) (#22742)
  package.json
  packages/testing/playwright/README.md
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/global-setup.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright-projects.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/utils/url-helper.ts
Due: tests

more unified getOptions() and using both hostId and type (bull) for redis connectionName
  packages/cli/src/services/redis-client.service.ts
Due: tests, Backend

feat: Support oauth1 authorization for dynamic credentials (#22972)
  packages/cli/src/controllers/oauth/__tests__/oauth1-credential.controller.test.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/controllers/oauth/oauth1-credential.controller.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
  packages/cli/src/modules/dynamic-credentials.ee/__tests__/dynamic-credentials.controller.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/dynamic-credentials.controller.ts
  packages/cli/src/oauth/__tests__/oauth.service.test.ts
  packages/cli/src/oauth/oauth.service.ts
  packages/cli/src/oauth/types.ts
Due: tests, Backend

✨ Allow specifying scope when listing workflows
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/src/workflows/workflow.service.ts
Due: tests, Backend

ci: Add UI checks for community PR's
  .github/workflows/playwright-test-ci.yml
Due: tests

feat(core): Add beta tag on Chat (no-changelog)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatSidebarContent.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectNavigation.vue
Due: tests, Frontend

Update packages/nodes-base/utils/sendAndWait/utils.ts
  packages/nodes-base/utils/sendAndWait/utils.ts
Due: tests, Nodes

fix: always use data url
  packages/cli/src/modules/chat-hub/__tests__/chat-hub-workflow.service.test.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.attachment.service.ts
Due: tests, Backend

Initial changes with URL support
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/createStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/uploadToStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
Due: tests, Nodes

Use correct license flag for dyn credentials
  packages/cli/src/modules/dynamic-credentials.ee/dynamic-credentials.module.ts
Due: tests, Backend

fix: fix type issues
  packages/frontend/editor-ui/src/app/views/OAuthConsentView.vue
  packages/frontend/editor-ui/src/features/settings/communityNodes/views/SettingsCommunityNodesView.vue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsLdapView.vue
  packages/frontend/editor-ui/src/features/settings/usage/views/SettingsUsageAndPlan.vue
  packages/frontend/editor-ui/src/features/workflows/templates/views/TemplatesSearchView.vue
Due: tests, Frontend

ci: Add UI checks for community PR's (#22980)
  .github/workflows/playwright-test-ci.yml
Due: tests

🔨 Extract workflow location and re-use it in table and select
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPWorkflowsSelect.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/WorkflowLocation.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.vue
Due: tests, Frontend

fix: removed sharedWithProjects from oauth authorization request
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialEdit.vue
Due: tests, Frontend

chore(core): Use correct license flag for dynamic credentials (#22982)
  packages/cli/src/modules/dynamic-credentials.ee/dynamic-credentials.module.ts
Due: tests, Backend

fix text file detection
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
Due: tests, Backend

Combine code into performResumableUpload
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
Due: tests, Nodes

fix duplicate selector
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
Due: tests, Frontend

cleanup
  packages/cli/src/modules/chat-hub/__tests__/chat-hub-workflow.service.test.ts
  packages/cli/src/modules/chat-hub/chat-hub.attachment.service.ts
Due: tests, Backend

revert temporary change
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
Due: tests, Backend

refactor: revert CredentialEdit.vue changes
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialEdit.vue
Due: tests, Frontend

fix(ai-builder): Refresh license in sdk when renewed (#22969)
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/license.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
  packages/cli/src/services/__tests__/ai.service.test.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
  packages/cli/src/services/ai.service.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Backend

fix: Duplicate selector in workflow settings (#22984)
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
Due: tests, Frontend

fix: Reduce OAuth authorization request by excluding shared projects
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialEdit.vue
Due: tests, Frontend

unused var
  packages/cli/src/modules/chat-hub/__tests__/chat-hub-workflow.service.test.ts
Due: none

Implement modal to edit/create credential resolver. add resolver selection into workflow settings
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/credentialResolvers.ts
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.test.ts
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.vue
  packages/frontend/editor-ui/src/app/components/Modals.vue
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.test.ts
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/app/constants/modals.ts
  packages/frontend/editor-ui/src/app/stores/ui.store.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Frontend

fix typecheck
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.test.ts
Due: none

fix lazyConnect not respected from cluster client if only set in redisOptions.
  packages/cli/src/services/redis-client.service.ts
Due: tests, Backend

fix tests. Improve type casting
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.test.ts
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.vue
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.test.ts
Due: tests, Frontend

First shot at adding a dynamic credential section on the credential edit modal
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialConfig.test.ts
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialConfig.vue
  packages/frontend/editor-ui/src/features/credentials/credentials.types.ts
Due: tests, Frontend

Create versionId if not existing, update tests
  packages/@n8n/backend-test-utils/src/db/workflows.ts
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
  packages/cli/test/integration/environments/source-control-import.service.test.ts
Due: tests, Backend

Support binary format
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/file/uploadToStore.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/helpers/utils.ts
Due: tests, Nodes
