Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EMRContainers/AwsEMRContainers.node.json
  packages/nodes-base/nodes/Aws/EMRContainers/AwsEMRContainers.node.ts
  packages/nodes-base/nodes/Aws/EMRServerless/AwsEMRServerless.node.ts
  packages/nodes-base/nodes/Aws/GlueCrawlers/AwsGlueCrawlers.node.json
  packages/nodes-base/nodes/Aws/GlueCrawlers/AwsGlueCrawlers.node.ts
  packages/nodes-base/nodes/Aws/GlueCrawlers/descriptions/index.ts
  packages/nodes-base/nodes/Aws/GlueCrawlers/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/GlueCrawlers/gluecrawlers.svg
  packages/nodes-base/nodes/Aws/GlueCrawlers/helpers/constants.ts
  packages/nodes-base/nodes/Aws/GlueCrawlers/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/GlueJobs/AwsGlueJobs.node.json
  packages/nodes-base/nodes/Aws/GlueJobs/AwsGlueJobs.node.ts
  packages/nodes-base/nodes/Aws/KinesisFirehose/kinesisfirehose.svg
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/AwsKinesisVideoStreams.node.json
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/AwsKinesisVideoStreams.node.ts
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/descriptions/index.ts
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/helpers/constants.ts
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/KinesisVideoStreams/kinesisvideostreams.svg
  packages/nodes-base/nodes/Aws/MSKClusters/AwsMSKClusters.node.json
  packages/nodes-base/nodes/Aws/MSKClusters/AwsMSKClusters.node.ts
  packages/nodes-base/nodes/Aws/MSKClusters/descriptions/index.ts
  packages/nodes-base/nodes/Aws/MSKClusters/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/MSKClusters/helpers/constants.ts
  packages/nodes-base/nodes/Aws/MSKClusters/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/MSKClusters/mskclusters.svg
  packages/nodes-base/nodes/Aws/MSKConnectors/AwsMSKConnectors.node.json
  packages/nodes-base/nodes/Aws/MSKConnectors/AwsMSKConnectors.node.ts
  packages/nodes-base/nodes/Aws/MSKConnectors/descriptions/index.ts
  packages/nodes-base/nodes/Aws/MSKConnectors/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/MSKConnectors/helpers/constants.ts
  packages/nodes-base/nodes/Aws/MSKConnectors/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/MSKConnectors/mskconnectors.svg
  packages/nodes-base/nodes/Aws/OpenSearchServerless/AwsOpenSearchServerless.node.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/CloudWatchAlarms/cloudwatchalarms.svg
  packages/nodes-base/nodes/Aws/CloudWatchDashboards/cloudwatchdashboards.svg
  packages/nodes-base/nodes/Aws/CloudWatchLogs/cloudwatchlogs.svg
  packages/nodes-base/nodes/Aws/CloudWatchMetrics/cloudwatchmetrics.svg
  packages/nodes-base/nodes/Aws/CloudWatchSynthetics/cloudwatchsynthetics.svg
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/AwsGrafanaWorkspaces.node.json
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/AwsGrafanaWorkspaces.node.ts
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/descriptions/index.ts
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/grafanaworkspaces.svg
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/helpers/constants.ts
  packages/nodes-base/nodes/Aws/GrafanaWorkspaces/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/AwsPrometheusWorkspaces.node.json
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/AwsPrometheusWorkspaces.node.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/descriptions/index.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/helpers/constants.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/PrometheusWorkspaces/prometheusworkspaces.svg
  packages/nodes-base/nodes/Aws/XRayGroups/AwsXRayGroups.node.json
  packages/nodes-base/nodes/Aws/XRayGroups/AwsXRayGroups.node.ts
  packages/nodes-base/nodes/Aws/XRayGroups/descriptions/index.ts
  packages/nodes-base/nodes/Aws/XRayGroups/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/XRayGroups/helpers/constants.ts
  packages/nodes-base/nodes/Aws/XRayGroups/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/XRayGroups/xraygroups.svg
  packages/nodes-base/nodes/Aws/XRayTraces/AwsXRayTraces.node.json
  packages/nodes-base/nodes/Aws/XRayTraces/AwsXRayTraces.node.ts
  packages/nodes-base/nodes/Aws/XRayTraces/descriptions/index.ts
  packages/nodes-base/nodes/Aws/XRayTraces/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/XRayTraces/helpers/constants.ts
  packages/nodes-base/nodes/Aws/XRayTraces/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/XRayTraces/xraytraces.svg
Due: tests, Nodes

fix
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.test.ts
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.ts
Due: tests, Frontend

ci: Fix paths with spaces for Windows compatibility (#21017)
  packages/cli/scripts/build.mjs
Due: tests, Backend

review fix
  packages/nodes-base/nodes/HttpRequest/V3/utils/buffer-decoding.ts
  packages/nodes-base/nodes/HttpRequest/V3/utils/test/buffer-decoding.test.ts
Due: tests, Nodes

feat: Support values configuration type for credentials in MongoDB Vector Store (#20888)
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreMongoDBAtlas/VectorStoreMongoDBAtlas.node.ts
  packages/nodes-base/nodes/MongoDb/GenericFunctions.ts
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
Due: tests, Nodes

render.yaml
  Main＿render.yaml
Due: tests

fix(ai-builder): Format user message to avoid markdown formatting errors
  packages/@n8n/ai-workflow-builder.ee/src/utils/stream-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/stream-processor.test.ts
Due: tests

Update render.yaml to remove unused keys
  render.yaml
Due: tests

Revert "feat: update mcp sdk to 1.20.0"
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Due: tests, Nodes

update snapshot
  packages/frontend/editor-ui/src/features/ndv/components/runData/__snapshots__/VirtualSchema.test.ts.snap
Due: none

feat: Update MCP SDK version
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Due: tests, Nodes

mock i18n keys
  packages/frontend/editor-ui/src/components/VirtualSchemaHeader.test.ts
  packages/frontend/editor-ui/src/features/ndv/components/runData/VirtualSchema.test.ts
Due: none

Update packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/descriptions.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/descriptions.ts
Due: tests, Nodes

fix(editor): Enhance EULA error handling in license activation process
  packages/frontend/editor-ui/src/features/settings/usage/views/SettingsUsageAndPlan.vue
Due: tests, Frontend

ci: Reduce workers to 2
  .github/workflows/playwright-test-reusable.yml
Due: tests

add telemetry
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDataRangePicker.vue
  packages/frontend/editor-ui/src/features/execution/insights/insights.constants.ts
Due: tests, Frontend
