Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

Revert back expressionValues
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/cli/src/controllers/ai.controller.ts
Due: tests, Backend

fix: Enable dev enterprise mode in License class
  .gitignore
  packages/cli/src/license.ts
Due: tests, Backend

feat(core): Add Groq provider support for chat hub (no-changelog)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.constants.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/context-limits.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: tests, Backend, Frontend

Revert back to use Sonnet 4.5 for main agent
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
Due: tests

chore(editor): Improve agent builder prompt field tooltips (#22045)
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
Due: tests, Frontend

fix(core): Update state column type (no-changelog) (#22053)
  packages/@n8n/db/src/migrations/common/1763572724000-ChangeOAuthStateColumnToUnboundedVarchar.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
Due: tests

Define interfaces
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook-metadata.ts
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook.ts
  packages/@n8n/decorators/src/context-establishment/index.ts
Due: tests

Interface definitions
  packages/@n8n/decorators/package.json
  packages/@n8n/decorators/src/context-establishment/__tests__/context-establishment-hook.test.ts
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook-metadata.ts
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook.ts
  packages/@n8n/decorators/src/context-establishment/index.ts
  packages/workflow/src/execution-context.ts
Due: tests, Backend

Hook publish to history list
  packages/frontend/editor-ui/src/app/composables/useWorkflowActivate.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/app/types/externalHooks.ts
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryPublishModal.vue
Due: tests, Frontend

Add to recommended section and introduce tag system based on node type
  packages/frontend/@n8n/design-system/src/components/N8nNodeCreatorNode/NodeCreatorNode.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/constants/nodeCreator.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/ItemTypes/NodeItem.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/nodeCreator.utils.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/views/viewsData.ts
  packages/nodes-base/nodes/DataTable/DataTable.node.json
Due: tests, Frontend, Nodes

feat(core): Move settings for SSO user role provisioning from dedicated page to existing form (#21901)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/components/SettingsSidebar.vue
  packages/frontend/editor-ui/src/app/constants/navigation.ts
  packages/frontend/editor-ui/src/app/router.test.ts
  packages/frontend/editor-ui/src/app/router.ts
  packages/frontend/editor-ui/src/features/settings/provisioning/components/EnableJitProvisioningDialog.vue
  packages/frontend/editor-ui/src/features/settings/provisioning/views/SettingsProvisioningView.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/OidcSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/ConfirmProvisioningDialog.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/UserRoleProvisioningDropdown.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/composables/useAccessSettingsCsvExport.ts
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/composables/useUserRoleProvisioningForm.ts
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/composables/userRoleProvisioning.store.ts
  packages/frontend/editor-ui/src/features/settings/sso/styles/sso-form.module.scss
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.vue
Due: tests, Frontend

Addressed comment
  packages/@n8n/decorators/src/context-establishment/__tests__/context-establishment-hook.test.ts
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook.ts
Due: tests

test: Add tests
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
Due: tests, Backend

self review
  packages/frontend/editor-ui/src/features/shared/nodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/nodeCreator.utils.ts
  packages/nodes-base/nodes/DataTable/DataTable.node.json
Due: tests, Frontend, Nodes

lint
  packages/frontend/editor-ui/src/features/shared/nodeCreator/composables/useViewStacks.ts
Due: tests, Frontend

feat: Remove releaseChannel from public settings
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

feat: Remove version notifications from settings
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

feat: Remove isHiringBanner logic
  packages/frontend/editor-ui/src/app/App.vue
  packages/frontend/editor-ui/src/app/stores/settings.store.ts
Due: tests, Frontend

feat: use default logo colour when no releaseChannel set
  packages/frontend/@n8n/design-system/src/components/N8nLogo/Logo.vue
Due: tests, Frontend

feat: removed oauthCallbackUrls setting
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

feat: removed banner from public settings
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/app/init.ts
Due: tests, Backend, Frontend

feat: removed defaultLocale
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

feat: There is no need for setOauthCallbackUrls in store
  packages/frontend/editor-ui/src/app/stores/settings.store.ts
Due: tests, Frontend

feat: Remove showNonProdBanner from public settings
  packages/cli/src/services/frontend.service.ts
Due: tests, Backend

feat: Remove default local from public settings store
  packages/frontend/editor-ui/src/app/stores/settings.store.ts
Due: tests, Frontend

chore(core): Add instanceType condition to load insights module only for main aand webhook (#22052)
  packages/cli/src/modules/insights/__tests__/insights.module.test.ts
  packages/cli/src/modules/insights/insights.module.ts
Due: tests, Backend

feat: Enable full RBAC scope access in dev enterprise mode
  packages/@n8n/permissions/src/utilities/get-global-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/get-role-scopes.ee.ts
Due: tests, Backend

Allowing text files to be usable from the chat experience.
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/common.test.ts
Due: tests, Nodes

Fix workflow history refreshing when publishing a new version
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowPublishModal.vue
  packages/frontend/editor-ui/src/app/composables/useWorkflowActivate.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: tests, Frontend

make allowFileUploads optional for now
  packages/@n8n/api-types/src/chat-hub.ts
Due: tests, Backend

Make the check in job processor more explicit
  packages/cli/src/scaling/job-processor.ts
Due: tests, Backend

Moving tests into existing file.
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/common.test.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/commons.test.ts
Due: none

Use only activeVersionId in source control import
  packages/cli/src/environments.ee/source-control/__tests__/source-control-import.service.ee.test.ts
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
Due: tests, Backend

Addressed comments
  packages/@n8n/decorators/src/context-establishment/context-establishment-hook.ts
  packages/workflow/src/execution-context.ts
Due: tests, Backend

Only remove parameter diff if it was generated
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/compare_workflows.py
Due: tests

fix: Add shell: true on Windows
  packages/@n8n/scan-community-package/scanner/scanner.mjs
Due: tests

feat(editor): Add templates quality experiment inline section on empty project layout
  packages/frontend/editor-ui/src/app/views/WorkflowsView.vue
Due: tests, Frontend

add RAG
  packages/@n8n/ai-workflow-builder.ee/src/tools/best-practices/document-processing.ts
Due: tests

fix(core)!: Switch to image extension for `n8nio/runners`
  docker/images/runners/Dockerfile
  docker/images/runners/Dockerfile.distroless
  docker/images/runners/extras.txt
  docker/images/runners/package.json
  packages/cli/BREAKING-CHANGES.md
Due: tests, Backend

docs: Add component specification and usage examples for N8nBadge (#22049)
  packages/frontend/@n8n/design-system/src/v2/components/Badge/component-badge.md
Due: tests, Frontend
