Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

test: Add frontend test
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ResourceMapper/ResourceMapper.test.ts
Due: none

fix(Google BigQuery Node): Prevent infinite loop on job fail (#21741)
  packages/nodes-base/nodes/Google/BigQuery/test/v2/node/executeQueryContinueOnJobFail.test.ts
  packages/nodes-base/nodes/Google/BigQuery/test/v2/node/executeQueryContinueOnJobFail.workflow.json
  packages/nodes-base/nodes/Google/BigQuery/v2/actions/database/executeQuery.operation.ts
Due: tests, Nodes

change error message styling
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
Due: tests, Frontend

tweak avatar icon size
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatAgentAvatar.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Frontend

fix: remove unnecessary workflowSave flag and redirect
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: tests, Frontend

Fix unit tests for telemetry tracking
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.test.ts
Due: tests, Frontend

update snapshots
  packages/frontend/@n8n/design-system/src/components/N8nDatatable/__snapshots__/Datatable.test.ts.snap
Due: none

feat(core): Starting to work on chat hub settings page
  packages/@n8n/api-types/src/chat-hub.ts
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/db/src/repositories/settings.repository.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/cli/src/modules/chat-hub/dto/chat-message-request.dto.ts
  packages/cli/src/modules/chat-hub/dto/update-chat-settings.dto.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatProvidersTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/module.descriptor.ts
Due: tests, Backend, Frontend

feat(core): Selecting allowed models
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProviderModelsTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/module.descriptor.ts
Due: tests, Backend, Frontend

feat(core): Adding modal for chat provider settings
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
Due: tests, Frontend

feat(core): Hide chat models if they are limited by admins
  packages/@n8n/api-types/src/chat-hub.ts
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/modules/chat-hub/chat-hub.module.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Backend, Frontend

feat(core): Improving chat hub settings
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProviderModelsTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/module.descriptor.ts
Due: tests, Backend, Frontend

refactor(core): Improving chat settings
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProviderModelsTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
Due: tests, Backend, Frontend

feat(core): Reset allowedModels back to empty list when disabled
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: tests, Frontend

feat(core): Make the chat providers table a little nicer
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
Due: tests, Frontend

feat(core): Automatically select the default credentials if none are selected
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/composables/useChatCredentials.ts
Due: tests, Frontend

feat(core): Making limiting models work
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.settings.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProviderModelsTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProvidersTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: tests, Backend, Frontend

feat(core): Add callout and improve module-settings reloading
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
Due: tests, Frontend

feat(core): Fix tooltips
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
Due: tests, Frontend

refactor(core): Change the chat configuration modal
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatProviderModelsTable.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
  packages/frontend/editor-ui/src/features/credentials/components/CredentialPicker/CredentialsDropdown.vue
  packages/frontend/editor-ui/src/features/shared/tags/components/TagsDropdown.vue
Due: tests, Frontend

feat(core): Make manual models defined on allowedModels always show up on the model picker
  packages/@n8n/api-types/src/chat-hub.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ProviderSettingsModal.vue
Due: tests, Backend, Frontend

Merge commit from fork
  package.json
  packages/workflow/package.json
  packages/workflow/src/expression-evaluator-proxy.ts
  packages/workflow/src/expression-sandboxing.ts
  packages/workflow/src/extensions/expression-extension.ts
  packages/workflow/src/utils.ts
  packages/workflow/test/expression-sandboxing.test.ts
  packages/workflow/test/utils.test.ts
  pnpm-lock.yaml
Due: tests, Backend

cleanup
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
Due: tests, Frontend

Add link to docs to user provisioning dropdown and translate everything
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/settings/sso/components/OidcSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/components/UserRoleProvisioningDropdown.vue
Due: tests, Frontend

fix: placeholder message shows wrong avatar
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.utils.ts
Due: tests, Frontend

refactor(core): Remove commented out code
  packages/frontend/editor-ui/src/features/credentials/components/CredentialPicker/CredentialsDropdown.vue
Due: tests, Frontend

Remove provisioning route leftovers after merge from master
  packages/frontend/editor-ui/src/app/components/SettingsSidebar.vue
Due: tests, Frontend

ci: Change directory to data so cleanup scripts don't wipe it out
  .github/CODEOWNERS
  .github/workflows/update-node-popularity.yml
  packages/frontend/editor-ui/.gitignore
  packages/frontend/editor-ui/data/node-popularity.json
  packages/frontend/editor-ui/scripts/fetch-node-popularity.mjs
  packages/frontend/editor-ui/vite/vite-plugin-node-popularity.mts
Due: tests, Frontend

feat(ai-builder): Send workflow validation issues to telemetry (#21837)
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/agent-prompt.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-state.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/categorize-prompt.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/helpers/response.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/validate-workflow.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/validate-workflow.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/operations-processor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/tool-executor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/tool-executor.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/checks/agent-prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/checks/connections.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/checks/from-ai.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/checks/tools.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/checks/trigger.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/types.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-state.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
Due: tests, Backend

Fix typo in pinia store
  packages/frontend/editor-ui/src/features/settings/sso/provisioning/composables/userRoleProvisioning.store.ts
Due: tests, Frontend

feat(core): Allow creating data tables from csv files (#21051)
  packages/@n8n/api-types/src/dto/data-table/create-data-table.dto.ts
  packages/@n8n/config/src/configs/data-table.config.ts
  packages/@n8n/config/src/configs/instance-settings-config.ts
  packages/@n8n/config/src/utils/utils.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/middlewares/body-parser.ts
  packages/cli/src/modules/data-table/__tests__/data-table-file-cleanup.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table-uploads.controller.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table.controller.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/test-helpers.ts
  packages/cli/src/modules/data-table/csv-parser.service.ts
  packages/cli/src/modules/data-table/data-table-file-cleanup.service.ts
  packages/cli/src/modules/data-table/data-table-size-validator.service.ts
  packages/cli/src/modules/data-table/data-table-uploads.controller.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/cli/src/modules/data-table/data-table.service.ts
  packages/cli/src/modules/data-table/errors/data-table-file-upload.error.ts
  packages/cli/src/modules/data-table/multer-upload-middleware.ts
  packages/cli/src/modules/data-table/types.ts
  packages/cli/src/modules/data-table/utils/size-utils.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/core/dataTable/components/AddDataTableModal.vue
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.api.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.test.ts
  packages/frontend/editor-ui/src/features/core/dataTable/dataTable.store.ts
  packages/testing/playwright/composables/DataTablesComposer.ts
  packages/testing/playwright/pages/DataTableView.ts
Due: tests, Backend, Frontend

Update readme
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/README.md
Due: tests

fix: Revert unnecessary error handling change
  packages/workflow/src/errors/abstract/execution-base.error.ts
Due: tests, Backend

ci: Workflow cleanup for default checkout
  .github/workflows/ci-pull-requests.yml
  .github/workflows/linting-reusable.yml
  .github/workflows/units-tests-reusable.yml
Due: tests

Use activeVersionId on backend where active is used
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/db/src/repositories/license-metrics.repository.ts
  packages/@n8n/db/src/repositories/workflow-statistics.repository.ts
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
  packages/cli/src/eventbus/message-event-bus/message-event-bus.ts
  packages/cli/src/execution-lifecycle/shared/shared-hook-functions.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/middlewares/list-query/dtos/workflow.select.dto.ts
  packages/cli/src/modules/breaking-changes/breaking-changes.service.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/src/modules/mcp/tools/get-workflow-details.tool.ts
  packages/cli/src/modules/mcp/tools/search-workflows.tool.ts
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/security-audit/risk-reporters/credentials-risk-reporter.ts
  packages/cli/src/security-audit/risk-reporters/instance-risk-reporter.ts
  packages/cli/src/security-audit/security-audit.service.ts
  packages/cli/src/services/import.service.ts
  packages/cli/src/webhooks/live-webhooks.ts
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/cli/src/workflow-helpers.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow.service.ee.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend

Use activeVersionId on frontend where active is used
  packages/frontend/@n8n/rest-api-client/src/api/workflows.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/components/WorkflowProductionChecklist.vue
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/workflowFailedToActivate.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/app/views/WorkflowsView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.test.constants.ts
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPushModal.vue
Due: tests, Frontend

fix(core): Linting problem
  packages/@n8n/api-types/src/frontend-settings.ts
Due: tests, Backend

fix: Only preserve essential properties in pinned data
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
