Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%
      nodes:
        target: 80%
        threshold: 0.5%
        paths:
          - packages/nodes-base/**

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - '**'
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - '!master'
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/codemirror-lang/**
        - packages/frontend/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

⚡ Update empty state
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPEmptyState.vue
Due: tests, Frontend

fix biome
  biome.jsonc
Due: tests

add ai-tools package
  packages/@n8n/ai-tools/.editorconfig
  packages/@n8n/ai-tools/.gitignore
  packages/@n8n/ai-tools/.npmignore
  packages/@n8n/ai-tools/eslint.config.mjs
  packages/@n8n/ai-tools/jest.config.js
  packages/@n8n/ai-tools/package.json
  packages/@n8n/ai-tools/src/N8nBinaryLoader.ts
  packages/@n8n/ai-tools/src/N8nJsonLoader.ts
  packages/@n8n/ai-tools/src/N8nTool.ts
  packages/@n8n/ai-tools/src/helpers.ts
  packages/@n8n/ai-tools/src/index.ts
  packages/@n8n/ai-tools/src/logWrapper.ts
  packages/@n8n/ai-tools/src/types/generate-schema.d.ts
  packages/@n8n/ai-tools/src/types/types.ts
  packages/@n8n/ai-tools/src/types/zod.types.ts
  packages/@n8n/ai-tools/tsconfig.build.json
  packages/@n8n/ai-tools/tsconfig.json
  packages/@n8n/ai-tools/tsup.config.ts
Due: tests

Improve the formatting of the tooltip content
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryListItem.vue
Due: tests, Frontend

update lock file
  pnpm-lock.yaml
Due: tests

add memory node
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ConversationalAgent/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/execute.ts
  packages/@n8n/nodes-langchain/nodes/memory/CommunityPostgresMemory/CommunityPostgresMemory.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/CommunityPostgresMemory/messageHistory.ts
  packages/@n8n/nodes-langchain/nodes/memory/CommunityPostgresMemory/postgres.svg
  packages/@n8n/nodes-langchain/nodes/memory/MemoryChatRetriever/MemoryChatRetriever.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryManager/MemoryManager.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/Chat.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/v1/actions/assistant/message.operation.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/tsup.config.ts
  packages/workflow/src/ai/memory.ts
Due: tests, Backend, Nodes

fix: update bowser pnpm
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Frontend

fix(core): Prevent execution data from being overwritten on manual workflow resume (#22665)
  packages/cli/src/__tests__/workflow-runner.test.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/cli/src/workflows/workflow-execution.service.ts
Due: tests, Backend

fix: truncate long name in model selector menu dropdown
  packages/frontend/@n8n/design-system/src/components/N8nNavigationDropdown/NavigationDropdown.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: tests, Frontend

fix(MCP Client Node): Make "Use Dynamic Client Registration" toggle not required (#22645)
  packages/@n8n/nodes-langchain/credentials/McpOAuth2Api.credentials.ts
Due: tests, Nodes

:rocket: Release 1.123.1
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
Due: tests, Backend, Nodes

fix: use newly added useDocumentTitle with defaults
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/app/composables/useDocumentTitle.test.ts
  packages/frontend/editor-ui/src/app/composables/useDocumentTitle.ts
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
  packages/frontend/editor-ui/src/app/views/OAuthConsentView.vue
  packages/frontend/editor-ui/src/app/views/WorkflowsView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/views/ProjectSettings.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/views/ProjectVariables.vue
  packages/frontend/editor-ui/src/features/core/auth/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/features/core/dataTable/DataTableDetailsView.vue
  packages/frontend/editor-ui/src/features/core/dataTable/DataTableView.vue
  packages/frontend/editor-ui/src/features/credentials/views/CredentialsView.vue
  packages/frontend/editor-ui/src/features/execution/executions/views/ExecutionsView.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/execution/logs/composables/usePopOutWindow.ts
  packages/frontend/editor-ui/src/features/integrations/externalSecrets.ee/views/SettingsExternalSecrets.vue
  packages/frontend/editor-ui/src/features/integrations/logStreaming.ee/views/SettingsLogStreamingView.vue
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/views/SettingsSourceControl.vue
  packages/frontend/editor-ui/src/features/project-roles/ProjectRolesView.vue
  packages/frontend/editor-ui/src/features/settings/apiKeys/components/ApiKeyCreateOrEditModal.vue
  packages/frontend/editor-ui/src/features/settings/apiKeys/views/SettingsApiView.vue
  packages/frontend/editor-ui/src/features/settings/communityNodes/views/SettingsCommunityNodesView.vue
  packages/frontend/editor-ui/src/features/settings/orchestration.ee/components/WorkerList.vue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsLdapView.vue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.vue
  packages/frontend/editor-ui/src/features/settings/usage/views/SettingsUsageAndPlan.vue
  packages/frontend/editor-ui/src/features/settings/users/views/SettingsUsersView.vue
  packages/frontend/editor-ui/src/features/workflows/templates/views/TemplatesCollectionView.vue
  packages/frontend/editor-ui/src/features/workflows/templates/views/TemplatesSearchView.vue
  packages/frontend/editor-ui/src/features/workflows/templates/views/TemplatesWorkflowView.vue
Due: tests, Frontend

fix: update stores exports
  packages/frontend/@n8n/stores/src/index.ts
Due: tests, Frontend

fix: remove unused imports
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/SettingsChatHubView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/views/ProjectSettings.vue
  packages/frontend/editor-ui/src/features/core/dataTable/DataTableDetailsView.vue
  packages/frontend/editor-ui/src/features/core/dataTable/DataTableView.vue
  packages/frontend/editor-ui/src/features/execution/executions/views/ExecutionsView.vue
  packages/frontend/editor-ui/src/features/settings/orchestration.ee/components/WorkerList.vue
Due: tests, Frontend

fix: remove unused imports
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
Due: tests, Frontend

Move computer use package
  packages/@n8n/computer-use/.env.example
  packages/@n8n/computer-use/.gitignore
  packages/@n8n/computer-use/Dockerfile
  packages/@n8n/computer-use/README.md
  packages/@n8n/computer-use/docker-compose.yml
  packages/@n8n/computer-use/docker/entrypoint.sh
  packages/@n8n/computer-use/docker/start_services.sh
  packages/@n8n/computer-use/docker/tint2rc
  packages/@n8n/computer-use/package.json
  packages/@n8n/computer-use/src/index.ts
  packages/@n8n/computer-use/src/mcp/server.ts
  packages/@n8n/computer-use/src/server.ts
  packages/@n8n/computer-use/src/tools/base.ts
  packages/@n8n/computer-use/src/tools/bash.ts
  packages/@n8n/computer-use/src/tools/computer.ts
  packages/@n8n/computer-use/src/tools/edit.ts
  packages/@n8n/computer-use/src/tools/index.ts
  packages/@n8n/computer-use/src/types/index.ts
  packages/@n8n/computer-use/tsconfig.json
  packages/computer-use-api/README.md
Due: tests

fix linting issues
  packages/@n8n/ai-workflow-builder.ee/src/multi-agent-workflow-subgraphs.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/state-modifier.ts
Due: tests

💄 Tighten up styles
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/MCPAccessTokenPopoverTab.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/McpConnectPopover.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/OAuthClientsTable.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/mcp.constants.ts
Due: tests, Frontend

test
  scripts/check-workspace-deps.ps1
Due: tests

update lefthook
  lefthook.yml
Due: tests

Initial changes
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/utils/config.ts
  packages/nodes-base/nodes/Form/utils/formNodeUtils.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/nodes-base/nodes/Form/v1/FormTriggerV1.node.ts
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
  packages/workflow/src/interfaces.ts
Due: tests, Backend, Nodes

fix(core): Fix tools not being passed to custom agents even if defined on them (no-changelog)
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
Due: tests, Backend

Add feature flags to LangSmith trace metadata
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
Due: tests

add comment
  lefthook.yml
Due: tests

⚡ Add info tip to connection parameter
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/MCPAccessTokenPopoverTab.vue
Due: tests, Frontend

remove test files
  packages/nodes-base/nodes/DataTableTrigger/test/GenericFunctions.test.ts
  packages/nodes-base/nodes/DataTableTrigger/test/ScheduleTrigger.node.test.ts
Due: none

use foreground for border
  packages/frontend/@n8n/design-system/src/components/N8nBadge/Badge.vue
Due: tests, Frontend

Update packages/cli/src/errors/single-webhook-trigger.error.ts
  packages/cli/src/errors/single-webhook-trigger.error.ts
Due: tests, Backend

use js
  lefthook.yml
  scripts/check-workspace-deps.mjs
  scripts/check-workspace-deps.ps1
Due: tests

⚡ Respect user permissions when creating workflow table actions
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.vue
Due: tests, Frontend

read only package.json files
  scripts/check-workspace-deps.mjs
Due: tests

add comment
  packages/frontend/editor-ui/src/features/ai/chatHub/components/AgentEditorModal.vue
Due: tests, Frontend

Add back edge success color. Remove unnecessary node waiting state border.
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/edges/CanvasEdge.vue
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useZoomAdjustedValues.ts
Due: tests, Frontend

⚡ Update import
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/MCPHeaderActions.vue
Due: tests, Frontend

fix(core): Don't render empty completed messages (tool calls) on chat hub (no-changelog)
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
Due: tests, Frontend

Add back the collaborators pane
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
  packages/frontend/editor-ui/src/features/collaboration/collaboration/components/CollaborationPane.vue
Due: tests, Frontend

update tests, removed unused code
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/app/constants/nodeTypes.ts
Due: tests, Frontend
