Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

hide focusPanel while loading
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests, Frontend

lint
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
Due: tests, Frontend

fix typo
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/utils/workflow-backtracking.test.ts
  packages/nodes-base/utils/workflow-backtracking.ts
Due: tests, Nodes

fix: type import
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
Due: none

fix(nodes-base): crowd.dev node removal
  packages/nodes-base/credentials/CrowdDevApi.credentials.ts
  packages/nodes-base/nodes/CrowdDev/CrowdDev.node.json
  packages/nodes-base/nodes/CrowdDev/CrowdDev.node.ts
  packages/nodes-base/nodes/CrowdDev/CrowdDevTrigger.node.json
  packages/nodes-base/nodes/CrowdDev/CrowdDevTrigger.node.ts
  packages/nodes-base/nodes/CrowdDev/GenericFunctions.ts
  packages/nodes-base/nodes/CrowdDev/crowdDev.dark.svg
  packages/nodes-base/nodes/CrowdDev/crowdDev.svg
  packages/nodes-base/nodes/CrowdDev/descriptions/activityFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/automationFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/index.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/memberFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/noteFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/organizationFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/resources.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/shared.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/taskFields.ts
  packages/nodes-base/nodes/CrowdDev/descriptions/utils.ts
  packages/nodes-base/package.json
Due: tests, Nodes

untested wip code
  packages/@n8n/api-types/src/dto/data-store/add-data-store-columns.dto.ts
  packages/@n8n/api-types/src/dto/data-store/add-data-store-records.dto.ts
  packages/@n8n/api-types/src/dto/data-store/create-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/data-store/create-data-store.dto.ts
  packages/@n8n/api-types/src/dto/data-store/delete-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/data-store/delete-data-store.dto.ts
  packages/@n8n/api-types/src/dto/data-store/rename-data-store.dto.ts
  packages/@n8n/api-types/src/dto/datastore/add-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/datastore/delete-data-store-column.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/@n8n/db/src/migrations/common/1747814180618-CreateDatastoreTables.ts
  packages/cli/src/modules/data-store/data-store-column.entity.ts
  packages/cli/src/modules/data-store/data-store-column.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.entity.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/data-store.types.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
Due: tests, Backend, Frontend

fix: Prevent error when importing nodes with malformed collection params (#17580)
  packages/workflow/src/node-helpers.ts
  packages/workflow/test/node-helpers.test.ts
Due: tests, Backend

fix(editor): Render HTML in the log view (#17586)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/custom/schema.svg
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/__tests__/setup.ts
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.test.ts
Due: tests, Frontend

chore(core): Fix typo (#17611)
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/utils/workflow-backtracking.test.ts
  packages/nodes-base/utils/workflow-backtracking.ts
Due: tests, Nodes

feat: zoom in to node after creation
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

fix(editor): Improve filter change handling with debounced updates for date fields
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
Due: tests, Frontend

test(editor): Mock vue-router and fix TagsDropdown rendering to eliminate console warnings in unit test
  packages/frontend/editor-ui/src/components/TagsDropdown.vue
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.test.ts
Due: tests, Frontend

Scaffold new @n8n/node-cli package
  packages/@n8n/node-cli/README.md
  packages/@n8n/node-cli/bin/n8n-node.js
  packages/@n8n/node-cli/eslint.config.mjs
  packages/@n8n/node-cli/package.json
  packages/@n8n/node-cli/src/commands/create.test.ts
  packages/@n8n/node-cli/src/commands/create.ts
  packages/@n8n/node-cli/tsconfig.json
  packages/@n8n/node-cli/vite.config.ts
  pnpm-lock.yaml
Due: tests

Add new package for 'pnpm create @n8n/node'
  packages/@n8n/create-node/README.md
  packages/@n8n/create-node/bin/create.js
  packages/@n8n/create-node/package.json
  packages/@n8n/create-node/tsconfig.json
Due: tests

test harness fix
  packages/core/nodes-testing/node-test-harness.ts
Due: tests, Backend

⚡️ Rendering project settings tab last
  packages/frontend/editor-ui/src/components/Projects/ProjectTabs.vue
Due: tests, Frontend

⚡️ Implemented Data Store Card and Resource List
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/features/dataStore/api/datastore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/api/mocks/datastores.mock.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.routes.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/views/DataStoreView.vue
Due: tests, Frontend

fix(core): Decouple removing and closing destination from actually deleting it (#17614)
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/eventbus/event-bus.controller.ts
  packages/cli/src/eventbus/message-event-bus/message-event-bus.ts
Due: tests, Backend

add working tests
  packages/@n8n/backend-test-utils/src/test-db.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/__tests__/my-feature.service.test.ts
  packages/cli/src/modules/data-store/data-store-column.entity.ts
  packages/cli/src/modules/data-store/data-store.entity.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  scripts/backend-module/backend-module.guide.md
Due: tests, Backend

fix(editor): Remove unused isResetting ref in ExecutionsFilter component
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
Due: tests, Frontend

Add NDV overhaul to EXPERIMENTS_TO_TRACK
  packages/frontend/editor-ui/src/constants.ts
Due: tests, Frontend

refactor(editor): Remove part of `getCurrentWorkflow` usages (#16148)
  package.json
  packages/frontend/editor-ui/src/components/CodeNodeEditor/completions/jsonField.completions.ts
  packages/frontend/editor-ui/src/components/InputNodeSelect.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/stores/ndv.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/types/expressions.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
  packages/frontend/editor-ui/tsconfig.json
  packages/workflow/package.json
  packages/workflow/src/common/get-child-nodes.ts
  packages/workflow/src/common/get-connected-nodes.ts
  packages/workflow/src/common/get-node-by-name.ts
  packages/workflow/src/common/get-parent-nodes.ts
  packages/workflow/src/common/index.ts
  packages/workflow/src/common/map-connections-by-destination.ts
  packages/workflow/src/index.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/common.test.ts
  packages/workflow/test/workflow.test.ts
  patches/@lezer__highlight.patch
  pnpm-lock.yaml
Due: tests, Backend, Frontend

⚡️ Finishing Data Store Cards
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/views/DataStoreView.vue
Due: tests, Frontend

fix(editor): Fix layout of binary data preview in the log view (#17584)
  packages/frontend/editor-ui/src/components/BinaryDataDisplay.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataBinary.vue
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
Due: tests, Frontend

endpoint permissons update
  packages/cli/src/workflows/workflows.controller.ts
Due: tests, Backend

⚡️ Updating search and sort labels
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/views/DataStoreView.vue
Due: tests, Frontend

fix(editor): Add targetNodeParameterContext for remaining editors (no-changelog) (#17510)
  packages/frontend/editor-ui/src/components/CssEditor/CssEditor.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/HtmlEditor/HtmlEditor.vue
  packages/frontend/editor-ui/src/components/SqlEditor/SqlEditor.vue
Due: tests, Frontend

fix: remove request to deleted endpoint
  packages/frontend/editor-ui/index.html
Due: tests, Frontend

fix warnings from runtime prop type check
  packages/frontend/@n8n/design-system/src/components/N8nInputNumber/InputNumber.vue
  packages/frontend/editor-ui/src/components/TagsDropdown.vue
  packages/frontend/editor-ui/src/features/logs/components/MessageOptionAction.vue
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
