Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

ci: add workflow for checking flaky tests
  .github/workflows/e2e-flaky.yml
Due: tests

implement panel resizing
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useResize.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useResizeV2.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLayout.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useResizablePanel.ts
Due: tests

fix: chaning name from byPass to passthrough
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/workflow/src/Interfaces.ts
Due: tests, Backend

⚡️ Finishing merge
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

✨ Implemented drop on breadcrumbs
  packages/frontend/@n8n/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

feat: Workflow tests for opportunities
  packages/nodes-base/nodes/Salesforce/__test__/node/Salesforce.node.test.ts
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunities-summary.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunities.json
  packages/nodes-base/nodes/Salesforce/__test__/node/fixtures/opportunity-details.json
  packages/nodes-base/nodes/Salesforce/__test__/node/opportunities.workflow.json
Due: tests, Nodes

feat: Update ts-ics to v2
  packages/nodes-base/nodes/Files/ExtractFromFile/actions/moveTo.operation.ts
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: tests, Nodes

feat(Salesforce Node): Add credentials test (#14486)
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/nodes-base/credentials/SalesforceJwtApi.credentials.ts
Due: tests, Nodes

fix: remove todo
  packages/nodes-base/nodes/Salesforce/__test__/node/Salesforce.node.test.ts
Due: none

Add to fullAccess allowlist
  packages/core/src/constants.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
Due: tests, Backend

✨ Implemented drop on project root
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

fix type error
  packages/frontend/@n8n/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
Due: tests

tests, refactoring
  packages/cli/src/controllers/__tests__/community-packages.controller.test.ts
  packages/cli/src/services/__tests__/community-packages.service.test.ts
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/utils/__tests__/npm-utils.test.ts
  packages/cli/src/utils/__tests__/strapi-utils.test.ts
  packages/cli/src/utils/npm-utils.ts
  packages/cli/src/utils/strapi-utils.ts
Due: tests, Backend

update failing tests
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/__snapshots__/InputPanel.test.ts.snap
Due: none

Fix use cleartimeout for flush insights timeout
  packages/cli/src/modules/insights/insights.service.ts
Due: tests, Backend

test(YouTube Node): Add tests for YouTube Node (#14459)
  packages/nodes-base/nodes/Google/YouTube/__test__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Google/YouTube/__test__/node/YouTube.node.test.ts
  packages/nodes-base/nodes/Google/YouTube/__test__/node/channels.workflow.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/fixtures/categories.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/fixtures/channels.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/fixtures/playlistItems.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/fixtures/playlists.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/playlistItems.workflow.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/playlists.workflow.json
  packages/nodes-base/nodes/Google/YouTube/__test__/node/videoCategories.workflow.json
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
  packages/nodes-base/test/nodes/Helpers.ts
Due: tests, Nodes

ci: temp change to test workflow
  .github/workflows/e2e-flaky.yml
  cypress/e2e/24-ndv-paired-item.cy.ts
Due: tests

mrge-io review update
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/services/community-packages.service.ts
  packages/frontend/editor-ui/src/api/nodeTypes.ts
  packages/frontend/editor-ui/src/components/CommunityPackageInstallModal.vue
  packages/frontend/editor-ui/src/components/CommunityPackageManageConfirmModal.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/CommunityNodeItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDocsLink.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/NodesListPanel.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Renderers/CategorizedItemsRenderer.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Renderers/ItemsRenderer.vue
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
  packages/frontend/editor-ui/src/utils/nodeIcon.ts
Due: tests, Backend

test: Add snapshot for sublimeSearch and a first test (no-changelog) (#13794)
  .vscode/settings.default.json
  packages/@n8n/utils/src/search/snapshots/README.md
  packages/@n8n/utils/src/search/snapshots/toplevel.snapshot.json
  packages/@n8n/utils/src/search/sublimeSearch.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Due: tests

wip commit
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.ts
Due: tests

add third solution
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.ts
Due: tests

Add tests
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.test.ts
  packages/frontend/editor-ui/src/utils/fromAIOverrideUtils.ts
Due: tests

fix: Fix issue with Qdrant credential test
  packages/@n8n/nodes-langchain/credentials/QdrantApi.credentials.ts
Due: tests, Nodes

fix: Fix issue with Qdrant not always connecting
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/Qdrant.utils.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/VectorStoreQdrant.node.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/methods/listSearch.ts
Due: tests, Nodes

fix
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode/methods/listSearch.ts
Due: tests, Nodes

disabled community packages fix
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: tests

Use the host parameter instead of url, since we pass host, post, protocol
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/Qdrant.utils.ts
Due: tests, Nodes

feat(Code Tool Node): Use node's name instead of separate name field as tool name
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
Due: tests, Nodes

feat(Vector Store Tool Node): Use node's name instead of separate name field as tool name
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.ts
Due: tests, Nodes

feat(Custom n8n Workflow Tool Node): Use node's name instead of separate name field as tool name
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/versionDescription.ts
Due: tests, Nodes

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/chat/**, packages/@n8n/codemirror-lang/**, packages/design-system/**, packages/editor-ui/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
