Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

Auto-commit: Agent tool execution
  PULL_REQUEST_PHASES_6_TO_11.md
Due: tests

Auto-commit: Agent tool execution
  PR_NEXT_STEPS.md
Due: tests

hide when empty data
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
Due: tests, Frontend

hide when empty data
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
Due: tests, Frontend

wip: fix nodeTypes memory issue
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
  packages/core/src/nodes-loader/directory-loader.ts
Due: tests, Backend

feat: Support multiple flow for DCR
  packages/@n8n/client-oauth2/src/types.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
Due: tests, Backend

fix typing issue
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.vue
Due: tests, Frontend

wip: get back nodes filtering and add some tests
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
Due: tests

wip: comments
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
Due: tests

fix: Hack for storing the client info for DCR
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
  packages/core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts
  packages/nodes-base/credentials/OAuth2Api.credentials.ts
Due: tests, Backend, Nodes

feat(core): Add separate migration for mysql/mariadb (dropping FK manually)
  packages/@n8n/db/src/migrations/mysqldb/1760965142113-DropUnusedChatHubColumns.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
Due: tests

feat: Conditional ready to run v2 (no-changelog)
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplatesV3/stores/personalizedTemplatesV3.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
Due: tests, Frontend

feat(Airtop): Improve file upload unit test
  packages/nodes-base/nodes/Airtop/actions/file/helpers.ts
  packages/nodes-base/nodes/Airtop/test/node/file/helpers.test.ts
Due: tests, Nodes

prevent clashing between experiments
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
Due: tests, Frontend

fix(core): Replace deprecated 'application' actor value with 'app' in Linear OAuth2
  packages/nodes-base/credentials/LinearOAuth2Api.credentials.ts
Due: tests, Nodes

Update SigninView.vue
  packages/frontend/editor-ui/src/features/core/auth/views/SigninView.vue
Due: tests, Frontend

refactor(core): Adjust the status enum comment
  packages/@n8n/api-types/src/chat-hub.ts
  packages/@n8n/db/src/migrations/common/1760965142113-DropUnusedChatHubColumns.ts
  packages/@n8n/db/src/migrations/mysqldb/1760965142113-DropUnusedChatHubColumns.ts
  packages/cli/src/modules/chat-hub/chat-hub-message.entity.ts
Due: tests, Backend

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/helpers/constants.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/helpers/errorHandler.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/descriptions/application/Application.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/descriptions/environment/Environment.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/descriptions/index.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/AwsElasticBeanstalk.node.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/AwsElasticBeanstalk.node.json
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ElasticBeanstalk/elasticbeanstalk.svg
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/helpers/constants.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/helpers/errorHandler.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/descriptions/fileSystem/FileSystem.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/descriptions/mountTarget/MountTarget.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/descriptions/index.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/AwsEFS.node.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/EFS/AwsEFS.node.json
  packages/nodes-base/nodes/Aws/EFS/efs.svg
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/Transfer/helpers/constants.ts
  packages/nodes-base/nodes/Aws/Transfer/helpers/errorHandler.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/test/AWS_Services_Phase12_Validation.workflow.json
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/helpers/constants.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/helpers/errorHandler.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/descriptions/restApi/RestApi.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/descriptions/deployment/Deployment.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/descriptions/stage/Stage.resource.ts
Due: tests, Nodes

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/ApiGateway/descriptions/index.ts
Due: tests, Nodes

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
