Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

feat(core): Add support for signed URLs for binary data (#14492)
  packages/@n8n/api-types/src/dto/binary-data/__tests__/binary-data-query.dto.test.ts
  packages/@n8n/api-types/src/dto/binary-data/__tests__/binary-data-signed-query.dto.test.ts
  packages/@n8n/api-types/src/dto/binary-data/binary-data-query.dto.ts
  packages/@n8n/api-types/src/dto/binary-data/binary-data-signed-query.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
  packages/cli/package.json
  packages/cli/src/controllers/__tests__/binary-data.controller.test.ts
  packages/cli/src/controllers/binary-data.controller.ts
  packages/cli/src/requests.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/package.json
  packages/core/src/binary-data/__tests__/binary-data-service.test.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/binary-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/binary-helper-functions.ts
  packages/nodes-base/package.json
  packages/nodes-base/test/nodes/Helpers.ts
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Backend, Nodes

feat(editor): Fix paywall for dashboard disabled licences (#14617)
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/test/integration/insights/insights.api.test.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsPaywall.vue
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: tests, Backend

fix(core): Propagate env to task runner (#14638)
  docker/images/n8n/n8n-task-runners.json
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/task-runner-process.ts
Due: tests, Backend

refactor(editor): Refactor height adjustment method to use ref (no-changelog) (#14630)
  packages/frontend/@n8n/chat/src/components/Input.vue
Due: tests

refactor(core): Migrate binary-data config to a decorated config class (#14616)
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/di/src/__tests__/di.test.ts
  packages/@n8n/di/src/di.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/config/types.ts
  packages/cli/src/config/utils.ts
  packages/cli/src/errors/not-string-array.error.ts
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/__tests__/restore-binary-data-id.test.ts
  packages/cli/src/execution-lifecycle/restore-binary-data-id.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/src/binary-data/__tests__/binary-data-service.test.ts
  packages/core/src/binary-data/__tests__/binary-data.config.test.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/index.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/binary-helper-functions.test.ts
  packages/nodes-base/test/nodes/Helpers.ts
Due: tests, Backend, Nodes

feat(editor): Show logs panel in execution history page (#14477)
  packages/frontend/@n8n/chat/src/components/MessageTyping.vue
  packages/frontend/@n8n/chat/src/plugins/chat.ts
  packages/frontend/@n8n/chat/src/types/messages.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatMessaging.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatTrigger.ts
  packages/frontend/editor-ui/src/components/CanvasChat/composables/usePiPWindow.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/DemoFooter.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/CanvasChat/utils.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/utils.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.test.ts
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsInfoAccordion.vue
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: tests

test: Fix slow typescript editor tests by mocking typescript vfs (no-changelog) (#14631)
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/worker/typescript.worker.test.ts
Due: none

feat(editor): Add drag n drop support for folders (#14549)
  cypress/composables/folders.ts
  cypress/e2e/49-folders.cy.ts
  packages/frontend/@n8n/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/__snapshots__/BreadCrumbs.test.ts.snap
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Draggable.vue
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/__snapshots__/RunDataJson.test.ts.snap
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/composables/useFolders.test.ts
  packages/frontend/editor-ui/src/composables/useFolders.ts
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: tests

ci(core): Enforce tests for nodes (#13480)
  codecov.yml
Due: tests

test(Telegram Trigger Node): Add tests for Telegram Trigger (no-changelog) (#14537)
  packages/nodes-base/nodes/Telegram/TelegramTrigger.node.ts
  packages/nodes-base/nodes/Telegram/tests/TelegramTrigger.node.test.ts
  packages/nodes-base/nodes/Telegram/util/triggerUtils.ts
  packages/nodes-base/test/nodes/TriggerHelpers.ts
Due: tests, Nodes

add tests and address review comments
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/ExecutionSummary.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useResizablePanel.test.ts
  packages/frontend/editor-ui/src/components/RunDataItemCount.vue
Due: tests

chore(core): Fix typo in prototype mutation env var docline
  packages/@n8n/task-runner/src/config/js-runner-config.ts
Due: tests, Backend

fix(core): Allow `$evaluateExpression` to resolve in task runners (#14641)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/workflow/src/Expression.ts
  packages/workflow/test/Expression.test.ts
Due: tests, Backend

test: Fix e2e tests now that Code tool node doesn't have name param
  cypress/e2e/5-ndv.cy.ts
Due: tests

resolve `parentFolder` when retrieving workflow
  packages/cli/src/databases/entities/folder.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: tests, Backend

remove .only in tests
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: none

increase test coverage for useLayout
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useLayout.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/composables/useResizablePanel.ts
Due: tests

test: update tests
  packages/frontend/editor-ui/src/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/usePushConnection.test.ts
Due: none

fix: Unit test fails due to missing document
  package.json
  patches/element-plus@2.4.3.patch
  pnpm-lock.yaml
Due: tests

feat(HTTP Request Node): Port `optimizeResponse` from httpRequest tool to standalone node (no-changelog) (#14307)
  packages/core/src/constants.ts
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/shared/optimizeResponse.test.ts
  packages/nodes-base/nodes/HttpRequest/shared/optimizeResponse.ts
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Due: tests, Backend, Nodes

feat(editor): Align `DynamicStructuredTool` and `DynamicTool` name fields (#14604)
  cypress/e2e/5-ndv.cy.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.test.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/ToolWorkflow.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/versionDescription.ts
  packages/@n8n/nodes-langchain/utils/helpers.ts
  packages/core/src/execution-engine/node-execution-context/utils/create-node-as-tool.ts
Due: tests, Backend, Nodes

fix(editor): Stop auto-focusing search in resource views (no-changelog) (#14642)
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
Due: tests

feat: improve performance
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: tests

Map node types to names
  packages/frontend/editor-ui/src/stores/builder.store.ts
Due: tests

Fix builder chat offset
  packages/frontend/editor-ui/src/components/Node/NodeCreator/NodeCreator.vue
Due: tests

Add back fallback nodes if empty
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: tests

Disable prompt if in progress
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
Due: tests

Fix-up stickies position
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
Due: tests

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/chat/**, packages/@n8n/codemirror-lang/**, packages/design-system/**, packages/editor-ui/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
