Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

fix(editor): Increase icon sizes in parameters
  packages/frontend/editor-ui/src/components/AssignmentCollection/Assignment.vue
  packages/frontend/editor-ui/src/components/FilterConditions/Condition.vue
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
Due: tests, Frontend

fix(editor): Only show node executing spinner if workflow is executing (no-changelog) (#16846)
  packages/frontend/editor-ui/src/components/canvas/WorkflowCanvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
Due: tests, Frontend

refactor(core): Lint to enforce lazyloading in modules (#16843)
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.test.ts
  packages/@n8n/eslint-config/src/rules/no-constructor-in-backend-module.ts
  packages/@n8n/eslint-config/src/rules/no-top-level-relative-imports-in-backend-module.test.ts
  packages/@n8n/eslint-config/src/rules/no-top-level-relative-imports-in-backend-module.ts
  packages/cli/eslint.config.mjs
  packages/cli/src/modules/insights/insights.module.ts
Due: tests, Backend

Update package.json
  package.json
Due: tests

feat(editor): Update grid size to 16px for better alignment
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/ActionItem.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/composables/useCanvasLayout.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Due: tests, Frontend

fix(editor): Fix inifnite loading in Resource Locator Dropdown under certain conditions (#16773)
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
Due: tests, Frontend

feat: Implement streaming response node on ChatTrigger and Webhook (no-changelog) (#16761)
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/__test__/ChatTrigger.node.test.ts
  packages/nodes-base/nodes/Webhook/Webhook.node.ts
  packages/nodes-base/nodes/Webhook/description.ts
  packages/nodes-base/nodes/Webhook/test/Webhook.test.ts
Due: tests, Nodes

Implement streaming
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV2.test.ts
Due: tests, Nodes

Add property to enable streaming on agents
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
Due: tests, Nodes

Hide streaming behind version
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
Due: tests, Nodes

fix(editor): Update default positions for AI sub-nodes (no-changelog))s
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

fix(editor): Increase icon sizes in parameters (no-changelog) (#16866)
  packages/frontend/editor-ui/src/components/AssignmentCollection/Assignment.vue
  packages/frontend/editor-ui/src/components/FilterConditions/Condition.vue
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
Due: tests, Frontend

feat(editor): Refactor the executable node logic (no-changelog) (#16848)
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/composables/useNodeHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useNodeHelpers.ts
Due: tests, Frontend

👌 Fixing wrong index in node size
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

Add inviteAcceptUrl to users list schema
  packages/@n8n/api-types/src/schemas/user.schema.ts
  packages/cli/test/integration/users.api.test.ts
Due: tests, Backend

fix(core): Apply same VM wrapper to both modes in task runner
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: tests, Backend

fix(core): Remove unneeded cookies from webhook requests
  packages/cli/src/webhooks/__tests__/webhook-request-sanitizer.test.ts
  packages/cli/src/webhooks/constants.ts
  packages/cli/src/webhooks/live-webhooks.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-request-sanitizer.ts
Due: tests, Backend

Only stringify if the chunk is not a string already
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
Due: tests, Backend

Execute workflow after setting streaming variables
  packages/cli/src/webhooks/webhook-helpers.ts
Due: tests, Backend

Hide streaming option in version 2.1
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts
Due: tests, Nodes

fix: update tests
  packages/frontend/editor-ui/src/__tests__/data/canvas.ts
  packages/frontend/editor-ui/src/components/canvas/Canvas.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/background/__snapshots__/CanvasBackground.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
  packages/frontend/editor-ui/src/composables/__snapshots__/useCanvasLayout.test.ts.snap
  packages/frontend/editor-ui/src/composables/useCanvasLayout.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasLayout.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/utils/canvasUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Due: tests, Frontend

👕 Using `const` for `pushOffsets`
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: tests, Frontend

fix: update imports
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
Due: tests, Frontend

test: update snapshots
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
Due: none

feat: Transcribe timestamps, usableAsTool
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/audio/transcribe.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/versionDescription.ts
Due: tests, Nodes

fix: Intercepts are defined before login
  cypress/support/e2e.ts
Due: none

⚡️ Bumping z-index for unconnected nodes
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/CanvasHandlePlus.vue
  packages/frontend/editor-ui/src/styles/plugins/_vueflow.scss
Due: tests, Frontend

Path conditions:
  tests: any of: **, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Backend: any of: packages/@n8n/api-types/**, packages/@n8n/config/**, packages/@n8n/client-oauth2/**, packages/@n8n/di/**, packages/@n8n/imap/**, packages/@n8n/permissions/**, packages/@n8n/task-runner/**, packages/workflow/**, packages/core/**, packages/cli/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Frontend: any of: packages/@n8n/codemirror-lang/**, packages/frontend/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
  Nodes: any of: packages/node-dev/**, packages/nodes-base/**, packages/@n8n/json-schema-to-zod/**, packages/@n8n/nodes-langchain/**, but not: (?s:.*/[^\/]*\.spec\.ts.*)\Z, (?s:.*/[^\/]*\.test\.ts.*)\Z, (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z
