Repository n8n-io/n8n: changes, and which Codecov flags are due for each by the changed paths.
All: tests, Backend, Frontend, Nodes

codecov.yml:

codecov:
  max_report_age: off
  require_ci_to_pass: true

coverage:
  status:
    patch: false
    project:
      default:
        threshold: 0.5%

github_checks:
  annotations: false

flags:
  tests:
    paths:
      - "**"
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"
  individual_components:
    - component_id: backend_packages
      name: Backend
      paths:
        - packages/@n8n/api-types/**
        - packages/@n8n/config/**
        - packages/@n8n/client-oauth2/**
        - packages/@n8n/di/**
        - packages/@n8n/imap/**
        - packages/@n8n/permissions/**
        - packages/@n8n/task-runner/**
        - packages/workflow/**
        - packages/core/**
        - packages/cli/**
    - component_id: frontend_packages
      name: Frontend
      paths:
        - packages/@n8n/chat/**
        - packages/@n8n/codemirror-lang/**
        - packages/design-system/**
        - packages/editor-ui/**
    - component_id: nodes_packages
      name: Nodes
      paths:
        - packages/node-dev/**
        - packages/nodes-base/**
        - packages/@n8n/json-schema-to-zod/**
        - packages/@n8n/nodes-langchain/**

ignore:
  - (?s:.*/[^\/]*\.spec\.ts.*)\Z
  - (?s:.*/[^\/]*\.test\.ts.*)\Z
  - (?s:.*/[^\/]*e2e[^\/]*\.ts.*)\Z

fix(AI Agent Node): Ignore SSL errors option for SQLAgent (#13052)
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/other/handlers/postgres.test.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/other/handlers/postgres.ts
Due: tests, Nodes

throw an error if username filed is empty
  packages/nodes-base/nodes/Google/GSuiteAdmin/GSuiteAdmin.node.ts
Due: tests, Nodes

feat(Summarize Node): Preserves original field data type (#13069)
  packages/nodes-base/nodes/Transform/Summarize/Summarize.node.ts
  packages/nodes-base/nodes/Transform/Summarize/test/workflow.summarize_datatypes.json
  packages/nodes-base/nodes/Transform/Summarize/utils.ts
Due: tests, Nodes

respond to chat files, wip
  packages/@n8n/chat/src/components/Input.vue
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/Chat.node.ts
Due: tests, Frontend, Nodes

feat(Facebook Graph API Node): Update node to support API v22.0 (#13024)
  packages/nodes-base/nodes/Facebook/FacebookGraphApi.node.ts
Due: tests, Nodes

fix(editor): Fix overrideField text overflow (no-changelog) (#13068)
  packages/editor-ui/src/components/ParameterInputOverrides/FromAiOverrideField.vue
  packages/editor-ui/src/components/ResourceLocator/resourceLocator.scss
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: tests, Frontend

add unit tests
  packages/editor-ui/src/composables/useCanvasNodeHover.test.ts
  packages/editor-ui/src/composables/useCanvasNodeHover.ts
  packages/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/editor-ui/src/composables/useRunWorkflow.test.ts
Due: tests, Frontend

Throw error in case `mimeType` is not an image
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
Due: tests, Nodes

revert it.only() to it()
  packages/editor-ui/src/composables/useRunWorkflow.test.ts
Due: none

feat: Add new schema files (no-changelog) (#13062)
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/get.json
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/getAll.json
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/deal/update.json
  packages/nodes-base/nodes/Aws/S3/__schema__/v2.0.0/file/download.json
  packages/nodes-base/nodes/ClickUp/__schema__/v1.0.0/timeEntry/getAll.json
  packages/nodes-base/nodes/Coda/__schema__/v1.1.0/table/getAllColumns.json
  packages/nodes-base/nodes/Coda/__schema__/v1.1.0/table/pushButton.json
  packages/nodes-base/nodes/ERPNext/__schema__/v1.0.0/document/getAll.json
  packages/nodes-base/nodes/Freshservice/__schema__/v1.0.0/ticket/get.json
  packages/nodes-base/nodes/Github/__schema__/v1.0.0/file/get.json
  packages/nodes-base/nodes/Gong/__schema__/v1.0.0/call/getAll.json
  packages/nodes-base/nodes/Google/Calendar/__schema__/v1.3.0/event/update.json
  packages/nodes-base/nodes/Google/Drive/__schema__/v2.0.0/file/list.json
  packages/nodes-base/nodes/Google/Slides/__schema__/v2.0.0/page/get.json
  packages/nodes-base/nodes/Grafana/__schema__/v1.0.0/dashboard/get.json
  packages/nodes-base/nodes/Harvest/__schema__/v1.0.0/invoice/getAll.json
  packages/nodes-base/nodes/HomeAssistant/__schema__/v1.0.0/state/upsert.json
  packages/nodes-base/nodes/Hubspot/__schema__/v2.1.0/company/update.json
  packages/nodes-base/nodes/OpenAi/__schema__/v1.1.0/text/complete.json
  packages/nodes-base/nodes/QuickBooks/__schema__/v1.0.0/vendor/getAll.json
  packages/nodes-base/nodes/Spotify/__schema__/v1.0.0/album/search.json
  packages/nodes-base/nodes/Spotify/__schema__/v1.0.0/artist/getTopTracks.json
  packages/nodes-base/nodes/Spotify/__schema__/v1.0.0/player/recentlyPlayed.json
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/message/sendLocation.json
  packages/nodes-base/nodes/Todoist/__schema__/v2.1.0/task/close.json
  packages/nodes-base/nodes/Trello/__schema__/v1.0.0/checklist/create.json
  packages/nodes-base/nodes/Trello/__schema__/v1.0.0/checklist/createCheckItem.json
  packages/nodes-base/nodes/Wise/__schema__/v1.0.0/account/getBalances.json
  packages/nodes-base/nodes/WooCommerce/__schema__/v1.0.0/customer/get.json
  packages/nodes-base/nodes/Zendesk/__schema__/v1.0.0/user/getAll.json
Due: tests, Nodes

refactor(Google Gemini Chat Model): Provide custom message mapper to N8nLlmTracing
  packages/@n8n/nodes-langchain/nodes/llms/LmChatGoogleGemini/LmChatGoogleGemini.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/N8nLlmTracing.ts
Due: tests, Nodes

feat(core): Add an option to allow community nodes as tools
  packages/@n8n/config/src/configs/nodes.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/__tests__/node-types.test.ts
  packages/cli/src/node-types.ts
Due: tests, Backend

fix: fix biome paths
  packages/frontend/composables/biome.jsonc
  packages/frontend/composables/package.json
Due: tests

Add test for switching code node
  cypress/e2e/6-code-node.cy.ts
  cypress/pages/ndv.ts
  packages/editor-ui/src/components/ParameterInput.vue
Due: tests, Frontend

replaced formating to html
  packages/nodes-base/nodes/Microsoft/Teams/test/v2/node/chatMessage/sendAndWait.test.ts
  packages/nodes-base/nodes/Microsoft/Teams/v2/actions/chatMessage/sendAndWait.operation.ts
Due: tests, Nodes

fix: restructure and remove barrel file
  packages/design-system/src/components/N8nKeyboardShortcut/N8nKeyboardShortcut.vue
  packages/design-system/tsconfig.json
  packages/design-system/vite.config.mts
  packages/editor-ui/src/components/CanvasControls.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/components/canvas/Canvas.test.ts
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/composables/useCanvasMouseSelect.ts
  packages/editor-ui/src/composables/useCanvasPanning.ts
  packages/editor-ui/src/composables/useDebugInfo.ts
  packages/editor-ui/src/composables/useHistoryHelper.ts
  packages/editor-ui/src/composables/useKeybindings.ts
  packages/editor-ui/src/composables/useNodeBase.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/tsconfig.json
  packages/editor-ui/vite.config.mts
  packages/frontend/@n8n/composables/.eslintrc.cjs
  packages/frontend/@n8n/composables/.gitignore
  packages/frontend/@n8n/composables/README.md
  packages/frontend/@n8n/composables/biome.jsonc
  packages/frontend/@n8n/composables/package.json
  packages/frontend/@n8n/composables/src/__tests__/setup.ts
  packages/frontend/@n8n/composables/src/shims.d.ts
  packages/frontend/@n8n/composables/src/useDeviceSupport.test.ts
  packages/frontend/@n8n/composables/src/useDeviceSupport.ts
  packages/frontend/@n8n/composables/tsconfig.json
  packages/frontend/@n8n/composables/tsup.config.ts
  packages/frontend/@n8n/composables/vite.config.ts
  packages/frontend/composables/.vscode/extensions.json
  packages/frontend/composables/biome.jsonc
  packages/frontend/composables/package.json
  packages/frontend/composables/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tests, Frontend

fix: fix vite alias
  packages/design-system/vite.config.mts
Due: tests, Frontend

fix: fix alias in editor-ui
  packages/editor-ui/vite.config.mts
Due: tests, Frontend

refactor: rename to '@n8n/composables'
  packages/design-system/package.json
  packages/design-system/src/components/N8nKeyboardShortcut/N8nKeyboardShortcut.vue
  packages/design-system/tsconfig.json
  packages/design-system/vite.config.mts
  packages/editor-ui/package.json
  packages/editor-ui/src/components/CanvasControls.vue
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/Sticky.vue
  packages/editor-ui/src/components/canvas/Canvas.test.ts
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/composables/useCanvasMouseSelect.ts
  packages/editor-ui/src/composables/useCanvasPanning.ts
  packages/editor-ui/src/composables/useDebugInfo.ts
  packages/editor-ui/src/composables/useHistoryHelper.ts
  packages/editor-ui/src/composables/useKeybindings.ts
  packages/editor-ui/src/composables/useNodeBase.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/editor-ui/tsconfig.json
  packages/frontend/@n8n/composables/README.md
  packages/frontend/@n8n/composables/package.json
Due: tests, Frontend

fix: add silent flag to test command
  packages/frontend/@n8n/composables/package.json
Due: tests

Make folder name length the same as the workflow name
  packages/cli/src/databases/entities/folder.ts
  packages/cli/src/databases/migrations/common/1738709609940-CreateFolderTable.ts
Due: tests, Backend

Do not set default value in entity
  packages/cli/src/databases/entities/workflow-entity.ts
Due: tests, Backend

Force click floating node in e2e test
  cypress/pages/ndv.ts
Due: tests

feat: added new package to codecov
  codecov.yml
Due: tests

feat: added new package to turbo
  turbo.json
Due: tests

feat(script): Add n8n.sh for automated installation of n8n-nodes packages
  n8n.sh
Due: tests
