Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

styles_check:
  run: pnpm lint:styles:fix
  skip:
  - merge
  - rebase

actionlint_check:
  run: actionlint {staged_files}
  skip:
  - merge
  - rebase

add refresh token rotation in a transaction
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: biome_check

feat(workflow): Update extras.txt to include additional Python dependencies for enhanced functionality
  docker/images/runners/extras.txt
Due: none

feat(workflow): Enhance custom runner image workflow with multi-arch build support
  .github/workflows/create-custom-runner-image.yml
Due: actionlint_check

Switch to boolean feature flag
  packages/frontend/editor-ui/src/app/components/SettingsSidebar.vue
  packages/frontend/editor-ui/src/app/constants/experiments.ts
  packages/frontend/editor-ui/src/router.test.ts
  packages/frontend/editor-ui/src/router.ts
Due: biome_check, prettier_check, styles_check

fix(workflow): Remove azure-ai-openai from extras.txt and retain azure-storage-blob
  docker/images/runners/extras.txt
Due: none

fix(workflow): Remove opencv-python and scikit-image from extras.txt to streamline image processing dependencies
  docker/images/runners/extras.txt
Due: none

port all entities and repositories to the mcp module
  packages/@n8n/backend-test-utils/src/test-db.ts
  packages/@n8n/db/src/entities/index.ts
  packages/@n8n/db/src/entities/user.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-authorization-code.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-consent.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.auth.consent.controller.api.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp.oauth.controller.api.test.ts
  packages/cli/src/modules/mcp/database/entities/oauth-access-token.entity.ts
  packages/cli/src/modules/mcp/database/entities/oauth-authorization-code.entity.ts
  packages/cli/src/modules/mcp/database/entities/oauth-client.entity.ts
  packages/cli/src/modules/mcp/database/entities/oauth-refresh-token.entity.ts
  packages/cli/src/modules/mcp/database/entities/oauth-user-consent.entity.ts
  packages/cli/src/modules/mcp/database/repositories/oauth-access-token.repository.ts
  packages/cli/src/modules/mcp/database/repositories/oauth-authorization-code.repository.ts
  packages/cli/src/modules/mcp/database/repositories/oauth-client.repository.ts
  packages/cli/src/modules/mcp/database/repositories/oauth-refresh-token.repository.ts
  packages/cli/src/modules/mcp/database/repositories/oauth-user-consent.repository.ts
  packages/cli/src/modules/mcp/mcp-api-key.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-authorization-code.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-consent.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-service.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
  packages/cli/src/modules/mcp/mcp.module.ts
Due: biome_check

fix(workflow): Remove pydantic-ai from extras.txt to clean up dependencies
  docker/images/runners/extras.txt
Due: none

fix issues with tests
  packages/cli/src/modules/mcp/__tests__/mcp.oauth.controller.api.test.ts
  packages/cli/src/modules/mcp/mcp.module.ts
  packages/cli/test/integration/shared/types.ts
Due: biome_check

Clean up types
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsAwsBedrock/EmbeddingsAwsBedrock.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAwsBedrock/LmChatAwsBedrock.node.ts
Due: biome_check

more fixes
  packages/@n8n/db/src/migrations/common/1760116750277-CreateOAuthEntities.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: biome_check

handle grantedAt in miliseconds
  packages/@n8n/db/src/migrations/common/1760116750277-CreateOAuthEntities.ts
Due: biome_check

fix race condition
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
Due: biome_check

fix another race condition
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-authorization-code.service.test.ts
  packages/cli/src/modules/mcp/mcp-oauth-authorization-code.service.ts
Due: biome_check

中文本地化：完整界面翻译和语言切换功能
  docs/CHANGELOG.md
  docs/FEATURES.md
  docs/README.md
  docs/TECHNICAL-DETAILS.md
  packages/frontend/@n8n/design-system/src/components/DateRangePicker/DateRangePicker.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/design-system/src/locale/lang/zh.ts
  packages/frontend/@n8n/i18n/src/locales/zh.json
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/app/components/LanguageSelector.vue
  packages/frontend/editor-ui/src/features/core/auth/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDataRangePicker.vue
  packages/frontend/editor-ui/src/main.ts
Due: biome_check, prettier_check, styles_check

阶段 2：提取 Feature Flags 并完全删除 PostHog Store
  packages/frontend/editor-ui/src/app/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/app/composables/useFloatingUiOffsets.ts
  packages/frontend/editor-ui/src/app/stores/featureFlags.store.ts
  packages/frontend/editor-ui/src/app/stores/posthog.store.test.ts
  packages/frontend/editor-ui/src/app/stores/posthog.store.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
  packages/frontend/editor-ui/src/experiments/aiTemplatesStarterCollection/stores/aiTemplatesStarterCollection.store.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/stores/personalizedTemplates.store.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplatesV3/stores/personalizedTemplatesV3.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflows/stores/readyToRunWorkflows.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
  packages/frontend/editor-ui/src/experiments/templateRecoV2/stores/templateRecoV2.store.ts
  packages/frontend/editor-ui/src/experiments/templatesDataQuality/stores/templatesDataQuality.store.ts
  packages/frontend/editor-ui/src/experiments/utils.ts
  packages/frontend/editor-ui/src/features/ndv/panel/components/InputPanel.vue
  packages/frontend/editor-ui/src/features/ndv/panel/components/NDVFloatingNodes.vue
  packages/frontend/editor-ui/src/features/ndv/panel/components/OutputPanel.vue
  packages/frontend/editor-ui/src/features/ndv/runData/components/RunData.vue
  packages/frontend/editor-ui/src/features/settings/users/components/PersonalizationModal.vue
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useCommandBar.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/shims.d.ts
Due: biome_check, prettier_check, styles_check

Removed Circular Structure
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/MemoryMongoDbChat.node.ts
Due: biome_check

✨ Show description as workflow card tooltip
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/app/views/WorkflowsView.vue
Due: biome_check, prettier_check, styles_check

✨ Render description in MCP table
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
Due: biome_check, prettier_check, styles_check

Add initial rule
  packages/workflow/src/workflow-diff.ts
  packages/workflow/test/workflow-diff.test.ts
Due: biome_check

Fix failing e2e test
  packages/testing/playwright/tests/ui/14-mapping.spec.ts
Due: biome_check

change menu icon
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatSidebarOpener.vue
Due: prettier_check, styles_check

fix(editor): Fix preview for json output with long values (#21412)
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/features/ndv/runData/components/__snapshots__/RunDataJson.test.ts.snap
  packages/testing/playwright/tests/ui/14-mapping.spec.ts
  pnpm-lock.yaml
Due: biome_check

update rule interface
  packages/workflow/src/workflow-diff.ts
  packages/workflow/test/workflow-diff.test.ts
Due: biome_check

Update MemoryMongoDbChat.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/MemoryMongoDbChat.node.ts
Due: biome_check

fix(ai-builder): Add support for node versions in searching, adding and updating nodes (#21488)
  packages/@n8n/ai-workflow-builder.ee/src/tools/add-node.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/engines/node-search-engine.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/engines/test/node-search-engine.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/helpers/validation.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/node-details.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/add-node.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/node-details.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/update-node-parameters.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/update-node-parameters.tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/utils/node-creation.utils.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/nodes.ts
  packages/@n8n/ai-workflow-builder.ee/test/test-utils.ts
Due: biome_check

feat(core): Adapt breaking changes report data to UI needs (#21442)
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/breaking-changes.schema.ts
  packages/cli/src/modules/breaking-changes/README.md
  packages/cli/src/modules/breaking-changes/__tests__/breaking-changes.rule-registry.service.test.ts
  packages/cli/src/modules/breaking-changes/__tests__/breaking-changes.service.test.ts
  packages/cli/src/modules/breaking-changes/__tests__/test-helpers.ts
  packages/cli/src/modules/breaking-changes/breaking-changes.controller.ts
  packages/cli/src/modules/breaking-changes/breaking-changes.service.ts
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/file-access.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/process-env-access.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/removed-nodes.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/file-access.rule.ts
  packages/cli/src/modules/breaking-changes/rules/v2/process-env-access.rule.ts
  packages/cli/src/modules/breaking-changes/rules/v2/removed-nodes.rule.ts
  packages/cli/src/modules/breaking-changes/types/detection.types.ts
  packages/cli/src/modules/breaking-changes/types/rule.types.ts
Due: biome_check, prettier_check

test: Add an integration test for workflow version counter increment (#21513)
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

address PR review
  packages/cli/src/modules/chat-hub/chat-hub.attachment.service.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/file-system.manager.ts
  packages/core/src/binary-data/index.ts
  packages/core/src/binary-data/object-store.manager.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/binary-data/utils.ts
Due: biome_check

Add 'mcpOAuth2Api' to OAuth2 API constants
  packages/cli/src/constants.ts
Due: biome_check

feat: Use experiment feature flag for SSO provisioning (no changelog) (#21494)
  packages/frontend/editor-ui/src/app/components/SettingsSidebar.vue
  packages/frontend/editor-ui/src/app/constants/experiments.ts
  packages/frontend/editor-ui/src/features/settings/provisioning/views/SettingsProvisioningView.vue
  packages/frontend/editor-ui/src/router.test.ts
  packages/frontend/editor-ui/src/router.ts
Due: biome_check, prettier_check, styles_check

✨ Added `WorkflowDescriptionPopover` component
  build.log
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/components/MainHeader/MainHeader.vue
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowDescriptionPopover.vue
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: biome_check, prettier_check, styles_check

Fix mock testing for webhook
  packages/cli/test/integration/eventbus.ee.test.ts
Due: biome_check

Improve Circuit Breaker implementation
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination.ee.ts
  packages/cli/src/utils/__tests__/circuit-breaker.test.ts
  packages/cli/src/utils/circuit-breaker.ts
  packages/workflow/src/message-event-bus.ts
Due: biome_check

Move circuit breaker to message event bus destination to support all different destinations
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination.ee.ts
Due: biome_check

Ad socket pooling for webhook log streaming
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/workflow/src/message-event-bus.ts
Due: biome_check

Add generic circuit breaker and use it in webhook logstream destination
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/cli/src/utils/__tests__/circuit-breaker.test.ts
  packages/cli/src/utils/circuit-breaker.ts
Due: biome_check

Improvements
  packages/@n8n/config/src/configs/logging.config.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination.ee.ts
  packages/cli/src/utils/circuit-breaker.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
  styles_check: any of: packages/**/*.{scss,sass,vue}
  actionlint_check: any of: .github/workflows/*.{yml,yaml}
