Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

use vue router, where possible, also continue routing on auth error when mfa enforced
  packages/frontend/editor-ui/src/components/MfaSetupModal.vue
  packages/frontend/editor-ui/src/router.ts
Due: biome_check, prettier_check

Fix test case
  packages/cli/test/integration/mfa/mfa.api.test.ts
Due: biome_check

Use MfaRequired error
  packages/frontend/@n8n/rest-api-client/src/utils.ts
  packages/frontend/editor-ui/src/router.ts
Due: biome_check

Remove unnecessary next call
  packages/frontend/editor-ui/src/router.ts
Due: biome_check

addressed AI comments
  packages/cli/src/mfa/mfa.service.ts
  packages/cli/src/server.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: biome_check

fix(editor): Using router for forced MFA
  packages/frontend/@n8n/rest-api-client/src/utils.ts
  packages/frontend/editor-ui/src/router.ts
Due: biome_check

✔️ Updating snapshots
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/__snapshots__/CanvasHandlePlus.test.ts.snap
Due: none

Fix pr comments
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/webhook-request-sanitizer.test.ts
  packages/cli/src/webhooks/live-webhooks.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook-request-sanitizer.ts
  packages/cli/src/webhooks/webhook.types.ts
Due: biome_check

fix(editor): Skip community node types request on preview mode (no-changelog) (#16876)
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: biome_check

fix: account for configurable node middle offset
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
Due: biome_check, prettier_check

fix(editor): Make sure connectors are clickable when overlapped by node description (#16765)
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/CanvasHandlePlus.vue
  packages/frontend/editor-ui/src/components/canvas/elements/handles/render-types/parts/__snapshots__/CanvasHandlePlus.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/styles/plugins/_vueflow.scss
Due: prettier_check

fix: show new node name only in logs after renaming
  packages/frontend/editor-ui/src/features/logs/components/LogDetailsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewNodeName.vue
Due: biome_check, prettier_check

Clarify nullable check
  packages/cli/src/webhooks/webhook-request-sanitizer.ts
Due: biome_check

Use CHAT_TRIGGER_NODE_TYPE constant
  packages/cli/src/webhooks/constants.ts
Due: biome_check

Address PR review
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

fix: make selection sync work after renaming a node
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
Due: biome_check

Add Cohere Chat Node
  packages/@n8n/nodes-langchain/credentials/CohereApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatCohere/LmChatCohere.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatCohere/cohere.dark.svg
  packages/@n8n/nodes-langchain/nodes/llms/LmChatCohere/cohere.svg
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

fix(core): Apply same VM wrapper to both modes in task runner (#16872)
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

feat(editor): Move AI assistant button to the bottom of canvas action buttons
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/components/AskAssistant/Chat/AskAssistantFloatingButton.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/stores/assistant.store.test.ts
  packages/frontend/editor-ui/src/stores/assistant.store.ts
Due: biome_check, prettier_check

fix(editor): Display error messages from AI service on status 500 errors if they fail with a message
  cypress/e2e/6-code-node.cy.ts
  packages/frontend/editor-ui/src/components/CodeNodeEditor/AskAI/AskAI.vue
Due: prettier_check

adding more unit tests
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersActionsCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersProjectsCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersRoleCell.vue
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.test.ts
  packages/frontend/editor-ui/src/components/SettingsUsers/SettingsUsersTable.vue
Due: biome_check, prettier_check

refactor(core): Improve top-level key validation in task runner
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/result-validation.ts
  packages/nodes-base/nodes/Code/Sandbox.ts
Due: biome_check

fix(core): Remove unneeded cookies from webhook requests (#16736)
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/webhook-request-sanitizer.test.ts
  packages/cli/src/webhooks/constants.ts
  packages/cli/src/webhooks/live-webhooks.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-request-sanitizer.ts
  packages/cli/src/webhooks/webhook.types.ts
Due: biome_check
