Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

change row click behavior
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
Due: prettier_check

docker
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  n8n-task-runners.json
Due: none

kamal
  .kamal/hooks/docker-setup.sample
  .kamal/hooks/post-app-boot.sample
  .kamal/hooks/post-deploy.sample
  .kamal/hooks/post-proxy-reboot.sample
  .kamal/hooks/pre-app-boot.sample
  .kamal/hooks/pre-build.sample
  .kamal/hooks/pre-connect.sample
  .kamal/hooks/pre-deploy.sample
  .kamal/hooks/pre-proxy-reboot.sample
  .kamal/secrets
  config/deploy.yml
Due: none

fix(Baserow Node): Fix issue where database selection was returning other types
  packages/nodes-base/nodes/Baserow/Baserow.node.ts
  packages/nodes-base/nodes/Baserow/types.ts
Due: biome_check

Adds Mem0 Memory Node
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMem0/MemoryMem0.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMem0/mem0.svg
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

Add tests
  packages/nodes-base/nodes/Baserow/Baserow.node.ts
  packages/nodes-base/nodes/Baserow/__tests__/GenericFunctions.test.ts
  packages/nodes-base/nodes/Baserow/__tests__/workflow/apiResponses.ts
  packages/nodes-base/nodes/Baserow/__tests__/workflow/workflow.json
  packages/nodes-base/nodes/Baserow/__tests__/workflow/workflow.test.ts
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Due: biome_check

Start on tests
  packages/nodes-base/nodes/Wordpress/__tests__/GenericFunctions.test.ts
Due: biome_check

lint fix
  packages/nodes-base/nodes/Baserow/__tests__/GenericFunctions.test.ts
Due: biome_check

lint fix
  packages/nodes-base/nodes/Baserow/__tests__/workflow/workflow.test.ts
Due: biome_check

fix(editor): Update registered community CTA (no-changelog)
  packages/frontend/editor-ui/src/components/CommunityPlusEnrollmentModal.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

fix Next Form Page`s link
  packages/nodes-base/nodes/Form/Form.node.ts
Due: biome_check

import order fix
  packages/nodes-base/nodes/Wordpress/__tests__/GenericFunctions.test.ts
Due: biome_check

Start on workflow tests
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/apiResponses.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/workflow.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/workflow.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/workflow.test.ts
Due: biome_check

add a new operation Dispatch Workflow Event and Wait for Completion
  packages/nodes-base/nodes/Github/Github.node.ts
Due: biome_check

feat: Supadata node integration
  packages/nodes-base/credentials/SupadataApi.credentials.ts
  packages/nodes-base/credentials/icons/Supadata.svg
  packages/nodes-base/nodes/Form/utils.ts
  packages/nodes-base/nodes/SeaTable/v2/actions/asset/upload.operation.ts
  packages/nodes-base/nodes/SeaTable/v2/actions/row/get.operation.ts
  packages/nodes-base/nodes/SeaTable/v2/actions/row/list.operation.ts
  packages/nodes-base/nodes/SeaTable/v2/actions/row/search.operation.ts
  packages/nodes-base/nodes/Supadata/GenericFunctions.ts
  packages/nodes-base/nodes/Supadata/Supadata.node.json
  packages/nodes-base/nodes/Supadata/Supadata.node.ts
  packages/nodes-base/nodes/Supadata/supadata.svg
  packages/nodes-base/nodes/Supadata/test/GenericFunctions.test.ts
  packages/nodes-base/package.json
Due: biome_check

feat(core): Add tool to uninstall a community node (#14026)
  packages/cli/src/commands/__tests__/community-node.test.ts
  packages/cli/src/commands/community-node.ts
Due: biome_check

refactoring, replace node preview with installed type
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/composables/useViewStacks.ts
  packages/frontend/editor-ui/src/stores/nodeCreator.store.ts
Due: biome_check, prettier_check

feat(API): Implement compaction logic for insights (#14062)
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/entities/__tests__/db-utils.ts
  packages/cli/src/modules/insights/insights.config.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/src/modules/insights/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/repositories/insights-raw.repository.ts
Due: biome_check

wip commit
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: biome_check

Fix unit test timeout
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
Due: biome_check

Added Conversations, Summary, and getAgent to the Freshdesk node
  packages/nodes-base/nodes/Freshdesk/AgentDescription.ts
  packages/nodes-base/nodes/Freshdesk/AgentInterface.ts
  packages/nodes-base/nodes/Freshdesk/ConversationDescription.ts
  packages/nodes-base/nodes/Freshdesk/ConversationInterface.ts
  packages/nodes-base/nodes/Freshdesk/Freshdesk.node.ts
  packages/nodes-base/nodes/Freshdesk/SummaryDescription.ts
  packages/nodes-base/nodes/Freshdesk/SummaryInterface.ts
Due: biome_check

Readd removed call
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

[#feature] Add a zoho calendar, zoho zeptomail integtation with n8n.
  packages/nodes-base/credentials/ZohoCalendarOAuth2Api.credentials.ts
  packages/nodes-base/credentials/ZohoZeptomailOAuth2Api.credentials.ts
  packages/nodes-base/nodes/ZohoCalendar/GenericFunctions.ts
  packages/nodes-base/nodes/ZohoCalendar/ZohoCalendar.node.ts
  packages/nodes-base/nodes/ZohoCalendar/ZohoCalendar.png
  packages/nodes-base/nodes/ZohoCalendar/ZohoCalendarTrigger.node.ts
  packages/nodes-base/nodes/ZohoCalendar/__schema__/v1.0.0/event/create.json
  packages/nodes-base/nodes/ZohoCalendar/__schema__/v1.0.0/event/delete.json
  packages/nodes-base/nodes/ZohoCalendar/__schema__/v1.0.0/event/quick_event.json
  packages/nodes-base/nodes/ZohoCalendar/__schema__/v1.0.0/event/update.json
  packages/nodes-base/nodes/ZohoCalendar/descriptions/EventDescription.ts
  packages/nodes-base/nodes/ZohoCalendar/descriptions/index.ts
  packages/nodes-base/nodes/ZohoCalendar/types.ts
  packages/nodes-base/nodes/ZohoZeptomail/GenericFunctions.ts
  packages/nodes-base/nodes/ZohoZeptomail/ZohoZeptoMail.png
  packages/nodes-base/nodes/ZohoZeptomail/ZohoZeptomail.node.ts
  packages/nodes-base/nodes/ZohoZeptomail/__schema__/v1.0.0/message/sendmail.json
  packages/nodes-base/nodes/ZohoZeptomail/__schema__/v1.0.0/message/sendtemplatemail.json
  packages/nodes-base/nodes/ZohoZeptomail/descriptions/MessageDescription.ts
  packages/nodes-base/nodes/ZohoZeptomail/descriptions/index.ts
  packages/nodes-base/nodes/ZohoZeptomail/type.ts
  packages/nodes-base/package.json
Due: biome_check

change size
  packages/frontend/editor-ui/src/components/CommunityPlusEnrollmentModal.vue
Due: prettier_check

fix(n8n Form Trigger Node): Fix docs link (no-changelog) (#14118)
  packages/nodes-base/nodes/Form/Form.node.ts
Due: biome_check

fix(editor): Fix folder creation (no-changelog) (#14125)
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

xs
  packages/frontend/editor-ui/src/components/CommunityPlusEnrollmentModal.vue
Due: prettier_check

feat: use blacksmith for e2e build step
  .github/workflows/e2e-reusable.yml
  .github/workflows/linting-reusable.yml
Due: none

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
