Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

implement settings Env variable
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/components/RunData.vue
Due: biome_check, prettier_check

feat(core): Add workflowId filter to the test-definitions endpoint (no-changelog) (#11831)
  packages/cli/src/databases/repositories/test-definition.repository.ee.ts
  packages/cli/src/middlewares/list-query/dtos/test-definitions.filter.dto.ts
  packages/cli/src/middlewares/list-query/filter.ts
  packages/cli/test/integration/evaluation/test-definitions.api.test.ts
Due: biome_check

Reapply "refactor(editor): Stop cloning and serializing full execution data for `executionFinished` push message (#11703)"
  cypress/package.json
  cypress/support/index.ts
  cypress/utils/executions.ts
  packages/@n8n/api-types/src/push/execution.ts
  packages/cli/package.json
  packages/cli/src/workflow-execute-additional-data.ts
  packages/editor-ui/package.json
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/composables/usePushConnection.test.ts
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/NodeView.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check, prettier_check

make StructuredOutputParser backward compatible
  packages/@n8n/nodes-langchain/utils/output_parsers/N8nStructuredOutputParser.ts
Due: biome_check

update lock file
  pnpm-lock.yaml
Due: none

fix(core): Fix validation of items returned in the task runner
  packages/@n8n/task-runner/src/js-task-runner/__tests__/result-validation.test.ts
  packages/@n8n/task-runner/src/js-task-runner/result-validation.ts
Due: biome_check

update some of the packages again
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check

feat: add tooltip support for nodes via useCanvasMapping
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTooltip.test.ts
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTooltip.vue
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTriggerIcon.vue
  packages/editor-ui/src/composables/useCanvas.ts
  packages/editor-ui/src/composables/useCanvasMapping.ts
  packages/editor-ui/src/types/canvas.ts
  packages/editor-ui/src/utils/injectStrict.test.ts
  packages/editor-ui/src/utils/injectStrict.ts
Due: biome_check, prettier_check

fix: fix tooltip position after adding github stars button
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

stop using a non-exported type
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/utils.ts
Due: biome_check

chore: revert mainheader changes
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

add search method to get group from list
  packages/nodes-base/nodes/Aws/Cognito/AwsCognito.node.ts
  packages/nodes-base/nodes/Aws/Cognito/GenericFunctions.ts
  packages/nodes-base/nodes/Aws/Cognito/descriptions/GroupDescription.ts
Due: biome_check

add workflow inputs parameters
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/methods/resourceMapping.ts
Due: biome_check

take workflow inputs from child workflow workflow inputs
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/methods/resourceMapping.ts
Due: biome_check

upgrade mongodb
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: biome_check

test: add test for useNodeViewVersionSwitcher
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.test.ts
Due: biome_check

Implement dropdown
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/nodes/ExecuteWorkflowTrigger/test/ExecuteWorkflowTrigger.node.test.ts
Due: biome_check

feat(core): Initial TestRunner service with basic test execution (no-changelog) (#11735)
  packages/cli/src/databases/repositories/execution.repository.ts
  packages/cli/src/evaluation/test-definitions.controller.ee.ts
  packages/cli/src/evaluation/test-definitions.types.ee.ts
  packages/cli/src/evaluation/test-runner/__tests__/mock-data/execution-data.json
  packages/cli/src/evaluation/test-runner/__tests__/mock-data/workflow.evaluation.json
  packages/cli/src/evaluation/test-runner/__tests__/mock-data/workflow.under-test.json
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
  packages/cli/test/integration/evaluation/test-definitions.api.test.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

fix merge
  packages/editor-ui/src/composables/useRunWorkflow.test.ts
Due: biome_check

dependecy
  pnpm-lock.yaml
Due: none

fix(core): Correct invalid WS status code on removing connection
  packages/cli/src/runners/__tests__/task-runner-ws-server.test.ts
  packages/cli/src/runners/runner-ws-server.ts
Due: biome_check

fix(editor): Fix new canvas discovery tooltip position after adding github stars button (#11898)
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

ci: Upgrade task runner launcher to 0.4.0-rc
  docker/images/n8n-custom/Dockerfile
  docker/images/n8n/Dockerfile
Due: none

test: disable migration in e2e
  cypress/support/e2e.ts
Due: none

Move `WsStatusCodes` to `constants.ts`
  packages/cli/src/constants.ts
  packages/cli/src/runners/runner-ws-server.ts
Due: biome_check

Use constant in test
  packages/cli/src/runners/__tests__/task-runner-ws-server.test.ts
Due: biome_check

chore: Upgrade mongodb and socks to address CVE-2024-29415 (no-changelog) (#11899)
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: biome_check

test(editor): Test telemetry component
  packages/editor-ui/src/__tests__/utils.ts
  packages/editor-ui/src/components/Telemetry.test.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
