Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(ado-3923): revert the changes in docker workflow
  .github/workflows/docker-build-push.yml
  .github/workflows/release-publish.yml
Due: none

feat(ado-3923): support experiment as a new channel
  .github/workflows/release-push-to-channel.yml
Due: none

⚡️ Add parameter to `CellValueChangedEvent`
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

refactor(core): Port save settings (#18557)
  packages/@n8n/config/src/configs/executions.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/to-save-settings.test.ts
  packages/cli/src/execution-lifecycle/to-save-settings.ts
  packages/cli/src/services/frontend.service.ts
Due: biome_check

Revert "fix(core): Check all node outputs when using "Always Output Data" bef…"
  packages/core/src/execution-engine/__tests__/workflows/always_output_data_multiple_outputs.json
  packages/core/src/execution-engine/__tests__/workflows/paired_items_fix.json
  packages/core/src/execution-engine/workflow-execute.ts
Due: biome_check

fix(core): Redact secrets from credential test error message (#18386)
  packages/cli/src/__tests__/utils.test.ts
  packages/cli/src/services/__tests__/credentials-tester.service.test.ts
  packages/cli/src/services/credentials-tester.service.ts
  packages/cli/src/utils.ts
Due: biome_check

⚡️ Reverting cells using transactions to avoid multiple event firing
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

Fix columns alignment issue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

Change sentry error to ignore previous one
  packages/core/src/execution-engine/__tests__/workflow-execute-run-node.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Due: biome_check

Suppress column pinning
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

⚡️ Disable `Add Row` button if there are no user columns
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: biome_check, prettier_check

Fix delete columns incorrect params
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

⚡️ Removing editable input from data store cards
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
Due: biome_check, prettier_check

⚡️ Rename `Data Stores` -> `Tables`
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
Due: biome_check, prettier_check

Fix readme
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/environment.ts
Due: biome_check, prettier_check

feat(editor): Add mechanism for showing hidden nodes if required modules are enabled, show data store node with this
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: biome_check

fix(core): Dynamically import `@sentry/node-native`
  packages/core/src/errors/error-reporter.ts
Due: biome_check

use validation error
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
Due: biome_check

feat: Evaluation framework for AI Workflow Builder (#18016)
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/test-case-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/workflow-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli/display.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/environment.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/index.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/load-nodes.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/evaluation.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/langsmith.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/test-result.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-calculator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-helpers.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-reporter.ts
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/ai-workflow-builder.ee/src/chains/prompts/prompt-builder.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/token-usage.ts
Due: biome_check, prettier_check

fix getting webhook methods from path only when dynamic webhook path
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook.service.ts
Due: biome_check

Add test case for dynamic webhook methods fetch
  packages/cli/src/webhooks/__tests__/webhook.service.test.ts
Due: biome_check

fetch all registrations at once
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/test-webhook-registrations.service.ts
  packages/cli/src/webhooks/test-webhooks.ts
Due: biome_check

refactor(editor): Move module enabled nodes to constants
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: biome_check

refactor
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
Due: biome_check

overhaul node design
  packages/nodes-base/nodes/DataStore/DataStore.node.ts
  packages/nodes-base/nodes/DataStore/RowDescription.ts
  packages/nodes-base/nodes/DataStore/actions/router.ts
  packages/nodes-base/nodes/DataStore/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataStore/actions/row/get.operation.ts
  packages/nodes-base/nodes/DataStore/actions/row/insert.operation.ts
  packages/nodes-base/nodes/DataStore/common/fields.ts
  packages/nodes-base/nodes/DataStore/common/utils.ts
Due: biome_check

⚡️ Start loading earlier when row is added
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

rename function
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
Due: biome_check

fix(core): Dynamically import `@sentry/node-native` (#18586)
  packages/core/src/errors/error-reporter.ts
Due: biome_check

remove runtime test var setting. Clean getActiveWebhook comments and logic
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook.service.ts
Due: biome_check

return inserted ids
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
Due: biome_check

feat(editor): Add mechanism for showing hidden nodes if required modules are enabled (#18585)
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/dataStore/constants.ts
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
Due: biome_check

Revert "fix(core): Check all node outputs when using "Always Output Data" before adding an empty object" (#18577)
  packages/core/src/execution-engine/__tests__/workflows/always_output_data_multiple_outputs.json
  packages/core/src/execution-engine/__tests__/workflows/paired_items_fix.json
  packages/core/src/execution-engine/workflow-execute.ts
Due: biome_check

Add support for v1 and v2 http request nodes
  packages/nodes-base/nodes/HttpRequest/V1/HttpRequestV1.node.ts
  packages/nodes-base/nodes/HttpRequest/V2/HttpRequestV2.node.ts
Due: biome_check
