Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

feat(Telegram Trigger Node): Add options to restrict to chat and user IDs (#14164)
  packages/nodes-base/nodes/Telegram/IEvent.ts
  packages/nodes-base/nodes/Telegram/TelegramTrigger.node.ts
Due: biome_check

refactor: migrate nodes build system to tsup
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/other/handlers/postgres.test.ts
  packages/@n8n/nodes-langchain/nodes/shims.d.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/nodes-langchain/tsconfig.build.json
  packages/@n8n/nodes-langchain/tsconfig.json
  packages/@n8n/nodes-langchain/tsup.config.ts
  packages/@n8n/utils/package.json
  packages/frontend/@n8n/composables/package.json
  packages/nodes-base/package.json
  packages/nodes-base/tsconfig.build.json
  packages/nodes-base/tsconfig.json
  packages/nodes-base/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check

feat(API): Add day to week compaction for insights dashboard (#14165)
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/database/repositories/insights-raw.repository.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check

🔨 Re-ordering component options, fixing breadcrumbs item click
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
Due: prettier_check

fix: undo unecessary changes
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/other/handlers/postgres.test.ts
  packages/@n8n/nodes-langchain/nodes/shims.d.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
  packages/@n8n/nodes-langchain/tsup.config.ts
Due: biome_check

ci: Adds deployment pipelines [PE-141]
  .github/workflows/production.yml
  .github/workflows/staging.yml
  docker-bake.hcl
Due: none

improvements
  packages/@n8n/permissions/src/apiKeyScopes.ee.ts
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/types.ee.ts
  packages/cli/src/databases/entities/user.ts
  packages/cli/src/databases/repositories/user.repository.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/public-api/v1/shared/middlewares/global.middleware.ts
  packages/cli/src/requests.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/src/services/role.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/test/integration/project.api.test.ts
  packages/cli/test/integration/role.api.test.ts
  packages/cli/test/integration/shared/db/users.ts
Due: biome_check

Update README.md
  README.md
Due: none

Add tests
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
Due: biome_check

test: Add tests to validate `usableAsTool` directly (no-changelog) (#14197)
  packages/cli/src/__tests__/load-nodes-and-credentials.test.ts
Due: biome_check

return null deviation if no data on the previous period
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check

hide deviation if null
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/__snapshots__/InsightsSummary.test.ts.snap
  packages/frontend/editor-ui/src/features/insights/insights.types.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
Due: biome_check, prettier_check

fix(editor): Fix some chart settings
  packages/frontend/editor-ui/src/features/insights/chartjs.utils.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
Due: biome_check, prettier_check

feat(API): Return null deviation on insights summary if previous period has no data (#14193)
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/components/__snapshots__/InsightsSummary.test.ts.snap
  packages/frontend/editor-ui/src/features/insights/insights.types.ts
  packages/frontend/editor-ui/src/features/insights/insights.utils.ts
Due: biome_check, prettier_check

fix(Basic LLM Chain Node): Prevent stringifying of structured output on previous versions
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/chainExecutor.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/responseFormatter.ts
Due: biome_check

fix linting issues
  packages/cli/src/databases/repositories/user.repository.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/services/role.service.ts
  packages/cli/test/integration/shared/db/users.ts
Due: biome_check

Revert "feat(Airtop Node): Add visual analysis for page query" (#9)
  packages/nodes-base/nodes/Airtop/actions/extraction/query.operation.ts
  packages/nodes-base/nodes/Airtop/test/node/extraction/query.test.ts
Due: biome_check

fix tests
  packages/@n8n/api-types/src/dto/api-keys/__tests__/create-api-key-request.dto.test.ts
Due: biome_check

fix error
  packages/cli/src/databases/entities/user.ts
Due: biome_check

fix more tests
  packages/@n8n/api-types/src/dto/api-keys/__tests__/update-api-key-request.dto.test.ts
  packages/cli/src/controllers/__tests__/api-keys.controller.test.ts
  packages/cli/src/databases/entities/user.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/test/integration/api-keys.api.test.ts
Due: biome_check

fix type error
  packages/cli/src/controllers/__tests__/api-keys.controller.test.ts
Due: biome_check

uncomment code
  packages/@n8n/api-types/src/dto/api-keys/__tests__/update-api-key-request.dto.test.ts
Due: biome_check

fix create api key dto
  packages/@n8n/api-types/src/dto/api-keys/__tests__/create-api-key-request.dto.test.ts
  packages/@n8n/api-types/src/schemas/scopes.schema.ts
Due: biome_check

fix update api key dto
  packages/@n8n/api-types/src/dto/api-keys/__tests__/create-api-key-request.dto.test.ts
  packages/@n8n/api-types/src/dto/api-keys/__tests__/update-api-key-request.dto.test.ts
Due: biome_check

fix fe tests
  packages/frontend/editor-ui/src/components/ApiKeyCreateOrEditModal.test.ts
Due: biome_check

add firebase-admin
  Dockerfile
Due: none

fix(Slack Trigger Node): Fix issue with new user event not correctly working (#14129)
  packages/nodes-base/nodes/Slack/SlackTrigger.node.ts
Due: biome_check

feat(firebase): Add Firebase Admin SDK integration
  Dockerfile
  README.md
  docker-compose.yml
  firebase-admin-example.js
  firebase-admin-test.js
  n8n-firebase-admin-example.js
  n8n-firestore-example.js
Due: none
