Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check, workspace_deps_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    styles_check:
      glob: 'packages/**/*.{scss,sass,vue}'
      run: pnpm lint:styles:fix
      skip:
        - merge
        - rebase
    actionlint_check:
      glob: '.github/workflows/*.{yml,yaml}'
      run: actionlint {staged_files}
      skip:
        - merge
        - rebase
    workspace_deps_check:
      glob: '**/package.json'
      run: |
        if grep -l '"workspace:\^"' {staged_files} 2>/dev/null; then
          echo ""
          echo "ERROR: Found 'workspace:^' in package.json files."
          echo ""
          echo "Use 'workspace:*' instead to pin exact versions."
          echo "Using 'workspace:^' causes npm to resolve semver ranges when users"
          echo "install from npm, which can lead to version mismatches between"
          echo "@n8n/* packages and break n8n startup."
          echo ""
          exit 1
        fi
      skip:
        - merge
        - rebase

test: Add test for resetting branch to HEAD on export failure
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
Due: biome_check

add error state
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.vue
Due: biome_check, prettier_check, styles_check

Add disabled state
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
Due: prettier_check, styles_check

fix(core): Add isToolExecution method to context classes and update HttpRequestV3 to conditionally show hints
  packages/core/src/execution-engine/node-execution-context/__tests__/execute-context.test.ts
  packages/core/src/execution-engine/node-execution-context/__tests__/supply-data-context.test.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/core/src/execution-engine/node-execution-context/supply-data-context.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

Apply stashed AI workflow builder changes
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/llm-config.ts
  packages/@n8n/ai-workflow-builder.ee/src/prompts/README.md
  packages/@n8n/ai-workflow-builder.ee/src/prompts/agents/builder.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/prompts/agents/discovery.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/prompts/agents/responder.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/best-practices/chatbot.ts
Due: biome_check, prettier_check

deprecation -> removal
  packages/cli/src/modules/breaking-changes/rules/v2/__tests__/start-node-removed.rule.test.ts
  packages/cli/src/modules/breaking-changes/rules/v2/index.ts
  packages/cli/src/modules/breaking-changes/rules/v2/start-node-removed.rule.ts
Due: biome_check

add revert version for exec and refine
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.vue
Due: prettier_check, styles_check

test: Fix
  .github/workflows/playwright-test-reusable.yml
Due: actionlint_check

fix: Don't add other fields to error object
  packages/nodes-base/nodes/Postgres/v2/actions/database/deleteTable.operation.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/insert.operation.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/select.operation.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/update.operation.ts
  packages/nodes-base/nodes/Postgres/v2/actions/database/upsert.operation.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/interfaces.ts
  packages/nodes-base/nodes/Postgres/v2/helpers/utils.ts
Due: biome_check

fix(ai-builder): Hide execute and refine button when there's no trigger
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/ExecuteMessage.vue
Due: prettier_check, styles_check

fix: show icon even if agent is no longer available
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatAgentAvatar.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatSessionMenuItem.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: biome_check, prettier_check, styles_check

feat(core): Add support for starting new chats with models
  packages/cli/src/modules/chat-hub/chat-hub.models.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.utils.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useChatHubCommands.ts
Due: biome_check, prettier_check, styles_check

move workflow saving to send message func
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.vue
Due: biome_check, prettier_check, styles_check

fix(core): Get chat title even after stopping and give more time for title generation (no-changelog) (#23106)
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: biome_check

fix: Tests
  packages/nodes-base/nodes/Postgres/test/v2/operations.test.ts
  packages/nodes-base/nodes/Postgres/test/v2/runQueries.test.ts
  packages/nodes-base/nodes/Postgres/test/v2/utils.test.ts
Due: biome_check

change unit tests
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.test.ts
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: biome_check, prettier_check, styles_check

Convert date to ISO string for Data Table node
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/common/selectMany.ts
  packages/nodes-base/nodes/DataTable/test/common/selectMany.test.ts
  packages/nodes-base/nodes/Set/v2/helpers/utils.ts
Due: biome_check

refactor: Return byId session store to partial
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useChatHubCommands.ts
Due: biome_check

fix: Improve schema preview handling for trigger nodes (#23126)
  codecov.yml
  packages/frontend/editor-ui/src/features/ndv/runData/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/features/ndv/runData/components/VirtualSchema.vue
  packages/nodes-base/package.json
  packages/nodes-base/scripts/validate-schema-versions.js
  packages/testing/playwright/tests/e2e/workflows/editor/ndv/schema-preview.spec.ts
Due: biome_check, prettier_check, styles_check, workspace_deps_check

fix tests
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: biome_check

feat(core): Add gpt-5.2 context limits
  packages/cli/src/modules/chat-hub/context-limits.ts
Due: biome_check

feat(core): Add context limits to more gpt-5.2 models
  packages/cli/src/modules/chat-hub/context-limits.ts
Due: biome_check

fix: Show disabled button when there are issues
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/ExecuteMessage.vue
Due: prettier_check, styles_check

refactor: introduce workflowsStore.isWorkflowSaved
  packages/frontend/editor-ui/src/app/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/app/components/WorkflowShareModal.ee.vue
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/executionFinished.ts
  packages/frontend/editor-ui/src/app/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/features/ai/evaluation.ee/views/EvaluationsRootView.vue
  packages/frontend/editor-ui/src/features/collaboration/collaboration/collaboration.store.ts
  packages/frontend/editor-ui/src/features/execution/executions/components/workflow/WorkflowExecutionsInfoAccordion.vue
  packages/frontend/editor-ui/src/features/execution/executions/views/WorkflowExecutionsView.vue
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useNodeCommands.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useWorkflowCommands.ts
Due: biome_check, prettier_check, styles_check

correct execution order
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v5.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/workflows/ai-workflow-v6.ts
Due: biome_check

ci: Optimize Docker image build process
  .dockerignore
  docker/images/n8n-base/Dockerfile
Due: none

unit tests passing
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.test.ts
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: biome_check, prettier_check, styles_check

fix linting issues
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nNodeCreatorNode/NodeCreatorNode.vue
  packages/frontend/editor-ui/src/features/shared/nodeCreator/components/ItemTypes/SubcategoryItem.vue
Due: biome_check, prettier_check, styles_check

fix: refactor remaining places
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/app/components/WorkflowActivator.vue
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: prettier_check, styles_check

fix e2e
  packages/testing/playwright/tests/e2e/node-creator/special-nodes.spec.ts
Due: biome_check

fix(editor): Address MCP re-design feedback (no-changelog) (#23077)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPEmptyState.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/MCPHeaderActions.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/McpAccessToggle.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/McpConnectPopover.test.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/header/connectPopover/McpConnectPopover.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/OAuthClientsTable.test.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/OAuthClientsTable.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/mcp.store.ts
Due: biome_check, prettier_check, styles_check

change agentId type to UUID and add FK constraint
  packages/@n8n/db/src/migrations/common/1765361177092-AddIconToAgentTable.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.entity.ts
  packages/cli/src/modules/chat-hub/chat-hub-session.entity.ts
Due: biome_check

fix: add cleanup for e2e dev (no-changelog)
  package.json
  packages/testing/playwright/global-teardown.ts
  packages/testing/playwright/playwright.config.ts
Due: biome_check

fix(editor): Clear sticky notifications when leaving workflow (#23067)
  packages/frontend/editor-ui/src/app/composables/useToast.test.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: biome_check, prettier_check, styles_check

feat(core): Add workflow cancellation events to log streaming
  packages/cli/src/active-executions.ts
  packages/cli/src/eventbus/event-message-classes/index.ts
  packages/cli/src/events/__tests__/log-streaming-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/log-streaming.event-relay.ts
  packages/cli/src/scaling/job-processor.ts
  packages/workflow/src/errors/execution-cancelled.error.ts
  packages/workflow/src/errors/index.ts
Due: biome_check

test: Cleanup
  .github/workflows/playwright-test-ci.yml
  packages/testing/containers/index.ts
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-keycloak.ts
  packages/testing/playwright/pages/SettingsSsoPage.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/pages/SignInPage.ts
Due: biome_check, actionlint_check

fix error in conflict resolution
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: biome_check

test: Address comments
  packages/testing/containers/n8n-start-stack.ts
  packages/testing/containers/n8n-test-container-keycloak.ts
Due: biome_check
