Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

Auto-commit: Agent tool execution
  packages/frontend/editor-ui/src/features/ai/chatHub/components/AIDialogModal.vue
Due: prettier_check

Auto-commit: Agent tool execution
  packages/nodes-base/package.json
Due: biome_check

Auto-commit: Agent tool execution
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ConversationListPane.vue
Due: prettier_check

WIP: Collection overhaul
  packages/frontend/@n8n/design-system/src/components/N8nCollapsiblePanel/CollapsiblePanel.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nCollapsiblePanel/CollapsiblePanel.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nCollapsiblePanel/CollapsiblePanel.vue
  packages/frontend/@n8n/design-system/src/components/N8nCollapsiblePanel/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nRekaSelect/RekaSelect.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nRekaSelect/RekaSelect.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nRekaSelect/RekaSelect.vue
  packages/frontend/@n8n/design-system/src/components/N8nRekaSelect/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nSectionHeader/SectionHeader.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nSectionHeader/SectionHeader.vue
  packages/frontend/@n8n/design-system/src/components/N8nSectionHeader/index.ts
  packages/frontend/@n8n/design-system/src/components/index.ts
  packages/frontend/@n8n/design-system/src/constants.ts
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
  packages/frontend/@n8n/design-system/src/index.ts
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AssignmentCollection/Assignment.vue
  packages/frontend/editor-ui/src/components/AssignmentCollection/AssignmentCollection.vue
  packages/frontend/editor-ui/src/components/CollectionParameter.vue
  packages/frontend/editor-ui/src/components/FixedCollectionParameter.vue
  packages/frontend/editor-ui/src/components/ParameterInputFull.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
  packages/frontend/editor-ui/src/composables/useCollectionCollapsedState.ts
  packages/frontend/editor-ui/src/composables/useCollectionOverhaul.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/types/collection-parameter.types.ts
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/workflow/src/interfaces.ts
Due: biome_check, prettier_check

Use correct enum import in CLI node templates
  packages/@n8n/node-cli/src/template/templates/declarative/custom/template/nodes/Example/Example.node.ts
  packages/@n8n/node-cli/src/template/templates/declarative/github-issues/template/nodes/GithubIssues/GithubIssues.node.ts
  packages/@n8n/node-cli/src/template/templates/programmatic/example/template/nodes/Example/Example.node.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/@n8n/nodes-langchain/credentials/OllamaApi.credentials.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/frontend/editor-ui/src/stores/aiPanel.store.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/frontend/editor-ui/src/components/AIAssistantPanel.vue
Due: prettier_check

Auto-commit: Agent tool execution
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

fix(editor): Fix command bar test workflow command issue (#20910)
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useWorkflowCommands.test.ts
  packages/frontend/editor-ui/src/features/shared/commandBar/composables/useWorkflowCommands.ts
  packages/frontend/editor-ui/src/stores/pushConnection.store.ts
Due: biome_check

feat(AI Agent Node): Support reading only `maxTokensFromMemory` (no-changelog) (#20915)
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/description.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/test/ToolsAgent/ToolsAgentV3.test.ts
  packages/frontend/editor-ui/src/components/CollectionParameter.vue
Due: biome_check, prettier_check

wip: Passing max tokens to read from history
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
Due: biome_check

fix(OpenAI Node): Rename "Create" to "Generate" (#20905)
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/v2/actions/text/index.ts
  packages/testing/playwright/tests/ui/53-workflow-production-checklist.spec.ts
Due: biome_check

test(OpenAI Node): Add tests (#20711)
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/utils.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v1/OpenAI.workflow.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v1/OpenAi.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v1/list-assistants.workflow.json
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/image/analyze.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/image/edit.operation.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/text/response.operation.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/text/responses.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/actions/video/generate.operation.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/test/v2/conversation.test.ts
Due: biome_check

fix color token
  packages/frontend/@n8n/design-system/src/components/DateRangePicker/DateRangePicker.vue
Due: prettier_check

clean up
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDateRangeSelect.vue
Due: prettier_check

fix: don't redirect to conversation when submit fails in new chat route
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: biome_check, prettier_check

show error from BE
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: biome_check

refactor: make argument ordering consistent
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
Due: biome_check

feat(core): Limit context window length by a map of limits (no-changelog)
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/context-limits.ts
Due: biome_check

add provisioning page
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SettingsSidebar.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/settings/provisioning/views/SettingsProvisioningView.vue
  packages/frontend/editor-ui/src/router.test.ts
  packages/frontend/editor-ui/src/router.ts
Due: biome_check, prettier_check

fix merge
  packages/frontend/editor-ui/src/features/credentials/components/NodeCredentials.test.ts
  packages/frontend/editor-ui/src/features/credentials/components/NodeCredentials.vue
Due: biome_check, prettier_check

Add feature flag
  packages/frontend/editor-ui/src/router.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
