Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

fix: Allow username to be set in Redis chat memory (#13926)
  packages/@n8n/nodes-langchain/nodes/memory/MemoryRedisChat/MemoryRedisChat.node.ts
Due: biome_check

feat(API): Fix generation strategy for mysql/mariadb (#14028)
  packages/cli/src/databases/dsl/column.ts
Due: biome_check

test: Split resource moving E2E test
  cypress/e2e/39-projects.cy.ts
Due: none

fix: lint fix
  cypress/e2e/39-projects.cy.ts
Due: none

Update cypress/e2e/39-projects.cy.ts
  cypress/e2e/39-projects.cy.ts
Due: none

chore: Update comment
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

add tests
  packages/nodes-base/credentials/MicrosoftAzureCosmosDbSharedKeyApi.credentials.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/helpers/errorHandler.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/FetchPartitionKeyField.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/MakeAzureCosmosDbRequest.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/SearchContainers.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/SearchItems.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/ValidateContainerFields.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/create.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/create.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/delete.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/delete.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/get.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/get.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/getAll.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/container/getAll.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/credentials/sharedKey.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/create.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/create.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/delete.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/delete.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/get.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/get.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/getAll.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/getAll.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/query.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/query.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/update.test.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/item/update.workflow.json
  packages/nodes-base/nodes/Microsoft/CosmosDb/test/listSearch/listSearch.test.ts
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Due: biome_check

feat(core): allow importing a single workflow from a .json
  packages/cli/src/commands/import/workflow.ts
  packages/cli/test/integration/commands/import-workflows/combined/single.json
  packages/cli/test/integration/commands/import.cmd.test.ts
Due: biome_check

add credential test
  packages/nodes-base/credentials/MicrosoftAzureCosmosDbSharedKeyApi.credentials.ts
Due: biome_check

add error handling
  packages/nodes-base/nodes/Microsoft/CosmosDb/helpers/errorHandler.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/helpers/interfaces.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/helpers/utils.ts
  packages/nodes-base/nodes/Microsoft/CosmosDb/transport/index.ts
Due: biome_check

feat(core): Allow transferring user's data to team project when deleting them (no-changelog) (#13941)
  packages/cli/src/controllers/users.controller.ts
  packages/cli/test/integration/users.api.test.ts
Due: biome_check

Fix e2e tests
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
Due: biome_check, prettier_check

fix: Skip project resource movement test until more reliable (no-changelog) (#14029)
  cypress/e2e/39-projects.cy.ts
Due: none

test: move test
  cypress/e2e/39-projects.cy.ts
Due: none

Improve schema view empty state for binary data
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

feat(Wordpress Node): Excerpt and Featured media support for posts
  packages/nodes-base/nodes/Wordpress/PostDescription.ts
  packages/nodes-base/nodes/Wordpress/PostInterface.ts
  packages/nodes-base/nodes/Wordpress/Wordpress.node.ts
Due: biome_check

fix issue that when deleting variable, credential or folder will delete eveything in the repo
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
Due: biome_check

Create .node-version
  .node-version
Due: none

Updating Schema for - ActiveCampaign > 1.0.0 > create > contact
  packages/nodes-base/nodes/ActiveCampaign/__schema__/v1.0.0/contact/create.json
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
