Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

Fix alignment of back to canvas icon
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
Due: prettier_check

feat(core): Add internal mode for native Python runner (no-changelog) (#19288)
  packages/@n8n/config/src/configs/logging.config.ts
  packages/@n8n/task-runner-python/src/constants.py
  packages/cli/src/task-runners/__tests__/task-runner-process-restart-loop-detector.test.ts
  packages/cli/src/task-runners/__tests__/task-runner-process.test.ts
  packages/cli/src/task-runners/errors/missing-requirements.error.ts
  packages/cli/src/task-runners/internal-task-runner-disconnect-analyzer.ts
  packages/cli/src/task-runners/task-runner-module.ts
  packages/cli/src/task-runners/task-runner-process-base.ts
  packages/cli/src/task-runners/task-runner-process-js.ts
  packages/cli/src/task-runners/task-runner-process-py.ts
  packages/cli/src/task-runners/task-runner-process-restart-loop-detector.ts
  packages/cli/src/task-runners/task-runner-process.ts
  packages/cli/test/integration/commands/worker.cmd.test.ts
  packages/cli/test/integration/task-runners/task-runner-process.test.ts
Due: biome_check

fix(core): Move jwt secret creation to constructor
  packages/cli/src/services/__tests__/jwt.service.test.ts
  packages/cli/src/services/jwt.service.ts
Due: biome_check

revert: Remove AI WF Builder planner step
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/runner.ts
  packages/@n8n/ai-workflow-builder.ee/src/agents/workflow-planner-agent.ts
  packages/@n8n/ai-workflow-builder.ee/src/constants.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/workflow-builder-agent.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
  packages/@n8n/ai-workflow-builder.ee/src/types/streaming.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/stream-processor.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/operations-processor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/tool-executor.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-state.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/NodesPlanMessage.vue
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/types/assistant.types.ts
Due: biome_check, prettier_check

PR Feedback
  packages/@n8n/api-types/src/dto/data-store/add-data-store-rows.dto.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
Due: biome_check

Fix linting issues
  packages/@n8n/ai-workflow-builder.ee/src/utils/test/trim-workflow-context.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
Due: biome_check

test: Add Currents coverage
  packages/frontend/editor-ui/package.json
  packages/testing/playwright/currents.config.ts
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  pnpm-lock.yaml
Due: biome_check

fix controller tests
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
Due: biome_check

refactor(Code Tool Node): Replace vm2 with taskrunner for js (#19247)
  packages/@n8n/nodes-langchain/nodes/tools/ToolCode/ToolCode.node.ts
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/core/src/execution-engine/node-execution-context/base-execute-context.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/nodes-base/nodes/Code/JsTaskRunnerSandbox.ts
  packages/nodes-base/nodes/Code/test/JsTaskRunnerSandbox.test.ts
  packages/workflow/src/interfaces.ts
  pnpm-lock.yaml
Due: biome_check

💄 Remove border from last row
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

refactor
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: prettier_check

feat(Data Table Node): Add bulk insert mode (no-changelog) (#19294)
  packages/@n8n/api-types/src/dto/data-store/add-data-store-rows.dto.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/modules/data-table/__tests__/data-store-proxy.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.controller.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/test/integration/shared/db/data-stores.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/nodes-base/nodes/DataTable/actions/router.ts
  packages/nodes-base/nodes/DataTable/actions/row/insert.operation.ts
  packages/workflow/src/data-store.types.ts
Due: biome_check

fix dropping project names when loading next page
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/useWorkflowResourcesLocator.ts
Due: biome_check

don't wait an arbitrary amount of time in the tests
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.test.ts
Due: biome_check

🔨 Unwrapping pagination composable
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

match sorting of type and props
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.vue
Due: prettier_check

use props everywhere so that tsc checks if we access something that is undefined
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocatorDropdown.vue
Due: prettier_check

Add to tests
  packages/frontend/editor-ui/src/components/RunData.test.ts
  packages/frontend/editor-ui/src/components/RunData.vue
Due: biome_check, prettier_check

fix lint
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.test.ts
Due: biome_check

Add pool size to mysql, increase it for CI
  .github/workflows/ci-postgres-mysql.yml
  packages/@n8n/config/src/configs/database.config.ts
  packages/@n8n/db/src/connection/db-connection-options.ts
Due: biome_check

Add poolSize to config test
  packages/@n8n/config/test/config.test.ts
Due: biome_check

fix(Data Table Node): Show node hint if selected table has no columns (no-changelog) (#19338)
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
Due: biome_check

update comment
  packages/core/src/execution-engine/requests-response.ts
Due: biome_check

add more information to the warning
  packages/core/src/execution-engine/requests-response.ts
Due: biome_check

Add pool size to db connection test
  packages/@n8n/db/src/connection/__tests__/db-connection-options.test.ts
Due: biome_check

fix integration test
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
Due: biome_check

fix: Enhance infinite loop protection with dynamic execution limits and ensure counter reset after normal completion
  packages/nodes-base/nodes/SplitInBatches/test/SplitInBatches.node.test.ts
  packages/nodes-base/nodes/SplitInBatches/v3/SplitInBatchesV3.node.ts
Due: biome_check

Fix test expect
  packages/@n8n/db/src/connection/__tests__/db-connection-options.test.ts
Due: biome_check

Try 5 as pool size
  .github/workflows/ci-postgres-mysql.yml
Due: none

improvements
  packages/cli/src/modules/data-table/__tests__/data-store-size-validator.service.test.ts
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/__tests__/throttled-executor.service.test.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/modules/data-table/throttled-executor.service.ts
Due: biome_check

Return limits from cache instead of from repository
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
Due: biome_check

small rename
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store-size-validator.service.ts
Due: biome_check

fix(editor): Fix alignment of back to canvas icon (no-changelog) (#19341)
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
Due: prettier_check

Try 1 as pool size
  .github/workflows/ci-postgres-mysql.yml
Due: none

Also test option count (#19346)
  packages/frontend/editor-ui/src/components/RunData.test.ts
  packages/frontend/editor-ui/src/components/RunData.vue
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
