Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

update other typo
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

fix(editor): Fix pin data button disappearing after reload
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataPinButton.vue
Due: prettier_check

feat: Add configurable require support to js task runner (no-changelog) (#11184)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/js-task-runner/require-resolver.ts
  packages/@n8n/task-runner/src/start.ts
  packages/cli/src/runners/__tests__/task-runner-process.test.ts
  packages/cli/src/runners/task-runner-process.ts
Due: biome_check

Update packages/nodes-base/nodes/Transform/RemoveDuplicates/utils.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/utils.ts
Due: biome_check

reorder options in form trigger
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
Due: biome_check

use an options object for `findSubgraph` to make calls more readable
  packages/core/src/PartialExecutionUtils/__tests__/findSubgraph.test.ts
  packages/core/src/PartialExecutionUtils/__tests__/recreateNodeExecutionStack.test.ts
  packages/core/src/PartialExecutionUtils/findSubgraph.ts
  packages/core/src/WorkflowExecute.ts
Due: biome_check

use an options object for `findStartNodes` to make the calls more readable
  packages/core/src/PartialExecutionUtils/__tests__/findStartNodes.test.ts
  packages/core/src/PartialExecutionUtils/findStartNodes.ts
  packages/core/src/WorkflowExecute.ts
Due: biome_check

fix some typos
  packages/core/src/WorkflowExecute.ts
Due: biome_check

wip: add fallback for tool parameter parsing
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
Due: biome_check

✔️ Updating request payloads and chat urls
  cypress/composables/ndv.ts
  cypress/e2e/45-ai-assistant.cy.ts
  packages/editor-ui/src/stores/assistant.store.ts
Due: biome_check

fix(HTTP Request Node): Fix typos in JSON validation error message (no-changelog) (#11197)
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-webhook.ee.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

⚡️ Not hiding tooltip
  packages/editor-ui/src/components/RunDataPinButton.vue
Due: prettier_check

✔️ Removing flaky assertion
  cypress/e2e/45-ai-assistant.cy.ts
Due: none

fix(Convert to File Node): Fix issue with end date always being day+1 when all day
  packages/nodes-base/nodes/ICalendar/createEvent.operation.ts
Due: biome_check

refactor(core): Use options object for functions with lots of arguments to make the call site more readable and avoid errors (#11199)
  packages/core/src/PartialExecutionUtils/__tests__/findStartNodes.test.ts
  packages/core/src/PartialExecutionUtils/__tests__/findSubgraph.test.ts
  packages/core/src/PartialExecutionUtils/__tests__/recreateNodeExecutionStack.test.ts
  packages/core/src/PartialExecutionUtils/findStartNodes.ts
  packages/core/src/PartialExecutionUtils/findSubgraph.ts
  packages/core/src/WorkflowExecute.ts
Due: biome_check

feat(editor): Send workflow context to assistant store (#11135)
  cypress/composables/ndv.ts
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/fixtures/aiAssistant/responses/apply_code_diff_response.json
  cypress/fixtures/aiAssistant/responses/code_diff_suggestion_response.json
  cypress/fixtures/aiAssistant/responses/code_snippet_response.json
  cypress/fixtures/aiAssistant/responses/end_session_response.json
  cypress/fixtures/aiAssistant/responses/node_execution_error_response.json
  cypress/fixtures/aiAssistant/responses/quick_reply_message_response.json
  cypress/fixtures/aiAssistant/responses/simple_message_response.json
  cypress/fixtures/aiAssistant/workflows/simple_http_request_workflow.json
  cypress/fixtures/aiAssistant/workflows/test_workflow.json
  cypress/pages/ndv.ts
  n8n.code-workspace
  packages/editor-ui/src/composables/useAIAssistantHelpers.ts
  packages/editor-ui/src/stores/assistant.store.ts
  packages/editor-ui/src/types/assistant.types.ts
Due: biome_check

addressed review comments
  packages/cli/src/deduplication/deduplication-helper.ts
  packages/cli/test/integration/deduplication/deduplication-helper.test.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/v2/RemoveDuplicatesV2.description.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/v2/RemoveDuplicatesV2.node.ts
Due: biome_check

fix: typing
  packages/design-system/src/types/icon.ts
Due: biome_check

feat: create component header
  packages/editor-ui/src/components/WorkflowHeader.test.ts
  packages/editor-ui/src/components/WorkflowHeader.vue
Due: biome_check, prettier_check

change layout to accept more elements
  packages/editor-ui/src/components/layouts/PageViewLayout.vue
Due: prettier_check

initial implementation
  packages/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

fix formatting issue
  packages/nodes-base/nodes/Transform/RemoveDuplicates/utils.ts
Due: biome_check

fix(OpenAI Node): Fix tool parameter parsing issue (#11201)
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
Due: biome_check

fix(editor): Fix sorting problem in older browsers that don't support `toSorted`
  packages/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/editor-ui/src/utils/sortUtils.test.ts
  packages/editor-ui/src/utils/sortUtils.ts
Due: biome_check, prettier_check

fix(editor): Fix `DataTable` markup
  packages/editor-ui/src/components/RunDataTable.vue
Due: prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
