Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    styles_check:
      glob: 'packages/**/*.{scss,sass,vue}'
      run: pnpm lint:styles:fix
      skip:
        - merge
        - rebase
    actionlint_check:
      glob: '.github/workflows/*.{yml,yaml}'
      run: actionlint {staged_files}
      skip:
        - merge
        - rebase

ci: Pre pull test container dependencies before tests
  .github/workflows/playwright-test-reusable.yml
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-dependencies.ts
  packages/testing/containers/n8n-test-container-mailpit.ts
  packages/testing/containers/pull-test-images.ts
  packages/testing/containers/test-containers.ts
  packages/testing/playwright/global-setup.ts
  packages/testing/playwright/playwright.config.ts
Due: biome_check, actionlint_check

fix: make it possible to preview images in browser
  packages/cli/src/modules/chat-hub/chat-hub.controller.ts
Due: biome_check

fix: show attachment while editing message
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
Due: prettier_check, styles_check

More typecheck fixes
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/src/app/composables/useDebugInfo.ts
Due: biome_check

Remove unused variable
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
Due: prettier_check, styles_check

Only upgrade to FullManualExecutionFromUnknownTriggerPayload when no root node has runData
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/core/src/execution-engine/partial-execution-utils/find-trigger-for-partial-execution.ts
  packages/core/src/execution-engine/partial-execution-utils/index.ts
Due: biome_check

switch to structured destination node
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/executions/execution-data.service.ts
  packages/cli/src/manual-execution.service.ts
  packages/cli/src/task-runners/task-managers/__tests__/data-request-response-stripper.test.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/core/src/execution-engine/__tests__/workflow-execute-process-process-run-execution-data.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/app/types/externalHooks.ts
  packages/workflow/src/interfaces.ts
  packages/workflow/src/run-execution-data-factory.ts
  packages/workflow/src/run-execution-data/run-execution-data.ts
  packages/workflow/src/run-execution-data/run-execution-data.v1.ts
  packages/workflow/test/run-execution-data-factory.test.ts
Due: biome_check

refactor(core): Update binary data config (#22141)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/db/src/connection/__tests__/db-connection.test.ts
  packages/@n8n/db/src/connection/db-connection.ts
  packages/core/src/binary-data/binary-data.config.ts
  packages/core/src/binary-data/binary-data.service.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/binary-data/utils.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/invalid-mode.error.ts
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/src/app/composables/useDebugInfo.ts
Due: biome_check

test: Changes to datatables
  packages/testing/playwright/pages/components/ProjectTabsComponent.ts
  packages/testing/playwright/tests/ui/data-table-details.spec.ts
Due: biome_check

fix: Check Reply-To header to determine which email to send the reply to
  packages/nodes-base/nodes/Google/Gmail/utils/replyToEmail.ts
Due: biome_check

feat(core): Add new internal endpoints for draft/publish (no-changelog) (#22105)
  packages/@n8n/config/src/configs/workflows.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/db/src/entities/types-db.ts
  packages/@n8n/db/src/entities/workflow-history.ts
  packages/cli/src/workflows/workflow-history/workflow-history.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/src/workflows/workflow.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

test: Add test
  packages/nodes-base/nodes/Google/Gmail/test/utils/replyToEmail.test.ts
Due: biome_check

chore: Hide Github document loader (deprecated) (#22138)
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/DocumentGithubLoader.node.ts
Due: biome_check

Remove wrong comment
  packages/cli/src/webhooks/test-webhooks.ts
Due: biome_check

Remove unused function
  packages/frontend/editor-ui/src/features/execution/logs/components/LogsPanel.vue
Due: prettier_check, styles_check

test: Skipping failing AI tests
  packages/testing/playwright/tests/ui/30-langchain.spec.ts
  packages/testing/playwright/tests/ui/55-workflow-builder.spec.ts
  packages/testing/playwright/tests/ui/evaluations.spec.ts
Due: biome_check

feat(core): Add more details to MCP errors and telemetry (no-changelog) (#22118)
  packages/cli/src/modules/mcp/__tests__/mcp-oauth-token.service.test.ts
  packages/cli/src/modules/mcp/__tests__/mcp-server-middleware.service.test.ts
  packages/cli/src/modules/mcp/mcp-api-key.service.ts
  packages/cli/src/modules/mcp/mcp-oauth-token.service.ts
  packages/cli/src/modules/mcp/mcp-server-middleware.service.ts
  packages/cli/src/modules/mcp/mcp.errors.ts
  packages/cli/src/modules/mcp/mcp.types.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPConnectionInstructions.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/connectionInstructions/AccessTokenConnectionInstructions.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/connectionInstructions/ConnectionParameter.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/connectionInstructions/OAuthConnectionInstructions.vue
Due: biome_check, prettier_check, styles_check

feat(core): Unify UX for saving OIDC and SAML settings (#22102)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/settings/sso/components/OidcSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/components/SamlSettingsForm.vue
  packages/frontend/editor-ui/src/features/settings/sso/sso.store.ts
  packages/frontend/editor-ui/src/features/settings/sso/styles/sso-form.module.scss
  packages/frontend/editor-ui/src/features/settings/sso/views/SettingsSso.test.ts
Due: biome_check, prettier_check, styles_check

test fixes
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Due: biome_check

Fix flaky js task runner test
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
Due: biome_check

feat(ai-builder): Add python script for workflow comparison (#21927)
  .github/workflows/ci-python-workflow-builder-evals.yml
  packages/@n8n/ai-workflow-builder.ee/eslint.config.mjs
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/CONFIGURATION.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/generated.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/generated_wrong.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/multi_trigger.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/multi_trigger_different_order.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/multi_trigger_missing_node.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/example_workflows/simple_workflow.json
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/justfile
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/pyproject.toml
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/__init__.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/__main__.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/compare_workflows.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/config_loader.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/configs/presets/lenient.yaml
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/configs/presets/standard.yaml
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/configs/presets/strict.yaml
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/cost_functions.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/graph_builder.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/src/similarity.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/tests/__init__.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/tests/test_graph_builder.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/tests/test_similarity.py
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/python/uv.lock
  packages/@n8n/ai-workflow-builder.ee/package.json
Due: biome_check, prettier_check, actionlint_check

feat(core): Add separate Azure API key and Entra ID providers (no-changelog) (#22101)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/cli/src/modules/chat-hub/chat-hub.constants.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-session.repository.ts
  packages/cli/src/modules/chat-hub/context-limits.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: biome_check

test: More test cleanup
  packages/testing/playwright/helpers/NavigationHelper.ts
  packages/testing/playwright/tests/chaos/postgres.spec.ts
  packages/testing/playwright/tests/ui/data-tables.spec.ts
Due: biome_check

refactor(core): Decouple chathub binary data from core
  packages/cli/src/modules/chat-hub/chat-hub.attachment.service.ts
  packages/core/src/binary-data/file-system.manager.ts
  packages/core/src/binary-data/object-store.manager.ts
  packages/core/src/binary-data/types.ts
  packages/core/src/binary-data/utils.ts
Due: biome_check

Integrate GED script in main evaluations
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/test-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/index.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/workflow-similarity.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/programmatic-evaluation.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/evaluation.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-calculator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-reporter.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/score.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/types.ts
Due: biome_check

another test update
  packages/workflow/test/run-execution-data-factory.test.ts
Due: biome_check

Update packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
Due: biome_check

feat(editor): Add dismissable callout for scaling mode enabled customers (#21897)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsSummary.test.ts
  packages/frontend/editor-ui/src/features/execution/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/execution/insights/components/__snapshots__/InsightsSummary.test.ts.snap
Due: biome_check, prettier_check, styles_check

fix: Linting
  packages/testing/containers/pull-test-images.ts
  packages/testing/containers/test-containers.ts
Due: biome_check

fix(editor): Minor design fixes for the migration report (#22110)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/settings/migrationReport/MigrationRuleDetail.test.ts
  packages/frontend/editor-ui/src/features/settings/migrationReport/MigrationRuleDetail.vue
  packages/frontend/editor-ui/src/features/settings/migrationReport/MigrationRules.test.ts
  packages/frontend/editor-ui/src/features/settings/migrationReport/MigrationRules.vue
Due: biome_check, prettier_check, styles_check

💄 Add missing dot
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: biome_check

Fix types and add tests
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/workflow-similarity.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/workflow-similarity.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/programmatic-evaluation.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/types.ts
Due: biome_check

more test fixes
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: biome_check

wip commit
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/app/components/Modals.vue
  packages/frontend/editor-ui/src/app/components/WorkflowDescriptionModal.test.ts
  packages/frontend/editor-ui/src/app/components/WorkflowDescriptionModal.vue
  packages/frontend/editor-ui/src/app/constants/actions.ts
  packages/frontend/editor-ui/src/app/constants/modals.ts
  packages/frontend/editor-ui/src/app/stores/ui.store.ts
Due: biome_check, prettier_check, styles_check

fix(Slack Node): Rate limit requests in RLC getChannels
  .vscode/launch.json
  packages/nodes-base/nodes/Slack/V2/ChannelDescription.ts
  packages/nodes-base/nodes/Slack/V2/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/V2/MessageDescription.ts
  packages/nodes-base/nodes/Slack/V2/ReactionDescription.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/nodes/Slack/V2/StarDescription.ts
  packages/nodes-base/nodes/Slack/V2/utils.ts
  packages/nodes-base/nodes/Slack/test/v2/GenericFunctions.test.ts
Due: biome_check

Add small offset to edge start and end point calculation to prevent overlap with node handles
  packages/frontend/editor-ui/src/features/workflows/canvas/components/elements/edges/utils/getEdgeRenderData.ts
Due: biome_check

Remove trial banner and add tests for main sidebar upgrade
  packages/@n8n/api-types/src/dto/owner/__tests__/dismiss-banner-request.dto.test.ts
  packages/@n8n/api-types/src/schemas/banner-name.schema.ts
  packages/cli/src/controllers/__tests__/owner.controller.test.ts
  packages/cli/src/services/__tests__/banner.service.test.ts
  packages/frontend/@n8n/rest-api-client/src/api/cloudPlans.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/app/components/MainSidebar.vue
  packages/frontend/editor-ui/src/app/components/MainSidebarTrialUpgrade.vue
  packages/frontend/editor-ui/src/app/init.test.ts
  packages/frontend/editor-ui/src/app/init.ts
  packages/frontend/editor-ui/src/app/stores/cloudPlan.store.ts
  packages/frontend/editor-ui/src/features/shared/banners/components/BannerStack.vue
  packages/frontend/editor-ui/src/features/shared/banners/components/banners/TrialBanner.vue
  packages/frontend/editor-ui/src/features/shared/banners/components/banners/TrialOverBanner.vue
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/tests/ui/27-cloud.spec.ts
Due: biome_check, prettier_check, styles_check

revert launch.json
  .vscode/launch.json
Due: none
