Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix: Make sure modals are listed when using a free AI credits credential in the OpenAI node (#16030)
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/methods/listSearch.ts
Due: biome_check

hide the github stars button when telemetry is disabled
  packages/frontend/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

fix(editor): Fixed the issue that the downloaded workflow json file name is incomplete
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
Due: prettier_check

fix(editor): Fix the issue that the contents of json, html, csv, md, txt, and css files contain garbled Chinese characters
  packages/frontend/editor-ui/src/components/BinaryDataDisplayEmbed.vue
  packages/workflow/src/index.ts
  packages/workflow/src/utils.ts
Due: biome_check, prettier_check

fix(editor): Modify base64DecodeUTF8 fallback function
  packages/workflow/src/utils.ts
Due: biome_check

Remove all schedulers, bc failed
  .github/workflows/benchmark-destroy-nightly.yml
  .github/workflows/benchmark-nightly.yml
  .github/workflows/check-documentation-urls.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-postgres-mysql.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/test-workflows-nightly.yml
Due: none

Update package.json
  package.json
Due: none

WIP: Move to lifecycle hooks to support queue mode
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/cli/src/active-executions.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/scaling/scaling.types.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflow-runner.ts
  packages/core/src/execution-engine/execution-lifecycle-hooks.ts
  packages/core/src/execution-engine/node-execution-context/execute-context.ts
  packages/frontend/@n8n/chat/src/api/message.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

Added an initial implementation of the Keboola Integration. The commit contains the following changes:
  packages/nodes-base/credentials/KeboolaApiToken.credentials.ts
  packages/nodes-base/nodes/Keboola/Keboola.node.json
  packages/nodes-base/nodes/Keboola/Keboola.node.ts
  packages/nodes-base/nodes/Keboola/keboola.svg
  packages/nodes-base/nodes/Keboola/v1/KeboolaV1.node.ts
  packages/nodes-base/nodes/Keboola/v1/KeboolaV1.types.ts
  packages/nodes-base/nodes/Keboola/v1/KeboolaV1.utils.ts
  packages/nodes-base/nodes/Keboola/v1/description.ts
  packages/nodes-base/nodes/Keboola/v1/execution.ts
  packages/nodes-base/nodes/Keboola/v1/executionBackup.ts
  packages/nodes-base/nodes/Keboola/v1/storageFunctions.ts
  packages/nodes-base/package.json
Due: biome_check

added reset n8n password to forgot password page
  package.json
  packages/cli/src/controllers/password-reset.controller.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/api/users.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/ForgotMyPasswordView.vue
  pnpm-lock.yaml
Due: biome_check, prettier_check

fixed dir path
  packages/cli/src/controllers/password-reset.controller.ts
Due: biome_check

changes recommended by cube.ai
  packages/cli/src/controllers/password-reset.controller.ts
  packages/frontend/editor-ui/src/views/ForgotMyPasswordView.vue
  packages/frontend/editor-ui/src/views/__tests__/ForgotMyPasswordView.test.ts
Due: biome_check, prettier_check

added streaming
  feature_report.md
  package.json
  packages/cli/package.json
  packages/nodes-base/nodes/OpenAi/ChatDescription.ts
  packages/nodes-base/nodes/OpenAi/OpenAi.node.ts
  pnpm-lock.yaml
Due: biome_check

fix(editor): Hide the Github stars button when telemetry is disabled (#16108)
  packages/frontend/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

fix(editor): Add waitingForNext execution state for slow networks
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeStatusIcons.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
  packages/frontend/editor-ui/src/composables/useCanvasNode.ts
  packages/frontend/editor-ui/src/composables/useExecutingNode.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/types/canvas.ts
Due: biome_check, prettier_check

fix: remove timeout for nodeExecuteAfter"
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/nodeExecuteAfter.ts
Due: biome_check

fix(editor): Prevent Ask Assistant button overlapping other buttons (#16066)
  packages/frontend/editor-ui/src/components/AskAssistant/Chat/AskAssistantFloatingButton.vue
Due: prettier_check

refactor: migrate ldap to rest-api-client
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/ldap.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/ldap.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/views/SettingsLdapView.vue
Due: biome_check, prettier_check

refactor: migrate sso to rest-api-client
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/sso.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/server/endpoints/sso.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
Due: biome_check

fix(RSS Read Node): Fix issue where some feeds fail to load (#16001)
  packages/nodes-base/nodes/RssFeedRead/RssFeedRead.node.ts
  packages/nodes-base/nodes/RssFeedRead/test/node/RssFeedRead.test.ts
  packages/nodes-base/nodes/RssFeedRead/test/node/workflow.rss.json
Due: biome_check

refactor(editor): Migrate versions api to rest-client-api
  packages/@n8n/constants/src/index.ts
  packages/@n8n/constants/src/instance.ts
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/versions.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/versions.ts
  packages/frontend/editor-ui/src/components/VersionCard.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/versions.store.ts
Due: biome_check, prettier_check

refactor: Extract common functions to be reused within editor
  packages/frontend/editor-ui/src/components/CodeNodeEditor/completions/jsonField.completions.ts
  packages/frontend/editor-ui/src/components/InputNodeSelect.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/stores/ndv.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
  packages/workflow/src/common/get-child-nodes.ts
  packages/workflow/src/common/get-connected-nodes.ts
  packages/workflow/src/common/get-node-by-name.ts
  packages/workflow/src/common/get-parent-nodes.ts
  packages/workflow/src/common/index.ts
  packages/workflow/src/common/map-connections-by-destination.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/common.test.ts
  packages/workflow/test/workflow.test.ts
Due: biome_check, prettier_check

Update README.md
  packages/node-dev/README.md
Due: prettier_check

Create .gitkeep
  .gitkeep
Due: none

docs: Update docker image path (#15047)
  CONTRIBUTING.md
Due: none

Fix paired item handling of multiple inputs + simplify
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/multiple_inputs_workflow.json
  packages/workflow/test/workflow-data-proxy.test.ts
Due: biome_check

Update packages/nodes-base/nodes/N8n/WorkflowDescription.ts
  packages/nodes-base/nodes/N8n/WorkflowDescription.ts
Due: biome_check

Create .gitkeep
  packages/community-nodes/.gitkeep
Due: none
