Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

remove test changes
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

Fix interface and update tests
  packages/workflow/src/Interfaces.ts
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

ci: Fix code coverage for nodes-base (no-changelog)
  packages/nodes-base/test/nodes/load-nodes-and-credentials.ts
Due: biome_check

fix build
  packages/workflow/test/NodeHelpers.conditions.test.ts
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

clean up
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

fix build
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
Due: prettier_check

ci: Fix code coverage for nodes-base (no-changelog) (#14319)
  packages/nodes-base/test/nodes/load-nodes-and-credentials.ts
Due: biome_check

Incorporate feedback PR
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
Due: prettier_check

fix test
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
Due: biome_check

feat(API): Add insights config on frontend settings (#14315)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
Due: biome_check

add demo setup
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

add min size and alignment
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
Due: prettier_check

fix
  packages/cli/src/executions/execution.service.ts
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/executions.store.ts
  packages/frontend/editor-ui/src/utils/executionUtils.ts
  packages/frontend/editor-ui/src/views/WorkflowExecutionsView.vue
Due: biome_check, prettier_check

fix build, document responseData param, and remove duplicate additionalKeys declarations
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/webhook-helpers.ts
Due: biome_check

tests
  packages/frontend/editor-ui/src/utils/expressions.test.ts
Due: biome_check

fix(editor): Change label for unexecuted nodes (#14260)
  CONTRIBUTING.md
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

Fixes
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/page.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/post.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/user.test.ts
Due: biome_check

feat(Email Trigger (IMAP) Node): IMAP trigger node returns message UIDs
  packages/nodes-base/nodes/EmailReadImap/test/v2/utils.test.ts
  packages/nodes-base/nodes/EmailReadImap/v2/utils.ts
Due: biome_check

Make styling of search labels inline
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Due: biome_check

typo fix
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/utils/executionUtils.ts
Due: biome_check

refactor: introduce constant for logs panel state
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/CanvasChat.vue
  packages/frontend/editor-ui/src/components/CanvasChat/composables/useChatState.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsPanelActions.vue
  packages/frontend/editor-ui/src/components/CanvasChat/types/logs.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/composables/useToast.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

use correct property
  packages/nodes-base/nodes/HttpRequest/V3/Description.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

fix: allowing faster filter for specs
  cypress/.eslintrc.js
  cypress/README.md
  cypress/cypress.config.js
  cypress/scripts/run-e2e.js
  cypress/support/types/cypress-grep.d.ts
Due: none

feat: add debugFlaky option and @cypress/grep for improved flaky test debugging, fix CAT-726
  cypress/README.md
  cypress/composables/workflow.ts
  cypress/e2e/726-CAT-canvas-node-connectors-not-rendered-when-nodes-inserted.cy.ts
  cypress/package.json
  cypress/scripts/run-e2e.js
  cypress/support/e2e.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  scripts/run-e2e.js
Due: none

Don't double disconnect in manual mode
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.ts
Due: biome_check

Add noDataExpression
  packages/frontend/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
Due: prettier_check

Round failure rate to 3 decimals
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check

fix(API): Insights - round failure rate to 3 decimals (#14325)
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check
