Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(editor): Fix Cannot read properties of undefined (reading 'finished') (#11367)
  packages/editor-ui/src/stores/workflows.store.spec.ts
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

rename to wrapper
  packages/design-system/src/components/AskAssistantChat/__tests__/AskAssistantChat.spec.ts
Due: biome_check

test fix
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeStickyNote.spec.ts.snap
Due: none

fix(core): Change dedupe value column type from varchar(255) to text (#11357)
  packages/cli/src/databases/migrations/common/1729607673464-UpdateProcessedDataValueColumnToText.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
Due: biome_check

fix(editor): Record sessionStarted telemetry event in Setting Store (#11334)
  packages/editor-ui/src/stores/settings.store.test.ts
  packages/editor-ui/src/stores/settings.store.ts
Due: biome_check

fix(core): Ensure `LoggerProxy` is not scoped
  packages/cli/src/logging/__tests__/logger.service.test.ts
  packages/cli/src/logging/logger.service.ts
Due: biome_check

fix: Check if execution will wait on Test step click (no-changelog) (#11311)
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/editor-ui/src/stores/workflows.store.spec.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

missing constant
  packages/editor-ui/src/constants.ts
Due: biome_check

:rocket: Release 1.64.2
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/editor-ui/package.json
Due: biome_check

Add testIdAttribute to setup
  packages/design-system/src/__tests__/setup.ts
Due: biome_check

fix import
  packages/design-system/src/__tests__/setup.ts
Due: biome_check

talk
  packages/nodes-base/nodes/NextCloud/NextCloud.node.ts
Due: biome_check

fix input order
  packages/design-system/src/__tests__/setup.ts
Due: biome_check

fix: Check if execution will wait on Test step click (no-changelog) (#11311)
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/stores/workflows.store.spec.ts
  packages/editor-ui/src/stores/workflows.store.ts
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

remove unused import
  packages/core/src/PartialExecutionUtils/__tests__/recreateNodeExecutionStack.test.ts
Due: biome_check

feat: add support for scrolling when using mouse middle click
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/utils/eventUtils.ts
Due: biome_check, prettier_check

fix: update dragging styles
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/styles/plugins/_vueflow.scss
Due: prettier_check

remove debugger statement
  packages/core/src/PartialExecutionUtils/recreateNodeExecutionStack.ts
Due: biome_check

refactor(core): Add external secrets log scope (#11224)
  packages/@n8n/config/src/configs/logging.config.ts
  packages/cli/src/external-secrets/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/external-secrets/external-secrets-manager.ee.ts
  packages/cli/src/external-secrets/providers/aws-secrets/aws-secrets-manager.ts
  packages/cli/src/external-secrets/providers/azure-key-vault/azure-key-vault.ts
  packages/cli/src/external-secrets/providers/gcp-secrets-manager/gcp-secrets-manager.ts
  packages/cli/src/external-secrets/providers/vault.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
Due: biome_check

fix: add test
  packages/editor-ui/src/components/canvas/Canvas.spec.ts
  packages/editor-ui/src/components/canvas/Canvas.vue
Due: biome_check, prettier_check

:rocket: Release 1.65.0
  CHANGELOG.md
  package.json
  packages/@n8n/benchmark/package.json
  packages/@n8n/config/package.json
  packages/@n8n/json-schema-to-zod/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/permissions/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

missing files
  packages/@n8n/api-types/src/dto/variables/create-variable-request.dto.ts
  packages/cli/src/databases/migrations/common/1729695079000-AddProjectToVariables.ts
Due: biome_check

add temp testIdAttribute config
  packages/design-system/src/components/AskAssistantChat/__tests__/AskAssistantChat.spec.ts
Due: biome_check

Separate scoped logger
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/worker.ts
  packages/cli/src/concurrency/concurrency-control.service.ts
  packages/cli/src/license.ts
  packages/cli/src/logging/logger.service.ts
  packages/cli/src/logging/scoped-logger.service.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/scaling/multi-main-setup.ee.ts
  packages/cli/src/scaling/pubsub/publisher.service.ts
  packages/cli/src/scaling/pubsub/subscriber.service.ts
  packages/cli/src/scaling/scaling.service.ts
  packages/cli/src/scaling/worker-server.ts
  packages/cli/src/services/redis-client.service.ts
  packages/cli/src/wait-tracker.ts
Due: biome_check

test(editor): Set 'data-test-id' in design-system unit tests to match with editor-ui and cypress (no-changelog) (#11381)
  packages/design-system/src/__tests__/setup.ts
Due: biome_check

remove them again
  packages/design-system/src/__tests__/setup.ts
  packages/design-system/src/components/AskAssistantChat/__tests__/AskAssistantChat.spec.ts
Due: biome_check

fix(core): Ensure `LoggerProxy` is not scoped (#11379)
  packages/cli/src/logging/__tests__/logger.service.test.ts
  packages/cli/src/logging/logger.service.ts
Due: biome_check
