Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

refactor(core): Port `security` config (#11440)
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/commands/audit.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/security-audit/risk-reporters/credentials-risk-reporter.ts
  packages/cli/src/security-audit/security-audit.service.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/security-audit/credentials-risk-reporter.test.ts
  packages/cli/test/integration/security-audit/database-risk-reporter.test.ts
  packages/cli/test/integration/security-audit/filesystem-risk-reporter.test.ts
  packages/cli/test/integration/security-audit/instance-risk-reporter.test.ts
  packages/cli/test/integration/security-audit/nodes-risk-reporter.test.ts
Due: biome_check

Use newlines in oom error message
  packages/cli/src/runners/errors/task-runner-oom-error.ts
Due: biome_check

feat(editor): Support newlines in node errors
  packages/editor-ui/src/components/Error/NodeErrorView.vue
  packages/editor-ui/src/components/MultiLineText/MultiLineText.vue
  packages/editor-ui/src/components/MultiLineText/__tests__/MultiLineText.test.ts
  packages/editor-ui/src/components/MultiLineText/__tests__/__snapshots__/MultiLineText.test.ts.snap
Due: biome_check, prettier_check

update node js version in contruting.md
  CONTRIBUTING.md
Due: none

fix: Update required node js version in CONTRIBUTING.md (#11437)
  CONTRIBUTING.md
Due: none

Use description in the error message
  packages/cli/src/runners/errors/task-runner-oom-error.ts
Due: biome_check

Adjust text
  packages/cli/src/runners/errors/task-runner-oom-error.ts
Due: biome_check

removed changes for form completion and sendAndWait from waiting webhooks
  packages/cli/src/webhooks/waiting-forms.ts
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
Due: biome_check

fix(core): Add 'user_id' to `license-community-plus-registered` telemetry event (#11430)
  packages/cli/src/events/__tests__/telemetry-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/license/__tests__/license.service.test.ts
  packages/cli/src/license/license.controller.ts
  packages/cli/src/license/license.service.ts
Due: biome_check

fix(editor): Run external hooks after settings have been initialized (#11423)
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/init.ts
Due: biome_check, prettier_check

fix(editor): Auto focus email field on sign-in view
  packages/editor-ui/src/views/SigninView.test.ts
  packages/editor-ui/src/views/SigninView.vue
Due: biome_check, prettier_check

fix: Provide a better error message when task runner disconnects (no-changelog) (#11442)
  packages/cli/src/runners/__tests__/node-process-oom-detector.test.ts
  packages/cli/src/runners/__tests__/sliding-window-signal.test.ts
  packages/cli/src/runners/__tests__/task-broker.test.ts
  packages/cli/src/runners/errors/task-runner-disconnected-error.ts
  packages/cli/src/runners/errors/task-runner-oom-error.ts
  packages/cli/src/runners/node-process-oom-detector.ts
  packages/cli/src/runners/runner-ws-server.ts
  packages/cli/src/runners/sliding-window-signal.ts
  packages/cli/src/runners/task-broker.service.ts
  packages/cli/src/runners/task-runner-disconnect-analyzer.ts
  packages/cli/src/runners/task-runner-process.ts
  packages/nodes-base/nodes/Code/JsTaskRunnerSandbox.ts
Due: biome_check

feat: remove edge execution animation
  packages/editor-ui/src/composables/useCanvasMapping.ts
Due: biome_check

Change tooltip for workflow with execute workflow trigger
  packages/editor-ui/src/components/WorkflowActivator.test.ts
  packages/editor-ui/src/components/WorkflowActivator.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

feat(editor): Allow enabling canvas v2 via instance settings (no-changelog)
  packages/@n8n/api-types/package.json
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/frontend.config.ts
  packages/@n8n/config/src/index.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.ts
  packages/editor-ui/src/stores/settings.store.ts
  pnpm-lock.yaml
Due: biome_check

test: fix test
  packages/editor-ui/src/composables/useCanvasMapping.spec.ts
Due: biome_check

Added both authentication methods
  packages/nodes-base/credentials/ZabbixApi.credentials.ts
  packages/nodes-base/credentials/ZabbixAuthApi.credentials.ts
  packages/nodes-base/package.json
Due: biome_check

fix linting issue
  packages/editor-ui/src/__tests__/defaults.ts
Due: biome_check

removed default form complition screen
  packages/cli/src/webhooks/waiting-webhooks.ts
  packages/nodes-base/nodes/Wait/Wait.node.ts
Due: biome_check

feat(editor): Remove edge execution animation on new canvas (#11446)
  packages/editor-ui/src/composables/useCanvasMapping.spec.ts
  packages/editor-ui/src/composables/useCanvasMapping.ts
Due: biome_check

fix(editor): Fix rendering of AI logs
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataAi/RunDataAi.vue
  packages/editor-ui/src/components/WorkflowLMChat/WorkflowLMChat.vue
Due: prettier_check

feat: Make runner concurrency configurable (no-changelog)
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/task-runner/package.json
  packages/@n8n/task-runner/src/config/base-runner-config.ts
  packages/@n8n/task-runner/src/config/js-runner-config.ts
  packages/@n8n/task-runner/src/config/main-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/start.ts
  packages/@n8n/task-runner/src/task-runner.ts
  packages/@n8n/task-runner/tsconfig.json
  packages/cli/src/runners/__tests__/task-runner-process.test.ts
  packages/cli/src/runners/task-runner-process.ts
  pnpm-lock.yaml
Due: biome_check

update tracking reqs
  packages/editor-ui/src/components/Node/NodeCreator/Panel/NodesListPanel.vue
  packages/editor-ui/src/stores/nodeCreator.store.ts
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
