Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

revert the addUser change for now
  packages/cli/src/services/project.service.ee.ts
Due: biome_check

fix: move all project endpoints into same tag for docs
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.yml
Due: prettier_check

add projectId to error message
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/public-api/projects.test.ts
Due: biome_check

add test for validation error
  packages/cli/test/integration/public-api/projects.test.ts
Due: biome_check

use type guard
  packages/cli/src/services/project.service.ee.ts
Due: biome_check

prevent unique constraint errors
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/project.service.integration.test.ts
Due: biome_check

send back ForbiddenError when the user tries to delete a personal project
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/project.api.test.ts
Due: biome_check

syncProjectRelations tests
  packages/cli/src/services/__tests__/project.service.ee.test.ts
Due: biome_check

more tests
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/public-api/projects.test.ts
  packages/cli/test/integration/shared/db/projects.ts
Due: biome_check

use DTOs for these new endpoints
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/project/__tests__/add-users-to-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/__tests__/change-user-role-in-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/add-users-to-project.dto.ts
  packages/@n8n/api-types/src/dto/project/change-user-role-in-project.dto.ts
  packages/@n8n/api-types/src/schemas/project.schema.ts
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.id.yml
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.userId.yml
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.yml
  packages/cli/src/public-api/v1/openapi.yml
  packages/cli/src/requests.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/project.api.test.ts
  packages/cli/test/integration/public-api/projects.test.ts
Due: biome_check, prettier_check

use `addUsersToProject` to implement `addUser`
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/project.service.integration.test.ts
Due: biome_check

prevent project admin from being removed
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/services/project.service.test.ts
Due: biome_check

don't allow adding personal owners to team project, nor allow editing personal projects with the public API
  packages/@n8n/api-types/src/schemas/project.schema.ts
  packages/cli/src/services/__tests__/project.service.ee.test.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/credentials/credentials.api.ee.test.ts
  packages/cli/test/integration/project.service.integration.test.ts
  packages/cli/test/integration/public-api/projects.test.ts
  packages/cli/test/integration/services/project.service.test.ts
  packages/cli/test/integration/workflows/workflow-sharing.service.test.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

feat: add ability to add users to projects via API
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/public-api/v1/handlers/projects/spec/paths/projects.projectId.users.yml
  packages/cli/src/public-api/v1/openapi.yml
  packages/cli/src/requests.ts
  packages/cli/test/integration/public-api/projects.test.ts
Due: biome_check, prettier_check

fix the build
  packages/@n8n/api-types/src/schemas/project.schema.ts
Due: biome_check

Extend tests and add checks for changing the user role
  packages/@n8n/api-types/src/dto/project/__tests__/add-users-to-project.dto.test.ts
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/services/__tests__/project.service.ee.test.ts
  packages/cli/src/services/project.service.ee.ts
Due: biome_check

Fixing role typing for UI when changing the user role in a project
  packages/@n8n/permissions/src/schemas.ee.ts
  packages/@n8n/permissions/src/types.ee.ts
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Due: biome_check, prettier_check

Do not rely on order to check project relations
  packages/cli/test/integration/public-api/projects.test.ts
Due: biome_check

change to check delete from project owner
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/services/project.service.test.ts
Due: biome_check

Remove unused import
  packages/frontend/editor-ui/src/views/ProjectSettings.vue
Due: prettier_check

Remove unused projectService in workflow.controller.test
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

Rebased and fixed tests
  packages/@n8n/api-types/src/dto/project/__tests__/add-users-to-project.dto.test.ts
  packages/@n8n/api-types/src/dto/project/change-user-role-in-project.dto.ts
  packages/cli/src/controllers/project.controller.ts
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/services/__tests__/project.service.ee.test.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/src/services/role.service.ts
Due: biome_check

Fix addUser
  packages/cli/src/services/__tests__/project.service.ee.test.ts
  packages/cli/src/services/project.service.ee.ts
Due: biome_check

fix(core): Support `helpers.request` in task runners
  packages/@n8n/task-runner/src/runner-types.ts
  packages/cli/src/task-runners/task-managers/__tests__/task-manager.test.ts
Due: biome_check

fix(core): Simplify Websocket origin security checks (#15761)
  packages/cli/src/push/__tests__/index.test.ts
  packages/cli/src/push/index.ts
Due: biome_check

fix: fix type import
  packages/frontend/editor-ui/src/components/Evaluations.ee/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/shared/errorCodes.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/TestRunDetailView.vue
Due: biome_check, prettier_check

Update EvaluationTrigger.node.ee.json
  packages/nodes-base/nodes/Evaluation/EvaluationTrigger/EvaluationTrigger.node.ee.json
Due: biome_check

WIP: added components and redirect logic
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/views/CredentialsView.vue
  packages/frontend/editor-ui/src/views/EntityNotFound.vue
  packages/frontend/editor-ui/src/views/EntityUnAuthorised.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

Support pasting an expression into a number parameter
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: biome_check, prettier_check

Add preventDefault
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: prettier_check

ci: Implement reusable workflow for PR job eligibility checks (no-changelog) (#15631)
  .github/workflows/check-run-eligibility.yml
  .github/workflows/e2e-tests-pr.yml
  .github/workflows/test-workflows-pr-approved.yml
Due: none

feat(editor): Support pasting an expression into a number parameter (#15722)
  packages/frontend/editor-ui/src/components/ParameterInput.test.ts
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
