Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

chore(core): Stop reporting to Sentry execution cancellations (#11347)
  packages/cli/src/webhooks/webhook-helpers.ts
Due: biome_check

fix(editor): Record sessionStarted telemetry event in Setting Store (#11334)
  packages/editor-ui/src/stores/settings.store.test.ts
  packages/editor-ui/src/stores/settings.store.ts
Due: biome_check

return role from `POST /invitations`
  packages/cli/src/requests.ts
  packages/cli/src/services/user.service.ts
  packages/cli/test/integration/controllers/invitation/invitation.controller.integration.test.ts
Due: biome_check

Fix node depth bug
  packages/editor-ui/src/components/InputPanel.vue
Due: prettier_check

create deck and update deck body
  packages/nodes-base/nodes/NextCloud/NextCloud.node.ts
Due: biome_check

use role from API response
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/stores/users.store.ts
Due: biome_check

create note fields and additional operation get a single note
  packages/nodes-base/nodes/NextCloud/NextCloud.node.ts
Due: biome_check

fix test
  packages/editor-ui/src/stores/users.store.test.ts
Due: biome_check

Use @n8n/config for the env var
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/core/package.json
  packages/core/src/InstanceSettings.ts
  packages/core/test/InstanceSettings.test.ts
  pnpm-lock.yaml
Due: biome_check

fix(editor): Fix switching to execution debug mode in new canvas (no-changelog) (#11350)
  packages/editor-ui/src/views/NodeView.v2.vue
Due: prettier_check

isExecuting fix
  packages/editor-ui/src/components/Node.vue
  packages/editor-ui/src/components/NodeExecuteButton.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/composables/usePushConnection.ts
  packages/editor-ui/src/composables/useRunWorkflow.ts
Due: biome_check, prettier_check

Move config from @n8n/config to core
  packages/@n8n/config/src/configs/security.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/core/src/InstanceSettings.ts
  packages/core/src/InstanceSettingsConfig.ts
  packages/core/test/InstanceSettings.test.ts
Due: biome_check

Improve toResult type
  packages/workflow/src/result.ts
Due: biome_check

fix(API): Correct credential schema for response in `POST /credentials` (#11340)
  packages/cli/src/public-api/v1/handlers/credentials/spec/paths/credentials.yml
  packages/cli/src/public-api/v1/handlers/credentials/spec/schemas/create-credential-response.yml
Due: prettier_check

feat(benchmark): Enable filtering scenarios with -f flag
  packages/@n8n/benchmark/src/commands/run.ts
  packages/@n8n/benchmark/src/scenario/scenario-loader.ts
Due: biome_check

docs(benchmark): Update readme
  packages/@n8n/benchmark/README.md
Due: prettier_check

Fix typing issue
  packages/core/test/utils.ts
Due: biome_check

Fix InstanceSettings usage in tests
  packages/cli/src/environments/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/executions/__tests__/execution-recovery.service.test.ts
  packages/cli/test/integration/pruning.service.test.ts
Due: biome_check

fix: Resend invite operation on users list (#11351)
  packages/cli/src/requests.ts
  packages/cli/src/services/user.service.ts
  packages/cli/test/integration/controllers/invitation/invitation.controller.integration.test.ts
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/stores/users.store.test.ts
  packages/editor-ui/src/stores/users.store.ts
Due: biome_check

Hide data mapping tooltip in credential edit modal
  packages/editor-ui/src/components/ParameterInput.vue
Due: prettier_check

test(editor): Test delete all existing executions
  packages/editor-ui/src/stores/__tests__/executions.store.test.ts
  packages/editor-ui/src/stores/executions.store.ts
Due: biome_check

Change Value column type from varchar(255) to text
  packages/cli/src/databases/migrations/common/1729607673464-UpdateProcessedDataValueColumnToText.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
Due: biome_check

fix: Include error in the message in JS task runner sandbox
  packages/nodes-base/nodes/Code/JsTaskRunnerSandbox.ts
Due: biome_check

docs: Rename Google My Business > Google Business Profile (no-changelog)
  packages/nodes-base/credentials/GoogleBusinessProfileOAuth2Api.credentials.ts
  packages/nodes-base/credentials/GoogleMyBusinessOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Google/BusinessProfile/GenericFunctions.ts
  packages/nodes-base/nodes/Google/BusinessProfile/GoogleBusinessProfile.node.json
  packages/nodes-base/nodes/Google/BusinessProfile/GoogleBusinessProfile.node.ts
  packages/nodes-base/nodes/Google/BusinessProfile/GoogleBusinessProfileTrigger.node.json
  packages/nodes-base/nodes/Google/BusinessProfile/GoogleBusinessProfileTrigger.node.ts
  packages/nodes-base/nodes/Google/BusinessProfile/Interfaces.ts
  packages/nodes-base/nodes/Google/BusinessProfile/PostDescription.ts
  packages/nodes-base/nodes/Google/BusinessProfile/ReviewDescription.ts
  packages/nodes-base/nodes/Google/BusinessProfile/googleBusinessProfile.svg
  packages/nodes-base/nodes/Google/BusinessProfile/test/AddUpdateMask.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/GoogleApiRequest.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/HandleDatesPresend.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/HandlePagination.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/SearchAccounts.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/SearchLocations.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/SearchPosts.test.ts
  packages/nodes-base/nodes/Google/BusinessProfile/test/SearchReviews.test.ts
  packages/nodes-base/package.json
Due: biome_check

fix(editor): Keep 'deleteBefore' exclusiveness when deleting execution by 'startDate'
  packages/editor-ui/src/components/executions/global/GlobalExecutionsList.vue
  packages/editor-ui/src/stores/__tests__/executions.store.test.ts
  packages/editor-ui/src/stores/executions.store.ts
Due: biome_check, prettier_check

Apply suggestions from code review
  packages/cli/src/environments/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/executions/__tests__/execution-recovery.service.test.ts
  packages/cli/test/integration/pruning.service.test.ts
Due: biome_check

fix(core): Fix race condition when resolving post-execute promise
  packages/cli/src/__tests__/active-executions.test.ts
  packages/cli/src/active-executions.ts
Due: biome_check

fix: Include error in the message in JS task runner sandbox (#11359)
  packages/nodes-base/nodes/Code/JsTaskRunnerSandbox.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
