Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

refactor(editor): DuplicateWorkflowDialog.vue to script setup (#10902)
  packages/editor-ui/src/components/DuplicateWorkflowDialog.vue
Due: prettier_check

fix: delete outgoing connections directly
  packages/editor-ui/src/composables/useCanvasOperations.ts
Due: biome_check

test: add test for connections deletion
  packages/editor-ui/src/composables/__tests__/useCanvasOperations.spec.ts
Due: biome_check

Fix schema view pill highlighting
  packages/editor-ui/src/components/ExpressionParameterInput.vue
  packages/editor-ui/src/components/FilterConditions/Condition.vue
  packages/editor-ui/src/components/InlineExpressionEditor/InlineExpressionTip.vue
  packages/editor-ui/src/components/InlineExpressionEditor/__tests__/InlineExpressionTip.test.ts
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/ParameterInputFull.vue
Due: biome_check, prettier_check

fix: use project scopes as default scopes
  packages/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
Due: prettier_check

remove duplicated code
  packages/editor-ui/src/views/TemplatesWorkflowView.vue
Due: prettier_check

fix(editor): Introduce BE controller for Community+ sign-up
  packages/cli/src/license/license.controller.ts
  packages/cli/src/license/license.service.ts
  packages/cli/src/requests.ts
Due: biome_check

fix carousel
  packages/editor-ui/src/components/TemplatesInfoCarousel.vue
Due: prettier_check

import templates view
  packages/editor-ui/src/views/TemplatesWorkflowView.vue
Due: prettier_check

fix(core): Remove subworkflow license check (#10893)
  packages/cli/src/subworkflows/__tests__/subworkflow-policy-checker.test.ts
  packages/cli/src/subworkflows/subworkflow-policy-checker.service.ts
Due: biome_check

remove $locale from template
  packages/editor-ui/src/components/CommunityPackageInstallModal.vue
  packages/editor-ui/src/components/CommunityPackageManageConfirmModal.vue
Due: prettier_check

refactor(editor): Migrate community nodes modals to composition api (no-changelog) (#10909)
  packages/editor-ui/src/components/CommunityPackageInstallModal.vue
  packages/editor-ui/src/components/CommunityPackageManageConfirmModal.vue
  packages/editor-ui/src/components/__tests__/CommunityPackageInstallModal.spec.ts
Due: biome_check, prettier_check

refactor(editor): Migrate `TemplatesWorkflowView.vue` to composition API (#10918)
  packages/editor-ui/src/components/TemplatesInfoCarousel.vue
  packages/editor-ui/src/views/TemplatesWorkflowView.vue
Due: prettier_check

fix: Hide assistant button when showing Click to connect (#10932)
  cypress/e2e/45-ai-assistant.cy.ts
  cypress/pages/features/ai-assistant.ts
  packages/editor-ui/src/components/CredentialEdit/CredentialConfig.vue
Due: prettier_check

fix(Notion Node): Allow UUID v8 in notion id checks
  packages/nodes-base/nodes/Notion/NotionTrigger.node.ts
  packages/nodes-base/nodes/Notion/shared/GenericFunctions.ts
  packages/nodes-base/nodes/Notion/shared/constants.ts
  packages/nodes-base/nodes/Notion/shared/descriptions/BlockDescription.ts
  packages/nodes-base/nodes/Notion/shared/descriptions/Blocks.ts
  packages/nodes-base/nodes/Notion/shared/descriptions/DatabaseDescription.ts
  packages/nodes-base/nodes/Notion/shared/descriptions/DatabasePageDescription.ts
  packages/nodes-base/nodes/Notion/shared/descriptions/PageDescription.ts
  packages/nodes-base/nodes/Notion/test/GenericFunctions.test.ts
Due: biome_check

feat(Brandfetch Node): Update to use new API (#10877)
  packages/nodes-base/credentials/BrandfetchApi.credentials.ts
  packages/nodes-base/nodes/Brandfetch/Brandfetch.node.ts
  packages/nodes-base/nodes/Brandfetch/GenericFunctions.ts
  packages/nodes-base/nodes/Brandfetch/test/GenericFunctions.test.ts
Due: biome_check

--wip--
  tasks.md
Due: none

--wip--
  packages/cli/src/commands/export/all.ts
  packages/cli/src/commands/import/all.ts
  tasks.md
Due: biome_check

init
  packages/cli/src/commands/export/all.ts
  packages/cli/src/commands/import/all.ts
  tasks.md
Due: biome_check

fix column types in export
  packages/cli/src/commands/export/all.ts
Due: biome_check

implement batching
  packages/cli/src/commands/export/all.ts
Due: biome_check

skip empty tables
  packages/cli/src/commands/export/all.ts
Due: biome_check

export to a temporary directory instead
  packages/cli/package.json
  packages/cli/src/commands/export/all.ts
  pnpm-lock.yaml
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md}
