Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check, workspace_deps_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

styles_check:
  run: pnpm lint:styles:fix
  skip:
  - merge
  - rebase

actionlint_check:
  run: actionlint {staged_files}
  skip:
  - merge
  - rebase

workspace_deps_check:
  run: "if grep -l '\"workspace:\\^\"' {staged_files} 2>/dev/null; then\n  echo \"\"\n  echo \"ERROR: Found 'workspace:^' in package.json files.\"\n  echo \"\"\n  echo \"Use 'workspace:*' instead to pin exact versions.\"\n  echo \"Using 'workspace:^' causes npm to resolve semver ranges when users\"\n 
  ...

test: Skip source control flakey tests (#23941)
  packages/testing/playwright/tests/e2e/settings/environments/source-control.spec.ts
  packages/testing/playwright/tests/e2e/source-control/pull.spec.ts
  packages/testing/playwright/tests/e2e/source-control/push.spec.ts
Due: biome_check

fix: collapse expanding on streaming end, not on item change
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ThinkingMessage.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ThinkingMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ThinkingMessagePlaceholder.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ThinkingMessagePlaceholder.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
Due: biome_check, prettier_check, styles_check

logo svg
  packages/frontend/@n8n/design-system/src/components/N8nLogo/logo-icon.svg
  packages/frontend/@n8n/design-system/src/components/N8nLogo/logo-text.svg
Due: none

feat(ai-evals): port LangSmith filtering + stable metric keys
  packages/@n8n/ai-workflow-builder.ee/evaluations/README.md
  packages/@n8n/ai-workflow-builder.ee/evaluations/__tests__/argument-parser.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/__tests__/runner-langsmith.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/cli.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/core/argument-parser.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/feedback.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/harness-types.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/runner.ts
Due: biome_check, prettier_check

minor signature changes. Add scope check on validate resolver config to use external secrets
  packages/cli/src/credentials-helper.ts
  packages/cli/src/credentials/__tests__/dynamic-credentials-proxy.test.ts
  packages/cli/src/credentials/credential-resolution-provider.interface.ts
  packages/cli/src/credentials/dynamic-credentials-proxy.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers.controller.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/credential-resolver.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/credential-resolver.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/resolver-config-expression.service.ts
  packages/cli/test/integration/dynamic-credentials.ee/credential-resolvers.api.test.ts
Due: biome_check

Fix AI review feedback
  packages/frontend/@n8n/design-system/src/components/N8nDropdown/Dropdown.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nHeaderAction/HeaderAction.vue
  packages/frontend/editor-ui/src/features/ndv/parameters/components/Collection/CollectionParameterNew.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollection/FixedCollectionParameterNew.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollection/FixedCollectionParameterNew.vue
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ParameterInputList.vue
Due: biome_check, prettier_check, styles_check

lint fix
  packages/frontend/editor-ui/src/app/components/MainSidebar.vue
Due: prettier_check, styles_check

fix(editor-ui): keep filter edits scoped to current node
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FilterConditions/FilterConditions.vue
Due: prettier_check, styles_check

chore: Fix infinite requests in hosted storybook (#23933)
  packages/frontend/@n8n/design-system/.storybook/fonts.scss
  packages/frontend/@n8n/design-system/.storybook/storybook.scss
  packages/frontend/@n8n/design-system/src/css/common/var.scss
  packages/frontend/@n8n/design-system/src/css/fonts.scss
  packages/frontend/@n8n/design-system/src/css/icon.scss
  packages/frontend/@n8n/storybook/package.json
Due: biome_check, prettier_check, styles_check, workspace_deps_check

fix credentials-helper tests
  packages/cli/src/__tests__/credentials-helper.test.ts
Due: biome_check

fix unit test. accept tags as object for e2e tests
  packages/@n8n/api-types/src/dto/workflows/base-workflow.dto.ts
  packages/@n8n/api-types/src/dto/workflows/create-workflow.dto.ts
  packages/cli/src/workflows/__tests__/workflows.controller.test.ts
Due: biome_check

Add DTOs for workflow create / update validation
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/workflows/base-workflow.dto.ts
  packages/@n8n/api-types/src/dto/workflows/create-workflow.dto.ts
  packages/@n8n/api-types/src/dto/workflows/update-workflow.dto.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

Fix inactive workflow on creation
  packages/cli/src/workflows/workflows.controller.ts
Due: biome_check

refactor(core): Comment out future source values in workflow-executed event
  packages/cli/src/events/maps/relay.event-map.ts
Due: biome_check

tidy up
  packages/frontend/editor-ui/src/app/components/MainSidebar.vue
Due: prettier_check, styles_check

Tiered node loading PoC
  packages/@n8n/db/src/repositories/workflow-dependency.repository.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/controllers/node-types.controller.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/bin/generate-metadata
  packages/core/src/nodes-loader/directory-loader.ts
  packages/core/src/nodes-loader/index.ts
  packages/core/src/nodes-loader/lazy-package-directory-loader.ts
  packages/frontend/@n8n/rest-api-client/src/api/nodeTypes.ts
  packages/frontend/editor-ui/src/app/stores/nodeTypes.store.ts
  packages/frontend/editor-ui/src/features/ndv/shared/views/NodeDetailsViewV2.vue
Due: biome_check, prettier_check, styles_check

fix(Ollama Node): Fix URL path handling and add thinking control option
  packages/@n8n/nodes-langchain/nodes/llms/LMOllama/description.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/actions/image/analyze.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/helpers/interfaces.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/transport/index.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Due: biome_check, workspace_deps_check

ci: Backport workflow renames to 1.x branch
  .github/workflows/build-base-image.yml
  .github/workflows/build-benchmark-image.yml
  .github/workflows/build-unit-test-pr-comment.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci-check-eligibility-reusable.yml
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-manual-unit-tests.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/ci-python.yml
  .github/workflows/playwright-nightly.yml
  .github/workflows/playwright-test-docker-build.yml
  .github/workflows/test-benchmark-destroy-nightly.yml
  .github/workflows/test-benchmark-nightly.yml
  .github/workflows/test-db-postgres-mysql.yml
  .github/workflows/test-e2e-coverage-weekly.yml
  .github/workflows/test-e2e-docker-pull-reusable.yml
  .github/workflows/test-e2e-performance-reusable.yml
  .github/workflows/test-e2e-reusable.yml
  .github/workflows/test-evals-ai.yml
  .github/workflows/test-evals-python.yml
  .github/workflows/test-linting-reusable.yml
  .github/workflows/test-unit-reusable.yml
  .github/workflows/test-visual-chromatic.yml
  .github/workflows/test-visual-storybook.yml
  .github/workflows/test-workflows-callable.yml
  .github/workflows/test-workflows-nightly.yml
  .github/workflows/test-workflows-pr-comment.yml
  .github/workflows/util-check-docs-urls.yml
  .github/workflows/util-claude.yml
  .github/workflows/util-data-tooling.yml
  .github/workflows/util-notify-pr-status.yml
  .github/workflows/util-sync-api-docs.yml
  .github/workflows/util-update-node-popularity.yml
Due: actionlint_check

Fix test not checking preference
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential.service.test.ts
Due: biome_check

update logo snapshots
  packages/frontend/@n8n/design-system/src/components/N8nLogo/__snapshots__/Logo.test.ts.snap
Due: none

refactor: Move convertWorkflowTagsToIds to util
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.test.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/app/utils/workflowUtils.test.ts
  packages/frontend/editor-ui/src/app/utils/workflowUtils.ts
Due: biome_check

fix(editor): Fix typo in source control push modal message
  packages/frontend/@n8n/i18n/src/locales/en.json
Due: biome_check

use new generated links within the UI and emails
  packages/cli/src/services/__tests__/user.service.test.ts
  packages/cli/src/services/user.service.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/users.ts
  packages/frontend/editor-ui/src/features/settings/users/components/InviteUsersModal.vue
  packages/frontend/editor-ui/src/features/settings/users/users.store.ts
  packages/frontend/editor-ui/src/features/settings/users/views/SettingsUsersView.test.ts
  packages/frontend/editor-ui/src/features/settings/users/views/SettingsUsersView.vue
Due: biome_check, prettier_check, styles_check

show indicator when published-invaluid-trigger
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: prettier_check, styles_check

test: Fix one flaky test, skip another
  packages/testing/playwright/pages/ExecutionsPage.ts
  packages/testing/playwright/tests/e2e/settings/users/users.spec.ts
  packages/testing/playwright/tests/e2e/workflows/executions/list.spec.ts
Due: biome_check

remove fields to discard, as zod is not strict about it
  packages/@n8n/api-types/src/dto/workflows/base-workflow.dto.ts
  packages/@n8n/api-types/src/dto/workflows/create-workflow.dto.ts
  packages/cli/src/workflows/workflows.controller.ts
Due: biome_check

fix(Ollama Node): Fix URL path handling and add thinking control option
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOllama/LmChatOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOllama/LmOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOllama/description.ts
Due: biome_check

feat(core): First shot in resolving the credential resolver config expressions (#23110)
  packages/cli/src/__tests__/credentials-helper.test.ts
  packages/cli/src/credentials-helper.ts
  packages/cli/src/credentials/__tests__/dynamic-credentials-proxy.test.ts
  packages/cli/src/credentials/credential-resolution-provider.interface.ts
  packages/cli/src/credentials/dynamic-credentials-proxy.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers.controller.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/credential-resolver.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/__tests__/dynamic-credential.service.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/credential-resolver.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential-storage.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/dynamic-credential.service.ts
  packages/cli/src/modules/dynamic-credentials.ee/services/resolver-config-expression.service.ts
  packages/cli/src/oauth/__tests__/oauth.service.test.ts
  packages/cli/src/oauth/oauth.service.ts
  packages/cli/src/services/credentials-tester.service.ts
  packages/cli/test/integration/dynamic-credentials.ee/credential-resolvers.api.test.ts
  packages/core/src/execution-engine/node-execution-context/index.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-additional-keys.ts
  packages/workflow/src/index.ts
  packages/workflow/src/node-parameters/node-parameter-value-type-guard.ts
  packages/workflow/test/node-parameters/node-parameter-value-type-guard.test.ts
Due: biome_check

docs: Move README for source control environments in n8n
  packages/cli/src/modules/source-control.ee/README.md
Due: prettier_check

fix test
  packages/frontend/editor-ui/src/features/settings/users/views/SettingsUsersView.test.ts
Due: biome_check

feat(core): Add log streaming events for executions (#23372)
  packages/cli/src/eventbus/event-message-classes/index.ts
  packages/cli/src/events/__tests__/log-streaming-event-relay.test.ts
  packages/cli/src/events/maps/relay.event-map.ts
  packages/cli/src/events/relays/log-streaming.event-relay.ts
  packages/cli/src/executions/__tests__/execution.service.test.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/workflows/workflows.controller.ts
  packages/cli/test/integration/execution.service.integration.test.ts
Due: biome_check

test: Fix year-related test (#23790)
  packages/frontend/editor-ui/src/features/execution/executions/composables/useExecutionHelpers.test.ts
Due: biome_check

dont' disable when saving
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: prettier_check, styles_check

feat(core): Add $tool alias
  packages/cli/src/tool-generation/__tests__/hitl-tools.test.ts
  packages/cli/src/tool-generation/hitl-tools.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/features/shared/editors/plugins/codemirror/completions/constants.ts
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/test/workflow-data-proxy.test.ts
Due: biome_check

Update packages/@n8n/nodes-langchain/nodes/vendors/Ollama/transport/index.ts
  packages/@n8n/nodes-langchain/nodes/vendors/Ollama/transport/index.ts
Due: biome_check

docs: Update README for source control environments with local development setup and demo instructions
  packages/cli/src/modules/source-control.ee/README.md
Due: prettier_check

add nullable on the parentFolder
  packages/@n8n/api-types/src/dto/workflows/base-workflow.dto.ts
Due: biome_check

Add docs for TCP syslog setup
  packages/cli/test/integration/eventbus/README-manual-test-syslog.md
Due: prettier_check

indiciator class
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowHeaderDraftPublishActions.vue
Due: prettier_check, styles_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
  styles_check: any of: packages/**/*.{scss,sass,vue}
  actionlint_check: any of: .github/workflows/*.{yml,yaml}
  workspace_deps_check: any of: **/package.json
