Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

fix(n8n Form Node): Show Form Complition after Form Complition page (#14226)
  packages/cli/templates/form-trigger-completion.handlebars
Due: none

⚡Updating project link
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
Due: prettier_check

✨ Making badge work with folders
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

✅ Updating design-system test snapshots
  packages/frontend/@n8n/design-system/src/components/N8nBadge/__snapshots__/Badge.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/__snapshots__/BreadCrumbs.test.ts.snap
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
Due: prettier_check

fix(editor): Fix type error
  packages/frontend/editor-ui/src/features/insights/chartjs.utils.ts
Due: biome_check

fix(n8n Form Node): Hidden field fix (#14219)
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils.ts
Due: biome_check

fix(editor): Transform insights dashboard table values
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
Due: prettier_check

fix(Slack Node): Make sure paginated calls use the defined limits (#14185)
  packages/nodes-base/nodes/Slack/V2/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/test/v2/GenericFunctions.test.ts
Due: biome_check

move the permissions to the public-api folder
  packages/@n8n/api-types/src/schemas/scopes.schema.ts
  packages/@n8n/permissions/src/apiKeyScopes.ee.ts
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/index.ts
  packages/cli/src/controllers/api-keys.controller.ts
  packages/cli/src/databases/migrations/common/1742918400000-AddScopesColumnToApiKeys.ts
  packages/cli/src/public-api/permissions.ee/index.ts
  packages/cli/src/public-api/permissions.ee/role-scopes.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/test/integration/shared/db/users.ts
Due: biome_check

improve layout for narrow screen sizes
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/ConsumedTokenCountText.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
Due: prettier_check

fix(Summarize Node): Fix type casting of strings and numbers (#14259)
  packages/nodes-base/nodes/Transform/Summarize/Summarize.node.ts
  packages/nodes-base/nodes/Transform/Summarize/test/unitTests/__snapshots__/splitData.test.ts.snap
  packages/nodes-base/nodes/Transform/Summarize/test/unitTests/splitData.test.ts
  packages/nodes-base/nodes/Transform/Summarize/utils.ts
Due: biome_check

WIP
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/FlushingSSEServerTransport.ts
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpTrigger.node.ts
Due: biome_check

validate scopes when updating api key
  packages/cli/src/controllers/api-keys.controller.ts
Due: biome_check

update the scopes
  packages/@n8n/api-types/src/schemas/scopes.schema.ts
  packages/cli/src/public-api/permissions.ee/role-scopes.ts
Due: biome_check

add more tests to the /api-keys path to account for scopes
  packages/cli/test/integration/api-keys.api.test.ts
Due: biome_check

add crypto
  Dockerfile
  firebase-init-example.js
  firestore-example.js
  n8n-basic-function.js
  n8n-firebase-function.js
  n8n-items-parameter.js
Due: none

if feature is disabled always show that all scopes are selected
  packages/frontend/editor-ui/src/components/ApiKeyCreateOrEditModal.vue
Due: prettier_check

allow crypto, fs
  Dockerfile
Due: none

fix(core): Fix OAuth1 callback token request (#14251)
  packages/cli/src/controllers/oauth/__tests__/oauth1-credential.controller.test.ts
  packages/cli/src/controllers/oauth/oauth1-credential.controller.ts
Due: biome_check

WIP: invoke tools using the `.invoke()` method
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpTrigger.node.ts
Due: biome_check

improvements
  packages/cli/src/public-api/permissions.ee/global-roles-scopes.ts
  packages/cli/src/public-api/permissions.ee/index.ts
  packages/cli/src/public-api/v1/handlers/audit/audit.handler.ts
  packages/cli/src/public-api/v1/handlers/credentials/credentials.handler.ts
  packages/cli/src/public-api/v1/handlers/executions/executions.handler.ts
  packages/cli/src/public-api/v1/handlers/projects/projects.handler.ts
  packages/cli/src/public-api/v1/handlers/source-control/source-control.handler.ts
  packages/cli/src/public-api/v1/handlers/tags/tags.handler.ts
  packages/cli/src/public-api/v1/handlers/users/users.handler.ee.ts
  packages/cli/src/public-api/v1/handlers/variables/variables.handler.ts
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/public-api/v1/shared/middlewares/global.middleware.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/test/integration/public-api/users.ee.test.ts
  packages/cli/test/integration/shared/db/users.ts
Due: biome_check

WIP: clean up a little, and keep track of all the transports
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpServer.ts
  packages/@n8n/nodes-langchain/nodes/trigger/McpTrigger/McpTrigger.node.ts
Due: biome_check

added firecrawl
  assets/remodl-logo.png
  docker/images/n8n-custom/Dockerfile
  packages/@n8n/config/src/configs/license.config.ts
  packages/cli/scripts/build.mjs
  packages/cli/src/license.ts
  packages/editor-ui/index.html
  packages/editor-ui/src/__tests__/defaults.ts
  packages/editor-ui/src/components/Logo/Logo.vue
  packages/editor-ui/src/components/Logo/remodl-logo.png
  packages/editor-ui/src/components/Logo/remodl-logo.svg
  packages/editor-ui/src/components/Logo/remodl-symbol.svg
  packages/editor-ui/src/composables/useDocumentTitle.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

Update LmChatAzureOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatAzureOpenAi/LmChatAzureOpenAi.node.ts
Due: biome_check

- testing
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/database.config.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/Agent.node.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/description.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/other/handlers/oracledb.ts
  packages/frontend/editor-ui/src/components/SqlEditor/SqlEditor.vue
  packages/nodes-base/credentials/Oracle.credentials.ts
  packages/nodes-base/nodes/Metabase/DatabasesDescription.ts
  packages/nodes-base/nodes/Oracle/Sql/OracleDatabase.node.ts
  packages/nodes-base/nodes/Oracle/Sql/core/connection.ts
  packages/nodes-base/nodes/Oracle/Sql/core/interfaces/database.interface.ts
  packages/nodes-base/nodes/Oracle/Sql/core/types/oracle.credentials.type.ts
  packages/nodes-base/nodes/Oracle/Sql/oracle.svg
  packages/nodes-base/package.json
  packages/workflow/src/Interfaces.ts
  pnpm-lock.yaml
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
