Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

feat(core): WorkflowDataProxy can handle test parameter passed during partial execution of AiTools
  packages/workflow/src/WorkflowDataProxy.ts
  packages/workflow/test/WorkflowDataProxy.test.ts
  packages/workflow/test/fixtures/WorkflowDataProxy/from_ai_partial_tool_execution_run.json
  packages/workflow/test/fixtures/WorkflowDataProxy/from_ai_partial_tool_execution_workflow.json
Due: biome_check

fix(editor): Use a single loop for grouping parameters
  packages/frontend/editor-ui/src/components/NodeSettings.vue
Due: prettier_check

WIP: works, kinda
  packages/cli/src/manual-execution.service.ts
  packages/core/src/execution-engine/partial-execution-utils/clean-run-data.ts
  packages/core/src/execution-engine/partial-execution-utils/index.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

Update reference names
  packages/core/src/execution-engine/partial-execution-utils/index.ts
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: biome_check, prettier_check

WIP: error expression editor when no test value is set and is being run partially
  packages/workflow/src/WorkflowDataProxy.ts
Due: biome_check

Implement passing data for partial execution from frontend
  packages/cli/src/manual-execution.service.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/core/src/execution-engine/partial-execution-utils/index.ts
  packages/core/src/execution-engine/partial-execution-utils/partial-tool-executions.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

Fix missing export
  packages/core/src/execution-engine/partial-execution-utils/index.ts
Due: biome_check

Fix tests
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/partial-execution-utils/__tests__/partial-tool-executions.test.ts
Due: biome_check

updated tests
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/GSuiteAdmin.node.test.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/SearchFunctions.test.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/create.test.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/create.workflow.json
Due: biome_check

fix create test
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/create.workflow.json
Due: biome_check

move rlc to common description
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/common.descriptions.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/file/download.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/file/update.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/file/upload.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/create.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/delete.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/get.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/getAll.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/update.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/item/upsert.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/list/get.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/descriptions/list/getAll.operation.ts
  packages/nodes-base/nodes/Microsoft/SharePoint/helpers/utils.ts
Due: biome_check

feat(Postgres Node): include old (row before update) to the event
  packages/nodes-base/nodes/Postgres/PostgresTrigger.functions.ts
  packages/nodes-base/nodes/Postgres/PostgresTrigger.node.ts
Due: biome_check

feat(Postgres Node): Include old (row before update) to the event
  packages/nodes-base/nodes/Postgres/PostgresTrigger.functions.ts
  packages/nodes-base/nodes/Postgres/PostgresTrigger.node.ts
Due: biome_check

fix issue with Postgres and Mysql
  packages/cli/src/databases/repositories/folder.repository.ts
Due: biome_check

test(if-node): Add numeric comparison test cases
  cypress/e2e/30-if-node.cy.ts
  packages/@n8n/typescript-config/tsconfig.common.json
Due: biome_check

fix(editor): Add telemetry to Insights
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
Due: prettier_check

fix(editor): Revert unrelated change
  packages/frontend/editor-ui/src/components/WorkflowSettings.vue
Due: prettier_check

fix(editor): Add telemetry to Insights table
  packages/frontend/editor-ui/src/features/insights/components/tables/InsightsTableWorkflows.vue
Due: prettier_check

prepareCommunityNodeDetailsViewStack tests
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check

:rocket: Release 1.88.0
  CHANGELOG.md
  package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/benchmark/package.json
  packages/@n8n/config/package.json
  packages/@n8n/extension-sdk/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/extensions/insights/package.json
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

Fix docs link for MCP Client Tool
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
Due: biome_check

Better way
  packages/@n8n/config/package.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/src/decorators.ts
  pnpm-lock.yaml
Due: biome_check

Restore type
  packages/@n8n/config/src/configs/runners.config.ts
  packages/cli/src/task-runners/task-broker/errors/task-runner-timeout.error.ts
Due: biome_check

docs(MCP Client Tool Node): Update documentation URL for MCP Client Tool Node (#14504)
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
Due: biome_check

Fix tests
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/config.test.ts
Due: biome_check

Update lockfile
  pnpm-lock.yaml
Due: none

ci: Polyfil `globalThis.crypto` in `@n8n/nodes-langchain` tests as well (no-changelog)
  packages/@n8n/nodes-langchain/jest.config.js
Due: biome_check

env to forbid installation of not vetted community packages
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/nodes.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/components/CommunityPackageCard.vue
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/views/SettingsCommunityNodesView.vue
Due: biome_check, prettier_check

feat(core): Make runtime prototype mutation protection configurable for task runner
  packages/@n8n/task-runner/src/config/js-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

ci: Polyfill `globalThis.crypto` in `@n8n/nodes-langchain` tests as well (no-changelog) (#14514)
  packages/@n8n/nodes-langchain/jest.config.js
Due: biome_check

👌 Resetting search when navigating into folder
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

Remove `NODE_ENV` check
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

Add AIPrompt if experiment is active, delete it on generation
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

fix(core): Restore run data value when offloading to workers
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/cli/src/workflows/workflow-execution.service.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
