Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

Fix parameter
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

fix(editor): Fix rendering of AI logs (#11450)
  cypress/e2e/233-AI-switch-to-logs-on-error.cy.ts
  cypress/e2e/30-langchain.cy.ts
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataAi/RunDataAi.vue
  packages/editor-ui/src/components/WorkflowLMChat/WorkflowLMChat.vue
Due: prettier_check

Fix test
  packages/cli/src/runners/__tests__/task-broker.test.ts
  packages/cli/src/runners/__tests__/task-runner-process.test.ts
Due: biome_check

tests fix
  packages/editor-ui/src/utils/__tests__/nodeSettingsUtils.spec.ts
Due: biome_check

feat(editor): Improve placeholder for vector store tool (#11483)
  packages/@n8n/nodes-langchain/nodes/tools/ToolVectorStore/ToolVectorStore.node.ts
Due: biome_check

fix(core): Ensure `remove-triggers-and-pollers` command is not debounced (#11486)
  packages/cli/src/scaling/__tests__/publisher.service.test.ts
  packages/cli/src/scaling/constants.ts
Due: biome_check

:rocket: Release 1.66.0
  CHANGELOG.md
  package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/config/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/permissions/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

use values from stores directly
  packages/editor-ui/src/components/UpdatesPanel.vue
Due: prettier_check

move `isInstanceOwnerInCloud` method to users's store
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/stores/users.store.ts
Due: biome_check

move goToVersions to the versions store and move goToDashboard to the cloud store
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/UpdatesPanel.vue
  packages/editor-ui/src/stores/cloudPlan.store.ts
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/stores/versions.store.ts
Due: biome_check, prettier_check

fix: Render pin data in preview mode
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

fix: update tests
  packages/editor-ui/src/stores/workflows.store.spec.ts
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

feat: Add new AI Assistant experiment flags
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/stores/assistant.store.ts
  packages/editor-ui/src/types/assistant.types.ts
Due: biome_check

test: add e2e
  cypress/composables/ndv.ts
  cypress/composables/workflow.ts
  cypress/e2e/31-demo.cy.ts
Due: none

Make disabled state reactive and fix dark-mode
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMotorhead/MemoryMotorhead.node.ts
  packages/editor-ui/src/components/ExpressionEditorModal/ExpressionEditorModalInput.vue
  packages/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorInput.vue
Due: biome_check, prettier_check

test: remove flaky sign out
  cypress/e2e/31-demo.cy.ts
Due: none

fix: Bring back nodes panel telemetry events (#11456)
  packages/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/editor-ui/src/components/Node/NodeCreator/Panel/NodesListPanel.vue
  packages/editor-ui/src/components/Node/NodeCreator/Renderers/CategorizedItemsRenderer.vue
  packages/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/hooks/utils/hooksNodesPanel.ts
  packages/editor-ui/src/hooks/utils/index.ts
  packages/editor-ui/src/plugins/telemetry/index.ts
  packages/editor-ui/src/stores/nodeCreator.store.test.ts
  packages/editor-ui/src/stores/nodeCreator.store.ts
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/views/NodeView.v2.vue
  packages/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

⚡️ Added feature flags to error helper requests
  packages/editor-ui/src/stores/assistant.store.ts
  packages/editor-ui/src/types/assistant.types.ts
Due: biome_check

fix types
  packages/editor-ui/src/stores/workflows.store.spec.ts
Due: biome_check

Modify ChatTrigger additions
  packages/editor-ui/src/components/Node/NodeCreator/__tests__/useActions.test.ts
  packages/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
Due: biome_check

feat(Intercom Node): Update credential to new style (#11485)
  packages/nodes-base/credentials/IntercomApi.credentials.ts
  packages/nodes-base/nodes/Intercom/GenericFunctions.ts
Due: biome_check

Change displayName to Prompt Soruce
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/SqlAgent/description.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainRetrievalQA/ChainRetrievalQa.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/message.operation.ts
Due: biome_check

move logic to its own composable
  packages/editor-ui/src/components/CredentialEdit/CredentialSharing.ee.vue
  packages/editor-ui/src/components/InviteUsersModal.vue
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/components/MainSidebar.vue
  packages/editor-ui/src/components/Projects/ProjectNavigation.test.ts
  packages/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/editor-ui/src/components/Projects/ProjectRoleUpgradeDialog.vue
  packages/editor-ui/src/components/UpdatesPanel.vue
  packages/editor-ui/src/components/WorkflowShareModal.ee.vue
  packages/editor-ui/src/components/banners/TrialBanner.vue
  packages/editor-ui/src/components/banners/TrialOverBanner.vue
  packages/editor-ui/src/components/executions/ExecutionsFilter.vue
  packages/editor-ui/src/composables/useExecutionDebugging.ts
  packages/editor-ui/src/composables/usePageRedirectionHelper.ts
  packages/editor-ui/src/stores/cloudPlan.store.ts
  packages/editor-ui/src/stores/ui.store.ts
  packages/editor-ui/src/stores/versions.store.ts
  packages/editor-ui/src/views/SettingsApiView.vue
  packages/editor-ui/src/views/SettingsExternalSecrets.vue
  packages/editor-ui/src/views/SettingsLdapView.vue
  packages/editor-ui/src/views/SettingsLogStreamingView.vue
  packages/editor-ui/src/views/SettingsSourceControl.vue
  packages/editor-ui/src/views/SettingsSso.test.ts
  packages/editor-ui/src/views/SettingsSso.vue
  packages/editor-ui/src/views/SettingsUsageAndPlan.vue
  packages/editor-ui/src/views/SettingsUsersView.test.ts
  packages/editor-ui/src/views/SettingsUsersView.vue
  packages/editor-ui/src/views/VariablesView.vue
  packages/editor-ui/src/views/WorkerView.vue
  packages/editor-ui/src/views/WorkflowHistory.vue
Due: biome_check, prettier_check

improve comments
  packages/editor-ui/src/composables/usePageRedirectionHelper.ts
Due: biome_check

add tests
  packages/editor-ui/src/composables/__tests__/usePageRedirectionHelper.test.ts
  packages/editor-ui/src/stores/__tests__/ui.test.ts
  packages/editor-ui/src/stores/ui.store.ts
Due: biome_check
