Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

test diffing
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/useWorkflowDiff.ts
Due: biome_check

fix type
  packages/frontend/editor-ui/src/features/workflow-diff/useViewportSync.ts
Due: biome_check

ci: Automate base image + sbom + attestation (#17248)
  .github/workflows/docker-base-image.yml
  .github/workflows/docker-build-push.yml
Due: none

refactor(core): Add `shutdown` method to modules (#17322)
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/decorators/src/module/module-metadata.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/@n8n/decorators/src/shutdown/__tests__/on-shutdown.test.ts
  packages/@n8n/decorators/src/shutdown/index.ts
  packages/@n8n/decorators/src/shutdown/on-shutdown.ts
  packages/@n8n/decorators/src/shutdown/shutdown-metadata.ts
  packages/cli/src/modules/external-secrets.ee/external-secrets-manager.ee.ts
  packages/cli/src/modules/external-secrets.ee/external-secrets.module.ts
  packages/cli/src/modules/insights/insights.module.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/src/shutdown/__tests__/shutdown.service.test.ts
  packages/cli/src/shutdown/shutdown.service.ts
Due: biome_check

feat(core): Set up independent Pyodide task runner (no-changelog)
  packages/@n8n/task-runner/src/code-task-runner.ts
  packages/@n8n/task-runner/src/create-signal-handler.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/test-data.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/py-task-runner/py-task-runner.ts
  packages/@n8n/task-runner/src/start-python.ts
Due: biome_check

feat(n8n Form Node): Allow basic styling of form completion message (#17338)
  packages/cli/templates/form-trigger-completion.handlebars
  packages/nodes-base/nodes/Form/test/formCompletionUtils.test.ts
  packages/nodes-base/nodes/Form/utils/formCompletionUtils.ts
Due: biome_check

Refactor AskAsssistantChat structure and update rating component
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.stories.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/BaseMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/BlockMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/CodeDiffMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ToolMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/useMessageRating.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/RateWorkflowMessage.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/design-system/src/types/assistant.ts
Due: biome_check, prettier_check

fix(editor): Go with settings store for the feature flags
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/useEnvFeatureFlag.ts
Due: biome_check

fix(editor): Simplify logic
  packages/frontend/editor-ui/src/features/env-feature-flag/useEnvFeatureFlag.ts
Due: biome_check

Update empty state
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: biome_check, prettier_check

vertical separator color update
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.vue
Due: prettier_check

Update open focus panel canvas action icon
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
Due: prettier_check

fix warnings caused by missing child
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
Due: prettier_check

feat(core): Add telemetry for agent tool on Cloud (#17323)
  packages/workflow/src/constants.ts
  packages/workflow/src/telemetry-helpers.ts
  packages/workflow/test/telemetry-helpers.test.ts
Due: biome_check

Show default cursor for radio buttons
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

Update packages/@n8n/task-runner/src/py-task-runner/py-task-runner.ts
  packages/@n8n/task-runner/src/py-task-runner/py-task-runner.ts
Due: biome_check

fix(Think Tool Node): Use dynamic tool name based on node name (#17364)
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/ToolThink.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolThink/test/ToolThink.node.test.ts
Due: biome_check

Tighten types
  packages/@n8n/task-runner/src/create-signal-handler.ts
Due: biome_check

build: include shims for sanitize-html
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/source-map-js-shim.ts
  packages/frontend/editor-ui/vite.config.mts
  pnpm-lock.yaml
Due: biome_check

feat: Add endpoint to retrieve single workflow from GH (#17220)
  packages/cli/src/environments.ee/source-control/__tests__/source-control-git.service.test.ts
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control-git.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control-scoped.service.ts
  packages/cli/src/environments.ee/source-control/source-control.controller.ee.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
  packages/cli/test/integration/environments/source-control.service.test.ts
Due: biome_check

test: Add tests for $credentials expression in postReceive filter
  packages/core/src/execution-engine/__tests__/routing-node.test.ts
  packages/core/src/execution-engine/routing-node.ts
Due: biome_check

fix(editor): Opt in for build time env var
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/useEnvFeatureFlag.ts
  packages/frontend/editor-ui/vite.config.mts
Due: biome_check

Fix expression editor background color
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

chore(editor): Suppress warnings from vue-i18n (#17325)
  packages/frontend/@n8n/i18n/src/index.ts
  packages/frontend/editor-ui/src/components/ApiKeyScopes.vue
  packages/frontend/editor-ui/src/components/ChatEmbedModal.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/SetupWizard/SetupWizard.vue
  packages/frontend/editor-ui/src/components/ExternalSecretsProviderModal.ee.vue
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.vue
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/InviteUsersModal.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowHistoryButton.vue
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/MfaSetupModal.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectMoveResourceModal.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectRoleUpgradeDialog.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/SourceControlInitializationErrorMessage.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/VirtualSchemaHeader.vue
  packages/frontend/editor-ui/src/components/WorkflowHistory/WorkflowHistoryList.vue
  packages/frontend/editor-ui/src/components/WorkflowHistory/WorkflowHistoryVersionRestoreModal.vue
  packages/frontend/editor-ui/src/components/WorkflowShareModal.ee.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
  packages/frontend/editor-ui/src/components/executions/ExecutionsFilter.vue
  packages/frontend/editor-ui/src/components/executions/global/GlobalExecutionsListItemQueuedTooltip.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/views/SettingsApiView.vue
  packages/frontend/editor-ui/src/views/SettingsExternalSecrets.vue
  packages/frontend/editor-ui/src/views/SettingsSourceControl.vue
  packages/frontend/editor-ui/src/views/SettingsUsageAndPlan.vue
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/AppsRequiringCredsNotice.vue
  packages/frontend/editor-ui/src/views/SetupWorkflowFromTemplateView/SetupTemplateFormStep.vue
Due: biome_check, prettier_check

fix failing call at /{{REST_ENDPOINT}}/config.js when running vite dev server
  packages/frontend/editor-ui/index.html
  packages/frontend/editor-ui/vite.config.mts
Due: none

fix(API): Check if version exists in registry for community node installation (#17168)
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/utils/__tests__/npm-utils.test.ts
  packages/cli/src/utils/npm-utils.ts
Due: biome_check

Fix close button style
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

fix: Fix issue with restricted file access order (#17329)
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
Due: biome_check

feat: New package version available callout (#17097)
  packages/@n8n/api-types/src/community-node-types.ts
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/utils/community-node-types-utils.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeUpdateInfo.vue
  packages/frontend/editor-ui/src/stores/communityNodes.store.ts
Due: biome_check, prettier_check

Remove & harmonize chat types across editor and design-lib
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.stories.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ToolMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/BaseWorkflowMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/ComposedNodesMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/WorkflowGeneratedMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/WorkflowNodesMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/WorkflowStepsMessage.vue
  packages/frontend/@n8n/design-system/src/types/assistant.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/composables/useAiMessages.test.ts
  packages/frontend/editor-ui/src/composables/useAiMessages.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/types/assistant.types.ts
Due: biome_check, prettier_check

fix(editor): Add useful comments
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.vue
  packages/frontend/editor-ui/src/features/env-feature-flag/useEnvFeatureFlag.ts
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
