Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

lint error fix
  packages/frontend/editor-ui/src/experiments/templateRecoV2/stores/templateRecoV2.store.ts
Due: biome_check

fix(editor): Fix 'Shared with me' page tabs and header
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
Due: prettier_check

post review
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/Sidebar.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarItem.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarTree.vue
Due: biome_check, prettier_check

abstract collapse transition
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarCollapseTransition.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarSection.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarTree.vue
Due: prettier_check

fix(Chat Trigger Node): Prevent XSS vulnerabilities and improve parameter validation (#18148)
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/__test__/templates.test.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/templates.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/types.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.ts
  packages/nodes-base/utils/types.ts
  packages/workflow/src/index.ts
  packages/workflow/src/node-parameters/parameter-type-validation.ts
  packages/workflow/test/node-parameters/parameter-type-validation.test.ts
Due: biome_check

folder and project empty state
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarSection.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarTree.vue
Due: prettier_check

feat(editor): Implement template recommendation v2 experiment (no-changelog) (#18196)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/stores/src/constants.ts
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/NodeRecommendationCard.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/NodeRecommendationModal.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/TemplateCard.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/TemplateRecommendationV2.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/components/YoutubeCard.vue
  packages/frontend/editor-ui/src/experiments/templateRecoV2/nodes/predefinedData.ts
  packages/frontend/editor-ui/src/experiments/templateRecoV2/stores/templateRecoV2.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

ci: Improve SBOM workflow validation and error handling
  .github/workflows/release-attach-sbom.yml
Due: none

Create n8n
  n8n
Due: none

fix(editor): Show custom project icons on create sidebar dropdown
  packages/frontend/@n8n/design-system/src/components/N8nNavigationDropdown/NavigationDropdown.vue
  packages/frontend/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/frontend/editor-ui/src/types/projects.types.ts
Due: biome_check, prettier_check

refactor(core): Port user management config
  packages/@n8n/config/src/configs/__tests__/user-management.config.test.ts
  packages/@n8n/config/src/configs/user-management.config.ts
  packages/@n8n/config/src/decorators.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/auth/__tests__/auth.service.test.ts
  packages/cli/src/auth/auth.service.ts
  packages/cli/src/config/__tests__/index.test.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/__tests__/jwt.service.test.ts
  packages/cli/src/services/__tests__/public-api-key.service.test.ts
  packages/cli/src/services/jwt.service.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Due: biome_check

Fix lint
  packages/@n8n/config/test/config.test.ts
Due: biome_check

Handle errors correctly when continueOnFail is set
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/nodes/HttpRequest/test/node/HttpRequest.test.ts
  packages/nodes-base/nodes/HttpRequest/test/node/workflow.use_error_output.json
Due: biome_check

rename shared data store service, add a test
  packages/cli/src/modules/data-store/__tests__/data-store-aggregate.service.test.ts
  packages/cli/src/modules/data-store/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-store/data-store-aggregate.service.ts
  packages/cli/src/modules/data-store/data-store-shared.controller.ts
  packages/cli/src/modules/data-store/data-store.module.ts
Due: biome_check

:rocket: Release 1.107.0
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/config/package.json
  packages/@n8n/constants/package.json
  packages/@n8n/db/package.json
  packages/@n8n/decorators/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/extensions/insights/package.json
  packages/frontend/@n8n/chat/package.json
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

remove unused repositories from test
  packages/cli/src/modules/data-store/__tests__/data-store-aggregate.service.test.ts
Due: biome_check

refactor(editor): Types working with type casts..
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialSharing.ee.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.test.ts
  packages/frontend/editor-ui/src/stores/credentials.store.ts
  packages/workflow/src/interfaces.ts
Due: biome_check, prettier_check

fix: Pass through env variables to turbo
  turbo.json
Due: none

refactor(editor): Avoid type casts with IconName / ProjectSharingData
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/components/CredentialEdit/CredentialSharing.ee.vue
  packages/frontend/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/frontend/editor-ui/src/stores/credentials.store.ts
  packages/frontend/editor-ui/src/types/projects.types.ts
Due: biome_check, prettier_check

refactor(editor): Undo unnecessary types change
  packages/workflow/src/interfaces.ts
Due: biome_check

return only data stores user has access to, add more tests
  packages/cli/src/modules/data-store/__tests__/data-store-aggregate.service.test.ts
  packages/cli/src/modules/data-store/data-store-aggregate.service.ts
Due: biome_check

chore: Update Langchain dependencies (no-changelog)
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsOpenAI/EmbeddingsOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOpenAi/LmOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatDeepSeek/LmChatDeepSeek.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatOpenRouter/LmChatOpenRouter.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/LmChatVercelAiGateway.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatXAiGrok/LmChatXAiGrok.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check

don't trigger hotkey if focused on input or textarea
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/Sidebar.vue
  packages/frontend/editor-ui/src/components/MainSidebar.vue
Due: prettier_check

stop open on link click
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarItem.vue
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/SidebarTree.vue
Due: prettier_check

feat(editor): Add initial data-store details page (no-changelog)
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
  packages/frontend/editor-ui/src/features/dataStore/module.descriptor.ts
  packages/frontend/editor-ui/src/features/dataStore/types.ts
Due: biome_check, prettier_check

🔥 Removing back-end changes
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/@n8n/backend-common/src/modules/modules.config.ts
Due: biome_check

feat(Todoist Node): Add more resources and operations (#17925)
  packages/nodes-base/nodes/Todoist/GenericFunctions.ts
  packages/nodes-base/nodes/Todoist/v2/OperationHandler.ts
  packages/nodes-base/nodes/Todoist/v2/Service.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
  packages/nodes-base/nodes/Todoist/v2/test/OperationHandler.test.ts
  packages/nodes-base/nodes/Todoist/v2/test/TodoistV2.node.test.ts
  packages/nodes-base/nodes/Todoist/v2/test/workflow.json
  packages/workflow/src/node-parameters/parameter-type-validation.ts
  packages/workflow/test/node-parameters/parameter-type-validation.test.ts
Due: biome_check

✅ Updating old tests
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreCard.test.ts
Due: biome_check

Address PR comments and requests
  CLAUDE.md
Due: none

test(design-system): Add comprehensive unit tests for MessageRating component
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/__snapshots__/MessageRating.test.ts.snap
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
Due: biome_check, prettier_check

chore(core): Allow undefined in the node output value (#18198)
  package.json
  packages/core/src/utils/__tests__/is-json-compatible.test.ts
  packages/core/src/utils/is-json-compatible.ts
Due: biome_check

fix(core): Support MCP server when offloading is enabled
  packages/cli/src/commands/start.ts
Due: biome_check

remove type warnings
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.module.ts
Due: biome_check

✅ Adding `DataStoreActions` tests
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.test.ts
Due: biome_check

remove unused dtos
  packages/@n8n/api-types/src/dto/data-store/data-store-column-result.dto.ts
  packages/@n8n/api-types/src/dto/data-store/data-store-result.dto.ts
  packages/@n8n/api-types/src/dto/data-store/delete-data-store.dto.ts
  packages/@n8n/api-types/src/dto/index.ts
Due: biome_check

use explicit project scopes
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
Due: biome_check
