Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

✔️ Add project empty state test
  packages/testing/playwright/composables/DataTablesComposer.ts
  packages/testing/playwright/pages/DataStoreView.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/tests/ui/data-tables.spec.ts
Due: biome_check

refactor to remove exposing proxy server url
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/playwright/fixtures/base.ts
Due: biome_check

Add test cases
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
Due: biome_check

ci: Switch the Dockerfile to a python alpine based one for slimmer image with less security issues
  docker/images/runners/Dockerfile
  docker/images/runners/n8n-task-runners.json
Due: none

clean up
  packages/testing/containers/n8n-test-container-creation.ts
Due: biome_check

ci: Update n8n-task-runners.json to include more env vars
  docker/images/runners/n8n-task-runners.json
Due: none

Skip licenses copy if the file doesn't exist
  scripts/build-n8n.mjs
Due: none

padding fix
  packages/frontend/@n8n/design-system/src/components/N8nSidebar/Sidebar.vue
Due: prettier_check

Ignore all .md files except for third party licenses
  .dockerignore
Due: none

✔️ Added project dropdown test
  packages/testing/playwright/pages/DataStoreView.ts
  packages/testing/playwright/tests/ui/data-tables.spec.ts
Due: biome_check

test(core): Test security validation in native Python runner
  .github/workflows/ci-python.yml
  .gitignore
  codecov.yml
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/tests/unit/test_task_analyzer.py
  packages/@n8n/task-runner-python/uv.lock
Due: none

fix(core): Reconnect native Python runner on ws connection drop (no-changelog) (#19140)
  packages/@n8n/task-runner-python/src/task_runner.py
Due: none

mode switcher
  packages/core/src/execution-engine/node-execution-context/node-execution-context.ts
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
  packages/workflow/src/node-helpers.ts
Due: biome_check, prettier_check

Add trailing newline
  .gitignore
Due: none

fix getNode
  packages/cli/src/load-nodes-and-credentials.ts
Due: biome_check

test(API): refactored status query tests
  packages/cli/test/integration/public-api/executions.test.ts
  packages/cli/test/integration/shared/db/executions.ts
Due: biome_check

chore(core): Increase error visibility for OIDC login path (#19142)
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
Due: biome_check

Finalize CI
  .github/workflows/ci-python.yml
Due: none

Rename job
  .github/workflows/ci-python.yml
Due: none

Also display name
  .github/workflows/ci-python.yml
Due: none

fix: Include third party licenses in the docker image (#19144)
  .dockerignore
  scripts/build-n8n.mjs
Due: none

test(core): Test security validation in native Python runner (#19146)
  .github/workflows/ci-python.yml
  .gitignore
  codecov.yml
  packages/@n8n/task-runner-python/justfile
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/tests/unit/test_task_analyzer.py
  packages/@n8n/task-runner-python/uv.lock
Due: none

add package specs validation
  packages/@n8n/scan-community-package/scanner/scanner.mjs
Due: none

ci: Trying to fix the docker image build that appears to fail on CI?
  docker/images/runners/Dockerfile
Due: none

feat: Add an ability to add custom transform functions
  packages/cli/src/controllers/node-types.controller.ts
  packages/frontend/@n8n/rest-api-client/src/api/nodeTypes.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/nodes-base/nodes/Set/Set.node.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

fix: includeOtherFields parameter of Workflow Configuration node
  packages/@n8n/ai-workflow-builder.ee/evaluations/chains/workflow-evaluator.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/prompts/main-agent.prompt.ts
Due: biome_check

test: Remove old Cypress test for 5-ndv
  cypress/e2e/5-ndv.cy.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/1-workflows.spec.ts
  packages/testing/playwright/tests/ui/5-ndv.spec.ts
Due: biome_check

ci: Just pass python version to runners Dockerfile, fixing the CI build
  .github/workflows/docker-build-push.yml
  docker/images/runners/Dockerfile
Due: none

fix(editor): Workflow diff UX improvements (#19047)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/SourceControlPullModal.ee.vue
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
  packages/frontend/editor-ui/src/features/workflow-diff/NodeDiff.vue
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.test.ts
  packages/frontend/editor-ui/src/features/workflow-diff/WorkflowDiffModal.vue
Due: biome_check, prettier_check

fix minor style issues
  packages/frontend/@n8n/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
  packages/frontend/editor-ui/src/components/ExpressionEditorModal/theme.ts
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/InputTriple/InputTriple.vue
  packages/frontend/editor-ui/src/components/ParameterOptions.vue
Due: biome_check, prettier_check

feat(core): Add unit tests for public retry execution endpoint
  packages/cli/test/integration/public-api/executions.test.ts
Due: biome_check

switch options to three-state
  packages/nodes-base/nodes/MindeeV2/GenericFunctions.ts
  packages/nodes-base/nodes/MindeeV2/MindeeV2.node.json
  packages/nodes-base/nodes/MindeeV2/MindeeV2.node.ts
Due: biome_check

fix(editor): Prevent variable value overflow (#19026)
  packages/frontend/editor-ui/src/views/VariablesView.test.ts
  packages/frontend/editor-ui/src/views/VariablesView.vue
Due: biome_check, prettier_check

wip
  packages/frontend/editor-ui/src/features/dataStore/DataStoreDetailsView.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreColumnFilters.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreOperations.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: biome_check, prettier_check
