Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix: remove hide-after
  packages/editor-ui/src/components/canvas/elements/nodes/toolbar/CanvasNodeStickyColorSelector.vue
Due: prettier_check

test: Fix Test Runner failing test (no-changelog) (#12260)
  packages/cli/src/evaluation/test-runner/__tests__/test-runner.service.ee.test.ts
Due: biome_check

fix(Calendar): Correctly set dtstart for recurrence rules in addNextOccurrence function
  packages/nodes-base/nodes/Google/Calendar/GenericFunctions.ts
Due: biome_check

🔥 Removing `defaultValue` from resource mapper interface
  packages/workflow/src/Interfaces.ts
Due: biome_check

refactor to use setupAsTool
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

Remove unused import in useMetricsChart composable
  packages/editor-ui/src/components/TestDefinition/composables/useMetricsChart.ts
Due: biome_check

fix: Fix canvas ready opacity transition
  packages/editor-ui/src/components/canvas/Canvas.vue
Due: prettier_check

clean up implementation
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
Due: biome_check

test(Calendar): Add tests for addNextOccurrence function handling various recurrence scenarios
  packages/nodes-base/nodes/Google/Calendar/test/GeneircFunctions.test.ts
Due: biome_check

fix: prevent connection line from showing when clicking the plus button of a node
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.vue
Due: prettier_check

fix: ensure pinData is optional if we want to delete it in API response to make TS happy
  packages/cli/src/databases/entities/workflow-entity.ts
Due: biome_check

simplify
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/fixtures/Test_Subworkflow-Inputs.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
Due: biome_check

change imports to type imports for TestRunRecord and IWorkflowDb
  packages/editor-ui/src/views/TestDefinition/tests/TestDefinitionEditView.test.ts
  packages/editor-ui/src/views/TestDefinition/tests/TestDefinitionRunDetailView.test.ts
Due: biome_check

test: add test to make sure connection line becomes visible
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.test.ts
Due: biome_check

fix(editor): Fix sticky color picker getting covered by nodes on new canvas (#12263)
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.test.ts
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/editor-ui/src/components/canvas/elements/nodes/toolbar/CanvasNodeStickyColorSelector.vue
Due: biome_check, prettier_check

Fix TS expect error in testDefinition
  packages/editor-ui/src/stores/testDefinition.store.ee.test.ts
Due: biome_check

👌 Simplifying workflow tool v2
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/ToolWorkflowV2.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/methods/resourceMapping.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/versionDescription.ts
Due: biome_check

🔨 Simplifying workflow tool v1
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v1/ToolWorkflowV1.node.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v1/versionDescription.ts
Due: biome_check

refactor: Move OpenAI Base URL option to credentials (#12175)
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsOpenAI/EmbeddingsOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/assistant/message.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/versionDescription.ts
  packages/nodes-base/credentials/OpenAiApi.credentials.ts
  packages/nodes-base/nodes/OpenAi/OpenAi.node.ts
Due: biome_check

self review
  cypress/e2e/48-subworkflow-inputs.cy.ts
  cypress/fixtures/Test_Subworkflow-Inputs.json
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
Due: biome_check, prettier_check

fix(HTTP Request Tool Node): Prevent creation of DynamicStructuredTool with empty schema
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
Due: biome_check

fix build
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/nodes/ExecuteWorkflow/GenericFunctions.ts
Due: biome_check

fix build 2
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
Due: biome_check

type check 3
  packages/editor-ui/src/components/ResourceMapper/ResourceMapper.vue
Due: prettier_check

fix(editor): Remove invalid connections after node handles change (#12247)
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/editor-ui/src/composables/useCanvasMapping.ts
  packages/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/types/canvas.ts
  packages/editor-ui/src/utils/canvasUtilsV2.test.ts
  packages/editor-ui/src/utils/canvasUtilsV2.ts
  packages/editor-ui/src/views/NodeView.v2.vue
Due: biome_check, prettier_check

Create Dockerfile
  Dockerfile
Due: none

fix(editor): Prevent connection line from showing when clicking the plus button of a node (#12265)
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.test.ts
  packages/editor-ui/src/components/canvas/elements/edges/CanvasConnectionLine.vue
Due: biome_check, prettier_check
