Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

refactor(editor): Fix warnings caused by missing child (no-changelog) (#17372)
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
Due: prettier_check

⚡️ Handling different project types in mcp table
  packages/frontend/editor-ui/src/views/SettingsMCPView.vue
Due: prettier_check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Send token usage to OpenMeter for LLM tracing (#42)
  packages/@n8n/nodes-langchain/nodes/llms/N8nLlmTracing.ts
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
Due: biome_check

fix(ado-3832) make close button visible
  packages/frontend/editor-ui/src/components/BecomeTemplateCreatorCta/BecomeTemplateCreatorCta.vue
Due: prettier_check

fix(Slack Node): Fix timestamp handling in history filters
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/history.test.ts
  packages/nodes-base/nodes/Slack/test/v2/node/channel/history.workflow.json
Due: biome_check

feat(editor): Add option to disable credentials check in RLC (#17381)
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.constants.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.test.ts
  packages/frontend/editor-ui/src/components/ResourceLocator/ResourceLocator.vue
  packages/workflow/src/interfaces.ts
Due: biome_check, prettier_check

fix: Create a New Usage Entity to Store Usage per Date & fix database migration and CRUD issues (#41)
  packages/@n8n/db/src/entities/execution-entity.ts
  packages/@n8n/db/src/entities/index.ts
  packages/@n8n/db/src/entities/usage-entity.ts
  packages/@n8n/db/src/entities/user.ts
  packages/@n8n/db/src/entities/workflow-entity.ts
  packages/@n8n/db/src/migrations/mysqldb/1750636800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/mysqldb/1751932800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/mysqldb/1751932900000-CreateUsageTable.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/1750636800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/postgresdb/1751932800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/postgresdb/1751932900000-CreateUsageTable.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/1750636800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/sqlite/1751932800000-AddTokenAndCostUsedByMemberAndExecutionsAndWorkflows.ts
  packages/@n8n/db/src/migrations/sqlite/1751932900000-CreateUsageTable.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/@n8n/db/src/repositories/index.ts
  packages/@n8n/db/src/repositories/usage.repository.ts
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
  packages/cli/src/services/__tests__/workflow-statistics.service.test.ts
  packages/cli/src/services/token-usage.utility.ts
  packages/cli/src/services/usage.service.ts
  packages/cli/src/services/user.service.ts
  packages/cli/src/services/workflow-statistics.service.ts
Due: biome_check

fix(editor): Remove unnecessary wrapper div
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.vue
Due: biome_check, prettier_check

fix(editor): Make close button visible on become creator CTA (#17405)
  packages/frontend/editor-ui/src/components/BecomeTemplateCreatorCta/BecomeTemplateCreatorCta.vue
Due: prettier_check

fix: lint
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/text/message.operation.ts
  packages/@n8n/permissions/src/roles/role-maps.ee.ts
  packages/testing/containers/n8n-test-container-dependencies.ts
Due: biome_check

fix: Fix eslint error
  packages/frontend/@n8n/chat/src/components/Highlight.vue
  packages/frontend/@n8n/chat/src/components/HtmlParse.vue
  packages/frontend/@n8n/chat/src/css/markdown.scss
  packages/frontend/@n8n/chat/src/main.scss
  packages/frontend/@n8n/chat/src/style.scss
  packages/frontend/@n8n/chat/src/utils/clipboard.ts
Due: biome_check, prettier_check

fix(editor): Recovering Files
  packages/frontend/@n8n/chat/src/main.scss
  packages/frontend/@n8n/chat/src/style.scss
Due: prettier_check

fix(core): Make our file reads more robust (no-changelog) (#17162)
  packages/@n8n/backend-common/src/index.ts
  packages/@n8n/backend-common/src/utils/__tests__/path-util.test.ts
  packages/@n8n/backend-common/src/utils/path-util.ts
  packages/cli/src/environments.ee/source-control/source-control-helper.ee.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/utils/__tests__/path-util.test.ts
  packages/cli/src/utils/path-util.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/directory-loader.ts
Due: biome_check

Cache system prompts and node definition messages
  packages/@n8n/ai-workflow-builder/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder/src/chains/parameter-updater.ts
  packages/@n8n/ai-workflow-builder/src/tools/prompts/main-agent.prompt.ts
Due: biome_check

perf(editor): Change code v-html to v-text
  packages/frontend/@n8n/chat/src/components/HtmlParse.vue
Due: prettier_check

feat: NDV notify if community node has update (#17146)
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/design-system/src/types/tabs.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeUpdateInfo.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.test.ts
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
Due: biome_check, prettier_check

fixes open ai node api error handling
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/router.ts
Due: biome_check

feat(ado-3824): new users see whatsnew notification after 7 days
  packages/frontend/editor-ui/src/stores/versions.store.ts
Due: biome_check

fix: Fix issue with restricted file access order (#17329)
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
Due: biome_check

:rocket: Release 1.102.4
  CHANGELOG.md
  package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/db/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node-dev/package.json
Due: biome_check

test fix
  packages/cli/src/chat/__tests__/chat-service.test.ts
Due: biome_check

test
  packages/cli/src/chat/__tests__/chat-service.test.ts
Due: biome_check

Revert "fix(editor): Remove unnecessary wrapper div"
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.vue
Due: biome_check, prettier_check

feat: Community nodes details footer update (#17158)
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeFooter.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
Due: biome_check, prettier_check

adds tests
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/actions/router.test.ts
Due: biome_check

feat: Merge text responses option
  packages/@n8n/nodes-langchain/nodes/vendors/Anthropic/actions/text/message.operation.ts
Due: biome_check

test fix
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
Due: biome_check

refactor(core): Add env var to disable Python execution
  packages/@n8n/config/src/configs/nodes.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/nodes-base/nodes/Code/Code.node.ts
Due: biome_check

More details
  packages/@n8n/config/src/configs/nodes.config.ts
Due: biome_check

fix(editor): Render the slot content only without additional wrapper element
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.test.ts
  packages/frontend/editor-ui/src/features/env-feature-flag/EnvFeatureFlag.vue
Due: biome_check, prettier_check

refactor(core): Add language to node graph schema for Code nodes
  packages/workflow/src/interfaces.ts
  packages/workflow/src/telemetry-helpers.ts
Due: biome_check

fix(editor): Format date
  packages/frontend/editor-ui/src/utils/formatters/dateFormatter.test.ts
  packages/frontend/editor-ui/src/utils/formatters/dateFormatter.ts
Due: biome_check

refactor(core): Add language to node graph schema for Code nodes (#17415)
  packages/workflow/src/interfaces.ts
  packages/workflow/src/telemetry-helpers.ts
Due: biome_check
