Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check, workspace_deps_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

styles_check:
  run: pnpm lint:styles:fix
  skip:
  - merge
  - rebase

actionlint_check:
  run: actionlint {staged_files}
  skip:
  - merge
  - rebase

workspace_deps_check:
  run: "if grep -l '\"workspace:\\^\"' {staged_files} 2>/dev/null; then\n  echo \"\"\n  echo \"ERROR: Found 'workspace:^' in package.json files.\"\n  echo \"\"\n  echo \"Use 'workspace:*' instead to pin exact versions.\"\n  echo \"Using 'workspace:^' causes npm to resolve semver ranges when users\"\n 
  ...

move the webhook conflict detection check
  packages/cli/src/workflows/workflow.service.ts
Due: biome_check

feat(editor): Edit workflow descriptions from the MCP page (#22967)
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/components/WorkflowDescriptionModal.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.vue
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.test.ts
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.vue
Due: biome_check, prettier_check, styles_check

Add tests
  packages/cli/src/webhooks/waiting-forms.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/workflow/src/type-validation.ts
  packages/workflow/test/type-validation.test.ts
Due: biome_check

feat(ai-builder): Add experiment_name and evaluating_generation metadata to traces
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/judge-panel.ts
Due: biome_check

🔥 Remove freaking build log
  build.log
Due: none

Revert sanitize, use CSP
  packages/nodes-base/utils/sendAndWait/utils.ts
Due: biome_check

⏪ Revert temporary backend filtering logic
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/@n8n/db/src/utils/build-workflows-by-nodes-query.ts
  packages/cli/src/middlewares/list-query/filter.ts
Due: biome_check

RND-112: Add Primitives category
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/app/constants/nodeCreator.ts
  packages/frontend/editor-ui/src/features/shared/nodeCreator/views/viewsData.ts
Due: biome_check

feat: Add support for dynamic credentials to oauth callback (#23013)
  packages/cli/src/controllers/oauth/__tests__/oauth1-credential.controller.test.ts
  packages/cli/src/controllers/oauth/__tests__/oauth2-credential.controller.test.ts
  packages/cli/src/controllers/oauth/oauth1-credential.controller.ts
  packages/cli/src/controllers/oauth/oauth2-credential.controller.ts
  packages/cli/src/modules/dynamic-credentials.ee/__tests__/dynamic-credentials.controller.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/dynamic-credentials.controller.ts
  packages/cli/src/oauth/__tests__/oauth.service.test.ts
  packages/cli/src/oauth/oauth.service.ts
  packages/cli/src/oauth/types.ts
Due: biome_check

fix(ai-builder): Inject notion_id from example metadata into inputs for tracing
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-generator.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/langsmith/pairwise-runner.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/judge-panel.ts
Due: biome_check

Add userinfo identifier to auth2 resolver
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/__tests__/oauth-credential-resolver.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/__tests__/oauth2-introspection-identifier.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/__tests__/oauth2-userinfo-identifier.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/oauth2-introspection-identifier.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/oauth2-userinfo-identifier.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/oauth-credential-resolver.ts
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.vue
Due: biome_check, prettier_check, styles_check

Add more tests
  packages/cli/src/webhooks/__tests__/waiting-forms.test.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/nodes-base/nodes/Form/test/Form.node.test.ts
  packages/nodes-base/nodes/Form/test/utils.test.ts
  packages/nodes-base/utils/sendAndWait/test/util.test.ts
Due: biome_check

fix truncation
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/session-manager.service.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
Due: biome_check

feat: Add Support for AWS_CONTAINER_AUTHORIZATION_TOKEN_FILE (EKS Pod Identity) (#21584)
  packages/nodes-base/credentials/common/aws/system-credentials-utils.test.ts
  packages/nodes-base/credentials/common/aws/system-credentials-utils.ts
Due: biome_check

remove frontend webhook conflict checks from publish modal
  packages/frontend/editor-ui/src/app/components/MainHeader/WorkflowPublishModal.vue
Due: prettier_check, styles_check

⚡ Update middleware to work with mcp endpoints
  packages/cli/src/middlewares/list-query/filter.ts
  packages/cli/src/middlewares/list-query/select.ts
  packages/cli/src/middlewares/list-query/sort-by.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
Due: biome_check

Fix typos
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/oauth2-userinfo-identifier.ts
Due: biome_check

Fix unit tests
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
Due: biome_check

fix(editor): Model selector dropdown menu in chat closes too eagerly (#23058)
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
Due: prettier_check, styles_check

hover background color
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryListItem.vue
Due: prettier_check, styles_check

color of timeline marker
  packages/frontend/editor-ui/src/features/workflows/workflowHistory/components/WorkflowHistoryListItem.vue
Due: prettier_check, styles_check

✨ Update trigger filter to support arrays
  packages/@n8n/db/src/repositories/__tests__/workflow.repository.test.ts
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/cli/src/middlewares/list-query/dtos/workflow.filter.dto.ts
  packages/cli/src/modules/mcp/mcp.settings.controller.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/composables/useWorkflowResourcesLocator.test.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/composables/useWorkflowResourcesLocator.ts
Due: biome_check, prettier_check, styles_check

chore(core): Add userinfo identifier to auth2 resolver (#23062)
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/__tests__/oauth-credential-resolver.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/__tests__/oauth2-introspection-identifier.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/__tests__/oauth2-userinfo-identifier.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/oauth2-introspection-identifier.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/identifiers/oauth2-userinfo-identifier.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/oauth-credential-resolver.ts
  packages/frontend/editor-ui/src/app/components/CredentialResolverEditModal.vue
Due: biome_check, prettier_check, styles_check

RND-112: fix eslint to watch correct tsconfig file
  packages/@intento/ai/eslint.config.mjs
  packages/@intento/post-editing/eslint.config.mjs
  packages/@intento/quality-assurance/eslint.config.mjs
  packages/@intento/translation/eslint.config.mjs
  packages/@n8n/eslint-config/tsconfig.json
  packages/cli/THIRD_PARTY_LICENSES.md
Due: biome_check, prettier_check

👌 Update allowedTags in the notice
  packages/frontend/@n8n/design-system/src/components/N8nNotice/Notice.vue
Due: prettier_check, styles_check

RND-112: Change subcategory from "Helpers" to "Primitives" for core nodes
  packages/nodes-base/nodes/Code/Code.node.json
  packages/nodes-base/nodes/DataTable/DataTable.node.json
  packages/nodes-base/nodes/ExecuteCommand/ExecuteCommand.node.json
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.json
  packages/nodes-base/nodes/ExecutionData/ExecutionData.node.json
  packages/nodes-base/nodes/Form/Form.node.json
  packages/nodes-base/nodes/Ftp/Ftp.node.json
  packages/nodes-base/nodes/HttpRequest/HttpRequest.node.json
  packages/nodes-base/nodes/N8n/N8n.node.json
  packages/nodes-base/nodes/NoOp/NoOp.node.json
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.json
  packages/nodes-base/nodes/Wait/Wait.node.json
  packages/nodes-base/nodes/Webhook/Webhook.node.json
Due: biome_check

✅ Update `mcp.settings.controller` tests
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.test.ts
Due: biome_check

✔️ Add `workflow.service` tests for scope parameter
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.test.ts
  packages/cli/src/workflows/__tests__/workflow.service.test.ts
Due: biome_check

Clear toasts when leaving workflow
  packages/frontend/editor-ui/src/app/composables/useToast.test.ts
  packages/frontend/editor-ui/src/app/views/NodeView.vue
Due: biome_check, prettier_check, styles_check

Address PR comments
  packages/frontend/editor-ui/src/app/composables/useWorkflowActivate.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: biome_check

feat: initial workflow document code
  packages/frontend/editor-ui/src/features/workflows/document/composables/useDeserializeWorkflow.ts
  packages/frontend/editor-ui/src/features/workflows/document/composables/useSerializeWorkflow.ts
  packages/frontend/editor-ui/src/features/workflows/document/workflowDocuments.store.ts
Due: biome_check

✅ Update workflows table tests
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/tabs/WorkflowsTable.test.ts
Due: biome_check

add validate identity helper
  packages/@n8n/decorators/src/credential-resolver/credential-resolver.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/__tests__/stub-credential-resolver.test.ts
  packages/cli/src/modules/dynamic-credentials.ee/credential-resolvers/stub-credential-resolver.ts
Due: biome_check

fix: update tests to use focus instead of click for input interactions
  packages/frontend/editor-ui/src/features/ndv/parameters/components/ResourceLocator/ResourceLocator.test.ts
Due: biome_check

Address another PR comment
  packages/frontend/editor-ui/src/app/components/WorkflowSettings.vue
Due: prettier_check, styles_check

✅ Add more tests for the main mcp settings page
  packages/frontend/editor-ui/src/features/ai/mcpAccess/SettingsMCPView.test.ts
Due: biome_check

🔥 Remove unused emit
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/MCPEmptyState.vue
Due: prettier_check, styles_check

Fix lint issues
  packages/frontend/editor-ui/src/app/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/app/stores/workflows.store.ts
Due: biome_check

feat(core): Handle both 400 and 401 status codes on oauth2 errors
  packages/core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts
Due: biome_check

✅ Add tests for `WorkflowLocation` component
  packages/frontend/editor-ui/src/features/ai/mcpAccess/components/WorkflowLocation.test.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
  styles_check: any of: packages/**/*.{scss,sass,vue}
  actionlint_check: any of: .github/workflows/*.{yml,yaml}
  workspace_deps_check: any of: **/package.json
