Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

enable selectively listening for a specific webhook
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

perf: greatly improve workflow loading performance
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

Extract `OrderSwitcher` component out of `ActionsMode.vue`
  packages/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/editor-ui/src/components/Node/NodeCreator/OrderSwitcher.vue
Due: prettier_check

fix test
  packages/editor-ui/src/plugins/codemirror/completions/prevNode.completions.test.ts
Due: biome_check

Remove unneeded execution data from runner data response
  packages/cli/src/runners/task-managers/__tests__/data-request-response-builder.test.ts
  packages/cli/src/runners/task-managers/__tests__/data-request-response-stripper.test.ts
  packages/cli/src/runners/task-managers/data-request-response-builder.ts
  packages/cli/src/runners/task-managers/data-request-response-stripper.ts
Due: biome_check

wip: fix naming
  packages/cli/src/databases/repositories/test-definition.repository.ee.ts
Due: biome_check

feat: use store-provided methods
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

fix(editor): Fix e2e test
  cypress/composables/projects.ts
  cypress/e2e/39-projects.cy.ts
Due: none

fix(editor): Fix e2e test
  cypress/e2e/39-projects.cy.ts
Due: none

fix: remove async marker from initializeWorkspace and openWorkflow
  packages/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/editor-ui/src/composables/useCanvasOperations.ts
  packages/editor-ui/src/views/NodeView.v2.vue
Due: biome_check, prettier_check

fix(editor): Add stickies to node insert position conflict check allowlist (#11624)
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/editor-ui/src/utils/nodeViewUtils.ts
Due: biome_check

fix offset in getAll
  packages/nodes-base/nodes/Supabase/Supabase.node.ts
Due: biome_check

refactor(editor): Extract `OrderSwitcher` component out of `ActionsMode.vue` (#11626)
  packages/editor-ui/src/components/Node/NodeCreator/Modes/ActionsMode.vue
  packages/editor-ui/src/components/Node/NodeCreator/OrderSwitcher.vue
Due: prettier_check

refactor(editor): RunData components to composition API (no-changelog) (#11545)
  packages/design-system/src/components/N8nRadioButtons/RadioButtons.vue
  packages/design-system/src/components/N8nTabs/Tabs.vue
  packages/design-system/src/components/N8nTree/Tree.stories.ts
  packages/design-system/src/components/N8nTree/Tree.vue
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/InputPanel.vue
  packages/editor-ui/src/components/NodeDetailsView.test.ts
  packages/editor-ui/src/components/NodeDetailsView.vue
  packages/editor-ui/src/components/OutputPanel.vue
  packages/editor-ui/src/components/RunData.test.ts
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/RunDataPinButton.vue
  packages/editor-ui/src/components/RunDataTable.vue
Due: biome_check, prettier_check

feat: Add link to parent execution
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

ci: Start enforcing `require-await` linting rule (no-changelog)
  packages/@n8n_io/eslint-config/base.js
Due: biome_check

chore: fix linting issue
  packages/editor-ui/src/views/NodeView.v2.vue
Due: prettier_check

make display computed
  packages/editor-ui/src/components/RunData.vue
Due: prettier_check

keep useStorage out of functions
  packages/editor-ui/src/stores/ndv.store.ts
Due: biome_check

Encapsulate better
  packages/cli/src/runners/task-broker.service.ts
Due: biome_check

fix(editor): Prevent NodeCreator from swallowing AskAssistant enter event (#11532)
  cypress/e2e/45-ai-assistant.cy.ts
  packages/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/editor-ui/src/components/Node/NodeCreator/composables/useKeyboardNavigation.ts
  packages/editor-ui/src/components/ParameterInput.vue
  packages/editor-ui/src/components/RunData.vue
  packages/editor-ui/src/components/TextEdit.vue
  packages/editor-ui/src/components/WorkflowLMChat/WorkflowLMChat.vue
  packages/editor-ui/src/components/WorkflowSettings.vue
  packages/editor-ui/src/composables/useClipboard.ts
  packages/editor-ui/src/composables/useKeybindings.ts
  packages/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

Remove stale test
  packages/cli/test/integration/runners/task-runner-module.external.test.ts
Due: biome_check

fix: add comment
  packages/editor-ui/src/composables/useExecutionHelpers.ts
Due: biome_check

cleanup
  packages/editor-ui/src/components/Node/NodeCreator/composables/useActions.ts
Due: biome_check

fix(editor): Fix default workflow settings
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/WorkflowSettings.vue
Due: biome_check, prettier_check

fix(editor): Adjust Scrollbar Width of RunData Header Row (#11561)
  packages/editor-ui/src/components/RunData.vue
Due: prettier_check
