Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

only submit once, post error toast
  packages/frontend/editor-ui/src/components/WorkflowExtractionNameModal.vue
Due: prettier_check

Making the prompt input float in the assistant and adding a little gradient to let the text disappear behind the prompt.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
Due: prettier_check

feat: Adjust n8n email template styling
  packages/cli/src/user-management/email/templates/_common.mjml
  packages/cli/src/user-management/email/templates/_footer.mjml
  packages/cli/src/user-management/email/templates/_logo.mjml
  packages/cli/src/user-management/email/templates/credentials-shared.mjml
  packages/cli/src/user-management/email/templates/password-reset-requested.mjml
  packages/cli/src/user-management/email/templates/project-shared.mjml
  packages/cli/src/user-management/email/templates/user-invited.mjml
  packages/cli/src/user-management/email/templates/workflow-shared.mjml
Due: none

Updating test snapshots.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/__snapshots__/N8nPromptInput.test.ts.snap
Due: none

add credits bar
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/@n8n/design-system/src/composables/useI18n.ts
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
Due: biome_check, prettier_check

feat: PAY-3774 entities import logic (#19770)
  packages/@n8n/db/src/index.ts
  packages/cli/src/commands/export/__tests__/entities.test.ts
  packages/cli/src/commands/import/__tests__/entities.test.ts
  packages/cli/src/commands/import/entities.ts
  packages/cli/src/services/__tests__/export.service.test.ts
  packages/cli/src/services/__tests__/import.service.test.ts
  packages/cli/src/services/export.service.ts
  packages/cli/src/services/import.service.ts
  packages/cli/src/utils/__tests__/validate-database-type.test.ts
  packages/cli/src/utils/validate-database-type.ts
  packages/cli/test/integration/import.service.test.ts
Due: biome_check

feat(core): Add `RootLevelController` decorator (no-changelog)
  packages/@n8n/decorators/src/controller/controller-registry-metadata.ts
  packages/@n8n/decorators/src/controller/index.ts
  packages/@n8n/decorators/src/controller/root-level-controller.ts
  packages/@n8n/decorators/src/controller/types.ts
  packages/cli/src/controller.registry.ts
Due: biome_check

Update pnpm.lock
  pnpm-lock.yaml
Due: none

Merge commit from fork
  packages/cli/src/webhooks/webhook-request-handler.ts
  packages/testing/playwright/services/workflow-api-helper.ts
  packages/testing/playwright/tests/ui/webhook-origin-isolation.spec.ts
  packages/testing/playwright/workflows/webhook-origin-isolation.json
Due: biome_check

test: Migrate workflow selector parameter tests
  cypress/e2e/group4/45-workflow-selector-parameter.cy.ts
  packages/testing/playwright/composables/NodeDetailsViewComposer.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/tests/ui/45-workflow-selector-parameter.spec.ts
  packages/testing/playwright/workflows/Test_Subworkflow_Get_Weather.json
  packages/testing/playwright/workflows/Test_Subworkflow_Search_DB.json
Due: biome_check

ci: Add nightly Playwright tests
  .github/workflows/playwright-nightly.yml
Due: none

fix(core): Update email test
  packages/cli/src/user-management/email/__tests__/user-management-mailer.test.ts
Due: biome_check

:rocket: Release 1.112.5
  CHANGELOG.md
  package.json
  packages/cli/package.json
Due: biome_check

✔️ Added tests
  packages/@n8n/decorators/src/controller/__tests__/root-level-controller.test.ts
  packages/cli/src/__tests__/controller.registry.test.ts
Due: biome_check

Fixing concern about inconsistent plain enter submit.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: prettier_check

remove unnecessary mock data
  packages/cli/src/__tests__/workflow-runner.test.ts
Due: biome_check

Update test snapshot
  packages/workflow/test/factory/workflow-factory.test.ts
Due: biome_check

Simplify clone
  packages/workflow/src/workflow-factory/workflow-factory.ts
Due: biome_check

change test to hit the right branch
  packages/cli/src/__tests__/workflow-runner.test.ts
Due: biome_check

update borders
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: prettier_check

Fix respond to webhook typings
  packages/workflow/src/workflow-factory/nodes/n8n-nodes-base.respondToWebhook.ts
Due: biome_check

Fix manual trigger type
  packages/workflow/src/workflow-factory/nodes/n8n-nodes-base.manualTrigger.ts
Due: biome_check

Export ConnectOptions type
  packages/workflow/src/workflow-factory/types/index.ts
Due: biome_check

Fix readme
  packages/workflow/src/workflow-factory/README.md
Due: prettier_check

Add unit tests for disconnect logic
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
Due: biome_check

Addressing some Cubic.dev PR comments.
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/__snapshots__/N8nPromptInput.test.ts.snap
Due: biome_check, prettier_check

perf: skip mergeStartData as well when log view is closed
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.test.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsExecutionData.ts
  packages/frontend/editor-ui/src/features/logs/logs.utils.ts
Due: biome_check

test: Fix pw typecheck
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
Due: biome_check

fix webhook config
  packages/workflow/src/workflow-factory/nodes/n8n-nodes-base.webhook.ts
Due: biome_check

test: Build image and pull locally
  .github/workflows/playwright-nightly.yml
  packages/testing/playwright/playwright-projects.ts
Due: biome_check

Update DockerFile 3
  docker/images/n8n/Dockerfile
Due: none

Fix error name
  packages/workflow/src/workflow-factory/errors.ts
Due: biome_check

test: Small cleanup
  packages/testing/playwright/tests/ui/45-workflow-selector-parameter.spec.ts
Due: biome_check

Update help messages in https form
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/SettingsSourceControl.vue
Due: biome_check, prettier_check

update link
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: prettier_check

Cubic test suggestions.
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeAIPrompt.test.ts
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeAIPrompt.test.ts.snap
Due: biome_check

test: Fix webhook-request-handler test
  packages/cli/src/webhooks/__tests__/webhook-request-handler.test.ts
Due: biome_check

Restore scrollHeight mock once finished.
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.test.ts
Due: biome_check

fix border in default case
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
