Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

fix: Prevent workflow to run if active and single webhook service (#11752)
  packages/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check

feat(Slack Node): Update wait for approval to use markdown
  packages/nodes-base/nodes/Slack/Slack.node.ts
  packages/nodes-base/nodes/Slack/V2/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/V2/MessageInterface.ts
  packages/nodes-base/nodes/Slack/test/v2/utils.test.ts
Due: biome_check

Added missing version
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
Due: biome_check

fix(editor): Fix failing non-null assertion in useDataSchema:getNodeInputData (no-changelog) (#11807)
  packages/editor-ui/src/composables/useDataSchema.test.ts
  packages/editor-ui/src/composables/useDataSchema.ts
Due: biome_check

fix(editor): Fix executions sorting (#11808)
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/executions/global/GlobalExecutionsList.test.ts
  packages/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.test.ts
  packages/editor-ui/src/composables/useRunWorkflow.ts
  packages/editor-ui/src/stores/executions.store.test.ts
  packages/editor-ui/src/stores/executions.store.ts
  packages/editor-ui/src/stores/workflows.store.test.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

:rocket: Release 1.69.0
  CHANGELOG.md
  package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/config/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

Lazy load node schema for autocomplete
  packages/editor-ui/src/plugins/codemirror/lsp/types.ts
  packages/editor-ui/src/plugins/codemirror/lsp/typescript.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/__snapshots__/utils.test.ts.snap
  packages/editor-ui/src/plugins/codemirror/lsp/worker/type-declarations/n8n.d.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/typescript.worker.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/utils.test.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/utils.ts
Due: biome_check

Do not re-render input panel after node finishes executing
  packages/editor-ui/src/components/InputPanel.vue
Due: prettier_check

fix: use inputsById for maxConnections
  packages/editor-ui/src/__tests__/data/canvas.ts
  packages/editor-ui/src/composables/useCanvasMapping.test.ts
  packages/editor-ui/src/composables/useCanvasMapping.ts
Due: biome_check

fix(editor): Don't re-render input panel after node finishes executing (#11813)
  packages/editor-ui/src/components/InputPanel.vue
Due: prettier_check

feat(Slack Node): Update wait for approval to use markdown (#11754)
  packages/nodes-base/nodes/Slack/Slack.node.ts
  packages/nodes-base/nodes/Slack/V2/GenericFunctions.ts
  packages/nodes-base/nodes/Slack/V2/MessageInterface.ts
  packages/nodes-base/nodes/Slack/V2/SlackV2.node.ts
  packages/nodes-base/nodes/Slack/test/v2/utils.test.ts
Due: biome_check

turn NPS survey into a modal and make sure it shows above the Ask AI button
  packages/editor-ui/src/components/ModalDrawer.vue
  packages/editor-ui/src/components/NpsSurvey.vue
  packages/editor-ui/src/composables/useStyles.test.ts
  packages/editor-ui/src/composables/useStyles.ts
Due: biome_check, prettier_check

fix typing issue
  packages/editor-ui/src/components/ModalDrawer.vue
Due: prettier_check

chore(packages): fix some comments
  packages/cli/src/services/dynamic-node-parameters.service.ts
  packages/editor-ui/src/views/NodeView.vue
  packages/workflow/src/Workflow.ts
Due: biome_check, prettier_check

split textarea into rows
  packages/editor-ui/src/components/ButtonParameter/ButtonParameter.vue
Due: prettier_check

refactor(core): Mark deprecations for v2
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/deprecation/__tests__/deprecation.service.test.ts
  packages/cli/src/deprecation/deprecation.service.ts
Due: biome_check

Refactor and enhance workflow evaluation UI components
  packages/editor-ui/src/components/WorkflowEvaluation/EditEvaluation/BlockArrow.vue
  packages/editor-ui/src/components/WorkflowEvaluation/EditEvaluation/EvaluationStep.vue
  packages/editor-ui/src/components/WorkflowEvaluation/EditEvaluation/MetricsInput.vue
  packages/editor-ui/src/components/WorkflowEvaluation/EditEvaluation/WorkflowSelector.vue
  packages/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons/index.ts
  packages/editor-ui/src/views/WorkflowEvaluation/EvaluationEditView.vue
Due: biome_check, prettier_check

lines to rows mapping
  packages/editor-ui/src/components/ButtonParameter/ButtonParameter.vue
Due: prettier_check

fix: CodeNodeEditor walk cannot read properties of null (#11129)
  packages/editor-ui/src/components/CodeNodeEditor/utils.test.ts
  packages/editor-ui/src/components/CodeNodeEditor/utils.ts
Due: biome_check

fix(editor): Fix AI assistant loading message layout
  packages/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
Due: prettier_check

💄 Updating storybook entries
  packages/design-system/src/components/AskAssistantChat/AskAssistantChat.stories.ts
Due: biome_check

✅ Updating snapshots
  packages/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
Due: none

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
