Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(editor): Set workflow name width at different breakpoints (#18956)
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
Due: prettier_check

fix(editor): Make Code node lint errors colorblind friendly
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Due: biome_check

chore(editor): Add telemetry for canvas experiment (#18871)
  packages/frontend/editor-ui/src/App.vue
  packages/frontend/editor-ui/src/components/Error/NodeErrorView.test.ts
  packages/frontend/editor-ui/src/components/Error/NodeErrorView.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreation.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.test.ts
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.test.ts
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeExecuteButton.test.ts
  packages/frontend/editor-ui/src/components/NodeExecuteButton.vue
  packages/frontend/editor-ui/src/components/ParameterInput.vue
  packages/frontend/editor-ui/src/components/RunDataJson.vue
  packages/frontend/editor-ui/src/components/RunDataJsonActions.test.ts
  packages/frontend/editor-ui/src/components/RunDataTable.vue
  packages/frontend/editor-ui/src/components/SettingsLogStreaming/EventDestinationSettingsModal.ee.vue
  packages/frontend/editor-ui/src/components/TriggerPanel.vue
  packages/frontend/editor-ui/src/components/VirtualSchema.test.ts
  packages/frontend/editor-ui/src/components/VirtualSchema.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.test.ts
  packages/frontend/editor-ui/src/composables/useCalloutHelpers.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.test.ts
  packages/frontend/editor-ui/src/composables/useNodeSettingsParameters.ts
  packages/frontend/editor-ui/src/composables/useTelemetryContext.test.ts
  packages/frontend/editor-ui/src/composables/useTelemetryContext.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsPanel.vue
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/stores/ndv.store.ts
  packages/frontend/editor-ui/src/stores/nodeCreator.store.ts
  packages/frontend/editor-ui/src/types/telemetry.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

feat(editor): Display created and updated at data table columns (no-changelog) (#18948)
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.test.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/ColumnHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
Due: biome_check, prettier_check

Addressed review
  packages/@n8n/db/src/repositories/role.repository.ts
  packages/cli/src/services/role.service.ts
Due: biome_check

feat(editor): Add SQLite WASM integration with `useDatabase` and `run-data` workers (no-changelog)
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/workers/database/index.ts
  packages/frontend/editor-ui/src/workers/database/useDatabase.ts
  packages/frontend/editor-ui/src/workers/run-data/db.ts
  packages/frontend/editor-ui/src/workers/run-data/instance.ts
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
  packages/frontend/editor-ui/src/workers/sqlite-wasm.d.ts
  pnpm-lock.yaml
Due: biome_check

test: Migrate 28-resource-mapper to playwright (no-changelog) (#18944)
  cypress/e2e/28-resource-mapper.cy.ts
  packages/frontend/editor-ui/src/components/ParameterInputFull.vue
  packages/testing/playwright/config/constants.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/28-resource-mapper.spec.ts
Due: biome_check, prettier_check

Fix failing test
  packages/frontend/editor-ui/src/components/MainHeader/__snapshots__/WorkflowHistoryButton.test.ts.snap
Due: none

reduce type duplication
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
Due: biome_check

fix primitve alphas
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
Due: prettier_check

Dedupe DataStoreColumnType
  packages/cli/src/modules/data-table/data-table-column.entity.ts
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/AddColumnButton.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreTypes.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
Due: biome_check, prettier_check

remove unused DataStoreListFilter
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
Due: biome_check

Fixes
  packages/@n8n/db/src/repositories/role.repository.ts
  packages/cli/src/services/role.service.ts
Due: biome_check

fix(editor): Correct `workflow` JSON validation and initialize all database tables (no-changelog)
  packages/frontend/editor-ui/src/workers/database/useDatabase.ts
  packages/frontend/editor-ui/src/workers/run-data/db.ts
Due: biome_check

feat(editor): Expose `run-data` worker actions using Comlink (no-changelog)
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Due: biome_check

fix(editor): Adjust worker path for `run-data` instance (no-changelog)
  packages/frontend/editor-ui/src/workers/run-data/instance.ts
Due: biome_check

fix(editor): Prevent duplicate initialization in `run-data` worker (no-changelog)
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Due: biome_check

fix validation, extend example
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/workflow/src/type-validation.ts
Due: biome_check

test: Add metric reporter for Playwright
  frontend-performance-metrics-plan.md
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/reporters/USAGE.md
  packages/testing/playwright/reporters/metrics-reporter.js
  packages/testing/playwright/reporters/metrics-reporter.ts
  packages/testing/playwright/tests/performance/large-node-cloud.spec.ts
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/utils/performance-helper.ts
Due: biome_check, prettier_check

fix(editor): Make Code node lint errors colorblind friendly (#18958)
  packages/frontend/editor-ui/src/components/CodeNodeEditor/theme.ts
Due: biome_check

fix condition for opening the rename node prompt
  packages/frontend/editor-ui/src/components/InlineExpressionEditor/InlineExpressionEditorOutput.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/composables/useKeybindings.ts
  packages/frontend/editor-ui/src/utils/canvasUtils.test.ts
  packages/frontend/editor-ui/src/utils/canvasUtils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

fix(editor): Fix primitive values for code line highlight (no-changelog) (#18961)
  packages/frontend/@n8n/design-system/src/css/_tokens.dark.scss
Due: prettier_check

fix(editor): Update type definitions for `Promiser` and `DbId` in `useDatabase` and `run-data` workers (no-changelog)
  packages/frontend/editor-ui/src/workers/database/useDatabase.ts
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Due: biome_check

refactor(core): Decouple datastore from workflow execution context
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/cli/src/workflow-execute-additional-data.ts
  packages/core/src/execution-engine/index.ts
  packages/core/src/execution-engine/node-execution-context/utils/data-store-helper-functions.ts
Due: biome_check

fix(editor): Fix wf history button visibility issue (#18804)
  packages/frontend/@n8n/design-system/src/css/_tokens.scss
Due: prettier_check

dedupe DataStoreColumn
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.types.ts
Due: biome_check, prettier_check

add elementName and update labels
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/workflow/src/type-validation.ts
Due: biome_check

Tweak cells copy and paste behavior
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

fix(editor): Rename `useDatabase` to `database` and update imports (no-changelog)
  packages/frontend/editor-ui/src/workers/database.ts
  packages/frontend/editor-ui/src/workers/database/index.ts
  packages/frontend/editor-ui/src/workers/run-data/db.ts
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Due: biome_check

fix(editor): Rename `database` to `initializeDatabase` and update references (no-changelog)
  packages/frontend/editor-ui/src/workers/database.ts
  packages/frontend/editor-ui/src/workers/run-data/worker.ts
Due: biome_check

Mention `ts-ignore` reason
  packages/cli/src/modules/data-table/data-store-column.repository.ts
  packages/cli/src/modules/data-table/data-store.repository.ts
Due: biome_check

Refactor handleCopyFocusedCell
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

feat(core): Harden native Python task runner (no-changelog) (#18826)
  packages/@n8n/task-runner-python/src/constants.py
  packages/@n8n/task-runner-python/src/env.py
  packages/@n8n/task-runner-python/src/errors/__init__.py
  packages/@n8n/task-runner-python/src/errors/security_violation_error.py
  packages/@n8n/task-runner-python/src/main.py
  packages/@n8n/task-runner-python/src/task_analyzer.py
  packages/@n8n/task-runner-python/src/task_executor.py
  packages/@n8n/task-runner-python/src/task_runner.py
Due: none
