Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check, workspace_deps_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    styles_check:
      glob: 'packages/**/*.{scss,sass,vue}'
      run: pnpm lint:styles:fix
      skip:
        - merge
        - rebase
    actionlint_check:
      glob: '.github/workflows/*.{yml,yaml}'
      run: actionlint {staged_files}
      skip:
        - merge
        - rebase
    workspace_deps_check:
      glob: '**/package.json'
      run: |
        if grep -l '"workspace:\^"' {staged_files} 2>/dev/null; then
          echo ""
          echo "ERROR: Found 'workspace:^' in package.json files."
          echo ""
          echo "Use 'workspace:*' instead to pin exact versions."
          echo "Using 'workspace:^' causes npm to resolve semver ranges when users"
          echo "install from npm, which can lead to version mismatches between"
          echo "@n8n/* packages and break n8n startup."
          echo ""
          exit 1
        fi
      skip:
        - merge
        - rebase

fix(workflow): Add missing axios devDependency for type imports
  packages/workflow/package.json
  pnpm-lock.yaml
Due: biome_check, workspace_deps_check

Better design
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollectionParameter.vue
Due: prettier_check, styles_check

fix(nodes-base): Add missing axios devDependency for type imports
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: biome_check, workspace_deps_check

Cleanup
  packages/frontend/@n8n/i18n/src/index.ts
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollectionParameter.vue
  packages/workflow/src/interfaces.ts
Due: biome_check, prettier_check, styles_check

Cleanup
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollectionParameter.vue
Due: prettier_check, styles_check

ci: Add Poutine security scanner for GitHub Actions (#23331)
  .github/workflows/ci-pull-requests.yml
  .github/workflows/ci-security.yml
  .github/workflows/security-poutine-scan-callable.yml
  .poutine.yml
Due: actionlint_check

Switch to versions for simplicity
  packages/nodes-base/nodes/Form/Form.node.ts
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/Form/v2/FormTriggerV2.node.ts
Due: biome_check

Tweak notice field
  packages/frontend/editor-ui/src/features/ndv/parameters/components/FixedCollectionParameter.vue
Due: prettier_check, styles_check

ci: Hopefully fix network stability
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/containers/n8n-test-container-observability.ts
  packages/testing/containers/network-stabilization.ts
  packages/testing/playwright/currents.config.ts
  packages/testing/playwright/tests/e2e/observability/multi-main-observability.spec.ts
Due: biome_check

test
  .github/workflows/build-docker-base.yml
  .github/workflows/build-docker-benchmark.yml
  .github/workflows/build-docker-reusable.yml
  .github/workflows/ci-chromatic.yml
  .github/workflows/ci-db-schemas.yml
  .github/workflows/ci-linting-reusable.yml
  .github/workflows/ci-manual.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pr-title.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/ci-python-evals.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-storybook.yml
  .github/workflows/ci-unit-tests-reusable.yml
  .github/workflows/ci-windows-reusable.yml
  .github/workflows/release-patch-branch.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-sbom-reusable.yml
  .github/workflows/scheduled-benchmark-destroy.yml
  .github/workflows/scheduled-benchmark.yml
  .github/workflows/scheduled-node-popularity.yml
  .github/workflows/scheduled-test-workflows.yml
  .github/workflows/sec-poutine-reusable.yml
  .github/workflows/sec-trivy-reusable.yml
  .github/workflows/test-e2e-ci-reusable.yml
  .github/workflows/test-e2e-coverage.yml
  .github/workflows/test-e2e-docker-reusable.yml
  .github/workflows/test-e2e-performance-reusable.yml
  .github/workflows/test-e2e-reusable.yml
  .github/workflows/util-build-comment.yml
  .github/workflows/util-data-tooling.yml
  .github/workflows/util-docs-urls.yml
  .github/workflows/util-eligibility-reusable.yml
  .github/workflows/util-pr-notify.yml
  .github/workflows/util-sync-api-docs.yml
  .github/workflows/util-test-workflows-comment.yml
  .github/workflows/util-test-workflows-reusable.yml
Due: actionlint_check

feat(public-api): Add POST /workflows/{id}/execute endpoint
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/public-api-permissions.ee.ts
  packages/cli/src/public-api/types.ts
  packages/cli/src/public-api/v1/handlers/workflows/spec/paths/workflows.id.execute.yml
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/public-api/v1/openapi.yml
  packages/cli/src/workflows/workflow-execution.service.ts
Due: biome_check, prettier_check

fix: disable message actions while responding
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessageActions.vue
Due: biome_check, prettier_check, styles_check

an attempt to fix flakiness
  packages/testing/playwright/tests/e2e/chat-hub/chat-hub-personal-agent.spec.ts
Due: biome_check

test(API): Add tests for POST /workflows/{id}/execute endpoint
  packages/cli/test/integration/public-api/workflows.test.ts
Due: biome_check

refactor(API): Address code review feedback for execute endpoint
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
Due: biome_check

fix: prevent edit before agent is loaded
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/AgentEditorModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/composables/useCustomAgent.ts
  packages/testing/playwright/tests/e2e/chat-hub/chat-hub-personal-agent.spec.ts
Due: biome_check, prettier_check, styles_check

refactor(API): Address cubic-dev-ai review feedback
  packages/cli/src/public-api/v1/handlers/workflows/spec/paths/workflows.id.execute.yml
  packages/cli/src/public-api/v1/handlers/workflows/workflows.handler.ts
  packages/cli/src/workflows/workflow-execution.service.ts
Due: biome_check, prettier_check

add
  .github/workflows/docker-build-push-ghrc.yml
Due: actionlint_check

update
  .github/workflows/docker-build-push-ghrc.yml
Due: actionlint_check

better error handling
  packages/@n8n/nodes-langchain/nodes/vendors/Microsoft/MicrosoftAgent365Trigger.node.ts
Due: biome_check

fix(editor): Remove running tool messages when AI builder task is aborted
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
Due: biome_check

fix(editor): Also remove running tools on service errors, not just abort
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
Due: biome_check

chore: Use interface objects instead of chat hub session / agent entities to solve deep type issues with Partials
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.entity.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.repository.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.service.ts
  packages/cli/src/modules/chat-hub/chat-hub-session.entity.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-session.repository.ts
Due: biome_check

chore: Setup Claude code
  .claude/agents/n8n-developer.md
  .claude/agents/n8n-linear-issue-triager.md
  .claude/skills/n8n/SKILL.md
  .gitignore
Due: none

update unit test
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.test.ts
Due: biome_check

add triager command
  .claude/commands/n8n-triage.md
Due: none

test(crdt): add concurrent edit conflict tests
  packages/@n8n/crdt/src/sync/sync-provider.test.ts
Due: biome_check

feat: Add n8n command for implementing Linear tickets
  .claude/commands/n8n-implement.md
Due: none

refactor: Use escape.indexName
  packages/@n8n/db/src/migrations/common/1766068346315-AddChatMessageIndices.ts
Due: biome_check

test(crdt): add large deeply nested data editing tests
  packages/@n8n/crdt/src/index.test.ts
  packages/@n8n/crdt/src/sync/sync-provider.test.ts
Due: biome_check

refactor: cleanup
  packages/@n8n/db/src/migrations/common/1766068346315-AddChatMessageIndices.ts
Due: biome_check

fix(editor): Remove running tool messages when AI builder task fails (#23437)
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/builder.store.ts
Due: biome_check

chore(core): Use interfaces instead of session / agent entities to solve partial deep type issues (#23438)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.entity.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.repository.ts
  packages/cli/src/modules/chat-hub/chat-hub-agent.service.ts
  packages/cli/src/modules/chat-hub/chat-hub-session.entity.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-session.repository.ts
Due: biome_check

fix(editor): Preserve AI Builder chat state when switching tabs during streaming
  packages/frontend/editor-ui/src/features/ai/assistant/chatPanel.store.test.ts
  packages/frontend/editor-ui/src/features/ai/assistant/chatPanel.store.ts
  packages/frontend/editor-ui/src/features/ai/assistant/components/Agent/AskAssistantBuild.vue
Due: biome_check, prettier_check, styles_check

test: Add e2e tests for ChatHub (#23396)
  .gitignore
  packages/cli/src/modules/chat-hub/chat-hub-workflow.service.ts
  packages/frontend/@n8n/design-system/src/components/N8nMenuItem/MenuItem.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/AgentEditorModal.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatAgentCard.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.test.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessage.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatMessageActions.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatSidebarContent.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatTypingIndicator.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ModelSelector.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/composables/useCustomAgent.ts
  packages/testing/playwright/expectations/chat-hub/1766027608058-api.anthropic.com-GET-_v1_models-2ef5ce20.json
  packages/testing/playwright/expectations/chat-hub/1766027608059-unknown-host-POST-_v1_messages-b72fba5a.json
  packages/testing/playwright/expectations/chat-hub/1766027608059-unknown-host-POST-_v1_messages-fa48c432.json
  packages/testing/playwright/expectations/chat-hub/1766027609437-api.anthropic.com-GET-_v1_models-2ef5ce20.json
  packages/testing/playwright/expectations/chat-hub/1766027609438-unknown-host-POST-_v1_messages-b279ce88.json
  packages/testing/playwright/expectations/chat-hub/1766027609438-unknown-host-POST-_v1_messages-dca010d7.json
  packages/testing/playwright/expectations/chat-hub/1766027610250-api.anthropic.com-GET-_v1_models-2ef5ce20.json
  packages/testing/playwright/expectations/chat-hub/1766027610251-unknown-host-POST-_v1_messages-0b9d46a3.json
  packages/testing/playwright/expectations/chat-hub/1766027610251-unknown-host-POST-_v1_messages-51dd0005.json
  packages/testing/playwright/expectations/chat-hub/1766027610251-unknown-host-POST-_v1_messages-66b47835.json
  packages/testing/playwright/expectations/chat-hub/1766029584880-unknown-host-POST-_v1_messages-c4c27532.json
  packages/testing/playwright/expectations/chat-hub/1766032064867-unknown-host-POST-_v1_messages-a2fd6861.json
  packages/testing/playwright/expectations/chat-hub/1766035024386-unknown-host-POST-_v1_messages-e724dbff.json
  packages/testing/playwright/expectations/chat-hub/1766036806379-unknown-host-POST-_v1_messages-cd2455c9.json
  packages/testing/playwright/pages/ChatHubChatPage.ts
  packages/testing/playwright/pages/ChatHubPersonalAgentsPage.ts
  packages/testing/playwright/pages/components/ChatHubPersonalAgentModal.ts
  packages/testing/playwright/pages/components/ChatHubSidebar.ts
  packages/testing/playwright/services/proxy-server.ts
  packages/testing/playwright/tests/e2e/chat-hub/chat-hub-basic.spec.ts
  packages/testing/playwright/tests/e2e/chat-hub/chat-hub-personal-agent.spec.ts
Due: biome_check, prettier_check, styles_check

edit image binary property name fix
  packages/nodes-base/nodes/EditImage/EditImage.node.ts
Due: biome_check

fix(editor): Fix chat message action icons visibility in dark mode
  packages/frontend/editor-ui/src/features/execution/logs/components/MessageOptionAction.vue
  packages/frontend/editor-ui/src/features/execution/logs/components/MessageOptionTooltip.vue
Due: prettier_check, styles_check

feat: Add MCP configuration for Linear integration
  .claude/mcp.json
  .claude/settings.json
Due: none

feat: Add README for Claude Code configuration setup
  .claude/README.md
Due: none

fix type issue
  packages/cli/src/workflows/workflow-history/__tests__/workflow-history.service.test.ts
Due: biome_check
