Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

Fix type export
  packages/@n8n/api-types/src/index.ts
Due: biome_check

Fix typecheck
  packages/frontend/editor-ui/src/__tests__/defaults.ts
Due: biome_check

Allow numeric strings
  packages/cli/src/modules/data-table/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-table/data-store.service.ts
Due: biome_check

add fixes (WIP)
  packages/testing/playwright/Types.ts
  packages/testing/playwright/fixtures/Workflow_ai_agent.json
  packages/testing/playwright/fixtures/Workflow_if.json
  packages/testing/playwright/fixtures/Workflow_loop.json
  packages/testing/playwright/fixtures/Workflow_template_write_http_query.json
  packages/testing/playwright/fixtures/Workflow_wait_for_webhook.json
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/LogsPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/tests/ui/50-logs.spec.ts
  packages/testing/playwright/utils/requirements.ts
Due: biome_check

ci: Fix the workflow for sbom attestation
  .github/workflows/release-attach-sbom.yml
Due: none

Add userDataStoreGridBase and useDataStoreSelection composables
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreGridBase.ts
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreSelection.ts
Due: biome_check, prettier_check

remove unnecessary test file
  packages/cli/test/integration/server-type-files.test.ts
Due: biome_check

fix(editor): Standardize capitalization of "Data table" across various files (no-changelog)
  packages/cli/src/modules/data-table/data-store-proxy.service.ts
  packages/cli/src/modules/data-table/data-table.module.ts
  packages/cli/src/modules/data-table/errors/data-store-not-found.error.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/nodes-base/nodes/DataTable/DataTable.node.json
  packages/nodes-base/nodes/DataTable/DataTable.node.ts
  packages/nodes-base/nodes/DataTable/actions/row/Row.resource.ts
  packages/nodes-base/nodes/DataTable/common/addRow.ts
  packages/nodes-base/nodes/DataTable/common/utils.ts
Due: biome_check

fix(core): Fix role management controller no-changelog (#19107)
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/roles/__tests__/create-role.dto.test.ts
  packages/@n8n/api-types/src/dto/roles/__tests__/update-role.dto.test.ts
  packages/@n8n/api-types/src/dto/roles/create-role.dto.ts
  packages/@n8n/api-types/src/dto/roles/update-role.dto.ts
  packages/cli/src/controllers/role.controller.ts
  packages/cli/test/integration/controllers/role.controller-db.test.ts
  packages/cli/test/integration/controllers/role.controller.test.ts
Due: biome_check

test: Add baseline memory test (#19102)
  packages/testing/containers/n8n-test-container-creation.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/performance/memory-consumption-cloud.spec.ts
  packages/testing/playwright/utils/performance-helper.ts
Due: biome_check

remove styles
  packages/frontend/@n8n/design-system/.storybook/storybook.scss
  packages/frontend/@n8n/design-system/src/components/N8nFilter/FilterSystem.vue
  packages/frontend/@n8n/design-system/src/components/N8nFilter/index.ts
  packages/frontend/@n8n/design-system/src/components/N8nFilters/ChipFilters.vue
  packages/frontend/@n8n/design-system/src/components/N8nFilters/ComboBox.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nFilters/ComboBox.vue
  packages/frontend/@n8n/design-system/src/components/N8nFilters/DropdownFilters.vue
  packages/frontend/@n8n/design-system/src/components/N8nFilters/Filters.vue
  packages/frontend/@n8n/design-system/src/components/N8nFilters/index.ts
Due: biome_check, prettier_check

fix: fix trimmed data interactions on multiple node runs
  cypress/composables/logs.ts
  cypress/e2e/30-langchain.cy.ts
  cypress/e2e/50-logs.cy.ts
  packages/frontend/editor-ui/src/composables/usePushConnection/handlers/nodeExecuteAfterData.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: biome_check

chore: remove unused imports
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: biome_check

combobox base
  packages/frontend/@n8n/design-system/src/components/N8nFilters/ComboBox.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nFilters/ComboBox.vue
Due: biome_check, prettier_check

feat(core): Allow filtering workflows by `availableInMCP` (#18646)
  packages/@n8n/db/src/repositories/workflow.repository.ts
  packages/cli/src/middlewares/list-query/dtos/workflow.filter.dto.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

Enforce data-stores limits
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/config/src/configs/data-table.config.ts
  packages/@n8n/config/src/index.ts
  packages/cli/src/modules/data-table/data-store-aggregate.controller.ts
  packages/cli/src/modules/data-table/data-store.controller.ts
  packages/cli/src/modules/data-table/data-store.service.ts
  packages/cli/src/services/frontend.service.ts
Due: biome_check

fix typing issue
  packages/@n8n/config/test/config.test.ts
Due: biome_check

Add more tools in loop tests
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-261-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-262-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-263-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-264-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-265-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-266-schema-cli-workflows.snap
  packages/testing/playwright/tests/cli-workflows/workflows/261.json
  packages/testing/playwright/tests/cli-workflows/workflows/262.json
  packages/testing/playwright/tests/cli-workflows/workflows/263.json
  packages/testing/playwright/tests/cli-workflows/workflows/264.json
  packages/testing/playwright/tests/cli-workflows/workflows/265.json
  packages/testing/playwright/tests/cli-workflows/workflows/266.json
Due: biome_check

fix tests
  packages/cli/src/controllers/e2e.controller.ts
Due: biome_check

edited description and added type guards
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/edit.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/index.ts
Due: biome_check

add todos
  packages/nodes-base/nodes/Form/Form.node.ts
Due: biome_check

👌 Remove sensitive info from telemetry events
  packages/frontend/editor-ui/src/features/dataStore/components/AddDataStoreModal.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreActions.vue
  packages/frontend/editor-ui/src/features/dataStore/components/DataStoreBreadcrumbs.vue
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
Due: prettier_check

👌 Prevent sending sort event if user hasn't updated it
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
Due: prettier_check

👌 Adding operation to `User set node operation or mode` event
  packages/frontend/editor-ui/src/components/ParameterInput.vue
Due: prettier_check

Move more functionality to useDataStoreGridBase composable
  packages/frontend/editor-ui/src/features/dataStore/components/dataGrid/DataStoreTable.vue
  packages/frontend/editor-ui/src/features/dataStore/composables/useDataStoreGridBase.ts
Due: biome_check, prettier_check

ci: Add retry to docker pull to allow for manifest to propagate in release job (#19063)
  .github/workflows/security-trivy-scan-callable.yml
Due: none

fix(Gemini Node): Allow Nano Banana model to be selected (#19080)
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/actions/image/generate.operation.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/listSearch.test.ts
  packages/@n8n/nodes-langchain/nodes/vendors/GoogleGemini/methods/listSearch.ts
Due: biome_check

fix(Basic LLM Chain Node): Remove fallback connection on lower versions (#19053)
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/methods/config.ts
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/test/config.test.ts
Due: biome_check

ci: Change runner to blacksmith on publish to npm release job (#19002)
  .github/workflows/release-publish.yml
Due: none

fix(core): Fix OIDC configuration update path (#19065)
  packages/cli/src/sso.ee/oidc/oidc.service.ee.ts
  packages/cli/test/integration/oidc/oidc.service.ee.test.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/views/SettingsSso.test.ts
  packages/frontend/editor-ui/src/views/SettingsSso.vue
Due: biome_check, prettier_check

fix(core): Normalize Data Table return on update and allow string returns from DB (no-changelog) (#19106)
  packages/cli/src/modules/data-table/data-store-rows.repository.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
Due: biome_check

:rocket: Release 1.110.1
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/editor-ui/package.json
Due: biome_check

:rocket: Release 1.109.2
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/editor-ui/package.json
Due: biome_check

refactor(core): Replace pickle with JSON serialization in native Python runner
  packages/@n8n/task-runner-python/src/task_executor.py
Due: none

Restore actions to fix e2e
  packages/nodes-base/nodes/Code/Code.node.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
