Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

refactor(core): Rename `@n8n/integration-test-utils` to `@n8n/backend-test-utils` (#16444)
  codecov.yml
  packages/@n8n/backend-test-utils/.eslintrc.js
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/backend-test-utils/src/index.ts
  packages/@n8n/backend-test-utils/tsconfig.build.json
  packages/@n8n/backend-test-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/src/__tests__/active-workflow-manager.test.ts
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/__tests__/wait-tracker.test.ts
  packages/cli/src/concurrency/__tests__/concurrency-control.service.test.ts
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/ldap.ee/__tests__/ldap.service.test.ts
  packages/cli/src/modules/external-secrets.ee/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/scaling/__tests__/scaling.service.test.ts
  packages/cli/src/scaling/__tests__/worker-server.test.ts
  packages/cli/src/scaling/pubsub/__tests__/publisher.service.test.ts
  packages/cli/src/scaling/pubsub/__tests__/pubsub.registry.test.ts
  packages/cli/src/services/pruning/__tests__/executions-pruning.service.test.ts
  packages/cli/src/workflows/workflow-history.ee/__tests__/workflow-history.service.ee.test.ts
  packages/cli/test/integration/executions-pruning.service.test.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: biome_check

remove duplicated test
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
Due: biome_check

implement ModuleInterface in the tests correctly
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
Due: biome_check

remove redundant test
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
Due: biome_check

add test for module names and licenseFlag
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
Due: biome_check

remove unnecessary cast
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: biome_check

use `getClasses` since we have it
  packages/cli/src/modules/module-registry.ts
Due: biome_check

re-use ModuleRegistry to initialize modules in the test server
  packages/cli/test/integration/shared/utils/test-server.ts
Due: biome_check

corrects description of org units tool tip
  packages/nodes-base/nodes/Google/GSuiteAdmin/DeviceDescription.ts
Due: biome_check

I can undo all changes here and the tests still pass oO
  packages/cli/test/integration/insights/insights.api.test.ts
Due: biome_check

restore lock file
  pnpm-lock.yaml
Due: none

removing logo
  packages/frontend/editor-ui/src/views/AuthView.vue
Due: prettier_check

fix(Youtube Node) Align playlist creation test with privacyStatus fix #16442
  packages/nodes-base/nodes/Google/YouTube/__test__/node/YouTube.node.test.ts
Due: biome_check

fix: tweak connection ports and status icon position
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
Due: prettier_check

fix(YouTube Node): Declare 'status' into 'part' param and set default privacyStatus to 'private' for playlist creation
  packages/nodes-base/nodes/Google/YouTube/YouTube.node.ts
Due: biome_check

adding pg and redis
  Dockerfile
  config/deploy.yml
Due: none

fix(YouTube Node): Update query parameters for playlist creation test to include 'status'
  packages/nodes-base/nodes/Google/YouTube/__test__/node/YouTube.node.test.ts
Due: biome_check

fix: JSON.stringify nested objects in form data
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
Due: biome_check

test: Add tests
  packages/nodes-base/nodes/Telegram/tests/Workflow/apiResponses.ts
  packages/nodes-base/nodes/Telegram/tests/Workflow/binaryData.workflow.json
  packages/nodes-base/nodes/Telegram/tests/Workflow/workflow.test.ts
Due: biome_check

Fix
  packages/nodes-base/nodes/Postgres/v2/actions/database/executeQuery.operation.ts
Due: biome_check

add test for tabs
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
Due: biome_check

fix: toast message
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
Due: prettier_check

tests
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/__test__/Chat.node.test.ts
  packages/@n8n/nodes-langchain/utils/tests/helpers.test.ts
  packages/cli/src/chat/__tests__/chat-execution-manager.test.ts
  packages/cli/src/chat/__tests__/chat-service.test.ts
  packages/cli/src/chat/chat-execution-manager.ts
  packages/cli/src/chat/chat-service.ts
  packages/cli/src/chat/utils.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
Due: biome_check

fix(core): Prevent unauthorised workflow termination (#16405)
  packages/cli/src/executions/__tests__/execution.service.test.ts
  packages/cli/src/executions/__tests__/executions.controller.test.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/executions/executions.controller.ts
  packages/cli/test/integration/executions.controller.test.ts
Due: biome_check

test(API): Add tests for UpdateProjectDto (no-changelog) (#16452)
  packages/@n8n/api-types/src/dto/project/__tests__/update-project.dto.test.ts
  packages/cli/src/controllers/project.controller.ts
Due: biome_check

fix(core): Fix pdf extract not working
  docker/images/n8n/Dockerfile
Due: none

test fix
  packages/frontend/editor-ui/src/features/logs/composables/useChatMessaging.ts
Due: biome_check

feat(editor): Add Support for Granular Push of Credentials and Workflows (#16439)
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.test.ts
  packages/frontend/editor-ui/src/components/SourceControlPushModal.ee.vue
Due: biome_check, prettier_check

refactor(core): Centralize module management
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
  packages/@n8n/decorators/src/module/module-metadata.ts
  packages/cli/src/commands/base-command.ts
  packages/cli/src/modules/__tests__/module-registry.test.ts
  packages/cli/src/modules/__tests__/modules.config.test.ts
  packages/cli/src/modules/errors/missing-module.error.ts
  packages/cli/src/modules/errors/module-confusion.error.ts
  packages/cli/src/modules/errors/unknown-module.error.ts
  packages/cli/src/modules/insights/__tests__/insights-collection.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights-pruning.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/entities/__tests__/insights-raw.test.ts
  packages/cli/src/modules/insights/database/repositories/__tests__/insights-by-period.repository.test.ts
  packages/cli/src/modules/module-registry.ts
  packages/cli/src/modules/modules.config.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/shared/test-modules.ts
  packages/cli/test/integration/shared/utils/test-server.ts
Due: biome_check

refactor(core): Decouple module settings from frontend service (#16324)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/@n8n/backend-common/src/license-state.ts
  packages/@n8n/decorators/src/module/__tests__/module.test.ts
  packages/@n8n/decorators/src/module/index.ts
  packages/@n8n/decorators/src/module/module-metadata.ts
  packages/@n8n/decorators/src/module/module.ts
  packages/cli/src/modules/external-secrets.ee/external-secrets.module.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights-helpers.ts
  packages/cli/src/modules/insights/insights.constants.ts
  packages/cli/src/modules/insights/insights.module.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/src/modules/module-registry.ts
  packages/cli/src/server.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/test/integration/shared/test-db.ts
  packages/cli/test/integration/shared/utils/test-server.ts
  packages/frontend/@n8n/rest-api-client/src/api/index.ts
  packages/frontend/@n8n/rest-api-client/src/api/module-settings.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.test.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/views/SigninView.test.ts
  packages/frontend/editor-ui/src/views/SigninView.vue
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
