Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

refactor(core): Require Python 3.14 for native Python runner (#20978)
  packages/@n8n/task-runner-python/README.md
  packages/@n8n/task-runner-python/pyproject.toml
  packages/@n8n/task-runner-python/uv.lock
Due: prettier_check

feat: Conditional ready to run v2 (no-changelog) (#20984)
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplatesV3/stores/personalizedTemplatesV3.store.ts
  packages/frontend/editor-ui/src/experiments/readyToRunWorkflowsV2/stores/readyToRunWorkflowsV2.store.ts
Due: biome_check

don't show suggestions for now
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.types.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatStarter.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: biome_check, prettier_check

extend tests
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/test/common.test.ts
Due: biome_check

feat(core): Support stopping AI message generation on chat hub (no-changelog) (#20992)
  packages/@n8n/api-types/src/chat-hub.ts
  packages/cli/src/modules/chat-hub/chat-hub.controller.ts
  packages/cli/src/modules/chat-hub/chat-hub.service.ts
  packages/cli/src/modules/chat-hub/chat-message.repository.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.api.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.store.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatPrompt.vue
Due: biome_check, prettier_check

fix
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
Due: prettier_check

Reintroduce copy session id
  packages/frontend/editor-ui/src/features/execution/logs/components/ChatMessagesPanel.vue
  packages/frontend/editor-ui/src/features/execution/logs/components/LogsPanel.test.ts
Due: biome_check, prettier_check

feat(editor): Add custom roles CRUD UI (#19224)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/@n8n/design-system/src/components/N8nDataTableServer/N8nDataTableServer.vue
  packages/frontend/@n8n/design-system/src/css/reset.scss
  packages/frontend/@n8n/design-system/src/types/action-dropdown.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/roles.ts
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/SettingsSidebar.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersRoleCell.test.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersRoleCell.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersTable.test.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectMembersTable.vue
  packages/frontend/editor-ui/src/features/collaboration/projects/projects.types.ts
  packages/frontend/editor-ui/src/features/collaboration/projects/views/ProjectSettings.vue
  packages/frontend/editor-ui/src/features/credentials/components/NodeCredentials.test.ts
  packages/frontend/editor-ui/src/features/credentials/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.test.ts
  packages/frontend/editor-ui/src/features/project-roles/ProjectRoleView.vue
  packages/frontend/editor-ui/src/features/project-roles/ProjectRolesView.test.ts
  packages/frontend/editor-ui/src/features/project-roles/ProjectRolesView.vue
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/roles.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/utils/typeGuards.ts
  packages/frontend/editor-ui/src/views/SettingsView.test.ts
  packages/frontend/editor-ui/src/views/SettingsView.vue
Due: biome_check, prettier_check

wip: fix lint issue
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
Due: biome_check

fix(Qdrant Vector Store Node): Add support for custom content and metadata keys (#20873)
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/VectorStoreQdrant.node.test.ts
  packages/@n8n/nodes-langchain/nodes/vector_store/VectorStoreQdrant/VectorStoreQdrant.node.ts
Due: biome_check

chore: Don't show chat suggestions for now (#20994)
  packages/frontend/editor-ui/src/features/ai/chatHub/ChatView.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/chat.types.ts
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatStarter.vue
  packages/frontend/editor-ui/src/features/ai/chatHub/constants.ts
Due: biome_check, prettier_check

feat(editor): Move chat link to the top (no-changelog)
  packages/frontend/editor-ui/src/components/MainSidebar.vue
Due: prettier_check

feat(core): Hide attachments button from chat (no-changelog)
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatPrompt.vue
Due: prettier_check

feat(core): Adjust chat page path (no-changelog)
  packages/frontend/editor-ui/src/features/ai/chatHub/module.descriptor.ts
Due: biome_check

fix(ai-builder): Accept empty expressionValues in builder request (#20993)
  packages/@n8n/api-types/src/dto/ai/__tests__/ai-build-request.dto.test.ts
  packages/@n8n/api-types/src/dto/ai/ai-build-request.dto.ts
Due: biome_check

chore: make eslint happy
  packages/frontend/editor-ui/src/features/ai/chatHub/components/ChatPrompt.vue
Due: prettier_check

fix(ai-builder): AI builder memory consumption issue (#20982)
  packages/@n8n/ai-workflow-builder.ee/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder.ee/src/test/ai-workflow-builder-agent.service.test.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/services/__tests__/ai-workflow-builder.service.test.ts
  packages/cli/src/services/ai-workflow-builder.service.ts
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/directory-loader.ts
Due: biome_check

fix test
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.test.ts
Due: biome_check

type sizes and cariants
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.types.ts
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.vue
Due: biome_check, prettier_check

:rocket: Release 1.117.0
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/benchmark/package.json
  packages/@n8n/codemirror-lang-sql/package.json
  packages/@n8n/config/package.json
  packages/@n8n/db/package.json
  packages/@n8n/decorators/package.json
  packages/@n8n/extension-sdk/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/permissions/package.json
  packages/@n8n/task-runner/package.json
  packages/@n8n/utils/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/extensions/insights/package.json
  packages/frontend/@n8n/chat/package.json
  packages/frontend/@n8n/composables/package.json
  packages/frontend/@n8n/design-system/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/helpers/constants.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/helpers/errorHandler.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/descriptions/workspace/Workspace.resource.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/descriptions/bundle/Bundle.resource.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/descriptions/index.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/AwsWorkSpaces.node.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/AwsWorkSpaces.node.json
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/WorkSpaces/workspaces.svg
Due: none

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/helpers/constants.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/helpers/errorHandler.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/descriptions/fleet/Fleet.resource.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/descriptions/stack/Stack.resource.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/descriptions/image/Image.resource.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/descriptions/index.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/AwsAppStream.node.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/AwsAppStream.node.json
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/AppStream/appstream.svg
Due: none

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/Chime/helpers/constants.ts
  packages/nodes-base/nodes/Aws/DeviceFarm/helpers/constants.ts
  packages/nodes-base/nodes/Aws/IoTAnalytics/helpers/constants.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/Chime/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/DeviceFarm/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/IoTAnalytics/helpers/errorHandler.ts
Due: biome_check
