Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

Add tests for updating rows with special characters
  packages/nodes-base/nodes/Google/Sheet/test/v2/node/update.test.ts
Due: biome_check

fix(cat-680): Fixing UI tests for larger viewport size
  cypress/e2e/12-canvas.cy.ts
  cypress/e2e/20-workflow-executions.cy.ts
  cypress/fixtures/Test-workflow-with-long-parameters.json
Due: none

fix: throw immediately when pair count exceeds the limit
  packages/editor-ui/src/utils/pairedItemUtils.ts
Due: biome_check

fix(editor): Move insights summary files
  packages/frontend/editor-ui/src/features/insights/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
Due: biome_check, prettier_check

🔨 Moving current folder id out of the store
  packages/editor-ui/src/stores/folders.store.ts
  packages/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

🔥 Removing old components file that got stuck while merging
  packages/editor-ui/src/components.d.ts
Due: biome_check

⚡Updating imports
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
Due: biome_check, prettier_check

fix(Odoo Node): Model and fields dynamic fetching errors (#13511)
  packages/nodes-base/nodes/Odoo/Odoo.node.ts
Due: biome_check

👕 Fix type import
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

test: CAT-680 Increase Cypress screen size for testing (no-changelog) (#13590)
  cypress/cypress.config.js
  cypress/e2e/12-canvas.cy.ts
  cypress/e2e/20-workflow-executions.cy.ts
  cypress/fixtures/Test-workflow-with-long-parameters.json
Due: none

feat(editor): Automatically tidy up workflows (#13471)
  cypress/composables/workflow.ts
  packages/frontend/@n8n/design-system/src/components/N8nKeyboardShortcut/N8nKeyboardShortcut.vue
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/__tests__/data/canvas.ts
  packages/frontend/editor-ui/src/components/TidyUpIcon.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasControlButtons.test.ts.snap
  packages/frontend/editor-ui/src/composables/__snapshots__/useCanvasLayout.test.ts.snap
  packages/frontend/editor-ui/src/composables/__snapshots__/useContextMenu.test.ts.snap
  packages/frontend/editor-ui/src/composables/useCanvasLayout.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasLayout.ts
  packages/frontend/editor-ui/src/composables/useContextMenu.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  pnpm-lock.yaml
Due: biome_check, prettier_check

feat(editor): Add functionality to create folders (#13473)
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/workflows.ts
  packages/frontend/editor-ui/src/components/DuplicateWorkflowDialog.vue
  packages/frontend/editor-ui/src/components/Folders/FolderBreadcrumbs.vue
  packages/frontend/editor-ui/src/components/Folders/FolderCard.test.ts
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.test.ts
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/plugins/icons/index.ts
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/frontend/editor-ui/src/views/ProjectSettings.test.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

fix(editor): Add time saved empty state
  packages/frontend/editor-ui/src/features/insights/InsightsSummary.vue
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

Sanitize HTML for formNode
  packages/nodes-base/nodes/Form/formNodeUtils.ts
  packages/nodes-base/nodes/Form/test/formNodeUtils.test.ts
Due: biome_check

feat: add Facebook page messages to FacebookTrigger
  packages/nodes-base/nodes/Facebook/GenericFunctions.ts
Due: biome_check

tmp
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/components/CanvasChat/components/ChatLogsPanel.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/main.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/views/WorkflowLogsView.vue
  pnpm-lock.yaml
Due: biome_check, prettier_check

test: add FacebookTrigger tests
  packages/nodes-base/nodes/Facebook/FacebookTrigger.node.test.ts
  packages/nodes-base/test/nodes/TriggerHelpers.ts
Due: biome_check

feat(editor): Add functionality to delete and rename folders (no-changelog)
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/api/workflows.ts
  packages/frontend/editor-ui/src/components/Folders/DeleteFolderModal.vue
  packages/frontend/editor-ui/src/components/Folders/FolderCard.vue
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/stores/folders.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

feat(ChainLLM): Add support for multiple binary fields and URLs for image inputs
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
Due: biome_check

add node perplexity
  packages/nodes-base/credentials/PerplexityApi.credentials.ts
  packages/nodes-base/nodes/Perplexity/ChatCompletionsDescription.ts
  packages/nodes-base/nodes/Perplexity/GenericFunctions.ts
  packages/nodes-base/nodes/Perplexity/Perplexity.node.json
  packages/nodes-base/nodes/Perplexity/Perplexity.node.ts
  packages/nodes-base/nodes/Perplexity/perplexity.svg
  packages/nodes-base/package.json
Due: biome_check

Do not validate email when LDAP is enabled
  packages/@n8n/api-types/src/dto/auth/__tests__/login-request.dto.test.ts
  packages/@n8n/api-types/src/dto/auth/login-request.dto.ts
  packages/cli/src/controllers/__tests__/auth.controller.test.ts
  packages/cli/src/controllers/auth.controller.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/frontend/editor-ui/src/api/users.ts
  packages/frontend/editor-ui/src/stores/users.store.ts
  packages/frontend/editor-ui/src/views/AuthView.vue
  packages/frontend/editor-ui/src/views/SigninView.vue
Due: biome_check, prettier_check

fix tests
  packages/@n8n/api-types/src/dto/auth/login-request.dto.ts
  packages/cli/test/integration/auth.api.test.ts
  packages/cli/test/integration/ldap/ldap.api.test.ts
  packages/cli/test/integration/mfa/mfa.api.test.ts
Due: biome_check

update more tests
  packages/@n8n/api-types/src/dto/auth/__tests__/login-request.dto.test.ts
  packages/@n8n/api-types/src/dto/auth/login-request.dto.ts
Due: biome_check

update name in FE tets
  packages/frontend/editor-ui/src/views/SigninView.test.ts
Due: biome_check

feat(SpreadsheetFile): add relax quote option
  packages/nodes-base/nodes/SpreadsheetFile/description.ts
  packages/nodes-base/nodes/SpreadsheetFile/v2/fromFile.operation.ts
Due: biome_check

:art:
  packages/nodes-base/nodes/SpreadsheetFile/description.ts
Due: biome_check

Added missing option in operations
  packages/nodes-base/nodes/Files/ExtractFromFile/actions/spreadsheet.operation.ts
Due: biome_check

initial add sendVideoNote
  packages/nodes-base/nodes/Telegram/__schema__/v1.2.0/message/sendVideoNote.json
Due: biome_check
