Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

ci(benchmark): Add scenarios testing insights (#14227)
  packages/@n8n/benchmark/scripts/n8n-setups/postgres-with-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/postgres-with-insights/setup.mjs
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main-with-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main-with-insights/nginx.conf
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main-with-insights/setup.mjs
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-single-main-with-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-single-main-with-insights/setup.mjs
  packages/@n8n/benchmark/scripts/n8n-setups/sqlite-legacy-with-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/sqlite-legacy-with-insights/setup.mjs
  packages/@n8n/benchmark/scripts/n8n-setups/sqlite-with-insights/docker-compose.yml
  packages/@n8n/benchmark/scripts/n8n-setups/sqlite-with-insights/setup.mjs
Due: prettier_check

Add post tests
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/apiResponses.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/post.workflow.json
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/workflow.test.ts
  packages/nodes-base/test/nodes/FakeCredentialsMap.ts
Due: biome_check

Add other tests
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/apiResponses.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/page.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/page.workflow.json
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/page/workflow.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/post/post.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/user.test.ts
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/user.workflow.json
  packages/nodes-base/nodes/Wordpress/__tests__/workflow/user/workflow.test.ts
Due: biome_check

use variables for spacing in css and i18n labels
  packages/frontend/editor-ui/src/components/ApiKeyScopes.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

add test for the scopes in the `ApiKeyCreateOrEditModal` component
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/ApiKeyCreateOrEditModal.test.ts
  packages/frontend/editor-ui/src/components/ApiKeyScopes.vue
Due: biome_check, prettier_check

Fixed tests & lint issue
  packages/nodes-base/nodes/Aws/Cognito/AwsCognito.node.ts
  packages/nodes-base/nodes/Aws/Cognito/descriptions/user/getAll.operation.ts
  packages/nodes-base/nodes/Aws/Cognito/test/group/create.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/group/delete.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/group/get.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/group/get.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/group/getAll.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/group/getAll.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/group/update.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/addToGroup.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/addToGroup.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/user/create.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/create.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/user/delete.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/get.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/get.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/user/getAll.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/getAll.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/user/removeFromGroup.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/update.test.ts
  packages/nodes-base/nodes/Aws/Cognito/test/user/update.workflow.json
  packages/nodes-base/nodes/Aws/Cognito/test/userPool/get.test.ts
Due: biome_check

format
  packages/nodes-base/nodes/Github/Github.node.ts
Due: biome_check

test(editor): Fix showing project badge or breadcrumbs
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Due: prettier_check

fix(API): Summarize insights from current datetime instead of beginning of the day (#14186)
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
Due: biome_check

use svg icon
  packages/nodes-base/nodes/Google/GSuiteAdmin/GSuiteAdmin.node.ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/gSuiteAdmin.svg
  packages/nodes-base/nodes/Google/GSuiteAdmin/google-workspace-admin.png
Due: biome_check

Add metadata cache to avoid 2 sql queries (upsert / select) if metadata has already been fetched
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check

fix(editor): Fix showing project badge or breadcrumbs
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Due: prettier_check

feat: improve canvas node insertion position
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/composables/useClipboard.ts
  packages/frontend/editor-ui/src/types/canvas.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

use title case
  packages/nodes-base/nodes/Google/GSuiteAdmin/UserDescription.ts
Due: biome_check

fix(editor): Fix partial chat trigger executions
  cypress/composables/workflow.ts
  cypress/e2e/812-AI-partial-execs-broken-when-using-chat-trigger.cy.ts
  cypress/fixtures/Test_chat_partial_execution.json
  packages/cli/src/manual-execution.service.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.test.ts
  packages/frontend/editor-ui/src/composables/useRunWorkflow.ts
Due: biome_check

move test to common file
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/GenericFunctions.test..ts
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/GoogleApiRequest.test.ts
Due: biome_check

Fix formatting
  cypress/e2e/812-AI-partial-execs-broken-when-using-chat-trigger.cy.ts
Due: none

fix(editor): Add link to badge
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
Due: prettier_check

fix(editor): Remove space between value and unit in chart tooltip
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartAverageRuntime.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailureRate.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTimeSaved.vue
Due: prettier_check

Add working version
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/src/nodes-loader/constants.ts
  packages/core/src/nodes-loader/directory-loader.ts
  packages/core/src/utils/optimize-response.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeParameters/CommonToolParameters.ts
  packages/workflow/src/VersionedNodeType.ts
  packages/workflow/src/index.ts
Due: biome_check

feat(editor): Add breadcrumbs to project card badges (no-changelog)
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/frontend/editor-ui/src/components/WorkflowCard.vue
Due: prettier_check

feat(core): Explicitly warn if tool passed binary data to Agent (#14071)
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/get-input-connection-data.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts
Due: biome_check

add manual trigger and remove unused meta for test workflows
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/device/changeStatus.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/device/get.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/device/getAll.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/device/update.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/group/create.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/group/delete.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/group/get.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/group/getAll.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/group/update.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/addToGroup.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/create.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/delete.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/get.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/getAll.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/removeFromGroup.workflow.json
  packages/nodes-base/nodes/Google/GSuiteAdmin/test/user/update.workflow.json
Due: biome_check

⚡Splitting tooltips
  packages/frontend/@n8n/design-system/src/components/N8nBadge/Badge.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectCardBadge.vue
Due: prettier_check

🐛 Fixing breadcrumbs item discovery
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/BreadCrumbs.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
Due: biome_check, prettier_check

test: adding composable for credential page loading (#14217)
  .github/workflows/e2e-reusable.yml
  cypress/composables/credentialsComposables.ts
  cypress/e2e/17-sharing.cy.ts
Due: none

Put the changes behinde a minor version
  packages/nodes-base/nodes/Pipedrive/PipedriveTrigger.node.ts
Due: biome_check

Fix Summarize node type conversion
  packages/nodes-base/nodes/Transform/Summarize/Summarize.node.ts
  packages/nodes-base/nodes/Transform/Summarize/test/unitTests/__snapshots__/splitData.test.ts.snap
  packages/nodes-base/nodes/Transform/Summarize/test/unitTests/splitData.test.ts
  packages/nodes-base/nodes/Transform/Summarize/utils.ts
Due: biome_check

self review
  packages/cli/src/load-nodes-and-credentials.ts
  packages/core/src/nodes-loader/directory-loader.ts
  packages/core/src/utils/optimize-response.ts
  packages/nodes-base/nodes/Telegram/Telegram.node.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/VersionedNodeType.ts
  packages/workflow/src/index.ts
Due: biome_check
