Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

Readd branching
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
Due: prettier_check

add css class
  packages/editor-ui/src/components/RunInfo.vue
Due: prettier_check

update snapshot
  packages/design-system/src/components/N8nInfoTip/__tests__/__snapshots__/InfoTip.spec.ts.snap
Due: none

swap icons
  packages/editor-ui/src/components/RunInfo.vue
Due: prettier_check

update e2e tests
  cypress/e2e/40-manual-partial-execution.cy.ts
  cypress/e2e/5-ndv.cy.ts
  cypress/pages/ndv.ts
Due: none

fix: split code node test
  cypress/e2e/6-code-node.cy.ts
Due: none

fix: bug
  packages/editor-ui/src/components/RunData.vue
Due: prettier_check

fix: JS Task Runner not having access to Buffer (no-changelog)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

feat(n8n Google My Business Node): New node (#10504)
  packages/nodes-base/credentials/GoogleMyBusinessOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Google/MyBusiness/GenericFunctions.ts
  packages/nodes-base/nodes/Google/MyBusiness/GoogleMyBusiness.node.json
  packages/nodes-base/nodes/Google/MyBusiness/GoogleMyBusiness.node.ts
  packages/nodes-base/nodes/Google/MyBusiness/GoogleMyBusinessTrigger.node.json
  packages/nodes-base/nodes/Google/MyBusiness/GoogleMyBusinessTrigger.node.ts
  packages/nodes-base/nodes/Google/MyBusiness/Interfaces.ts
  packages/nodes-base/nodes/Google/MyBusiness/PostDescription.ts
  packages/nodes-base/nodes/Google/MyBusiness/ReviewDescription.ts
  packages/nodes-base/nodes/Google/MyBusiness/googleMyBusines.svg
  packages/nodes-base/nodes/Google/MyBusiness/test/AddUpdateMask.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/GoogleApiRequest.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/HandleDatesPresend.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/HandlePagination.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/SearchAccounts.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/SearchLocations.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/SearchPosts.test.ts
  packages/nodes-base/nodes/Google/MyBusiness/test/SearchReviews.test.ts
  packages/nodes-base/package.json
Due: biome_check

refactor(core): Make orchestration service smaller (#11275)
  packages/cli/src/__tests__/wait-tracker.test.ts
  packages/cli/src/active-workflow-manager.ts
  packages/cli/src/controllers/orchestration.controller.ts
  packages/cli/src/eventbus/message-event-bus/message-event-bus.ts
  packages/cli/src/external-secrets/__tests__/external-secrets-manager.ee.test.ts
  packages/cli/src/external-secrets/external-secrets-manager.ee.ts
  packages/cli/src/push/__tests__/index.test.ts
  packages/cli/src/push/index.ts
  packages/cli/src/requests.ts
  packages/cli/src/services/__tests__/orchestration.service.test.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/services/orchestration.service.ts
  packages/cli/src/webhooks/__tests__/test-webhooks.test.ts
  packages/cli/src/webhooks/test-webhooks.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/collaboration/collaboration.service.test.ts
  packages/cli/test/integration/eventbus.ee.test.ts
  packages/cli/test/integration/external-secrets/external-secrets.api.test.ts
  packages/cli/test/integration/shared/utils/index.ts
Due: biome_check

chore: Upgrade nodelinter to 1.16.3
  packages/nodes-base/.eslintrc.js
  packages/nodes-base/nodes/Code/JsCodeValidator.ts
  packages/nodes-base/nodes/DebugHelper/DebugHelper.node.ts
  packages/nodes-base/nodes/EmailReadImap/v2/EmailReadImapV2.node.ts
  packages/nodes-base/nodes/Google/Sheet/v2/actions/sheet/append.operation.ts
  packages/nodes-base/nodes/InvoiceNinja/InvoiceNinja.node.ts
  packages/nodes-base/nodes/Kafka/Kafka.node.ts
  packages/nodes-base/nodes/MongoDb/MongoDb.node.ts
  packages/nodes-base/nodes/Postgres/PostgresTrigger.node.ts
  packages/nodes-base/nodes/Transform/RemoveDuplicates/v1/RemoveDuplicatesV1.node.ts
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: biome_check

Undo unrelated change
  packages/nodes-base/.eslintrc.js
Due: biome_check

fix: JS Task Runner not having access to Buffer (no-changelog) (#11285)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
Due: biome_check

Update Pushover.node.ts
  packages/nodes-base/nodes/Pushover/Pushover.node.ts
Due: biome_check

refactor: Remove VM disk benchmark
  packages/@n8n/benchmark/scripts/run-in-cloud.mjs
  packages/@n8n/benchmark/scripts/vm-benchmark.sh
Due: none

refactor: Log if invalid response is received in benchmarks
  packages/@n8n/benchmark/scenarios/binary-data/binary-data.script.js
  packages/@n8n/benchmark/scenarios/http-node/http-node.script.js
  packages/@n8n/benchmark/scenarios/js-code-node/js-code-node.script.js
  packages/@n8n/benchmark/scenarios/set-node-expressions/set-node-expressions.script.js
  packages/@n8n/benchmark/scenarios/single-webhook/single-webhook.script.js
Due: biome_check

refactor: Log nginx errors to stderr
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main/nginx.conf
Due: none

do not catch the error when attempting to send confirmation email
  packages/editor-ui/src/views/SettingsPersonalView.vue
Due: prettier_check

do not check jwt signature
  packages/cli/src/services/__tests__/public-api-key.service.test.ts
  packages/cli/src/services/public-api-key.service.ts
  packages/cli/test/integration/shared/db/users.ts
Due: biome_check

make `redactApiKey` optional parameters constants
  packages/cli/src/services/public-api-key.service.ts
Due: biome_check

fix(Pinecone Vector Store): Prevent populating of vectors after manually stopping the execution
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode.ts
Due: biome_check

WIP: Implement disabledOptions
  packages/@n8n/nodes-langchain/nodes/chains/ChainLLM/ChainLlm.node.ts
  packages/editor-ui/src/components/ParameterInputList.vue
  packages/editor-ui/src/composables/useNodeHelpers.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
Due: biome_check, prettier_check

fix(editor): Add Personal project to main navigation (#11161)
  packages/design-system/src/components/N8nMenuItem/MenuItem.vue
  packages/editor-ui/src/components/Projects/ProjectNavigation.test.ts
  packages/editor-ui/src/components/Projects/ProjectNavigation.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/plugins/icons/index.ts
  packages/editor-ui/src/stores/projects.store.ts
Due: biome_check, prettier_check

update tooltip
  packages/editor-ui/src/components/Projects/ProjectCardBadge.vue
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

chore(core): Bring multi-main setup in line with scaling services
  packages/@n8n/config/src/configs/multi-main-setup.config.ts
  packages/@n8n/config/src/index.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/__tests__/license.test.ts
  packages/cli/src/__tests__/wait-tracker.test.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/webhook.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/license.ts
  packages/cli/src/scaling/multi-main-setup.ee.ts
  packages/cli/src/services/orchestration.service.ts
  packages/cli/src/services/pruning.service.ts
  packages/cli/test/integration/debug.controller.test.ts
  packages/cli/test/integration/pruning.service.test.ts
Due: biome_check

Typo
  packages/cli/src/scaling/multi-main-setup.ee.ts
Due: biome_check

chore: Pin nginx image version
  packages/@n8n/benchmark/scripts/n8n-setups/scaling-multi-main/docker-compose.yml
Due: prettier_check

fix(Pinecone Vector Store Node): Prevent populating of vectors after manually stopping the execution (#11288)
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
