Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

update
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/design-system/src/types/tabs.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeUpdateInfo.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
  packages/frontend/editor-ui/src/stores/communityNodes.store.ts
Due: biome_check, prettier_check

add support of other markdown syntax
  packages/frontend/editor-ui/src/components/RunDataParsedAiContent.test.ts
  packages/frontend/editor-ui/src/components/RunDataParsedAiContent.vue
Due: biome_check, prettier_check

update snapshot
  packages/frontend/editor-ui/src/components/__snapshots__/VirtualSchema.test.ts.snap
Due: none

fix: add spacing at the bottom of the table
  packages/frontend/editor-ui/src/views/SettingsUsersView.vue
Due: prettier_check

Fix disabledOptions
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

lint
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

💄 Copy icon update
  packages/frontend/editor-ui/src/views/SettingsMCPView.vue
Due: prettier_check

Add test cases for backtrack logic
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/backtracking.test.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/backtracking.ts
Due: biome_check

refactor(editor): Remove unnecessary push of evaluation tab in MainHeader
  packages/frontend/editor-ui/src/components/MainHeader/MainHeader.vue
Due: prettier_check

Move backtracking to utils folder
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/utils/workflow-backtracking.test.ts
  packages/nodes-base/utils/workflow-backtracking.ts
Due: biome_check

Filter out hidden node types
  packages/@n8n/ai-workflow-builder/src/ai-workflow-builder-agent.service.ts
  packages/@n8n/ai-workflow-builder/src/chains/validator.ts
Due: biome_check

feat(editor): Close focus panel when necessary (no-changelog) (#17114)
  packages/frontend/editor-ui/src/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
  packages/frontend/editor-ui/src/stores/focusPanel.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

fix(Perplexity Node): Allow for penalties below 1 (#17074)
  packages/nodes-base/nodes/Perplexity/descriptions/chat/complete.operation.ts
Due: biome_check

Hide parameter options and disable execute button for non-displayed props
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

tmp
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/ParameterInputFull.vue
  packages/frontend/editor-ui/src/components/ParameterInputList.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
Due: biome_check, prettier_check

Update packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: prettier_check

only search when filter provided
  packages/nodes-base/nodes/Github/SearchFunctions.ts
Due: biome_check

reduce unnecessary call of useVueFlow
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
Due: biome_check

Revert "add tests"
  packages/nodes-base/nodes/Github/__tests__/SearchFunctions.test.ts
Due: biome_check

Disable AskAi tab in focus panel
  packages/frontend/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

remove debugger;
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

document max value for pr
  packages/nodes-base/nodes/Github/Github.node.ts
Due: biome_check

cover undefined case better
  packages/frontend/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
Due: prettier_check

add tooltip to canvas controls
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
Due: biome_check, prettier_check

hide focus button from canvas toolbar when node is already expanded
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
Due: prettier_check

adjust font size for collapsed nodes
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: prettier_check

Update Code node to support Python in task runners
  packages/nodes-base/nodes/Code/Code.node.ts
  packages/nodes-base/nodes/Code/CodeTaskRunnerSandbox.ts
  packages/nodes-base/nodes/Code/test/CodeTaskRunnerSandbox.test.ts
Due: biome_check

Fix more completions for focusPanel
  packages/frontend/editor-ui/src/plugins/codemirror/completions/dollar.completions.ts
  packages/frontend/editor-ui/src/plugins/codemirror/typescript/client/completions.ts
Due: biome_check

disable eslint for documentation
  packages/nodes-base/nodes/Github/Github.node.ts
Due: biome_check

Get parameterOptions
  packages/frontend/editor-ui/src/components/FocusPanel.vue
Due: prettier_check

fix(Execute Sub-workflow Node): Improve paired item handling for child workflows (#17065)
  packages/cli/src/workflow-execute-additional-data.ts
  packages/core/src/execution-engine/node-execution-context/base-execute-context.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/nodes-base/utils/workflow-backtracking.test.ts
  packages/nodes-base/utils/workflow-backtracking.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

Add streaming parameter to template
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/templates.ts
Due: biome_check

Move sandboxing function to core
  packages/core/src/html-sandbox.ts
  packages/core/src/index.ts
  packages/nodes-base/nodes/RespondToWebhook/RespondToWebhook.node.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/binary.ts
  packages/nodes-base/nodes/RespondToWebhook/utils/sandbox.ts
Due: biome_check

Hide invite URL in users list if not an admin
  packages/cli/src/controllers/users.controller.ts
  packages/cli/test/integration/users.api.test.ts
Due: biome_check
