Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

fix(auth): Correct redirect URL handling in authenticated middleware to respect basePath
  packages/frontend/editor-ui/src/utils/rbac/middleware/authenticated.ts
Due: biome_check

refactor(auth): Update skipBrowserIdCheckEndpoints to include basePath for dynamic endpoint handling
  packages/cli/src/auth/auth.service.ts
Due: biome_check

fix(auth): Restore authentication middleware for protected type files in server
  packages/cli/src/server.ts
Due: biome_check

fix(auth): Improve pathname normalization in authenticated middleware to handle basePath correctly
  packages/frontend/editor-ui/src/utils/rbac/middleware/authenticated.ts
Due: biome_check

fix(auth): Enhance redirect URL handling in authenticated middleware to correctly process basePath
  packages/frontend/editor-ui/src/utils/rbac/middleware/authenticated.ts
Due: biome_check

fix(server): Enhance file serving logic to correctly handle relative paths with basePath
  packages/cli/src/server.ts
Due: biome_check

fix(server): Adjust file serving to ensure correct path handling with basePath
  packages/cli/src/server.ts
Due: biome_check

fix(editor-ui): Update icon paths in NodeCreator and sanitizeHtml to use dynamic basePath
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/utils/htmlUtils.ts
Due: biome_check

fix(editor-ui): Update icon in NodeCreator to use new form-grey.svg path
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
Due: biome_check

fix(chat-trigger): Add instanceBaseUrl to createPage function for dynamic URL handling
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/ChatTrigger.node.ts
  packages/@n8n/nodes-langchain/nodes/trigger/ChatTrigger/templates.ts
Due: biome_check

Update styling
  packages/frontend/@n8n/chat/src/components/Input.vue
  packages/frontend/@n8n/chat/src/components/MessageActions.vue
  packages/frontend/editor-ui/src/features/logs/components/ChatMessagesPanel.vue
Due: prettier_check

AI Feedback
  packages/frontend/editor-ui/src/features/logStreaming.ee/components/EventDestinationSettingsModal.vue
Due: prettier_check

Fix failing unit tests
  packages/frontend/editor-ui/src/composables/commandBar/useCredentialNavigationCommands.test.ts
  packages/frontend/editor-ui/src/composables/commandBar/useDataTableNavigationCommands.test.ts
  packages/frontend/editor-ui/src/composables/commandBar/useNodeCommands.test.ts
  packages/frontend/editor-ui/src/composables/commandBar/useWorkflowCommands.test.ts
  packages/frontend/editor-ui/src/composables/commandBar/useWorkflowNavigationCommands.test.ts
Due: biome_check

lint
  packages/frontend/editor-ui/src/features/logStreaming.ee/components/EventDestinationSettingsModal.vue
Due: prettier_check

Address comments
  packages/frontend/editor-ui/src/features/assistant/composables/useAIAssistantHelpers.ts
Due: biome_check

👌 Move mocks and requirements to fixtures file
  packages/testing/playwright/config/ai-assistant-fixtures.ts
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
Due: biome_check

Add migration
  packages/@n8n/db/src/migrations/common/1759399811000-ChangeValueTypesForInsights.ts
  packages/@n8n/db/src/migrations/dsl/column.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/modules/insights/__tests__/insights-bigint-migration.integration.test.ts
  packages/cli/src/modules/insights/database/entities/insights-by-period.ts
  packages/cli/src/modules/insights/database/entities/insights-raw.ts
Due: biome_check

Addressed review
  packages/@n8n/backend-test-utils/src/migration-test-helpers.ts
Due: biome_check

Migration test foundation
  packages/@n8n/backend-test-utils/MIGRATION_TESTING.md
  packages/@n8n/backend-test-utils/src/index.ts
  packages/@n8n/backend-test-utils/src/migration-test-helpers.ts
  packages/@n8n/db/src/migrations/common/1759399811000-ChangeValueTypesForInsights.ts
  packages/@n8n/db/src/migrations/migration-helpers.ts
  packages/cli/src/modules/insights/__tests__/insights-by-period-migration.test.ts
  packages/cli/src/modules/insights/__tests__/insights-raw-migration.test.ts
  packages/cli/src/modules/insights/__tests__/migration-test-setup.ts
  packages/cli/test/migration/migration-test-helpers.test.ts
Due: biome_check, prettier_check

Remove repo usages
  packages/cli/src/modules/insights/__tests__/insights-by-period-migration.test.ts
  packages/cli/src/modules/insights/__tests__/insights-raw-migration.test.ts
Due: biome_check

Small refactorings
  packages/@n8n/backend-test-utils/src/migration-test-helpers.ts
Due: biome_check

Removed repository access
  packages/@n8n/backend-test-utils/MIGRATION_TESTING.md
  packages/cli/src/modules/insights/__tests__/insights-by-period-migration.test.ts
  packages/cli/src/modules/insights/__tests__/insights-raw-migration.test.ts
Due: biome_check, prettier_check

Revert "chore: Upgrade `n8n-io/typeorm` to 0.3.20-13 (#20578)"
  packages/@n8n/nodes-langchain/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check

build: Add n8n packages to min relase age exclude
  pnpm-workspace.yaml
Due: none

update plugin to be more strict and clear based on current values
  packages/@n8n/stylelint-config/src/rules/css-var-naming.test.ts
  packages/@n8n/stylelint-config/src/rules/css-var-naming.ts
Due: biome_check

remove none as value
  packages/@n8n/stylelint-config/src/rules/css-var-naming.ts
Due: biome_check

update plugin to be more clear and strict
  packages/@n8n/stylelint-config/src/rules/css-var-naming.test.ts
  packages/@n8n/stylelint-config/src/rules/css-var-naming.ts
Due: biome_check

build: Add n8n packages to min relase age exclude (#20622)
  pnpm-workspace.yaml
Due: none

🔨 Move sendMessage to page actions, reorganize tests
  packages/testing/playwright/pages/AIAssistantPage.ts
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
Due: biome_check

🔥 Remove extra code
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
Due: biome_check

fix(ado-4265): indicating the warning size wont be undefined and tests fix
  packages/@n8n/config/src/configs/data-table.config.ts
  packages/@n8n/config/test/config.test.ts
Due: biome_check

fix(core): Return insights when only one day is selected (#20543)
  packages/cli/src/modules/insights/__tests__/insights.service.integration.test.ts
  packages/cli/src/modules/insights/database/repositories/__tests__/insights-by-period-query.helper.test.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period-query.helper.ts
  packages/cli/src/modules/insights/database/repositories/insights-by-period.repository.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/modules/insights/insights.service.ts
Due: biome_check

Remove fontawesome reference in test
  packages/frontend/@n8n/design-system/src/components/N8nIconPicker/IconPicker.test.ts
Due: biome_check

feat(core): Data Table - Improve sql utils (no-changelog) (#20551)
  packages/cli/src/modules/data-table/__tests__/data-table-filters.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/data-table.service.integration.test.ts
  packages/cli/src/modules/data-table/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-table/data-table-rows.repository.ts
  packages/cli/src/modules/data-table/data-table.service.ts
  packages/cli/src/modules/data-table/utils/sql-utils.ts
  packages/testing/playwright/tests/ui/data-table-details.spec.ts
  packages/workflow/src/data-table.types.ts
Due: biome_check

ci: Exclude n8n packages from minimum release age
  pnpm-workspace.yaml
Due: none

fix(ado-4265): setting warningThreshold back as optional
  packages/@n8n/config/src/configs/data-table.config.ts
Due: biome_check

fix(core): remove .json extension requirement from URL validation
  packages/@n8n/api-types/src/dto/workflows/__tests__/import-workflow-from-url.dto.test.ts
  packages/@n8n/api-types/src/dto/workflows/import-workflow-from-url.dto.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
