Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

test: Allow runner tests to exit cleanly (#12127)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/task-runner.test.ts
Due: biome_check

fix(editor): Fix canvas panning using `Control` + `Left Mouse Button` on Windows (#12104)
  packages/editor-ui/package.json
  packages/editor-ui/src/components/canvas/Canvas.vue
  pnpm-lock.yaml
Due: biome_check, prettier_check

chore(core): Upgrade backend @sentry packages to 8.42.0 (#12061)
  packages/@n8n/task-runner/package.json
  packages/@n8n/task-runner/src/error-reporter.ts
  packages/cli/package.json
  packages/cli/src/__tests__/error-reporting.test.ts
  packages/cli/src/abstract-server.ts
  packages/cli/src/error-reporting.ts
  packages/cli/src/eventbus/message-event-bus-destination/message-event-bus-destination-sentry.ee.ts
  packages/cli/src/runners/task-runner-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome_check

chore: import order
  cypress/pages/workflow.ts
Due: none

build: Fix broken lock file
  pnpm-lock.yaml
Due: none

✅ Adding unit tests
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

👌 Addressing code review feedback
  packages/core/src/WorkflowExecute.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

ci: Fix broken lock file (no-changelog)
  pnpm-lock.yaml
Due: none

👕 Updating type import
  packages/workflow/test/NodeHelpers.test.ts
Due: biome_check

fix(core): Make sure task runner exits (#12123)
  packages/@n8n/task-runner/src/start.ts
Due: biome_check

feat(Kafka Node): Overhaul Kafka and KafkaTrigger nodes
  packages/nodes-base/nodes/Kafka/GenericFunctions.ts
  packages/nodes-base/nodes/Kafka/Kafka.node.ts
  packages/nodes-base/nodes/Kafka/KafkaTrigger.node.ts
  packages/nodes-base/nodes/Kafka/types.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/Workflow.ts
Due: biome_check

feat(core): Cancel runner task on timeout in external mode (#12101)
  docker/images/n8n/n8n-task-runners.json
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/task-runner/src/config/base-runner-config.ts
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/task-cancelled-error.ts
  packages/@n8n/task-runner/src/js-task-runner/errors/timeout-error.ts
  packages/@n8n/task-runner/src/js-task-runner/js-task-runner.ts
  packages/@n8n/task-runner/src/task-runner.ts
  packages/cli/src/runners/__tests__/task-broker.test.ts
  packages/cli/src/runners/errors/task-runner-timeout.error.ts
  packages/cli/src/runners/task-broker.service.ts
Due: biome_check

:rocket: Release 1.70.4
  CHANGELOG.md
  package.json
  packages/@n8n/config/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/nodes-base/package.json
Due: biome_check

fix query mode
  packages/@n8n/nodes-langchain/nodes/vector_store/shared/createVectorStoreNode.ts
Due: biome_check

fix(editor): Fix svg background pattern rendering on safari (#12079)
  packages/editor-ui/src/components/canvas/Canvas.test.ts
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/components/canvas/elements/CanvasBackgroundStripedPattern.vue
Due: biome_check, prettier_check

:rocket: Release 1.71.2
  CHANGELOG.md
  package.json
  packages/@n8n/config/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/editor-ui/package.json
  packages/nodes-base/package.json
Due: biome_check

Add drag'n'drop in all code node modes, improve styling
  packages/editor-ui/src/components/CodeNodeEditor/CodeNodeEditor.vue
  packages/editor-ui/src/components/CodeNodeEditor/theme.ts
  packages/editor-ui/src/composables/useCodeEditor.ts
  packages/editor-ui/src/plugins/codemirror/format.ts
  packages/editor-ui/src/plugins/codemirror/lsp/types.ts
  packages/editor-ui/src/plugins/codemirror/lsp/typescript.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/typescript.worker.ts
  packages/editor-ui/src/plugins/codemirror/lsp/worker/utils.ts
  packages/editor-ui/src/styles/plugins/_codemirror.scss
Due: biome_check, prettier_check

chore: Save the number of successful, failed and total executions for a test run
  packages/cli/src/databases/entities/test-run.ee.ts
  packages/cli/src/databases/migrations/common/1733494526213-AddStatsColumnsToTestRun.ts
  packages/cli/src/databases/migrations/mysqldb/index.ts
  packages/cli/src/databases/migrations/postgresdb/index.ts
  packages/cli/src/databases/migrations/sqlite/index.ts
  packages/cli/src/databases/repositories/test-run.repository.ee.ts
  packages/cli/src/evaluation/test-runner/test-runner.service.ee.ts
Due: biome_check

fix(core): Adapt manual executions in workers to new partial executions flow
  packages/cli/src/scaling/__tests__/job-processor.service.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/workflow-runner.ts
  packages/cli/src/workflows/workflow-execution.service.ts
Due: biome_check

fix(editor): Prepare e2e suite for inline-expression-editor for new canvas (no-changelog) (#12110)
  cypress/e2e/11-inline-expression-editor.cy.ts
  cypress/e2e/13-pinning.cy.ts
  cypress/pages/workflow.ts
  cypress/types.ts
Due: none

update messages
  packages/editor-ui/src/composables/useGlobalEntityCreation.ts
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check

ci: Skip publish to npm if it already exists
  .github/workflows/release-publish.yml
Due: none

upgrade label
  packages/editor-ui/src/components/MainSidebar.vue
Due: prettier_check

fix(core): Fix supportedNodes for non-lazy loaded community packages (no-changelog) (#11329)
  packages/@n8n/nodes-langchain/package.json
  packages/cli/src/__tests__/credential-types.test.ts
  packages/cli/src/__tests__/credentials-helper.test.ts
  packages/cli/src/__tests__/node-types.test.ts
  packages/cli/src/credential-types.ts
  packages/cli/src/databases/repositories/installed-packages.repository.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/cli/src/node-types.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/public-api/workflows.test.ts
  packages/cli/test/integration/shared/utils/community-nodes.ts
  packages/cli/test/integration/shared/utils/index.ts
  packages/core/bin/generate-known
  packages/core/bin/generate-metadata
  packages/core/package.json
  packages/core/src/DirectoryLoader.ts
  packages/core/src/errors/index.ts
  packages/core/src/errors/unrecognized-credential-type.error.ts
  packages/core/src/errors/unrecognized-node-type.error.ts
  packages/core/src/index.ts
  packages/core/test/ClassLoader.test.ts
  packages/core/test/DirectoryLoader.test.ts
  packages/core/test/helpers/index.ts
  packages/nodes-base/package.json
  packages/nodes-base/scripts/validate-load-options-methods.js
  packages/nodes-base/test/nodes/Helpers.ts
  packages/workflow/src/Interfaces.ts
  packages/workflow/src/NodeHelpers.ts
Due: biome_check
