Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

chore(editor): Clean up feature flag for trigger button variant (#13411)
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/CanvasNodeDefault.vue
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/__snapshots__/CanvasNodeDefault.test.ts.snap
  packages/editor-ui/src/components/canvas/elements/nodes/render-types/parts/CanvasNodeTrigger.vue
  packages/editor-ui/src/constants.ts
Due: biome_check, prettier_check

👌 Deduplicating folder types
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/utils/typeGuards.ts
  packages/editor-ui/src/views/WorkflowsView.test.ts
  packages/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

fix: updating note and display-note option should not change dirtiness
  packages/editor-ui/src/composables/useNodeDirtiness.test.ts
  packages/editor-ui/src/stores/workflows.store.ts
Due: biome_check

👕 Fix type import
  packages/editor-ui/src/Interface.ts
Due: biome_check

💄 Updating invalid folder name label
  packages/editor-ui/src/plugins/i18n/locales/en.json
  packages/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

Fix indentation
  cypress/e2e/48-subworkflow-inputs.cy.ts
Due: none

remove commented out code
  packages/nodes-base/nodes/Microsoft/Storage/descriptions/BlobDescription.ts
Due: biome_check

refactor: block arrow
  packages/editor-ui/src/components/TestDefinition/EditDefinition/BlockArrow.vue
Due: prettier_check

feat: expose prop
  packages/design-system/src/components/N8nInfoTip/InfoTip.vue
Due: prettier_check

fix: Prevent flicker during paginated workflow navigation (#13348)
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

refactor: replace ad-hoc tooltip with N8nTooltip
  packages/editor-ui/src/components/TestDefinition/EditDefinition/EvaluationStep.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/sections/ConfigSection.vue
Due: prettier_check

copy changes
  packages/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check

styling
  packages/editor-ui/src/components/TestDefinition/EditDefinition/MetricsInput.vue
  packages/editor-ui/src/views/TestDefinition/TestDefinitionEditView.vue
Due: prettier_check

fix: description size
  packages/editor-ui/src/views/TestDefinition/TestDefinitionEditView.vue
Due: prettier_check

feat(Linear Node): Add options to add a link and a comment to an issue
  packages/nodes-base/nodes/Linear/IssueDescription.ts
  packages/nodes-base/nodes/Linear/Linear.node.ts
  packages/nodes-base/nodes/Linear/Queries.ts
Due: biome_check

fix: test
  packages/editor-ui/src/components/TestDefinition/tests/MetricsInput.test.ts
Due: biome_check

fix(editor): Pollyfilll `Array.prototype.toSorted`
  packages/editor-ui/package.json
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/polyfills.ts
  pnpm-lock.yaml
Due: biome_check, prettier_check

fix: class name to match already existing test
  packages/editor-ui/src/components/TestDefinition/EditDefinition/EvaluationStep.vue
Due: prettier_check

fix: fix nodes testing typecheck
  packages/@n8n/nodes-langchain/tsconfig.json
  packages/nodes-base/tsconfig.json
Due: biome_check

refactor: remove root tsconfig.json
  packages/@n8n/nodes-langchain/tsconfig.json
  packages/@n8n/typescript-config/tsconfig.common.json
  packages/nodes-base/tsconfig.json
  tsconfig.json
Due: biome_check

fix(editor): Make context menu Delete visible in E2E test
  cypress/e2e/10-undo-redo.cy.ts
  cypress/e2e/12-canvas.cy.ts
Due: none

Finish implementation
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
  packages/cli/src/load-nodes-and-credentials.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

fix: add back tsconfig
  tsconfig.json
Due: none

👌 Removing unused folder type
  packages/editor-ui/src/Interface.ts
  packages/editor-ui/src/components/layouts/ResourcesListLayout.vue
  packages/editor-ui/src/types/folders.types.ts
Due: biome_check, prettier_check

self review
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflowTrigger/ExecuteWorkflowTrigger.node.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

fix(editor): Polyfill `Array.prototype.toSorted` (no-chanhelog) (#13463)
  packages/editor-ui/package.json
  packages/editor-ui/src/App.vue
  packages/editor-ui/src/polyfills.ts
  pnpm-lock.yaml
Due: biome_check, prettier_check

fix statuses
  packages/editor-ui/src/components/TestDefinition/ListDefinition/TestItem.vue
Due: prettier_check

fix typing
  packages/cli/src/databases/repositories/folder.repository.ts
Due: biome_check

Adding Schema for - APITemplate.io > 1.0.0 > image > create
  packages/nodes-base/nodes/ApiTemplateIo/__schema__/v1.0.0/image/create.json
Due: biome_check

remove edit action + adjust container size
  packages/editor-ui/src/views/TestDefinition/TestDefinitionListView.vue
Due: prettier_check

add a test case for unfixed bug
  packages/editor-ui/src/composables/useNodeDirtiness.test.ts
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
