Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

fix type issues
  packages/frontend/editor-ui/src/components/VirtualSchemaHeader.test.ts
  packages/frontend/editor-ui/src/features/ndv/components/runData/RunData.test.ts
Due: biome_check

wip: fix tests and lint issues
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/agent-prompt.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/programmatic/evaluators/connections.test.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/types/test-result.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/evaluation-reporter.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/test/validate-workflow.tool.test.ts
  packages/@n8n/ai-workflow-builder.ee/src/tools/validate-workflow.tool.ts
  packages/@n8n/ai-workflow-builder.ee/test/test-utils.ts
Due: biome_check

feat: Trigger projects export and import on push and pull (#20459)
  packages/cli/src/environments.ee/source-control/__tests__/source-control-import.service.ee.test.ts
  packages/cli/src/environments.ee/source-control/__tests__/source-control-status.service.test.ts
  packages/cli/src/environments.ee/source-control/__tests__/source-control.service.test.ts
  packages/cli/src/environments.ee/source-control/source-control-import.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control-status.service.ee.ts
  packages/cli/src/environments.ee/source-control/source-control.service.ee.ts
  packages/cli/test/integration/environments/source-control.service.test.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectNavigation.vue
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPullModal.test.ts
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPullModal.vue
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPushModal.test.ts
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/components/SourceControlPushModal.vue
  packages/frontend/editor-ui/src/features/integrations/sourceControl.ee/sourceControl.utils.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: biome_check, prettier_check

address visual feedback
  packages/frontend/editor-ui/src/composables/useDataSchema.ts
  packages/frontend/editor-ui/src/features/ndv/components/runData/VirtualSchemaItem.vue
Due: biome_check, prettier_check

feat: Add dedicated MCP OAuth credentials
  packages/@n8n/nodes-langchain/credentials/McpOAuth2Api.credentials.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/types.ts
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/utils.ts
  packages/@n8n/nodes-langchain/package.json
  packages/cli/src/credentials-helper.ts
Due: biome_check

wip: refactoring
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/expressions.ts
  packages/@n8n/ai-workflow-builder.ee/evaluations/utils/is-tool.ts
  packages/@n8n/ai-workflow-builder.ee/src/validation/utils/expressions.test.ts
Due: biome_check

fix: Correct broken connection documentation link
  packages/frontend/editor-ui/src/components/InputPanel.vue
Due: prettier_check

test: Migrate sharing spec
  .github/workflows/e2e-reusable.yml
  cypress/e2e/group2/48-subworkflow-inputs.cy.ts
  cypress/e2e/group3/17-sharing.cy.ts
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/config/test-users.ts
  packages/testing/playwright/fixtures/Test_workflow_1.json
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/NodeDetailsViewPage.ts
  packages/testing/playwright/pages/WorkflowSharingModal.ts
  packages/testing/playwright/pages/components/CredentialModal.ts
  packages/testing/playwright/pages/components/ProjectTabsComponent.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/tests/ui/17-sharing.spec.ts
Due: biome_check

feat: give user access to projects based on external mapping
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
  packages/cli/src/modules/provisioning.ee/provisioning.service.ee.ts
Due: biome_check

verify that provided projectToRole map has correct structure
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
  packages/cli/src/modules/provisioning.ee/provisioning.service.ee.ts
Due: biome_check

Only run one query for all project IDs and role slugs respectively
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
  packages/cli/src/modules/provisioning.ee/provisioning.service.ee.ts
Due: biome_check

Only support roles of type:project
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
  packages/cli/src/modules/provisioning.ee/provisioning.service.ee.ts
Due: biome_check

fix test name
  packages/cli/src/modules/provisioning.ee/__tests__/provisioning.service.ee.test.ts
Due: biome_check

feat(editor): Implement EULA acceptance modal and integrate with license activation flow
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/@n8n/rest-api-client/src/api/usage.ts
  packages/frontend/@n8n/rest-api-client/src/utils.ts
  packages/frontend/editor-ui/src/features/settings/usage/components/EulaAcceptanceModal.vue
  packages/frontend/editor-ui/src/features/settings/usage/components/__tests__/EulaAcceptanceModal.test.ts
  packages/frontend/editor-ui/src/features/settings/usage/usage.store.ts
  packages/frontend/editor-ui/src/features/settings/usage/views/SettingsUsageAndPlan.vue
Due: biome_check, prettier_check

Revert "fix: Correct broken connection documentation link"
  packages/frontend/editor-ui/src/components/InputPanel.vue
Due: prettier_check

fix(InputPanel): Correct broken connection documentation link
  packages/frontend/editor-ui/src/features/ndv/components/panel/InputPanel.vue
Due: prettier_check

Remove old node
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/FakeLlmSingleton.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/LmFakeTesting.node.json
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/LmFakeTesting.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/N8nLlmTracingAdapter.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/SequentialFakeStreamingChatModel.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/FakeLlmSingleton.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/LmFakeTesting.node.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/SequentialFakeStreamingChatModel.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/types.ts
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

Add simplified version of fake llm node
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/LmFakeSimple.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/ResponseManager.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/SimpleFakeChatModel.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/test/N8nLlmTracing.integration.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/test/ResponseManager.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/test/SimpleFakeChatModel.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeSimple/types.ts
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

test: Add fakeLLM node for testing (no-changelog)
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/FakeLlmSingleton.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/LmFakeTesting.node.json
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/LmFakeTesting.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/N8nLlmTracingAdapter.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/SequentialFakeStreamingChatModel.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/FakeLlmSingleton.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/LmFakeTesting.node.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/SequentialFakeStreamingChatModel.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/types.ts
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

Add workflow tests
  packages/testing/playwright/tests/cli-workflows/workflows/268.json
  packages/testing/playwright/tests/cli-workflows/workflows/269.json
Due: biome_check

Remove test
  packages/@n8n/nodes-langchain/nodes/llms/LmFakeTesting/test/SequentialFakeStreamingChatModel.test.ts
Due: biome_check

fix(editor): Fix tool params schema for object and array fields (#20956)
  packages/frontend/editor-ui/src/components/ResourceMapper/MappingFields.vue
Due: prettier_check

ci: Upgrade Node.js base image to 22.21.0
  .github/workflows/docker-base-image.yml
  .github/workflows/docker-build-push.yml
  docker/images/n8n-base/Dockerfile
  docker/images/n8n/Dockerfile
  docker/images/runners/Dockerfile
  packages/@n8n/benchmark/Dockerfile
Due: none

Fix: LLM agent message formatting and empty content in tool calls
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/N8nLlmTracing.ts
  packages/@n8n/nodes-langchain/nodes/llms/N8nNonEstimatingTracing.ts
Due: biome_check

fix: Add HTTP-level content fix for NVIDIA API compatibility
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/LmChatOpenAi.node.ts
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/Neptune/AwsNeptune.node.ts
  packages/nodes-base/nodes/Aws/Neptune/neptune.svg
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/SnowballEdgeCompute/AwsSnowballEdgeCompute.node.json
  packages/nodes-base/nodes/Aws/SnowballEdgeCompute/snowballedgecompute.svg
  packages/nodes-base/nodes/Aws/WavelengthZones5G/AwsWavelengthZones5G.node.json
  packages/nodes-base/nodes/Aws/WavelengthZones5G/AwsWavelengthZones5G.node.ts
  packages/nodes-base/nodes/Aws/WavelengthZones5G/descriptions/index.ts
  packages/nodes-base/nodes/Aws/WavelengthZones5G/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/WavelengthZones5G/helpers/constants.ts
  packages/nodes-base/nodes/Aws/WavelengthZones5G/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/WavelengthZones5G/wavelengthzones5g.svg
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/AwsLambdaExtensionsAPI.node.json
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/AwsLambdaExtensionsAPI.node.ts
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/descriptions/index.ts
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/helpers/constants.ts
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/LambdaExtensionsAPI/lambdaextensionsapi.svg
  packages/nodes-base/nodes/Aws/LambdaFunctionURLs/lambdafunctionurls.svg
Due: biome_check

Auto-commit: Agent tool execution
  packages/nodes-base/nodes/Aws/GreengrassV2Components/AwsGreengrassV2Components.node.json
  packages/nodes-base/nodes/Aws/GreengrassV2Components/AwsGreengrassV2Components.node.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Components/descriptions/index.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Components/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Components/greengrassv2components.svg
  packages/nodes-base/nodes/Aws/GreengrassV2Components/helpers/constants.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Components/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/AwsGreengrassV2CoreDevices.node.json
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/AwsGreengrassV2CoreDevices.node.ts
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/descriptions/index.ts
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/greengrassv2coredevices.svg
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/helpers/constants.ts
  packages/nodes-base/nodes/Aws/GreengrassV2CoreDevices/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/AwsGreengrassV2Deployments.node.json
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/AwsGreengrassV2Deployments.node.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/descriptions/index.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/greengrassv2deployments.svg
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/helpers/constants.ts
  packages/nodes-base/nodes/Aws/GreengrassV2Deployments/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/AwsIoTEventsDetectors.node.json
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/AwsIoTEventsDetectors.node.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/descriptions/index.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/helpers/constants.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/IoTEventsDetectors/ioteventsdetectors.svg
  packages/nodes-base/nodes/Aws/IoTFleetWise/AwsIoTFleetWise.node.json
  packages/nodes-base/nodes/Aws/IoTFleetWise/AwsIoTFleetWise.node.ts
  packages/nodes-base/nodes/Aws/IoTSecureTunneling/iotsecuretunneling.svg
  packages/nodes-base/nodes/Aws/IoTSiteWise/iotsitewise.svg
  packages/nodes-base/nodes/Aws/IoTTwinMaker/iottwinmaker.svg
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/AwsIoTWirelessDevices.node.json
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/AwsIoTWirelessDevices.node.ts
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/descriptions/index.ts
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/descriptions/resource/Resource.resource.ts
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/helpers/constants.ts
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/helpers/errorHandler.ts
  packages/nodes-base/nodes/Aws/IoTWirelessDevices/iotwirelessdevices.svg
Due: biome_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
