Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(core): Handle symlinks in blocked paths (#17735)
  packages/core/src/execution-engine/node-execution-context/utils/__tests__/file-system-helper-functions.test.ts
  packages/core/src/execution-engine/node-execution-context/utils/file-system-helper-functions.ts
  packages/nodes-base/nodes/Crypto/test/Crypto.test.ts
  packages/nodes-base/nodes/Files/ReadWriteFile/test/ReadWriteFile.test.ts
  packages/nodes-base/nodes/WriteBinaryFile/test/WriteBinaryFile.test.ts
Due: biome_check

fix(editor): Send posthog session id to rudderstack (no-changelog) (#17867)
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/plugins/telemetry.test.ts
  packages/frontend/editor-ui/src/plugins/telemetry/index.ts
Due: biome_check

test: Migrate 1-workflows to Playwright (#17360)
  cypress-playwright-migration.md
  cypress/e2e/1-workflows.cy.ts
  packages/testing/playwright/CONTRIBUTING.md
  packages/testing/playwright/README.md
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/fixtures/base.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/pages/CanvasPage.ts
  packages/testing/playwright/pages/ProjectWorkflowsPage.ts
  packages/testing/playwright/pages/SidebarPage.ts
  packages/testing/playwright/pages/WorkflowSharingModal.ts
  packages/testing/playwright/pages/WorkflowsPage.ts
  packages/testing/playwright/pages/n8nPage.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/1-workflows.spec.ts
  packages/testing/playwright/tests/28-debug.spec.ts
  packages/testing/playwright/tests/39-projects.spec.ts
  packages/testing/playwright/tests/pdf.spec.ts
  packages/testing/playwright/workflows/Test_workflow_2.json
Due: biome_check, prettier_check

feat(editor): Action/credentials tab in node settings in zoomed view (no-changelog) (#17730)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/NodeActionsList.vue
  packages/frontend/editor-ui/src/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsHeader.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvHeader.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.utils.ts
  packages/frontend/editor-ui/src/composables/useNodeCredentialOptions.ts
  packages/frontend/editor-ui/src/types/nodeSettings.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Due: biome_check, prettier_check

fix: Fix issue with icon themes not loading for preview nodes (#17869)
  packages/frontend/editor-ui/src/utils/nodeIcon.test.ts
  packages/frontend/editor-ui/src/utils/nodeIcon.ts
Due: biome_check

fix: Flaky code node e2e test (no-changelog) (#17899)
  cypress/e2e/6-code-node.cy.ts
Due: none

feat(Beeminder Node): Update Beeminder node to include all resources and operations (#17713)
  packages/nodes-base/credentials/BeeminderApi.credentials.ts
  packages/nodes-base/credentials/BeeminderOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.functions.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.ts
  packages/nodes-base/nodes/Beeminder/GenericFunctions.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.functions.test.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.test.ts
  packages/nodes-base/nodes/Beeminder/test/workflow.json
  packages/nodes-base/package.json
  packages/nodes-base/utils/types.ts
Due: biome_check

feat(Vercel AI Gateway Node): Add Vercel AI Gateway model Node (#17524)
  packages/@n8n/nodes-langchain/credentials/VercelAiGatewayApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/agents/Agent/V1/AgentV1.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/LmChatVercelAiGateway.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/vercel.dark.svg
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/vercel.svg
  packages/@n8n/nodes-langchain/package.json
Due: biome_check

feat(Slack Trigger Node): Add support for signature verification (#17838)
  cypress/e2e/45-ai-assistant.cy.ts
  packages/nodes-base/credentials/SlackApi.credentials.ts
  packages/nodes-base/nodes/Slack/SlackTrigger.node.ts
  packages/nodes-base/nodes/Slack/SlackTriggerHelpers.ts
  packages/nodes-base/nodes/Slack/test/SlackTriggerHelper.test.ts
Due: biome_check

fix(Stop and Error Node): Show error message when error type is an object (#17898)
  packages/nodes-base/nodes/StopAndError/StopAndError.node.ts
  packages/nodes-base/nodes/StopAndError/test/utils.test.ts
  packages/nodes-base/nodes/StopAndError/utils.ts
Due: biome_check

fix(store): Remove unused FocusNodeOptions interface from experimentalNdv.store.ts
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
Due: biome_check

fix(module-registry): Update modulesDir path resolution for n8n binary location fix(experimentalNdv.store): Import 'ref' from Vue for state management
  packages/@n8n/backend-common/src/modules/module-registry.ts
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
Due: biome_check

fix(Canvas): Add zoom mode toggle and focus node functionality
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: biome_check, prettier_check

fix(package): downgrade @vue-flow/core to version 1.42.1
  packages/frontend/editor-ui/package.json
Due: biome_check

fix(Canvas): remove unused zoom mode toggle and focus node functionality
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: prettier_check

fix(Canvas): add is-experimental-ndv-active prop and remove focus event handler
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
Due: prettier_check

Revert "feat(editor): Zoom in to node after creation (no-changelog) (#17617)"
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/composables/useCanvasOperations.ts
Due: biome_check, prettier_check

Revert "feat(editor): Improve UX of embedded NDV experiment (no-changelog) (#17515)"
  .claude/settings.local.json
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/__tests__/data/canvas.ts
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/Canvas.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/__snapshots__/CanvasControlButtons.test.ts.snap
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNode.vue
  packages/frontend/editor-ui/src/components/canvas/elements/nodes/CanvasNodeToolbar.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalCanvasNodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.store.ts
  packages/frontend/editor-ui/src/features/logs/composables/useLogsSelection.ts
  packages/frontend/editor-ui/src/utils/nodeViewUtils.test.ts
  pnpm-lock.yaml
Due: biome_check, prettier_check

fix(editor): Add connections to embedded node details and prevent default wheel event behavior
  .claude/settings.local.json
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
Due: prettier_check

feat(reranker): Add 'Top N' parameter to control document return count
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/RerankerCohere.node.ts
Due: biome_check

chore: improved code style
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/RerankerCohere.node.ts
Due: biome_check

feat(reranker): Set default topN parameter to 3 and update tests
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/RerankerCohere.node.ts
  packages/@n8n/nodes-langchain/nodes/rerankers/RerankerCohere/test/RerankerCohere.node.test.ts
Due: biome_check

Fix the test
  packages/@n8n/nodes-langchain/nodes/mcp/McpClientTool/McpClientTool.node.test.ts
Due: biome_check

add id
  packages/frontend/@n8n/design-system/src/components/N8nSuggestedActions/__snapshots__/SuggestedActions.test.ts.snap
Due: none

update todoist node
  packages/nodes-base/nodes/Todoist/v2/OperationHandler.ts
  packages/nodes-base/nodes/Todoist/v2/Service.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
  packages/nodes-base/utils/types.ts
Due: biome_check

add unit tests for functionality
  packages/nodes-base/utils/__tests__/types.test.ts
Due: biome_check

feat(ServiceNow Node): allow connecting to a custom host ServiceNow instance
  packages/nodes-base/credentials/ServiceNowBasicApi.credentials.ts
  packages/nodes-base/credentials/ServiceNowOAuth2Api.credentials.ts
  packages/nodes-base/nodes/ServiceNow/GenericFunctions.ts
Due: biome_check

refactor types
  packages/nodes-base/nodes/Todoist/v2/Service.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
Due: biome_check

rename functions
  packages/nodes-base/nodes/Todoist/v2/Service.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
Due: biome_check

refactor: break apart assertIsNodeParameters into smaller functions
  packages/nodes-base/utils/types.ts
Due: biome_check

fix(ServiceNow node): Linting issue (Prefer Typeguards over Type casting)
  packages/nodes-base/nodes/ServiceNow/GenericFunctions.ts
Due: biome_check

build: Add lint rule to ban argument spreads to prevent stack overflow (#17493)
  packages/@n8n/eslint-config/package.json
  packages/@n8n/eslint-config/src/configs/base.ts
  packages/@n8n/eslint-config/src/plugin.ts
  packages/@n8n/eslint-config/src/rules/index.ts
  packages/@n8n/eslint-config/src/rules/no-argument-spread.test.ts
  packages/@n8n/eslint-config/src/rules/no-argument-spread.ts
Due: biome_check

Change 400 to 500 integrations
  README.md
Due: none

setup
  packages/cli/templates/form-trigger.handlebars
  packages/nodes-base/nodes/Form/common.descriptions.ts
  packages/nodes-base/nodes/Form/utils/utils.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

radiobuttons behaviour if max select 1
  packages/cli/templates/form-trigger.handlebars
Due: none

fix color options
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
Due: biome_check

update project id string or number
  packages/nodes-base/nodes/Todoist/v2/OperationHandler.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
  packages/nodes-base/utils/types.ts
Due: biome_check

fix(core): Populate MCP endpoints in frontend settings
  packages/frontend/@n8n/stores/src/useRootStore.ts
  packages/frontend/editor-ui/src/stores/settings.store.test.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: biome_check

fix up params
  packages/nodes-base/nodes/Todoist/v2/OperationHandler.ts
  packages/nodes-base/nodes/Todoist/v2/TodoistV2.node.ts
Due: biome_check
