Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

feat(core): Add config to override default database ping interval and default idle connection timeout (#15764)
  packages/@n8n/config/src/configs/database.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/cli/src/databases/__tests__/db-connection-options.test.ts
  packages/cli/src/databases/__tests__/db-connection.test.ts
  packages/cli/src/databases/db-connection-options.ts
  packages/cli/src/databases/db-connection.ts
Due: biome_check

Moved full handling of highlighted data back into its own component
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationPanel.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
Due: prettier_check

Use props instead of fetching from store
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.vue
Due: prettier_check

fix(Supabase Vector Store Node): Upgrade supabase SDK to address CVE-2025-48370
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
  patches/@types__ws@8.18.1.patch
  pnpm-lock.yaml
Due: biome_check

test(MqttTrigger): Enhance tests for message handling, QoS, and error scenarios
  packages/nodes-base/nodes/MQTT/test/MqttTrigger.node.test.ts
Due: biome_check

feat(ADO-3519): use inline versioning and not separate folders
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/DocumentDefaultDataLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/V1/DocumentDefaultDataLoaderV1.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/V2/DocumentDefaultDataLoaderV2.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/test/DocumentDefaultDataLoader.node.test.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/DocumentGithubLoader.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/V1/DocumentGithubLoaderV1.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/V2/DocumentGithubLoaderV2.node.ts
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentGithubLoader/test/DocumentGithubLoader.node.test.ts
Due: biome_check

fix(core): Simplify Websocket origin security checks (#15761)
  packages/cli/src/push/__tests__/index.test.ts
  packages/cli/src/push/index.ts
Due: biome_check

ci: Increment docker build timeout (#15928)
  .github/workflows/release-publish.yml
Due: none

:rocket: Release 1.95.3
  CHANGELOG.md
  package.json
  packages/cli/package.json
Due: biome_check

feat(ADO-3519): correct version numbers
  packages/@n8n/nodes-langchain/nodes/document_loaders/DocumentDefaultDataLoader/DocumentDefaultDataLoader.node.ts
Due: biome_check

fix: Update NPM to address security vulnerability
  docker/images/n8n/Dockerfile
Due: none

move function to truncate text
  packages/@n8n/utils/src/string/truncate.test.ts
  packages/@n8n/utils/src/string/truncate.ts
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasRunWorkflowButton.vue
  packages/frontend/editor-ui/src/utils/formatters/textFormatter.test.ts
  packages/frontend/editor-ui/src/utils/formatters/textFormatter.ts
Due: biome_check, prettier_check

fix: Update NPM to address security vulnerability (#15968)
  docker/images/n8n/Dockerfile
Due: none

Cleanup
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.test.ts
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationTags.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
Due: biome_check, prettier_check

fix(Code Node): Block selected module imports in python code
  packages/nodes-base/nodes/Code/Pyodide.ts
Due: biome_check

test(editor): Fix flaky UI tests by preventing truncated project names (no-changelog) (#15919)
  packages/frontend/editor-ui/src/__tests__/data/projects.ts
Due: biome_check

fix(Supabase Vector Store Node): Upgrade supabase SDK to address CVE-2025-48370 (#15934)
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/cli/package.json
  patches/@types__ws@8.18.1.patch
  pnpm-lock.yaml
Due: biome_check

Update packages/frontend/editor-ui/src/stores/cloudPlan.store.ts
  packages/frontend/editor-ui/src/stores/cloudPlan.store.ts
Due: biome_check

Update packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
Due: prettier_check

fix: allow dist import
  packages/@n8n/utils/package.json
  packages/frontend/@n8n/rest-api-client/src/utils.ts
Due: biome_check

fix: update deps
  packages/frontend/@n8n/rest-api-client/src/utils.ts
  packages/frontend/@n8n/rest-api-client/tsconfig.json
  packages/frontend/editor-ui/package.json
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/tsconfig.json
  packages/frontend/editor-ui/vite.config.mts
  pnpm-lock.yaml
Due: biome_check

fix(editor): Fix formatting
  packages/frontend/editor-ui/src/views/SettingsPersonalView.vue
Due: prettier_check

fix: allow "." in Git repository URL (SSH)
  packages/frontend/editor-ui/src/views/SettingsSourceControl.test.ts
  packages/frontend/editor-ui/src/views/SettingsSourceControl.vue
Due: biome_check, prettier_check

fix(editor): Don't show link on move toast if current user can't access destination
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.test.ts
  packages/frontend/editor-ui/src/components/Folders/MoveToFolderModal.vue
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

apply suggestion
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionAnnotationPanel.ee.vue
  packages/frontend/editor-ui/src/components/executions/workflow/WorkflowExecutionsPreview.vue
Due: prettier_check

fix(editor): Fix regExp to allow "." in Git repository URL (SSH) (#15972)
  packages/frontend/editor-ui/src/views/SettingsSourceControl.test.ts
  packages/frontend/editor-ui/src/views/SettingsSourceControl.vue
Due: biome_check, prettier_check

chore(tsconfig): Remove unused Jest type declaration from tsconfig.common.json
  packages/@n8n/typescript-config/tsconfig.common.json
Due: biome_check

feat(editor): Enable source environment push button for project admins (#15527)
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/MainSidebarSourceControl.test.ts
  packages/frontend/editor-ui/src/components/MainSidebarSourceControl.vue
Due: biome_check, prettier_check
