Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(core): Fetching schema files in Docker (#17623)
  packages/cli/src/server.ts
Due: biome_check

use library
  packages/testing/playwright/package.json
  packages/testing/playwright/services/mockserver.ts
  pnpm-lock.yaml
Due: biome_check

test: Simple perf
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/fixtures/performance-helper.ts
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/performance/perf.spec.ts
  packages/testing/playwright/workflows/large.json
Due: biome_check

test: Add small readme and more examples
  packages/testing/playwright/package.json
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/performance/README.md
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/utils/performance-helper.ts
Due: biome_check, prettier_check

Allow streaming in test(manual) mode
  packages/cli/src/workflow-runner.ts
Due: biome_check

Show warning message if response stream empty
  packages/frontend/@n8n/chat/src/__tests__/plugins/chat.spec.ts
  packages/frontend/@n8n/chat/src/api/message.ts
  packages/frontend/@n8n/chat/src/plugins/chat.ts
  packages/frontend/@n8n/chat/src/types/chat.ts
  packages/frontend/@n8n/chat/src/utils/streamingHandlers.ts
Due: biome_check

Fix rendering of new lines in streamed content
  packages/frontend/@n8n/chat/src/utils/streamingHandlers.ts
Due: biome_check

refactor: Split chat plugin sendMessage into multiple fns
  packages/frontend/@n8n/chat/src/plugins/chat.ts
Due: biome_check

Update responseMode name to “Streaming”
  packages/nodes-base/nodes/Webhook/description.ts
Due: biome_check

Remove console.logs
  packages/frontend/@n8n/chat/src/utils/streamingHandlers.ts
Due: biome_check

Update Dockerfile
  docker/images/n8n/Dockerfile
Due: none

fix(editor): Make inline text edit component reactive to prop changes (#17557)
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nInlineTextEdit/InlineTextEdit.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/constants.ts
Due: biome_check, prettier_check

fix(Webhook Node): Don't wrap response in an iframe if it doesn't have HTML (#17671)
  packages/core/package.json
  packages/core/src/__tests__/__snapshots__/html-sandbox.test.ts.snap
  packages/core/src/__tests__/html-sandbox.test.ts
  packages/core/src/html-sandbox.ts
  pnpm-lock.yaml
Due: biome_check

Fix types and add test for executionStarted
  packages/frontend/@n8n/chat/src/__tests__/plugins/chat.spec.ts
  packages/frontend/@n8n/chat/src/types/chat.ts
Due: biome_check

fix(core): Optimize connection type lookups (#17585)
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/workflow.test.ts
Due: biome_check

🔥 Removing `ModulesStore`
  packages/frontend/editor-ui/src/components/MainSidebar.vue
  packages/frontend/editor-ui/src/components/Projects/ProjectHeader.vue
  packages/frontend/editor-ui/src/features/dataStore/dataStore.routes.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.store.ts
  packages/frontend/editor-ui/src/features/insights/insights.store.ts
  packages/frontend/editor-ui/src/features/modules.store.ts
  packages/frontend/editor-ui/src/init.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
  packages/frontend/editor-ui/src/views/SigninView.vue
Due: biome_check, prettier_check

Address feedback
  packages/frontend/@n8n/design-system/src/components/TableHeaderControlsButton/TableHeaderControlsButton.vue
  packages/frontend/editor-ui/src/components/Evaluations.ee/shared/TestTableBase.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/TestRunDetailView.vue
  packages/frontend/editor-ui/src/views/Evaluations.ee/utils.ts
Due: biome_check, prettier_check

fix(ado-3808): use new test id for button
  cypress/e2e/42-nps-survey.cy.ts
  cypress/pages/npsSurvey.ts
Due: none

⚡️ Using proper datastore id, merging mocked code
  packages/frontend/editor-ui/src/features/dataStore/DataStoreView.vue
  packages/frontend/editor-ui/src/features/dataStore/api/datastore.api.ts
  packages/frontend/editor-ui/src/features/dataStore/dataStore.routes.ts
  packages/frontend/editor-ui/src/features/dataStore/datastore.mock.api.ts
Due: biome_check, prettier_check

fix type issue
  packages/frontend/editor-ui/src/views/Evaluations.ee/utils.ts
Due: biome_check

fix(ado-3808): add identifier for feedback button
  packages/frontend/editor-ui/src/components/NpsSurvey.vue
Due: prettier_check

test: Add performance tests to Playwright (#17574)
  packages/testing/playwright/composables/WorkflowComposer.ts
  packages/testing/playwright/package.json
  packages/testing/playwright/playwright.config.ts
  packages/testing/playwright/tests/performance/README.md
  packages/testing/playwright/tests/performance/perf-examples.spec.ts
  packages/testing/playwright/utils/performance-helper.ts
  packages/testing/playwright/workflows/large.json
Due: biome_check, prettier_check

feat(ado-3808): fix typo in component name
  cypress/pages/npsSurvey.ts
Due: none

fix: rename workflow prop to workflowObject and fix infinite loop
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/OutputPanel.vue
  packages/frontend/editor-ui/src/components/RunData.vue
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/composables/useCanvasMapping.ts
  packages/frontend/editor-ui/src/composables/useWorkflowSaving.ts
  packages/frontend/editor-ui/src/features/logs/components/LogsViewRunData.vue
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/workflow/src/workflow.ts
Due: biome_check, prettier_check

feat(ado-3815): track database and memory errors separately
  packages/cli/src/interfaces.ts
  packages/cli/src/telemetry/index.ts
Due: biome_check

feat(editor): Add follow up question nps (#17459)
  cypress/e2e/42-nps-survey.cy.ts
  cypress/pages/npsSurvey.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/NpsSurvey.vue
Due: biome_check, prettier_check

add sort by tests
  packages/@n8n/api-types/src/dto/data-store/list-data-store-query.dto.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.repository.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/data-store.types.ts
  packages/cli/src/requests.ts
Due: biome_check

Add tests
  packages/@n8n/backend-common/src/__tests__/cli-parser.test.ts
Due: biome_check

Cleanup
  packages/@n8n/backend-common/src/__tests__/cli-parser.test.ts
Due: biome_check

feat(Airtop Node): Enable custom API URL
  packages/nodes-base/credentials/AirtopApi.credentials.ts
Due: biome_check

feat(Airtop Node): Allow custom API URL
  packages/nodes-base/credentials/AirtopApi.credentials.ts
  packages/nodes-base/nodes/Airtop/GenericFunctions.ts
  packages/nodes-base/nodes/Airtop/actions/file/helpers.ts
  packages/nodes-base/nodes/Airtop/constants.ts
  packages/nodes-base/nodes/Airtop/test/node/file/helpers.test.ts
  packages/nodes-base/nodes/Airtop/transport/index.ts
  packages/nodes-base/nodes/Airtop/transport/types.ts
Due: biome_check

More tests
  packages/@n8n/backend-common/src/__tests__/cli-parser.test.ts
Due: biome_check

Remove unneeded export
  packages/@n8n/backend-common/src/cli-parser.ts
Due: biome_check

filters SENT emails from trigger
  packages/nodes-base/nodes/Google/Gmail/GmailTrigger.node.ts
Due: biome_check

add tests
  packages/nodes-base/nodes/Google/Gmail/test/GmailTrigger.test.ts
Due: biome_check
