Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

Fix mysql specific issues with migration
  packages/cli/src/databases/migrations/common/1745322634000-CleanEvaluations.ts
Due: biome_check

fix: svg sizing
  packages/frontend/editor-ui/src/assets/images/aws-secrets-manager.svg
Due: none

Typefix
  packages/cli/src/controllers/__tests__/ai.controller.test.ts
Due: biome_check

Lint fix
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/BaseWorkflowMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/workflow/RateWorkflowMessage.vue
Due: prettier_check

Use isCustomAPI in loadModels.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/loadModels.ts
Due: biome_check

fix: disable ids cleanup for svgs
  packages/frontend/editor-ui/vite.config.mts
Due: none

Remove 'totalCases', 'passedCases', 'failedCases' columns from 'test_run'
  packages/cli/src/databases/migrations/common/1745322634000-CleanEvaluations.ts
Due: biome_check

feat: Refresh workflow name in workflows selector when updated (#14705)
  packages/frontend/editor-ui/src/api/workflows.ts
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.test.ts
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
Due: biome_check, prettier_check

feat(OpenAI Node): Filter available models by blacklisting rather than whitelisting (#14780)
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/__tests__/loadModels.test.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOpenAi/methods/loadModels.ts
  packages/@n8n/nodes-langchain/nodes/vendors/OpenAi/methods/listSearch.ts
Due: biome_check

✨ Implementing new rename pattern for folders
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/components/InlineTextEdit.vue
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/views/WorkflowsView.vue
Due: biome_check, prettier_check

Revert "feat(core): Enable insights for sqlite legacy (#14606)"
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/modules/insights/insights.pre-init.ts
Due: biome_check

Update snapshots
  packages/frontend/@n8n/design-system/src/components/AskAssistantButton/AskAssistantButton.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
Due: prettier_check

⚡️ Improving typing in folders store
  packages/frontend/editor-ui/src/stores/folders.store.ts
Due: biome_check

disable test for sqlite without pooling. keep a dummy test (mandatory for jest to run)
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
Due: biome_check

feat: Group memory nodes into section in nodes panel
  packages/@n8n/nodes-langchain/nodes/memory/MemoryBufferWindow/MemoryBufferWindow.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMongoDbChat/MemoryMongoDbChat.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryMotorhead/MemoryMotorhead.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryPostgresChat/MemoryPostgresChat.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryRedisChat/MemoryRedisChat.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryXata/MemoryXata.node.ts
  packages/@n8n/nodes-langchain/nodes/memory/MemoryZep/MemoryZep.node.ts
Due: biome_check

🐛 Fixing project loading for existing workflows
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

refactor(core): Introduce `@n8n/constants` package
  codecov.yml
  packages/@n8n/constants/.eslintrc.js
  packages/@n8n/constants/jest.config.js
  packages/@n8n/constants/package.json
  packages/@n8n/constants/src/index.ts
  packages/@n8n/constants/tsconfig.build.json
  packages/@n8n/constants/tsconfig.json
  packages/cli/package.json
  packages/cli/src/commands/base-command.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/constants.ts
  packages/cli/src/controllers/e2e.controller.ts
  packages/cli/src/decorators/controller.registry.ts
  packages/cli/src/decorators/licensed.ts
  packages/cli/src/decorators/types.ts
  packages/cli/src/errors/feature-not-licensed.error.ts
  packages/cli/src/interfaces.ts
  packages/cli/src/license.ts
  packages/cli/src/public-api/v1/shared/middlewares/global.middleware.ts
  packages/cli/src/services/community-packages.service.ts
  packages/cli/src/services/frontend.service.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: biome_check

modal update
  packages/frontend/editor-ui/src/components/WorkflowActivationConfirmModal.vue
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
Due: biome_check, prettier_check

chore: Clean up canvas auto add manual trigger (no-changelog)
  packages/frontend/editor-ui/src/constants.ts
Due: biome_check

Delete existing test data, link test_run to workflow_entity
  packages/cli/src/databases/migrations/common/1745322634000-CleanEvaluations.ts
Due: biome_check

Redo lockfile
  pnpm-lock.yaml
Due: none

fix(core): Disable insights for sqlite legacy (#14824)
  packages/cli/src/modules/insights/__tests__/insights-compaction.service.test.ts
  packages/cli/src/modules/insights/__tests__/insights.pre-init.test.ts
  packages/cli/src/modules/insights/insights.pre-init.ts
Due: biome_check

Fix import
  packages/cli/test/integration/shared/license.ts
Due: biome_check

Remove pointless test stuff
  packages/@n8n/constants/jest.config.js
  packages/@n8n/constants/tsconfig.build.json
Due: biome_check

Fix typecheck
  packages/cli/test/integration/shared/types.ts
Due: biome_check

💄 Adjusting spacing in breadcrumbs
  packages/frontend/@n8n/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/frontend/editor-ui/src/components/Folders/ProjectBreadcrumb.vue
Due: prettier_check

refactor(core): Remove legacy middleware from insights module (#14819)
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/insights/list-workflow-query.dto.ts
  packages/@n8n/api-types/src/dto/pagination/__tests__/pagination.dto.test.ts
  packages/@n8n/api-types/src/dto/pagination/pagination.dto.ts
  packages/cli/src/middlewares/list-query/index.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/workflows/workflow-history.ee/workflow-history.controller.ee.ts
  packages/cli/test/integration/insights/insights.api.test.ts
Due: biome_check

renamed modal and key
  packages/frontend/editor-ui/src/components/Modals.vue
  packages/frontend/editor-ui/src/components/WorkflowActivationConflictingWebhookModal.vue
  packages/frontend/editor-ui/src/components/WorkflowActivator.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/ui.store.ts
Due: biome_check, prettier_check
