Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check, styles_check, actionlint_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    styles_check:
      glob: 'packages/**/*.{scss,sass,vue}'
      run: pnpm lint:styles:fix
      skip:
        - merge
        - rebase
    actionlint_check:
      glob: '.github/workflows/*.{yml,yaml}'
      run: actionlint {staged_files}
      skip:
        - merge
        - rebase

fix(core): Enforce timeout for task requests (#21493)
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/task-runner/src/message-types.ts
  packages/cli/src/task-runners/errors/task-request-timeout.error.ts
  packages/cli/src/task-runners/task-broker/__tests__/task-broker.service.test.ts
  packages/cli/src/task-runners/task-broker/task-broker.service.ts
  packages/cli/src/task-runners/task-managers/__tests__/task-manager.test.ts
  packages/cli/src/task-runners/task-managers/local-task-requester.ts
  packages/cli/src/task-runners/task-managers/task-requester.ts
Due: biome_check

remove personal check
  packages/cli/src/executions/pre-execution-checks/__tests__/credentials-permission-checker.test.ts
  packages/cli/src/executions/pre-execution-checks/credentials-permission-checker.ts
Due: biome_check

refactor(editor): Use itemCount for computing canvas item labels data
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/nodeExecuteAfter.test.ts
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/nodeExecuteAfter.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.test.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useCanvasMapping.ts
Due: biome_check

refactor
  packages/cli/src/executions/pre-execution-checks/credentials-permission-checker.ts
Due: biome_check

fix(core): Correctly filter custom nodes when NODES_INCLUDE/EXCLUDE is set (#21705)
  packages/core/src/nodes-loader/__tests__/directory-loader.test.ts
  packages/core/src/nodes-loader/custom-directory-loader.ts
  packages/core/src/nodes-loader/directory-loader.ts
  packages/core/src/nodes-loader/package-directory-loader.ts
Due: biome_check

use i18n
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/collaboration/projects/components/ProjectSharing.vue
Due: biome_check, prettier_check, styles_check

Update active version on PATCH only when needed
  packages/cli/src/workflows/workflow.service.ts
Due: biome_check

fix(editor): Watch data source updates when computing output iterations and items total (no-changelog) (#21273)
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useCanvasMapping.ts
Due: biome_check

👌 Handle scroll logic inside ActionDropdown
  packages/frontend/@n8n/design-system/src/components/N8nActionToggle/ActionToggle.vue
  packages/frontend/@n8n/design-system/src/composables/useParentScroll.ts
  packages/frontend/editor-ui/src/app/components/WorkflowCard.vue
  packages/frontend/editor-ui/src/app/components/layouts/ResourcesListLayout.vue
  packages/frontend/editor-ui/src/app/views/WorkflowsView.vue
  packages/frontend/editor-ui/src/features/core/folders/components/FolderCard.vue
Due: biome_check, prettier_check, styles_check

Switch to gen_random_uuid
  packages/@n8n/db/src/migrations/postgresdb/1762771264000-ChangeDefaultForIdInUserTable.ts
Due: biome_check

chore(core): Define execution context interfaces (#21570)
  packages/workflow/src/execution-context.ts
  packages/workflow/src/index.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

support structured destination node in the backend
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/events/relays/telemetry.event-relay.ts
  packages/cli/src/executions/execution-data.service.ts
  packages/cli/src/executions/execution.service.ts
  packages/cli/src/manual-execution.service.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/cli/src/workflows/workflow.request.ts
  packages/core/src/execution-engine/workflow-execute.ts
  packages/testing/playwright/tests/ui/execute-previous-nodes.spec.ts
  packages/testing/playwright/workflows/execute-previous-nodes.json
  packages/workflow/src/index.ts
  packages/workflow/src/interfaces.ts
  packages/workflow/src/partial-execution-utils.ts
Due: biome_check

remove tests that aren't ready yet
  packages/testing/playwright/tests/ui/execute-previous-nodes.spec.ts
  packages/testing/playwright/workflows/execute-previous-nodes.json
Due: biome_check

add scope to share globally
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/cli/src/credentials/credentials.controller.ts
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialSharing.ee.vue
Due: biome_check, prettier_check, styles_check

refactor(editor): Add Select component (#20963)
  packages/frontend/@n8n/design-system/src/__tests__/setup.ts
  packages/frontend/@n8n/design-system/src/index.ts
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.stories.ts
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.test.ts
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.types.ts
  packages/frontend/@n8n/design-system/src/v2/components/Select/Select.vue
  packages/frontend/@n8n/design-system/src/v2/components/Select/SelectItem.vue
  packages/frontend/@n8n/design-system/src/v2/components/Select/component-select.md
  packages/frontend/@n8n/design-system/src/v2/utils/index.ts
  packages/frontend/@n8n/design-system/src/v2/utils/types.ts
Due: biome_check, prettier_check, styles_check

rename
  packages/@n8n/db/src/entities/credentials-entity.ts
  packages/@n8n/db/src/migrations/common/1762771954619-IsGlobalGlobalColumnToCredentialsTable.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/credentials/credentials-finder.service.ts
  packages/cli/src/credentials/credentials.controller.ts
  packages/cli/src/credentials/credentials.service.ts
  packages/cli/src/executions/pre-execution-checks/__tests__/credentials-permission-checker.test.ts
  packages/cli/src/executions/pre-execution-checks/credentials-permission-checker.ts
  packages/cli/src/modules/mcp/__tests__/webhook-utils.test.ts
  packages/cli/src/requests.ts
  packages/frontend/editor-ui/src/features/credentials/components/CredentialEdit/CredentialEdit.vue
  packages/frontend/editor-ui/src/features/credentials/credentials.store.ts
  packages/frontend/editor-ui/src/features/credentials/credentials.types.ts
Due: biome_check, prettier_check, styles_check

ci: Add PostgreSQL 18 and FIPS testing to CI pipeline
  .github/docker-compose.yml
  .github/workflows/ci-postgres-mysql.yml
Due: actionlint_check

refactor(core): Reuse same regex
  packages/core/src/binary-data/file-system.manager.ts
Due: biome_check

add comment
  packages/@n8n/nodes-langchain/utils/httpProxyAgent.ts
Due: biome_check

fix bug when returning creds for workflow
  packages/cli/src/credentials/credentials.service.ts
Due: biome_check

add tests
  packages/@n8n/nodes-langchain/utils/tests/httpProxyAgent.test.ts
Due: biome_check

fix: replace item counts
  CHANGES.md
  packages/frontend/editor-ui/src/app/components/MainHeader/MainHeader.vue
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/nodeExecuteAfter.test.ts
  packages/frontend/editor-ui/src/app/composables/usePushConnection/handlers/nodeExecuteAfter.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.test.ts
  packages/frontend/editor-ui/src/app/composables/useWorkflowState.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useCanvasMapping.test.ts
  packages/frontend/editor-ui/src/features/workflows/canvas/composables/useCanvasMapping.ts
Due: biome_check, prettier_check, styles_check

chore(core): Remove md5 usage for user id generation in postgres (#21687)
  packages/@n8n/db/src/migrations/postgresdb/1762771264000-ChangeDefaultForIdInUserTable.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
Due: biome_check

fix order
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
Due: biome_check

fix(canvas): Make sure `Pin` action works only for pinnabe nodes
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.ts
Due: biome_check

test fixes
  packages/cli/src/evaluation.ee/test-runner/__tests__/test-runner.service.ee.test.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
  packages/cli/src/workflows/__tests__/workflow-execution.service.test.ts
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/core/src/execution-engine/__tests__/workflow-execute.test.ts
  packages/core/src/execution-engine/workflow-execute.ts
Due: biome_check

test: Create history for workflows where relevant
  packages/@n8n/backend-test-utils/src/db/workflows.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/public-api/workflows.test.ts
  packages/cli/test/integration/workflows/workflow.service.test.ts
  packages/cli/test/integration/workflows/workflows.controller-with-active-workflow-manager.ee.test.ts
  packages/cli/test/integration/workflows/workflows.controller.ee.test.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

small fixes
  packages/cli/src/manual-execution.service.ts
  packages/cli/src/webhooks/__tests__/webhook-helpers.test.ts
Due: biome_check

lint
  packages/@n8n/db/src/migrations/postgresdb/index.ts
Due: biome_check

Add Firefox browser extension for Esketit secondary market
  browser-plugin-url-opener/README.md
  browser-plugin-url-opener/background.js
  browser-plugin-url-opener/create-icons.html
  browser-plugin-url-opener/icons/icon.svg
  browser-plugin-url-opener/manifest.json
  browser-plugin-url-opener/package.json
Due: none

type fixes
  packages/cli/src/workflows/workflow-execution.service.ts
  packages/frontend/editor-ui/src/app/types/externalHooks.ts
Due: biome_check

test: Create history for workflows with activation logic (#21724)
  packages/@n8n/backend-test-utils/src/db/workflows.ts
  packages/cli/test/integration/active-workflow-manager.test.ts
  packages/cli/test/integration/public-api/workflows.test.ts
  packages/cli/test/integration/workflows/workflow.service.test.ts
  packages/cli/test/integration/workflows/workflows.controller-with-active-workflow-manager.ee.test.ts
  packages/cli/test/integration/workflows/workflows.controller.ee.test.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

Add browser extension zip file for easy download
  browser-extension.zip
Due: none

fix(editor): Make sure `Pin` action works only for pinnabe nodes (#21723)
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.test.ts
  packages/frontend/editor-ui/src/app/composables/useCanvasOperations.ts
Due: biome_check

fix more types
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
Due: biome_check

use native components
  packages/frontend/editor-ui/src/features/core/dataTable/components/AddDataTableModal.vue
Due: prettier_check, styles_check

WorkflowPublishModal updates
  packages/cli/src/workflows/workflows.controller.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowPublishModal.vue
  packages/frontend/editor-ui/src/composables/useWorkflowHelpers.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: biome_check, prettier_check, styles_check

add feedback
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/features/core/dataTable/components/AddDataTableModal.vue
Due: biome_check, prettier_check, styles_check

test fixes
  packages/cli/src/__tests__/manual-execution.service.test.ts
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
Due: biome_check

Add auto-fill feature for Interest rate filter
  browser-plugin-url-opener/content.js
  browser-plugin-url-opener/manifest.json
Due: none
