Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

Fixing another location where enter key is sent.
  cypress/pages/features/ai-assistant.ts
Due: none

address feedback
  packages/cli/src/services/frontend.service.ts
Due: biome_check

Add getRunningTools mock
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
Due: biome_check

test(editor): Fix flaky frontend inline expression editor test (#20327)
  packages/testing/playwright/tests/ui/11-inline-expression-editor.spec.ts
Due: biome_check

feat(editor): T2W loading state improvements (no-changelog) (#20295)
  cypress/e2e/group5/45-ai-assistant.cy.ts
  cypress/pages/features/ai-assistant.ts
  packages/@n8n/ai-workflow-builder.ee/src/workflow-builder-agent.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.stories.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/__snapshots__/AskAssistantChat.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/BaseMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.test.ts
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageRating.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/MessageWrapper.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/TextMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantChat/messages/ToolMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantLoadingMessage/AssistantLoadingMessage.vue
  packages/frontend/@n8n/design-system/src/components/AskAssistantLoadingMessage/__snapshots__/AskAssistantLoadingMessage.test.ts.snap
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.test.ts
  packages/frontend/@n8n/design-system/src/components/N8nPromptInput/N8nPromptInput.vue
  packages/frontend/@n8n/design-system/src/locale/lang/en.ts
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/AskAssistantBuild.vue
  packages/frontend/editor-ui/src/composables/useBuilderMessages.test.ts
  packages/frontend/editor-ui/src/composables/useBuilderMessages.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
Due: biome_check, prettier_check

style(RunDataAi): update tree node styles for improved layout and hover effects
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.vue
Due: prettier_check

style(RunDataAi): enhance tree node appearance and interaction with updated styles and structure
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.vue
Due: prettier_check

style(RunDataAi): set transparent background for tree component
  packages/frontend/editor-ui/src/components/RunDataAi/RunDataAi.vue
Due: prettier_check

fix(HttpRequest): Fix HTTP header names to use kebab-case format
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
  packages/workflow/src/node-helpers.ts
Due: biome_check

fix: handle multiple binary parameters with same name in HTTP Request node
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

fix: correct Bearer token authentication in HttpRequestV3
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

fix(HttpRequest): make isExistingBinary stream detection robust using duck-typing and Buffer.isBuffer
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

update tests
  packages/cli/src/modules/mcp/__tests__/mcp.settings.controller.api.test.ts
Due: biome_check

fix typing issue
  packages/cli/src/modules/mcp/mcp-api-key.service.ts
Due: biome_check

feat(core): Add projectId foreign key to the variable table (#20058)
  packages/@n8n/db/src/entities/variables.ts
  packages/@n8n/db/src/migrations/dsl/index.ts
  packages/@n8n/db/src/migrations/dsl/table.ts
  packages/@n8n/db/src/migrations/mysqldb/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/mysqldb/index.ts
  packages/@n8n/db/src/migrations/postgresdb/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/postgresdb/index.ts
  packages/@n8n/db/src/migrations/sqlite/1758794506893-AddProjectIdToVariableTable.ts
  packages/@n8n/db/src/migrations/sqlite/index.ts
  packages/cli/src/environments.ee/variables/__tests__/variables.integration.test.ts
Due: biome_check

fix(HttpRequest): preserve multiple same-name binary form-data params as array instead of overwriting; default auth to 'none' if missing; minor typings and headers init fixes
  packages/nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts
Due: biome_check

update tests
  packages/cli/src/modules/mcp/__tests__/mcp-server-api-key.service.test.ts
Due: biome_check

First draft in implementing api for project variables
  packages/@n8n/api-types/src/dto/index.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/base.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/create-variable-request.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/__tests__/variables-list-request.dto.test.ts
  packages/@n8n/api-types/src/dto/variables/base.dto.ts
  packages/@n8n/api-types/src/dto/variables/create-variable-request.dto.ts
  packages/@n8n/api-types/src/dto/variables/variables-list-request.dto.ts
  packages/@n8n/permissions/src/__tests__/__snapshots__/scope-information.test.ts.snap
  packages/@n8n/permissions/src/constants.ee.ts
  packages/@n8n/permissions/src/roles/scopes/global-scopes.ee.ts
  packages/@n8n/permissions/src/roles/scopes/project-scopes.ee.ts
  packages/@n8n/permissions/src/utilities/__tests__/get-resource-permissions.test.ts
  packages/cli/src/environments.ee/source-control/source-control-status.service.ee.ts
  packages/cli/src/environments.ee/variables/__tests__/variables.service.integration.test.ts
  packages/cli/src/environments.ee/variables/variables.controller.ee.ts
  packages/cli/src/environments.ee/variables/variables.service.ee.ts
  packages/cli/src/public-api/v1/handlers/variables/variables.handler.ts
  packages/cli/src/services/project.service.ee.ts
  packages/cli/test/integration/shared/db/variables.ts
  packages/cli/test/integration/variables.test.ts
  packages/frontend/editor-ui/src/stores/rbac.store.ts
Due: biome_check

return only the project id when getting the project matching user scopes. This is to optimize db query
  packages/cli/src/environments.ee/variables/variables.service.ee.ts
  packages/cli/src/services/project.service.ee.ts
Due: biome_check

Add variable global or project uniqueness validation on create
  packages/cli/src/environments.ee/variables/__tests__/variables.service.integration.test.ts
  packages/cli/src/environments.ee/variables/variables.service.ee.ts
  packages/cli/test/integration/variables.test.ts
Due: biome_check

add migration to mysql as well
  packages/@n8n/db/src/migrations/mysqldb/index.ts
Due: biome_check

remove duplication error during merge
  packages/@n8n/db/src/migrations/mysqldb/index.ts
Due: biome_check

fix error during merge
  packages/testing/playwright/tests/ui/45-ai-assistant.spec.ts
Due: biome_check

fix linting issue
  packages/@n8n/db/src/migrations/sqlite/index.ts
Due: biome_check

Stripe node: Added meter events for billing.
  packages/nodes-base/nodes/Stripe/Stripe.node.ts
  packages/nodes-base/nodes/Stripe/descriptions/MeterEventDescription.ts
  packages/nodes-base/nodes/Stripe/descriptions/index.ts
Due: biome_check

Added unit tests
  packages/nodes-base/nodes/Stripe/__schema__/v1.0.0/meterEvent/create.json
  packages/nodes-base/nodes/Stripe/__tests__/Stripe.meterEvent.test.ts
Due: biome_check

Remove type assertions, use type annotations.
  packages/nodes-base/nodes/Stripe/Stripe.node.ts
  packages/nodes-base/nodes/Stripe/descriptions/MeterEventDescription.ts
Due: biome_check

Bugfix: Timestamp Conversion changed from string to integer
  packages/nodes-base/nodes/Stripe/Stripe.node.ts
  packages/nodes-base/nodes/Stripe/__tests__/Stripe.meterEvent.test.ts
Due: biome_check

Update package.json
  package.json
Due: none

Improving quality at custom payload processing and adding more tests for custom payload fields processing, errors, edge cases reg. timestamp conversion and negative value testing.
  packages/nodes-base/nodes/Stripe/Stripe.node.ts
  packages/nodes-base/nodes/Stripe/__tests__/Stripe.meterEvent.test.ts
Due: biome_check

clean: remove unnecessary documentation files
  CLEAN_PR_DESCRIPTION.md
  COMMIT_MESSAGE.md
  FIX_UNEXPECTED_WORKFLOW_CANCELLATIONS.md
  PR_DESCRIPTION.md
  REVIEWER_RESPONSE.md
  SIMPLE_PR.md
  VALIDATION_SCRIPT.md
Due: none

refactor tests
  packages/cli/src/services/__tests__/frontend.service.test.ts
Due: biome_check

explicitly pass a flag to indicate that the parent will be waiting for the child
  packages/cli/src/wait-tracker.ts
  packages/cli/src/webhooks/webhook-helpers.ts
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/ExecuteWorkflow.node.ts
  packages/workflow/src/interfaces.ts
Due: biome_check

fix(editor): Fix execution state race condition in AI Builder (no-changelog)
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/ExecuteMessage.test.ts
  packages/frontend/editor-ui/src/components/AskAssistant/Agent/ExecuteMessage.vue
Due: biome_check, prettier_check

fix(redirect): handle both redirectUrl and redirectURL keys in JSON responses
  packages/cli/templates/form-trigger-completion.handlebars
Due: none

fix: Disable Builder if license does not have feature (#20318)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/services/__tests__/frontend.service.test.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/__tests__/defaults.ts
  packages/frontend/editor-ui/src/stores/builder.store.test.ts
  packages/frontend/editor-ui/src/stores/builder.store.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: biome_check
