Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(core): Replace misleading "No path back to node" error with helpful execution message (#17759)
  packages/workflow/src/workflow-data-proxy.ts
  packages/workflow/src/workflow.ts
  packages/workflow/test/paired-item-path-detection.test.ts
  packages/workflow/test/workflow-data-proxy.test.ts
Due: biome_check

fix(editor): Account for subpath when serving `config.js` (#17832)
  packages/cli/src/commands/start.ts
  packages/cli/src/server.ts
  packages/frontend/editor-ui/index.html
  packages/frontend/editor-ui/public/static/base-path.js
  packages/frontend/editor-ui/vite.config.mts
Due: biome_check

fix(editor): Search by node name (no-changelog) (#17831)
  packages/frontend/@n8n/rest-api-client/src/api/templates.ts
  packages/frontend/editor-ui/src/experiments/personalizedTemplates/stores/personalizedTemplates.store.ts
Due: biome_check

fix(editor): Send posthog session id to rudderstack (no-changelog) (#17867)
  packages/frontend/editor-ui/src/Interface.ts
  packages/frontend/editor-ui/src/plugins/telemetry.test.ts
  packages/frontend/editor-ui/src/plugins/telemetry/index.ts
Due: biome_check

:rocket: Release 1.105.1
  CHANGELOG.md
  package.json
  packages/@n8n/ai-workflow-builder.ee/package.json
  packages/@n8n/api-types/package.json
  packages/@n8n/backend-common/package.json
  packages/@n8n/backend-test-utils/package.json
  packages/@n8n/db/package.json
  packages/@n8n/decorators/package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/frontend/@n8n/i18n/package.json
  packages/frontend/@n8n/rest-api-client/package.json
  packages/frontend/@n8n/stores/package.json
  packages/frontend/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

feat(FTP Node): Add support for concurrent reads when using SFTP
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
  packages/nodes-base/package.json
  pnpm-lock.yaml
Due: biome_check

Update packages/nodes-base/nodes/Ftp/Ftp.node.ts
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
Due: biome_check

fix stop and error node when error type is an object
  packages/nodes-base/nodes/StopAndError/StopAndError.node.ts
  packages/nodes-base/nodes/StopAndError/test/utils.test.ts
  packages/nodes-base/nodes/StopAndError/utils.ts
Due: biome_check

improve insert rows endpoint and tests
  packages/@n8n/api-types/src/schemas/data-store.schema.ts
  packages/cli/src/modules/data-store/__tests__/data-store.service.test.ts
  packages/cli/src/modules/data-store/__tests__/sql-utils.test.ts
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/data-store.controller.ts
  packages/cli/src/modules/data-store/data-store.service.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
Due: biome_check

feat(editor): Action/credentials tab in node settings in zoomed view (no-changelog) (#17730)
  packages/frontend/@n8n/design-system/src/components/N8nIcon/icons.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.stories.ts
  packages/frontend/@n8n/design-system/src/components/N8nTabs/Tabs.vue
  packages/frontend/@n8n/i18n/src/locales/en.json
  packages/frontend/editor-ui/src/components/NodeActionsList.vue
  packages/frontend/editor-ui/src/components/NodeCredentials.vue
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/components/NodeDetailsViewV2.vue
  packages/frontend/editor-ui/src/components/NodeSettings.vue
  packages/frontend/editor-ui/src/components/NodeSettingsHeader.vue
  packages/frontend/editor-ui/src/components/NodeSettingsTabs.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvHeader.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.utils.ts
  packages/frontend/editor-ui/src/composables/useNodeCredentialOptions.ts
  packages/frontend/editor-ui/src/types/nodeSettings.ts
  packages/frontend/editor-ui/src/utils/nodeSettingsUtils.ts
Due: biome_check, prettier_check

addressed review comments
  packages/nodes-base/nodes/StopAndError/utils.ts
Due: biome_check

merge tests
  packages/frontend/@n8n/design-system/src/components/N8nButton/Button.test.ts
Due: biome_check

fix: Flaky code node e2e test (no-changelog) (#17899)
  cypress/e2e/6-code-node.cy.ts
Due: none

clean up changes
  packages/frontend/editor-ui/src/plugins/cache.ts
Due: biome_check

rename cache
  packages/frontend/editor-ui/src/composables/useWorkflowsCache.ts
Due: biome_check

fix(editor): Fix invisible node creator icons (#17870)
  packages/frontend/editor-ui/src/components/Node/NodeCreator/ItemTypes/NodeItem.vue
Due: prettier_check

rename functions
  packages/frontend/editor-ui/src/components/WorkflowSuggestedActions.vue
  packages/frontend/editor-ui/src/composables/useWorkflowsCache.ts
Due: biome_check, prettier_check

:rocket: Release 1.105.2
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/frontend/editor-ui/package.json
Due: biome_check

update workflow history button
  packages/frontend/editor-ui/src/components/MainHeader/WorkflowHistoryButton.test.ts
  packages/frontend/editor-ui/src/components/MainHeader/__snapshots__/WorkflowHistoryButton.test.ts.snap
Due: biome_check

update css value
  packages/frontend/@n8n/design-system/src/components/N8nSuggestedActions/SuggestedActions.vue
Due: prettier_check

address codedev feedback
  packages/frontend/@n8n/design-system/src/components/N8nSuggestedActions/SuggestedActions.test.ts
  packages/frontend/editor-ui/src/composables/useWorkflowsCache.ts
Due: biome_check

fix: update connections on adding connection
  packages/frontend/editor-ui/src/stores/workflows.store.ts
Due: biome_check

prevent SQL injection by quoting column names and using parameter binding
  packages/cli/src/modules/data-store/data-store-rows.repository.ts
  packages/cli/src/modules/data-store/utils/sql-utils.ts
Due: biome_check

add tests
  packages/frontend/editor-ui/src/composables/useWorkflowsCache.test.ts
Due: biome_check

move urls to consts
  packages/frontend/editor-ui/src/components/WorkflowSuggestedActions.vue
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/views/Evaluations.ee/EvaluationsRootView.vue
Due: biome_check, prettier_check

fix formatting from AI commit
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
Due: biome_check

Fix lint issues
  packages/nodes-base/nodes/Ftp/Ftp.node.ts
Due: biome_check

feat(docker): Allow environment variable override for Docker platform in dockerize-n8n script
  scripts/dockerize-n8n.mjs
Due: none

fix: Fix issue with icon themes not loading for preview nodes (#17869)
  packages/frontend/editor-ui/src/utils/nodeIcon.test.ts
  packages/frontend/editor-ui/src/utils/nodeIcon.ts
Due: biome_check

feat(Ollama Node): Extracted header to variable and added description to ollama credentials
  packages/@n8n/nodes-langchain/credentials/OllamaApi.credentials.ts
  packages/@n8n/nodes-langchain/nodes/embeddings/EmbeddingsOllama/EmbeddingsOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMChatOllama/LmChatOllama.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LMOllama/LmOllama.node.ts
Due: biome_check

Fix dark mode logo
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/LmChatVercelAiGateway.node.ts
  packages/@n8n/nodes-langchain/nodes/llms/LmChatVercelAiGateway/vercel.svg
Due: biome_check

chore: change anchor of input panel
  packages/frontend/editor-ui/src/components/ParameterInputWrapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNodeDetails.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.utils.ts
Due: biome_check, prettier_check

feat(Beeminder Node): Update Beeminder node to include all resources and operations (#17713)
  packages/nodes-base/credentials/BeeminderApi.credentials.ts
  packages/nodes-base/credentials/BeeminderOAuth2Api.credentials.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.functions.ts
  packages/nodes-base/nodes/Beeminder/Beeminder.node.ts
  packages/nodes-base/nodes/Beeminder/GenericFunctions.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.functions.test.ts
  packages/nodes-base/nodes/Beeminder/test/Beeminder.node.test.ts
  packages/nodes-base/nodes/Beeminder/test/workflow.json
  packages/nodes-base/package.json
  packages/nodes-base/utils/types.ts
Due: biome_check

fix(ado-3876)-correct ai template url
  packages/frontend/editor-ui/src/components/Node/NodeCreator/viewsData.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/templates.store.ts
Due: biome_check

build(docker): Allow environment variable override for Docker platform in dockerize-n8n script
  scripts/dockerize-n8n.mjs
Due: none

refactor
  packages/frontend/editor-ui/src/components/InputPanel.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/components/ExperimentalEmbeddedNdvMapper.vue
  packages/frontend/editor-ui/src/components/canvas/experimental/experimentalNdv.utils.ts
Due: biome_check, prettier_check
