Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

Add temporary env variable `N8N_FOLDERS_ENABLED`
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/stores/settings.store.ts
Due: biome_check

add missing default
  packages/editor-ui/src/__tests__/defaults.ts
Due: biome_check

🐛 Fixing variable editing
  packages/editor-ui/src/views/VariablesView.vue
Due: prettier_check

feat: Add temporary env variable `N8N_FOLDERS_ENABLED` (no-changelog) (#13374)
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/editor-ui/src/__tests__/defaults.ts
  packages/editor-ui/src/stores/settings.store.ts
Due: biome_check

add e2e test case
  cypress/composables/ndv.ts
  cypress/e2e/40-manual-partial-execution.cy.ts
  cypress/fixtures/Test_workflow_partial_execution_v2.json
Due: none

fix typo
  cypress/e2e/40-manual-partial-execution.cy.ts
Due: none

chore: adjust last activity metric help text
  packages/cli/src/metrics/__tests__/prometheus-metrics.service.test.ts
  packages/cli/src/metrics/prometheus-metrics.service.ts
Due: biome_check

Added option to use id_token and target_audience in google service account
  packages/nodes-base/credentials/GoogleApi.credentials.ts
Due: biome_check

fix(Code Node): Fix `$items` in Code node when using task runner (#13368)
  packages/@n8n/task-runner/src/js-task-runner/__tests__/js-task-runner.test.ts
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/__tests__/built-ins-parser.test.ts
  packages/@n8n/task-runner/src/js-task-runner/built-ins-parser/built-ins-parser.ts
Due: biome_check

fix: Always clear popupWindowState before showing popup from form trigger (#13363)
  packages/editor-ui/src/utils/executionUtils.ts
Due: biome_check

fix(core): Handle connections for missing nodes in a workflow (#13362)
  packages/workflow/src/Workflow.ts
Due: biome_check

fix(core): Ensure that 'workflow-post-execute' event has userId whenever it's available (#13326)
  packages/cli/src/execution-lifecycle/__tests__/execution-lifecycle-hooks.test.ts
  packages/cli/src/execution-lifecycle/execution-lifecycle-hooks.ts
  packages/cli/src/scaling/job-processor.ts
  packages/cli/src/workflow-runner.ts
Due: biome_check

:rocket: Release 1.79.2
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

⚡Only load folders if the feature is enabled
  packages/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

⚡Use for Folder cards
  packages/design-system/src/components/N8nBreadcrumbs/Breadcrumbs.vue
  packages/editor-ui/src/components/Folders/FolderCard.vue
  packages/editor-ui/src/views/WorkflowsView.vue
Due: prettier_check

refactor(core): Update `workflowRepository.getMany` to use query builder (no-changelog) (#13207)
  packages/cli/src/databases/repositories/workflow.repository.ts
  packages/cli/test/integration/shared/db/tags.ts
  packages/cli/test/integration/workflows/workflows.controller.test.ts
Due: biome_check

:rocket: Release 1.80.1
  CHANGELOG.md
  package.json
  packages/@n8n/nodes-langchain/package.json
  packages/@n8n/task-runner/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/editor-ui/package.json
  packages/node-dev/package.json
  packages/nodes-base/package.json
  packages/workflow/package.json
Due: biome_check

⚡Use implement project icon variant
  packages/editor-ui/src/components/Folders/FolderCard.vue
  packages/editor-ui/src/components/Projects/ProjectIcon.vue
Due: prettier_check

feat: add color to text component
  packages/design-system/src/components/N8nText/Text.vue
  packages/design-system/src/types/text.ts
Due: biome_check, prettier_check

feat: add icons
  packages/editor-ui/src/plugins/icons/index.ts
Due: biome_check

feat: update list UI
  packages/editor-ui/src/components/TestDefinition/ListDefinition/TestItem.vue
  packages/editor-ui/src/views/TestDefinition/TestDefinitionListView.vue
Due: prettier_check

tools hints
  packages/editor-ui/src/utils/nodeViewUtils.ts
Due: biome_check

fix: latency calculation
  packages/editor-ui/src/constants.workflows.ts
Due: biome_check

⚡Use propper links for folder breadcrumbs
  packages/editor-ui/src/components/Folders/FolderCard.vue
Due: prettier_check

fix test
  packages/editor-ui/src/stores/testDefinition.store.ee.test.ts
Due: biome_check

remove comments
  packages/editor-ui/src/components/TestDefinition/EditDefinition/EvaluationStep.vue
  packages/editor-ui/src/components/TestDefinition/EditDefinition/sections/RunsSection.vue
  packages/editor-ui/src/components/TestDefinition/ListRuns/TestRunsTable.vue
Due: prettier_check

wip: rename telemetry prop
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
Due: biome_check

fix type
  packages/editor-ui/src/api/testDefinition.ee.ts
Due: biome_check

remove unused code
  packages/editor-ui/src/components/TestDefinition/ListRuns/TestRunsTable.vue
  packages/editor-ui/src/components/TestDefinition/shared/TestTableBase.vue
Due: prettier_check

remove unused run list view
  packages/editor-ui/src/components/MainHeader/MainHeader.vue
  packages/editor-ui/src/constants.ts
  packages/editor-ui/src/router.ts
  packages/editor-ui/src/views/TestDefinition/TestDefinitionRunsListView.vue
  packages/editor-ui/src/views/TestDefinition/tests/TestDefinitionRunDetailView.test.ts
Due: biome_check, prettier_check

⚡Project badge shows real project icon
  packages/editor-ui/src/components/Projects/ProjectCardBadge.vue
Due: prettier_check

remove unused variable
  packages/editor-ui/src/components/TestDefinition/shared/TestTableBase.vue
Due: prettier_check

fix import order
  packages/design-system/src/components/N8nActionToggle/ActionToggle.vue
Due: prettier_check
