Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

biome_check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier_check:
  run: pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

perf(editor): Improve performance of the new logs view (#14861)
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/LogsPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.vue
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewRow.vue
  packages/frontend/editor-ui/src/components/RunDataAi/utils.ts
Due: biome_check, prettier_check

check version when displaying verified tag, test fix
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.vue
Due: biome_check, prettier_check

feat(editor): Include NodeDetailsView in URL (#14349)
  cypress/e2e/39-projects.cy.ts
  cypress/e2e/44-routing.cy.ts
  packages/@n8n/nodes-langchain/nodes/tools/ToolWorkflow/v2/methods/localResourceMapping.ts
  packages/frontend/editor-ui/src/components/WorkflowSelectorParameterInput/WorkflowSelectorParameterInput.vue
  packages/frontend/editor-ui/src/constants.workflows.ts
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
  packages/frontend/editor-ui/src/router.test.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/stores/workflows.store.test.ts
  packages/frontend/editor-ui/src/stores/workflows.store.ts
  packages/frontend/editor-ui/src/views/NodeView.vue
  packages/nodes-base/nodes/ExecuteWorkflow/ExecuteWorkflow/methods/localResourceMapping.ts
  packages/nodes-base/utils/workflowInputsResourceMapping/GenericFunctions.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check, prettier_check

renamed getMoreFromCommunity
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Modes/NodesMode.vue
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/utils.ts
Due: biome_check, prettier_check

update time range labels
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartAverageRuntime.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailed.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartFailureRate.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTimeSaved.vue
  packages/frontend/editor-ui/src/features/insights/components/charts/InsightsChartTotal.vue
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
Due: biome_check, prettier_check

refactor upgrade modal
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsUpgradeModal.vue
Due: prettier_check

export date range keys to use it in insights service
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/test/integration/insights/insights.api.test.ts
Due: biome_check

add all the code before ruining everything by trying to execute it
  packages/workflow/src/NodeReferenceParserUtils.ts
Due: biome_check

add e2e test
  cypress/composables/logs.ts
  cypress/composables/ndv.ts
  cypress/composables/workflow.ts
  cypress/e2e/50-logs.cy.ts
  cypress/fixtures/Workflow_if.json
  packages/frontend/editor-ui/src/__tests__/mocks.ts
  packages/frontend/editor-ui/src/components/CanvasChat/__test__/data.ts
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogsOverviewPanel.test.ts
Due: biome_check

update upgrade modal locale
  packages/frontend/editor-ui/src/features/insights/components/InsightsUpgradeModal.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

refactor time range selector
  packages/frontend/editor-ui/src/features/insights/components/InsightsDashboard.vue
  packages/frontend/editor-ui/src/features/insights/components/InsightsDateRangeSelect.vue
  packages/frontend/editor-ui/src/features/insights/insights.constants.ts
Due: biome_check, prettier_check

fix defaults
  packages/frontend/editor-ui/src/__tests__/defaults.ts
Due: biome_check

fix failing tests
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/LogDetailsPanel.test.ts
Due: biome_check

fix(editor): Use redirect url also with SSO login
  packages/cli/src/sso.ee/saml/routes/saml.controller.ee.ts
  packages/frontend/editor-ui/src/api/sso.ts
  packages/frontend/editor-ui/src/stores/sso.store.ts
Due: biome_check

🐛 Prevent additionally setting projects for existing workflows
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

fix: Bring back TidyUp button's icon and fix Easy AI button size (#14818)
  packages/frontend/editor-ui/src/components/ParameterInputOverrides/FromAiOverrideButton.vue
  packages/frontend/editor-ui/src/components/canvas/elements/buttons/CanvasControlButtons.vue
Due: prettier_check

:rocket: Release 1.90.2
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/frontend/editor-ui/package.json
Due: biome_check

update test
  packages/frontend/editor-ui/src/features/insights/components/InsightsSummary.test.ts
Due: biome_check

remove unnecessary condition
  packages/frontend/editor-ui/src/components/CanvasChat/future/components/RunDataView.vue
Due: prettier_check

fix: Rename button in `ApiKeyCreateOrEditModal` and remove redundant scope (no-changelog) (#14811)
  packages/cli/src/public-api/permissions.ee/global-roles-scopes.ts
  packages/frontend/editor-ui/src/components/ApiKeyCreateOrEditModal.test.ts
  packages/frontend/editor-ui/src/components/ApiKeyCreateOrEditModal.vue
  packages/frontend/editor-ui/src/plugins/i18n/locales/en.json
Due: biome_check, prettier_check

fix(editor): Remove url decoding before sending
  packages/frontend/editor-ui/src/stores/sso.store.ts
Due: biome_check

wip: handle errors
  packages/cli/src/databases/repositories/test-run.repository.ee.ts
  packages/cli/src/evaluation.ee/test-runner/errors.ee.ts
  packages/cli/src/evaluation.ee/test-runner/test-runner.service.ee.ts
  packages/cli/src/evaluation.ee/test-runner/utils.ee.ts
  packages/frontend/editor-ui/src/components/TestDefinition/shared/TableStatusCell.vue
  packages/frontend/editor-ui/src/views/TestDefinition/TestDefinitionRunDetailView.vue
  packages/nodes-base/nodes/DummyDatasetTrigger/DummyDatasetTrigger.node.ts
Due: biome_check, prettier_check

review updates
  packages/cli/src/services/community-node-types.service.ts
  packages/cli/src/utils/__tests__/strapi-utils.test.ts
  packages/cli/src/utils/strapi-utils.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeDetails.test.ts
  packages/frontend/editor-ui/src/components/Node/NodeCreator/Panel/CommunityNodeInfo.test.ts
  packages/frontend/editor-ui/src/stores/nodeTypes.store.ts
  packages/workflow/src/Interfaces.ts
Due: biome_check

Added thepdfmaker node as a built in
  packages/nodes-base/credentials/ThePDFMakerApi.credentials.ts
  packages/nodes-base/credentials/icons/thepdfmaker.svg
  packages/nodes-base/nodes/ThePdfMaker/ThePdfMaker.node.json
  packages/nodes-base/nodes/ThePdfMaker/ThePdfMaker.node.ts
  packages/nodes-base/nodes/ThePdfMaker/thepdfmaker.svg
  packages/nodes-base/package.json
Due: biome_check

wip commit
  .vscode/launch.json
  packages/workflow/src/NodeReferenceParserUtils.ts
  packages/workflow/test/NodeReferenceParserUtils.test.ts
Due: biome_check

feat(core): Implement granularity and date range filtering on insights (#14841)
  packages/@n8n/api-types/src/dto/insights/list-workflow-query.dto.ts
  packages/@n8n/api-types/src/index.ts
  packages/@n8n/api-types/src/schemas/insights.schema.ts
  packages/cli/src/modules/insights/__tests__/insights.controller.test.ts
  packages/cli/src/modules/insights/__tests__/insights.service.test.ts
  packages/cli/src/modules/insights/insights.controller.ts
  packages/cli/src/modules/insights/insights.service.ts
  packages/cli/test/integration/insights/insights.api.test.ts
Due: biome_check

ci: Adapt to yzmatrix cicd
  .github/workflows/benchmark-destroy-nightly.yml
  .github/workflows/benchmark-nightly.yml
  .github/workflows/check-documentation-urls.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-master.yml
  .github/workflows/ci-pull-requests.yml
  .github/workflows/docker-base-image.yml
  .github/workflows/docker-images-custom.yml
  .github/workflows/docker-images-nightly.yml
  .github/workflows/e2e-flaky.yml
  .github/workflows/e2e-reusable.yml
  .github/workflows/linting-reusable.yml
  .github/workflows/notify-pr-status.yml
  .github/workflows/units-tests-reusable.yml
Due: none

Categories updated
  packages/nodes-base/nodes/ThePdfMaker/ThePdfMaker.node.json
Due: biome_check

fix: init test
  packages/frontend/editor-ui/src/init.test.ts
Due: biome_check

Add fix
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

lint
  packages/frontend/editor-ui/src/components/NodeDetailsView.vue
  packages/frontend/editor-ui/src/views/NodeView.vue
Due: prettier_check

fix tests
  packages/frontend/editor-ui/src/views/CredentialsView.test.ts
  packages/frontend/editor-ui/src/views/WorkflowsView.test.ts
Due: biome_check

fix(editor): Import multipart form data from curl command correctly
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.test.ts
  packages/frontend/editor-ui/src/composables/useImportCurlCommand.ts
Due: biome_check

chore: add temporary CLI option to enable logs view
  packages/@n8n/api-types/src/frontend-settings.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/services/frontend.service.ts
  packages/frontend/editor-ui/src/constants.ts
  packages/frontend/editor-ui/src/stores/settings.store.ts
Due: biome_check

WIP Rename testdefinition to evaluations
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/BlockArrow.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/DescriptionInput.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/EvaluationStep.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/NodesPinning.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/TagsInput.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/TestNameInput.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/WorkflowSelector.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/sections/ConfigSection.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/sections/RunsSection.vue
  packages/frontend/editor-ui/src/components/Evaluations/EditDefinition/tests/NodesPinning.test.ts
  packages/frontend/editor-ui/src/components/Evaluations/ListDefinition/EmptyState.vue
  packages/frontend/editor-ui/src/components/Evaluations/ListDefinition/TestItem.vue
  packages/frontend/editor-ui/src/components/Evaluations/ListRuns/MetricsChart.vue
  packages/frontend/editor-ui/src/components/Evaluations/ListRuns/TestRunsTable.vue
  packages/frontend/editor-ui/src/components/Evaluations/composables/useMetricsChart.ts
  packages/frontend/editor-ui/src/components/Evaluations/composables/useTestDefinitionForm.ts
  packages/frontend/editor-ui/src/components/Evaluations/shared/TableCell.vue
  packages/frontend/editor-ui/src/components/Evaluations/shared/TableStatusCell.vue
  packages/frontend/editor-ui/src/components/Evaluations/shared/TestTableBase.vue
  packages/frontend/editor-ui/src/components/Evaluations/tests/useMetricsChart.test.ts
  packages/frontend/editor-ui/src/components/Evaluations/tests/useTestDefinitionForm.test.ts
  packages/frontend/editor-ui/src/components/Evaluations/types.ts
  packages/frontend/editor-ui/src/router.ts
  packages/frontend/editor-ui/src/views/Evaluations/EvaluationsView.vue
  packages/frontend/editor-ui/src/views/Evaluations/TestDefinitionListView.vue
  packages/frontend/editor-ui/src/views/Evaluations/TestDefinitionNewView.vue
  packages/frontend/editor-ui/src/views/Evaluations/TestDefinitionRootView.vue
  packages/frontend/editor-ui/src/views/Evaluations/TestDefinitionRunDetailView.vue
  packages/frontend/editor-ui/src/views/Evaluations/tests/EvaluationsView.test.ts
  packages/frontend/editor-ui/src/views/Evaluations/tests/TestDefinitionListView.test.ts
  packages/frontend/editor-ui/src/views/Evaluations/tests/TestDefinitionNewView.test.ts
  packages/frontend/editor-ui/src/views/Evaluations/tests/TestDefinitionRootView.test.ts
Due: biome_check, prettier_check

Path conditions:
  biome_check: any of: packages/**/*.{js,ts,json}
  prettier_check: any of: packages/**/*.{vue,yml,md,css,scss}
