Repository n8n-io/n8n: changes, and which lefthook commands are due for each by the changed paths.
All: biome_check, prettier_check

lefthook.yml:

pre-commit:
  commands:
    biome_check:
      glob: 'packages/**/*.{js,ts,json}'
      run: ./node_modules/.bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    prettier_check:
      glob: 'packages/**/*.{vue,yml,md,css,scss}'
      run: ./node_modules/.bin/prettier --write --ignore-unknown --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase

fix(editor): Add explicit max-width to handle label when connected on new canvas (no-changelog) (#11325)
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.vue
Due: prettier_check

fix(HTTP Request Tool Node): Fix the undefined response issue
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
Due: biome_check

reverted changes, check if execution is waiting to not affect non waiting workflows
  packages/editor-ui/src/composables/useRunWorkflow.ts
Due: biome_check

test: add tests for connection port validation
  packages/editor-ui/src/composables/__tests__/useCanvasOperations.spec.ts
Due: biome_check

fix: fix 0 items labels
  packages/editor-ui/src/components/canvas/elements/edges/CanvasEdge.vue
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.vue
  packages/editor-ui/src/composables/useCanvasMapping.ts
Due: biome_check, prettier_check

fix(editor): `utm_awc` with wrong value when redirecting to website templates (no-changelog) (#11341)
  packages/editor-ui/src/components/MainSidebar.vue
Due: prettier_check

fix: add better conditions for label rendering
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.spec.ts
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.vue
Due: biome_check, prettier_check

move sso templates into a folder
  packages/cli/src/sso/saml/routes/__tests__/saml.controller.ee.test.ts
  packages/cli/src/sso/saml/routes/saml.controller.ee.ts
  packages/cli/templates/sso/saml-connection-test-failed.handlebars
  packages/cli/templates/sso/saml-connection-test-success.handlebars
Due: biome_check

Add Retry feature
  packages/design-system/src/components/AskAssistantChat/AskAssistantChat.vue
  packages/editor-ui/src/stores/assistant.store.ts
Due: biome_check, prettier_check

move sso-init-form to a handlebars view as well
  packages/cli/src/sso/saml/routes/saml.controller.ee.ts
  packages/cli/src/sso/saml/views/init-sso-post.ts
  packages/cli/templates/sso/saml-init-form.handlebars
Due: biome_check

fix type
  packages/design-system/src/types/assistant.ts
Due: biome_check

revert back to throwing AuthError, and handle that outside the controller instead
  packages/cli/src/decorators/controller.registry.ts
  packages/cli/src/sso/saml/routes/saml.controller.ee.ts
Due: biome_check

delete unnecessary code
  packages/cli/src/sso/saml/routes/saml.controller.ee.ts
  packages/cli/src/sso/saml/saml-helpers.ts
Due: biome_check

useTemplates for initsso as well
  packages/cli/src/decorators/controller.registry.ts
  packages/cli/src/sso/saml/routes/saml.controller.ee.ts
Due: biome_check

feat(editor): Add connection port validation on new canvas (no-changelog) (#11342)
  packages/editor-ui/src/composables/__tests__/useCanvasOperations.spec.ts
  packages/editor-ui/src/composables/useCanvasOperations.ts
Due: biome_check

chore(core): Stop reporting to Sentry execution cancellations
  packages/cli/src/webhooks/webhook-helpers.ts
Due: biome_check

fix(editor): Fix `0 items` labels on new canvas (no-changelog) (#11344)
  packages/editor-ui/src/components/canvas/elements/edges/CanvasEdge.vue
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.spec.ts
  packages/editor-ui/src/components/canvas/elements/handles/render-types/CanvasHandleMainOutput.vue
  packages/editor-ui/src/composables/useCanvasMapping.ts
Due: biome_check, prettier_check

fix(editor): Add touch event handlers to new canvas
  packages/editor-ui/src/components/canvas/Canvas.vue
  packages/editor-ui/src/composables/useTouchEventsInVueFlow.ts
Due: biome_check, prettier_check

wip: Migrate requests with authentication to a newer helper function
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/utils.ts
Due: biome_check

wip: remove unnecessary flag
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/ToolHttpRequest.node.ts
Due: biome_check

Enforce file permissions only if env var is set
  packages/cli/test/setup-test-folder.ts
  packages/core/src/InstanceSettings.ts
  packages/core/test/InstanceSettings.test.ts
  packages/workflow/src/result.ts
Due: biome_check

wip: Refactor tests
  packages/@n8n/nodes-langchain/nodes/tools/ToolHttpRequest/test/ToolHttpRequest.node.test.ts
Due: biome_check

review changes
  packages/@n8n/task-runner/src/__tests__/node-types.test.ts
  packages/@n8n/task-runner/src/node-types.ts
Due: biome_check

fix(core): Fix memory issue with empty model response (#11300)
  package.json
  patches/@langchain__core@0.3.3.patch
  pnpm-lock.yaml
Due: none

feat: improve new canvas discovery
  packages/editor-ui/src/components/MainHeader/WorkflowDetails.vue
  packages/editor-ui/src/composables/useNodeViewVersionSwitcher.ts
Due: biome_check, prettier_check

feat: Enable running task runners externally (no-changelog) (#11319)
  docker/images/n8n-custom/Dockerfile
  docker/images/n8n/Dockerfile
  packages/@n8n/config/src/configs/runners.config.ts
  packages/@n8n/config/test/config.test.ts
  packages/@n8n/task-runner/src/authenticator.ts
  packages/@n8n/task-runner/src/start.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/worker.ts
  packages/cli/src/runners/__tests__/task-runner-process.test.ts
  packages/cli/src/runners/task-runner-process.ts
  packages/cli/src/runners/task-runner-server.ts
  packages/cli/test/integration/runners/task-runner-process.test.ts
Due: biome_check
